[2017-09-13 12:50] vietj opened #14 "PgUpdate support"
Support updates via prepared statements with an API similar to `PgQuery`:

[code]

[2017-09-13 12:52] vietj opened #15 "Remove PgConnection preparedAnd* operations"
Currently the client provides `preparedAnd*` operations:

[code]

we should remove them, users can do instead:

[code]

[2017-09-13 12:53] vietj commented on #15
depends on issue #14

[2017-09-13 14:26] vietj opened #16 "SSL support"

[2017-09-14 05:29] vietj opened #18 "Rename PgConnectionPool to PgPool"

[2017-09-14 05:30] vietj opened #19 "Provide one-shot commands"
PgPool hold one shot version of the API that avoids the acquire/execute/release dance and just borrow one connection from the pool.

[2017-09-14 11:50] #18 closed

[2017-09-14 11:50] #14 closed

[2017-09-14 11:50] #15 closed

[2017-09-14 11:51] vietj commented on #19
will do that one

[2017-09-14 12:06] EmadAlblueshi commented on #19
👍

[2017-09-14 14:04] #19 closed

[2017-09-18 17:00] #16 closed

[2017-11-20 03:55] BillyYccc opened #24 "[API improvement] Types of params of PreparedStatement in Query or Update"
#### Status
Currently query or update in [PgOperations](https://github.com/vietj/vertx-pg-client/blob/master/src/main/java/com/julienviet/pgclient/PgOperations.java) use `List<Object>` to hold multiple params, API is something like this `void query(String sql, List<Object> params, Handler<AsyncResult<ResultSet>> handler);`
 or `void update(String sql, List<Object> params, Handler<AsyncResult<Updat

[2017-11-20 15:51] vietj commented on #24
I think we should work out in vertx the ability to support List<Object> and use it

[2017-11-22 16:00] vietj opened #25 "Minimize flush"
we should investigate to minimizing flushes:

- a command might write several netty messages and we flush on each
- when pipelining, we could dequeue the pending queue by batches instead of one at a time

[2017-11-22 16:42] EmadAlblueshi opened #26 "Handling JSON/JSONB scalar types"
Currently only Json Object and Json Array are handled properly. Scalar types are missing.

[2017-11-28 14:25] #26 closed

[2017-11-28 14:25] EmadAlblueshi commented on #26
Fixed https://github.com/vietj/vertx-pg-client/pull/29

[2017-12-07 16:37] vietj commented on #24
@BillyYccc the master has been updated to use a `Tuple` object that is now available in RxJava as well, would you mind to try it ?

[2017-12-07 16:37] #24 closed

[2017-12-07 16:37] #25 closed

[2017-12-07 16:39] vietj opened #30 "Rename project to reactive-pg-client"

[2017-12-08 09:30] BillyYccc commented on #24
@vietj Thanks for your nicely effort, This works now!

[2017-12-08 10:28] #30 closed

[2017-12-08 10:29] vietj opened #33 "Complete data type support"
Numeric, geometric types, etc...

[2017-12-08 10:33] vietj opened #34 "Function call support"

[2017-12-08 11:01] vietj opened #36 "Pub-sub support"

[2017-12-08 11:01] vietj opened #37 "Request cancellation support"

[2017-12-08 22:04] vietj opened #38 "Implement close hook"

[2017-12-10 22:28] vietj opened #39 "Configure from env variables"
Provide an option for building the options from the env like libpq : https://www.postgresql.org/docs/9.1/static/libpq-envars.html

[2017-12-10 22:31] vietj opened #40 "Configure from URI"
e.g : `postgresql://dbuser:secretpassword@database.server.com:3211/mydb`

[2017-12-10 22:39] vietj opened #41 "Pool improvements"
- connection timeout
- idle timeout

[2017-12-11 07:51] #38 closed

[2017-12-11 08:06] vietj opened #42 "Provide way to access tuple by column name"

[2017-12-11 09:04] #42 closed

[2017-12-19 16:02] #36 closed

[2017-12-23 05:52] vietj opened #46 "Large object support"
- [x] OID datatype support
- [x] function call support
- [ ] function cache
- [ ] upload stream API
- [ ] download stream API

[2017-12-29 21:52] vietj commented on #46
started to contribute in this branch : https://github.com/vietj/reactive-pg-client/tree/blob-support

[2017-12-30 10:23] vietj commented on #46
it seems actually we don't need function call support and we can rather reuse prepared statement which simplifies the implementation

[2017-12-30 10:26] vietj commented on #46
large object is really something aside tables (https://www.postgresql.org/docs/9.2/static/largeobjects.html) and I'm whether the API should be oriented to be like a file system to manipulate streams keyed by OID and then the developer should use OID when referencing them in tables.

[2017-12-30 10:27] vietj commented on #46
cc @pmlopes @EmadAlblueshi

[2017-12-30 10:29] vietj commented on #46
cc @Sanne : any opinion on this ?

[2017-12-30 13:20] pmlopes commented on #46
There are 2 kinds of large objects, the external files that you need to track the OID as you described and the type `bytea` which is stored on the table itself. They both have their use cases but usually should behave the same from a API perspective.

[2017-12-30 14:07] vietj commented on #46
I don't think they should have the same API because you don't consume/produce them the same way, small one have to be handled as Buffer (a stream is overkill and anyway the bytes are fully loaded when decoding the row), other are usually stream oriented and can be seeked.

[2018-02-05 22:17] jbkoh opened #47 "function inside batch update?"
Hi,

Can I use functions inside preparedBatch? I tried something like:
[code]
, which returns ``could not determine data type of parameter $2``.

[2018-02-06 05:19] adandersen opened #48 "Missing RxJava 1 and 2 javadocs"
Hello,

I am keen to try this as a replacement for our postgres driver with com.impossible for pg_notify support. RxJava is said to be supported, but I do not see anywhere Rx methods or a wrapper Rx library like RxJava for Vert.x. What am I missing?

Thank you.

[2018-02-06 07:15] vietj commented on #47
I think it should be possible, I will add a test for this

[2018-02-06 07:16] vietj commented on #47
@EmadAlblueshi can you add a test for this in the testsuite ?

[2018-02-06 07:20] vietj commented on #48
the methods are generated by the generation process so you cannot see them in the source code, you can find them in the javadoc : http://www.julienviet.com/reactive-pg-client/apidocs/index.html?com/julienviet/pgclient/PgCursor.html

[2018-02-06 07:21] vietj commented on #48
so I think it should at least be in javadoc

[2018-02-06 07:38] EmadAlblueshi commented on #47
@vietj  Yes

[2018-02-06 07:55] #48 closed

[2018-02-06 07:56] vietj commented on #47
thanks!

[2018-02-06 08:05] jbkoh commented on #47
Thanks for working on this! Fortunately, I just found the possible bug in my code. I will test the case tomorrow morning and update it here.

[2018-02-06 08:09] jbkoh commented on #47
Sorry for the confusion but I now think the code is okay. The problematic function was ``ST_GeomFromEWKT('SRID=4326;$2')`` from PostGIS.

[2018-02-06 15:28] vietj commented on #47
so it works for you ?

[2018-02-06 20:04] jbkoh commented on #47
Nope.
- For ``ST_GeomFromEWKT('SRID=4326;$2')``, it returns
``com.julienviet.pgclient.PgException: could not determine data type of parameter $2``.
- For ``ST_GeomFromEWKT('SRID=4326'||$2)``, it returns
Data type 25 does not support binary encoding
Data type 2950 does not support binary encoding.

The first one works with naive query execution.

[2018-02-06 20:18] EmadAlblueshi commented on #47
@jbkoh can you provide the data types in the table? or create table details?

the 25 means you are using TEXT and it seems a bug that should be fixed.

[2018-02-06 20:20] vietj commented on #47
those are wholes we have in the data type support (we don't fully support all types yet) and we need to cover more, you can see `com.julienviet.pgclient.impl.codec.DataType` that covers the existing type.

we aim to support all of them of course

[2018-02-06 20:20] vietj commented on #47
as @EmadAlblueshi if you can provide a small java program + DDL that reproduces it, it would help us tremendously.

[2018-02-06 20:24] jbkoh commented on #47
The columns I use are
(time Timestamp, loc Geometry, id UUID, value Double).

I thought I could use string type for the parameters like just filling the space in the query string. I will stick to naive query execution until the other data types are implemented.

Thank you!

[2018-02-09 00:49] omar753sahl opened #49 "How to create a table using a PgClient"
How do I execute a statement like this `CREATE TABLE IF NOT EXISTS movies (id SERIAL, name varchar(100), release varchar(10))` using a PgClient?

[2018-02-09 06:30] vietj commented on #49
you just execute a simple query:

[code]

[2018-02-09 06:30] #49 closed

[2018-02-11 09:40] EmadAlblueshi opened #50 "Binary Decode/Encode for character types"

[2018-02-12 15:36] vietj opened #52 "Upgrade to Vert.x 3.5.1"

[2018-02-12 15:39] EmadAlblueshi opened #53 "UUID data type feature"

[2018-02-12 15:51] #50 closed

[2018-02-12 16:20] #52 closed

[2018-02-12 16:58] #53 closed

[2018-02-12 17:56] EmadAlblueshi commented on #47
@jbkoh `Double`, `Timestamp` currently supported but `UUID` is going to be supported by next release. Kindly see https://github.com/vietj/reactive-pg-client/pull/54

As @vietj  said:

So `Geometry` types are not supported yet and we will in addition contributions are always welcome :)

[2018-02-13 22:11] jbkoh commented on #47
Thanks for the clarification!

[2018-02-16 08:37] EmadAlblueshi opened #57 "Enumerated (enum) type support"

[2018-02-16 08:38] EmadAlblueshi opened #58 "Numeric array support"

[2018-02-25 09:01] willks opened #59 "Tuple with more than 6 argument?"
Hi,
  Did not know if it was the best place to ask a question, but I could not find somewhere else. So I'm building a fully reactive app using gRPC, and this driver was of interest to me. The syntax is small and concise.

The issue I have is that I'm doing an insert, and the insert has more than 6 tuples. I want to use bindings as I don't like encoding values in the string:

Code:

[code]

However

[2018-02-25 09:25] vietj commented on #59
I think we should add var-args to the Tuple builder

[2018-02-25 09:26] vietj commented on #59
the is a varargs builder `Tuple#of(Object... elements)`

[2018-02-25 15:07] willks commented on #59
Thanks for that! I'll give it another shot now. Looks like a promising project!

[2018-02-25 16:19] willks commented on #59
Apologies - One more question on the topic. Using the latest release, I can't find that varargs method. Am I missing something or using a wrong version? I'm using the "reactivex" flavour, not the default.

THanks

[2018-02-25 16:48] vietj commented on #59
ah, it is normal then, you can workaround using:

[code]

In the next version of Vert.x (3.6), we will allow the `@GenIgnore` methods to be present on the rxified API.

[2018-02-26 00:04] willks commented on #59
@vietj Worked great! Thanks again. Please close at will

[2018-02-26 00:04] #59 closed

[2018-02-28 14:26] willks opened #60 "Connection acquisition incorrectly assumes that there will be a waiter in the pool"
Hi,
  I keep getting this in my logs when running concurrent tests. It uses 5 concurrent users - and the exception observed is this with the ReactiveX flavour:

[code]

My pool settings are:

[code]

All queries issued return a Single, and I'm using the query code like this (rxPreparedQuery):

[code]

The issue is intermittent, but as I remove my tests concurrency, the error appears less. Running

[2018-02-28 15:00] vietj commented on #60
can you provide a reproducer ? what if you don't use rx ?

[2018-02-28 15:04] vietj commented on #60
it's hard to make sense of this exception because:

ExtendedQueryResultHandler.java:45:
[code]

and

CommandBase.java:44
[code]

and clearly `CommandResponse.failure(...)` does not return `null`

[2018-02-28 15:12] willks commented on #60
Yes maybe it's misleading. I'll try and write up a quick tests and test cases to reproduce. I'm migrating my project from Scala back to Java so it may be a few days as I get time.

Thanks for looking up.

[2018-03-01 03:23] cretz opened #61 "Numeric as Unaltered BigDecimal"
I am evaluating this library as an alternative to a couple of [other](https://github.com/mauricio/postgresql-async) [libraries](https://github.com/alaisi/postgres-async-driver) that have stalled. I am reading: https://github.com/vietj/reactive-pg-client/blob/09c07499bbe2925ade22b3b23a46552d08bcd3ea/src/main/java/com/julienviet/pgclient/impl/codec/DataType.java#L188-L203 and I see that it turns it

[2018-03-01 07:46] vietj commented on #61
@cretz yes I think we should do that, I added the comment myself as I found this part dubious, what's your opinion @EmadAlblueshi ?

[2018-03-01 13:53] EmadAlblueshi commented on #61
Hi @cretz @vietj  yes the `BigDecimal` should be supported for `Numeric` data type. Hopefully this will be added very soon.

[2018-03-01 16:10] cretz commented on #61
Might need to revisit the types altogether and it'd sure be nice if one could add/override them at runtime. Quick notes:

1. Why is int8 a long but int8 array an int array?
1. Don't forget numeric arrays deserve to be big decimal too
1. Why are so many other array types just objects (e.g. text, name, time, uuid, etc) and not arrays of the types of the single-version counterparts?
1. Looks like you

[2018-03-02 02:42] willks commented on #60
@vietj I have not had time to create a proper test case for you just yet, however - I swapped over to the  default version (the Kotlin friendly one). I get the same issue regardless of the flavour.

Cheers

[2018-03-02 07:40] vietj commented on #60
let me know if you can provide more context because the stack trace does not make sense to me

[2018-03-02 09:52] willks commented on #60
@vietj You know, even though it logs this null, the app still is working fine. I'll keep testing this as I want to rule out anything stupid I may be doing - but I'll dedicate some time over the weekend to doing a replicable test. Either way, like I said - I'm sticking to this driver as it's the best out there by far

[2018-03-02 09:56] vietj commented on #60
@willks thanks for everything! we spent lot of time in the client to make it simple and efficient!

[2018-03-02 11:01] willks commented on #60
@vietj I tried the rest already - they all hang with the lightest load and one even required changes to the Postgres configuration!

I have a better hint now at the issue from this pic:

[https://ibb.co/mndBDH](url)

So it looks like the waiter is null? I dunno. I'll try and get on that test

[code]

[2018-03-02 13:37] vietj commented on #60
that would be a race condition in the pool under high load ?

[2018-03-02 14:13] willks commented on #60
@vietj Looks like. It's 5 threads, with 3 requests each. My tests use Scala (SBT) so all integration tests kick off at the same time. Every request does a "user" check based on JWT token, to verify identity. I plan to introduce a cache for this though. My current DA tier acquires connections from pool manually (and returns on error/success/exception) - but also tried using the automatic pool acqui

[2018-03-02 14:33] vietj commented on #60
@willks you are totally right

[2018-03-03 23:04] Ryan-ZA commented on #60
I don't have reproducer code, but I know how to trigger this exception. Maybe it will make it easier to find.

If you start with a maxsize pool of 1, then run a query with a cursor, and then try to run another query before closing the cursor, then you will get this exact NullPointerException.

Probably this is the same thing that is happening under high load - by chance all connections in the pool

[2018-03-04 07:14] Ryan-ZA opened #62 "Default text encoding assumes the ByteBuf is large enough for encoding the value"
The following code gives an error:

[code]
But with the following change (note added spaces in sql) the error disappears

[code]

The error that happens is

[code]

[2018-03-04 07:49] willks commented on #60
Well, here is a start, but it does reproduce it.

https://github.com/willks/pgtest

Not sure if it's 100% right, but the exception happens. If the pool size is 1, I don't get the issue. Strange.

Use "gradle run" to execute

[2018-03-04 09:33] vietj commented on #60
thanks, will have a look soon.

[2018-03-04 09:34] vietj commented on #62
thanks will have a look soon

[2018-03-04 21:25] vietj opened #63 "Connection in the pool closed by the database won't be removed from the available connections"

[2018-03-04 21:28] #60 closed

[2018-03-04 21:28] #63 closed

[2018-03-04 21:35] vietj commented on #62
it's not clear what you mean by space, your second example that works is not valid java code, so it's hard to spot the difference

[2018-03-04 22:20] #62 closed

[2018-03-04 22:21] vietj opened #64 "Bytea binary support"

[2018-03-04 22:25] vietj commented on #61
@cretz yes we should support mapping different runtime type for a given pg type, we need to come up with an API for that I think

we definitely lack of support for array types, perhaps you can help us improve it and contribute ?

[2018-03-04 22:26] vietj commented on #60
@willks I've fixed the bug you reported, can you check that master works fine with your branch ? (I've checked with your reproducer and it works fine)

[2018-03-05 09:18] #64 closed

[2018-03-05 19:58] vietj commented on #60
@willks once you have done this check, I can do a 0.5.2 release with the fix

[2018-03-06 01:26] willks commented on #60
@vietj Looks good!!

Thanks for this

[2018-03-06 09:10] counter568 opened #66 "Array support"

[2018-03-07 10:40] vietj opened #68 "Ensure Row by name getters return null when the column does not exists"

[2018-03-07 10:40] #61 closed

[2018-03-07 11:09] vietj opened #69 "Ensure Row by name getters throws NPE for a null column name"

[2018-03-07 11:10] #68 closed

[2018-03-07 11:10] #69 closed

[2018-03-07 21:14] gunnarmorling commented on #61
Just came across this one through a link on Reddit; we also had to deal with mapping numeric columns in [Debezium's Postgres connector](http://debezium.io/docs/connectors/postgresql/).

One thing to keep in mind is that Postgres supports the special values `NaN`, `Infinity` and `-Infinity` for numeric columns, which can't be mapped to `BigDecimal` AFAIK. We addressed that by optionally mapping num

[2018-03-07 21:42] EmadAlblueshi commented on #61
Hi @gunnarmorling
The current issue for NUMERIC data type which allows NaN only according to PostgreSQL documentation and you are right it can't be mapped to BigDecimal.

[2018-03-08 09:03] vietj commented on #61
we could keep as string in the tuple and have Tuple#getBigDecimal convert the String to BigDecimal ?

[2018-03-08 09:05] vietj commented on #61
another way would be to have a wrapper that extends Number that keeps the String and then have this converted easily to big decimal using the string constructor

[2018-03-08 09:06] gunnarmorling commented on #61
Yes, I think that'd be sensible and pretty much the same what the regular
JDBC driver is doing. And if one calls getBigDecimal() but it's one of the
special values, an exception would be raised.

[2018-03-08 09:16] vietj opened #70 "Handle NUMERIC type with a custom Number"
motivation: currently NUMERIC type is mapped to `BigDecimal` which does not allow a full representability of the type (such as ∞).
changes: provide a specific subclass of `Number` (perhaps named `PgNumeric` ?) that wraps the value as a `BigDecimal` when possible otherwise indicates which specific value it is. This can then be converted by the `Row` class to other values or can be retrieved as is.

[2018-03-08 09:16] vietj commented on #61
I've created this issue https://github.com/vietj/reactive-pg-client/issues/70

[2018-03-09 11:55] vietj commented on #61
@gunnarmorling can you have a  look https://github.com/vietj/reactive-pg-client/pull/71 ?

[2018-03-09 14:09] XiaohuChen opened #72 "Does Reactive-pg-client support MySQL in Vertx?"
Hello, I find it is not convenient to use vertx-mysql-postgresql-client in vertx，and it don't support batch operation. I find Reactive-pg-client and it Ranked #1 in the TechEmpower Benchmark Round 15 Single query benchmark.
 I just want to know, Does Reactive-pg-client support MySQL in Vertx? Or is there any plan to suport MySQL in Vertx?

[2018-03-09 14:25] vietj commented on #72
we would like to support it

[2018-03-10 07:53] vietj commented on #72
also contributions are welcome

[2018-03-15 17:34] jklingsporn opened #73 "ExtendedQueryResultHandler must check the async result is succeeded before unboxing its boolean value"
I'm firing the same insert query two times and expect to get a database exception, but I get a NPE instead. It seems to be a autoboxing issue: when there is an exception, ExtendedQueryResultHandler.handle is called and res returns null which cannot be casted to primitive boolean.

Version: 0.5.2
Stacktrace:
```17:58:42.481 [vert.x-eventloop-thread-0] ERROR io.vertx.core.impl.ContextImpl - Unhandle

[2018-03-15 17:35] jklingsporn commented on #73
Fix ready.

[2018-03-15 23:14] willks opened #75 "Behaviour of exhausted pool?"
Hi,
  I'm getting an issue when using the connection pool (that is, without manually managing my own connection). The issue is that if more than 10 concurrent requests are excited against a pool that only has 10 connections, there seems to be a deadlock condition and nothing ever happens.

I have updated my code from a previous test in order to demonstrate this. The variable " iterationCount)" can

[2018-03-16 06:57] vietj commented on #75
will have a look

[2018-03-16 07:09] #70 closed

[2018-03-16 07:15] vietj commented on #75
I think your test is incorrect, you are using `pool#getConnection` and never close the connection you get, in addition you use `pool#query` and this method will also borrow a connection from the pool although the test should use the connection obtained from the `getConnection` method.

[2018-03-16 07:27] willks commented on #75
Apologies. I fixed test by removing getConnection. But you're right, the pooling behaviour is handled correctly. However, for the previous scenario - yes a test would be good (or an error) to help us find out leaks in code.

Apologies for time wasted.

[2018-03-16 07:27] #75 closed

[2018-03-16 10:09] #73 closed

[2018-03-16 10:56] willks commented on #73
I have tested this version and all the other logged exceptions in my extensive project test cases work perfectly with not one error. I ran the repeat cycle (60+ tests) on loop for the last hour or so. Looking very good and thanks for all the hard work.

[2018-03-16 11:35] willks opened #76 "Question: Example on storing JSONB column with prepared query"
Hi,
  I've been trying to store an embedded jsonb object, but column is always null and console prints
"Data type 3802 does not support binary encoding". I've tried saving as a "JsonObject" type - and the string representation of the JSON. Is there an example on how to do this that I missed? I searched through tests and examples (but probably not diligently enough!)

[2018-03-16 11:52] EmadAlblueshi commented on #76
JSONB not yet implemented for prepared query.

[2018-03-16 12:57] willks commented on #76
I need it myself, so I'll have a look at it. Thanks for reply. Closing as it's already tracked

[2018-03-16 12:57] #76 closed

[2018-03-16 13:44] vietj commented on #73
I've done a 0.6.0 release containing the fix, as well as Numeric support

[2018-03-18 09:53] vietj opened #79 "Column checker for removing boiler plate test code"
currently the data type test have lot of boiler plate code

[2018-03-18 09:53] vietj commented on #79
see https://github.com/vietj/reactive-pg-client/tree/column-checker

[2018-03-18 09:54] vietj commented on #79
@EmadAlblueshi I've started this to simplify test writing and maintenance

[2018-03-18 09:54] vietj commented on #79
we should migrate all relevant tests to use the column checker

[2018-03-18 19:16] #79 closed

[2018-03-19 09:34] vietj opened #80 "Introduce JSON wrapper type"
motivation: we need to introduce a specific wrapper type for JSON to handle correctly `null` json values and distinguish them from SQL `NULL`

[2018-03-19 09:35] #80 closed

[2018-03-19 10:10] jklingsporn opened #81 "Create factory method for com.julienviet.reactivex.pgclient.Tuple that takes varargs or a Collection"
Hi,
I was using a statement like this `Tuple tuple = Tuple.of(bindValues.toArray());` (with `bindValues` being an `ArrayList`) which works fine for the non-rx version. When switching to rxified version of `Tuple` my code fails in that regard, that `Tuple` now consists of 1 entry (which is an array) instead of n entries.
I'm doing this workaround for now:
[code]

[2018-03-19 10:20] vietj commented on #81
I think it's because in vertx we need to imrpove the codegen support which is expected in 0.6.0

[2018-03-19 11:13] vietj opened #82 "Binary json and jsonb support"

[2018-03-19 11:14] #82 closed

[2018-03-19 20:44] #66 closed

[2018-03-20 07:36] vietj opened #83 "Use reactiverse package and groupId"

[2018-03-20 07:36] #83 closed

[2018-03-20 09:27] counter567 commented on #33
I am currently working on array support for the data types that already exist.

[2018-03-20 13:31] jklingsporn opened #84 "Add Row-support for Short"
According to the README, Short as a datatype is supported, but I can't find such getters/setters in `Row` or `Tuple`.

[2018-03-21 07:02] vietj commented on #84
it's supported in the data type mapping with Short (DataType#INT2) but there are no getter / setters for it, so it's a missing small feature

[2018-03-22 07:55] #84 closed

[2018-03-26 07:31] vietj opened #88 "Remove DatatypeConverter usage in DataType"
this prevents using the client in Java 9

[2018-03-26 09:28] vietj opened #89 "Replace with usage of ByteBuf#skipBytes(n)"
which is more efficient for skipping bytes, we use sometime the pattern `buff.readerIndex(buff.readerIndex() + n)`

[2018-03-26 15:26] #88 closed

[2018-03-26 15:27] #89 closed

[2018-03-26 16:28] vietj opened #90 "Rework pom.xml to have javadoc jar installed on deploy"

[2018-03-26 16:36] vietj opened #91 "Missing Kotlin generation"
link https:/reactiverse.io/reactive-pg-client/guide/kotlin/index.html[Kotlin docs] points to nothing

[2018-03-28 11:59] #39 closed

[2018-04-05 17:32] nailgilaziev opened #94 "Comparison with async mauricio driver"
Dear author!
I'm not an expert in async drivers for **postgresql** and maybe I can't understand the nuances in the differences between them, so it will be great if you would bring your subjective explanation for such people as me.
In async world I know some drivers for **postgres** and most popular is  https://github.com/mauricio/postgresql-async that officially used in **vertx**.
Explain, please,

[2018-04-05 20:25] vietj commented on #94
I think you can use this client for any postgresql task + it supports specific PG features like notifications

[2018-04-05 20:32] vietj commented on #94
I'm closing this issue as it's not really an issue

[2018-04-05 20:32] #94 closed

[2018-04-06 05:53] nailgilaziev commented on #94
Thanks for your reply!

[2018-04-08 13:12] #40 closed

[2018-04-08 14:54] vietj opened #95 "Rename PgConnectionOptions#username to PgConnectOptions#user"
This is a breaking change.

[2018-04-08 14:55] #95 closed

[2018-04-09 06:03] BillyYccc opened #96 "Documentation improvements for configuration"
There are 3 ways to configure the client including:
1. data object
2. connection uri string
3. environment variables.

We can add an individual part `Configuration` of the documentation to clarify how to make use of them.

[2018-04-11 02:15] vtumuluri opened #98 "Support load balancing across multiple hosts"
It would be great if this could support load balancing across read replicas which is supported in the official postgresql JDBC driver like below.
jdbc:postgresql://node1,node2,node3/accounting?targetServerType=preferSlave&loadBalanceHosts=true
Even if not by the same Uri parameters, any other mechanism to set multiple hosts that are load balanced for a specific pool is adequate.

[2018-04-11 06:27] vietj commented on #98
@chinnitv I'm not much familiar with this feature, can you point out the doc to me ? is this something you could contribute ?

[2018-04-11 06:46] chinnitv commented on #98
Here's the reference to the documentation https://jdbc.postgresql.org/documentation/head/connect.html
Sorry but I am a newbie to this project and even to vert.x. I am still trying to understand vert.x and may not be able to contribute any time soon.

[2018-04-14 12:31] BillyYccc commented on #96
Fixed by https://github.com/reactiverse/reactive-pg-client/pull/97.

[2018-04-14 12:31] #96 closed

[2018-04-16 08:31] counter567 opened #99 "Implement text format for arrays"

[2018-04-16 09:07] vietj commented on #99
awesome!

[2018-04-19 20:00] nailgilaziev opened #100 "Can it use unix domain sockets?"
App server and pg server often placed in one unix machine. Communication via unix domain sockets significantly improve performance. Does it use it internally?

[2018-04-20 14:56] vietj commented on #100
yes it is possible to use it, perhaps you can try and contribute a doc section ?

the `PgClient` is really a Vert.x `NetClient` and the actual `PgConnectOptions` extends `NetClientOptions`.

https://vertx.io/docs/vertx-core/java/#_domain_sockets

[2018-04-22 13:02] BillyYccc commented on #100
I'm glad to investigate and make a contribution for this if no one is going to handle it.

[2018-04-22 15:12] vietj commented on #100
feel free to investigate @BillyYccc

[2018-04-25 21:25] ihoro opened #102 "Q: Is there a way to pass array parameter?"
It’s totally fine with a query like `select * from user where id = $1;` when you pass Tuple.of(1001) or something. But what about arrays for IN operator like `select * from user where id in ($1)` with a list of user IDs e.g. 1001,1002,1003?

By the way, awesome project!

[2018-04-25 22:03] vietj commented on #102
arrays are supported with `Tuple.tuple().addIntArray(new int[] { 1001, 1002, 1003 })`

I think we are missing this in documentation

[2018-04-25 22:03] vietj opened #103 "Document array support"

[2018-04-25 22:04] vietj commented on #102
I think also passing an array should be fine (`Tuple.of(new int[] { ... })`), but I haven't tried it.

[2018-04-25 22:04] vietj opened #104 "Check arrays passed to tuple.of(...)"

[2018-04-26 09:05] vietj commented on #102
oh really ? the javadoc seems to have it, can you investigate ?

I will release I think 0.8.0 soon anyway

[2018-04-26 09:09] ihoro commented on #102
Okay, got it, getDelegate() from rxjava2 and I have addIntArray().

[2018-04-26 09:10] vietj commented on #102
at yes, we aim to imoprove that in next version of Vert.x 3.6.0 and these methods should be here

[2018-04-26 09:29] ihoro commented on #102
and the same with `master`

[2018-04-26 09:33] vietj commented on #102
yes that would be with vertx 3.6.0

[2018-04-26 10:05] ihoro commented on #102
Great, looking forward for the updates to start usage of array parameters.
I'm fine with simple workarounds meanwhile.

Thank you for quick replies and support overall.

[2018-04-26 10:07] vietj commented on #102
btw can you explain your motivation for using this client instead of others ?

[2018-04-26 10:26] vietj commented on #102
we are still in version 0.x.z because we want full support for some features like all PG types for binary and text before being in 1.0.0

[2018-04-26 10:26] vietj commented on #102
we are missing specific PG types like geometric types, etc...

[2018-05-02 07:57] vietj commented on #58
Changed the purpose of this issue, actually `NUMERIC` binary conversions is quite complicated to implement and the authors actually advocate to use `TEXT` encoding.

So instead we will use binary encoding for most types and for some use text encoding when it's appropriate. Note this is for extending query encoding/decoding.

[2018-05-02 07:57] #58 closed

[2018-05-02 08:08] vietj opened #105 "Rename Tuple/Row array getter/adder to getArrayOfXXX and addArrayOfXXX instead of getXXXArray and addXXXArray"
The former has ambiguities with some times, i.e as we support both `Json` and `JsonArray` type, `JsonArray` might be `JsonArray` or `Json[]`.

[2018-05-02 08:09] #105 closed

[2018-05-02 08:11] vietj commented on #105
actually won't be used

[2018-05-02 08:59] vietj opened #106 "Make Json only accessible from Json in Row/Tuple"
Supporting json values in Row/Tuple is actually creating issues, removing them from now as `Json` is little API overhead and actually a well defined type.

[2018-05-02 09:00] #106 closed

[2018-05-02 10:14] vietj opened #107 "Don't use primitive arrays in API"
because they might contain null values which are not possible to coerce

[2018-05-02 10:14] #107 closed

[2018-05-02 10:15] vietj opened #108 "Map CHAR to String and not Character"

[2018-05-02 12:08] vietj opened #109 "Support null in arrays"
Arrays can contain `null` values and the client must be able to encode or decode them.

[2018-05-02 12:09] #109 closed

[2018-05-02 12:12] vietj commented on #99
Done in https://github.com/reactiverse/reactive-pg-client/commit/2697a3f330687d358f9925a372b5a590b600d039

[2018-05-02 12:29] vietj opened #110 "Json array support"
with `JSON[]` or `JSONB[]`

[2018-05-02 12:30] #110 closed

[2018-05-02 13:18] #108 closed

[2018-05-02 13:52] vietj opened #111 "Fix incorrectly spelled Row#getInteterArray to Row#getIntegerArray"

[2018-05-02 17:33] #111 closed

[2018-05-02 19:16] #102 closed

[2018-05-02 19:17] #103 closed

[2018-05-03 07:12] #90 closed

[2018-05-03 22:52] Narigo opened #112 "Discuss: Make transaction API asynchronous"
The current handling of transactions look like this:

[code]

In the example, I am unsure when the queries will take place and in what order they will really come into play. Also, what happens if I do anything in the `ar -> {}` handlers? If I call a helper function that uses the current connection, does it know (does it need to know?) that it is currently in transaction mode?

I would vote for ano

[2018-05-04 07:09] vietj commented on #112
actually the current API could be used the same way you wrote for the second, in the example I did not use nested query callbacks to keep the example simple but it would be written:

[code]

[2018-05-04 07:09] vietj commented on #112
so that leaves the question of using or not an async transaction/begin and it turns out this is not needed to use an asynchronous transaction start which saves one asynchronous action.

[2018-05-04 07:10] vietj commented on #112
perhaps we can update the example in doc to show both ?

[2018-05-04 12:26] Narigo commented on #112
If I do a `conn.begin()` - will it send a "begin" to the next query sent on that connection or otherwise change internal state in "conn"? Is it a special case for Postgres that it does not need to be async and might have to be async for similar APIs?

Consider this case:

[code]
Is some internal state changed in `conn` so that the `useConnectionForSomething()` call changes behaviour (or may not wo

[2018-05-04 12:58] vietj commented on #112
good point, I'll keep this open and check for mysql

[2018-05-04 13:34] vietj commented on #112
so what happens internally is that when you call begin it sends "BEGIN" but you don't need to wait for it. if begins fails the TX is marked as completed and all commands that have been executed will be failed

[2018-05-04 13:35] vietj commented on #112
so in short if you create a tx it means you will execute somehting and if "BEGIN" fail it will fail the command which saves one asynchronous call

[2018-05-04 13:42] vietj commented on #112
how does that sound to you ?

[2018-05-07 15:15] willks commented on #98
This is a good enhancement suggestion. I use both AWS RDS and GCP CloudSQL. I could have a look but need guidance around the DSL client setup.

[2018-05-07 15:41] vietj commented on #98
I can provide you guidance

[2018-05-13 13:14] vietj opened #113 "PG Point support"
Support for PG Point data type

[2018-05-13 13:15] #113 closed

[2018-05-13 13:16] vietj opened #114 "Geometric types supports"
Add support for all geometric types:

- line
- lseg
- box
- path
- polygon
- circle

Point is already supported : https://github.com/reactiverse/reactive-pg-client/commit/ed3cea20ee2420be072ba6b57b3f9d77cc6e59d4

[2018-05-14 09:57] ensirius opened #115 "Postgres subscriber reconnect policy should reconnect when configured with value 0"
According to subscriber docs when you specify reconnect policy with 0 ms it will try to reconnect immediately. In practice reconnect not working. 1 ms works fine.

I guess https://git.io/vpHtj should be `val >= 0`.

[2018-05-14 10:03] vietj commented on #115
good point

[2018-05-14 10:14] #115 closed

[2018-05-14 10:14] vietj commented on #115
thanks for reporting!

[2018-06-01 18:58] pratikpparikh commented on #114
@vietj Point is a relatively simple object to read/write in binary.  How does one write and complex objects like path?  For example, let's say you have a label (string),  userid (complex type), and json.  I could encode it in a sequence but while reading string can be of variable length?  do we have store the size of the string in the binary as a separate element?  for example, does it mean now I

[2018-06-01 19:00] vietj commented on #114
I think you should go json array and convert stuff to json in this case

[2018-06-01 19:15] pratikpparikh commented on #114
So is this correct interpretation of your recommendation?

//encodePath
binaryEncodeJSONB(Json.create(value.toJson()),buff);

//decodePath
final Json pathJson = binaryDecodeJSONB(len,buff);
final JsonObject pathJsonObject = (JsonObject) vertexJson.value();
return new Vertex(pathJsonObject);

[2018-06-01 19:19] vietj commented on #114
what is path ? do you mean geometric path ?

in that's a PG geometric path, then it could use the native representation of path by PG.

[2018-06-01 19:29] vietj commented on #114
this issue is about supporting geometric types for this client :-)

[2018-06-01 19:33] pratikpparikh commented on #114
@vietj I am sorry but thought this conversation still be useful regardless to the contributor who might want to help.  I am also planning to pick that up, as soon as I finish what with my release work.

[2018-06-01 21:13] vietj commented on #114
agreed @pratikpparikh

[2018-06-04 14:53] vietj opened #117 "Collector API"
Provide a Collector API for queries, e.g

[code]

[2018-06-04 14:54] #117 closed

[2018-06-05 15:42] vietj opened #118 "Upgrade to Vert.x 3.5.2"

[2018-06-05 15:43] #118 closed

[2018-06-13 14:26] kiddouk opened #119 "Example use of rx'ified version of the client"
Hello,

I am trying to use the rx'ified version of the client and I am interested in the streaming functionality that this driver is offering.
However, I cannot seem to find a proper way to fetch the data when using rxQuery.
I turn the single emitted into an observable and was hopping to either:

1) flatMap to Observable.from(PgRowSet) (Potentially accepting that the full data set would have to be

[2018-06-13 14:37] vietj commented on #119
@kiddouk you need to use the `PgPreparedQuery` and thus you need a connection to achieve it:

[code]

[2018-06-13 19:58] kiddouk commented on #119
For the ones wanting an rxjava 1.x example

[code]

[2018-06-13 19:58] #119 closed

[2018-06-13 20:29] vietj commented on #119
I'll add specific documentation for RxJava

[2018-06-13 20:50] vietj opened #120 "RxJava documentation"

[2018-06-13 20:51] #120 closed

[2018-06-14 00:11] sstubbs opened #121 "Cursor Issue"
I have been trying out this driver and it has been working well with vertx and I can retrieve all results well. I do have memory issues so I tried the streaming option which only loaded the first results and no others. So I have moved one step back to the cursors and I am getting the same problem. With the following I only receive the first values. The while loop runs once where it should run mult

[2018-06-14 06:05] vietj commented on #121
can you write a test (reproducer) so I can have a look at it easily ?

[2018-06-14 06:08] vietj commented on #119
I've added documentation for this, it should be deployed with the next release

[2018-06-15 13:33] #91 closed

[2018-06-16 15:58] rodolfodpk opened #122 "generatedKeys() on PgRowSet"
it has updatedCount() but not generatedKeys()

[2018-06-16 17:40] vietj commented on #122
I haven't seen an option to get that from the Postgres protocol... have you any information about how it's possible to obtain it ?

@pmlopes can you help us here ?

[2018-06-16 19:38] pmlopes commented on #122
Yes, you need to append " RETURNING *" to the insert statement as the concept of generated keys is artificial at the jdbc api.

[2018-06-17 07:31] vietj commented on #122
how are these keys made available by postgres ?

[2018-06-17 10:37] pmlopes commented on #122
The returning statement means that the return of this call is a result set with the affected lines, on a insert it will be a single line, on an update it could be the whole affected lines that were updated

[2018-06-17 10:40] pmlopes commented on #122
https://www.postgresql.org/docs/current/static/sql-insert.html

[2018-06-17 10:48] vietj commented on #122
so as far as I understand it @rodolfodpk should be able to get the keys from the `RowSet` and there is no need to add a `getGeneratedKeys()` specific method, right ?

[2018-06-17 10:51] pmlopes commented on #122
Yes.

[2018-06-17 10:54] pmlopes commented on #122
The issue with generated keys would be that you would need to parse the query for comments, alias, etc in order to append the `RETURNING` piece in order to get the keys. Since the user wrote the sql then the user has the knowledge to put it on the right place and return what is needed

[2018-06-17 10:56] pmlopes commented on #122
This is a powerful construct that can be used with `WITH` statements to perform atomic updates without the need of transactions, so in my opinion the user should have control over it, not be limited by the API

[2018-06-17 12:47] vietj commented on #122
so the most appropriate would be to keep the API as is and give examples in the doc of how to proceed ?

[2018-06-17 16:29] sstubbs commented on #121
Sure I will get one done tomorrow.

[2018-06-17 17:08] vietj commented on #121
thanks, that will help and it will also be used as unit-test so if you can write it as a pg-client unit test it's even better

[2018-06-18 14:41] solayw opened #123 "io.reactiverse.pgclient.Row::getXXX(integer pos) blocked when pos out of range"
PgPool client = PgClient.pool(options);
        client.query("select 1,2",rs->{
            Row r=rs.result().iterator().next();
            Integer arr=r.getInteger(2); //blocked here

        });

[2018-06-18 19:28] sstubbs commented on #121
I see you already have some tests here for the cursors https://github.com/reactiverse/reactive-pg-client/blob/master/src/test/java/io/reactiverse/pgclient/PreparedStatementTestBase.java. Do these run against an actual database or are they mocked somehow? I'm just trying to work out what I should add.

[2018-06-18 19:29] vietj commented on #121
@sstubbs they run against a real postgres started with embedded postgres project

[2018-06-18 19:32] sstubbs commented on #121
OK I will go through this section and compare it to what I have done. Perhaps it's an issue on my end otherwise I will add the test.

[2018-06-21 08:50] #57 closed

[2018-06-21 08:50] vietj commented on #57
thanks for the contribution @EmadAlblueshi !

[2018-06-21 08:50] vietj commented on #57
one less to go :-)

[2018-06-21 08:52] EmadAlblueshi commented on #57
@vietj More than welcome :-)

[2018-06-24 07:37] EmadAlblueshi opened #125 "Interval data type support"

[2018-06-29 08:15] vietj commented on #121
@sstubbs any news about this ?

[2018-07-02 15:13] cretz commented on #61
As an update, I wrote a separate driver at https://github.com/cretz/pgnio to avoid some of these things and the external dependencies.

[2018-07-02 16:32] vietj commented on #61
@cretz that was the right thing to do

[2018-07-02 20:04] kiddouk opened #128 "Portal does not exists when reading from stream"
Hi,

I am using the rxjava implementation (1.3x) and I am facing an error I cannot explain.
Scenario : a few million rows in a PgTable.

The following code:
[code]
I get the first 10 results (which makes sense since I have a fetch size of 10 and then I get this error that seems that we are having a cursor issue, somewhere.

[code]

The documentation says that I should be in a Transaction since cur

[2018-07-03 05:28] vietj commented on #128
not yet, can you make a reproducer ?

is it related to https://github.com/reactiverse/reactive-pg-client/issues/121 ?

[2018-07-03 09:33] kiddouk commented on #128
Yes, I think that you are right. This is the same issue that I am facing but with RX implementation. Since RX bindings are generated, this is not surprising.
I will try to provide a test-case so that we can reproduce and fix.

[2018-07-03 09:56] vietj commented on #128
thanks a lot

[2018-07-03 10:33] kiddouk commented on #128
I have been working on isolating why my approach doesn't work and reading the tests and the javadoc, it is clear that I am at fault here.

In order to benefit from the cursor, I shall create a Transaction. A simple `conn.rxQuery("BEGIN").flatMapObservable({ _ -> conn.prepareQuerx.... })` does the trick.

Note that previously, I had done a conn.begin() in order to create a TX but that seems to bloc

[2018-07-03 10:36] vietj commented on #128
I think that we should prevent creating a cursor when there is no transaction.

For instance the Cursor API could be only available on the transaction API to enforce this.

[2018-07-05 15:32] davidtrobinson commented on #112
I don't know if this is a separate issue, but I really want to write a transactional query using RxJava2.  I can't find any examples in the Java docs and looking at other examples it does not seem like you can start a transaction and get an observable.  Is that related to transactions not being async?

I feel like transactional queries would benefit most from an observable chain since you often ne

[2018-07-05 15:55] vietj commented on #112
@davidtrobinson can you give a pseudo example ?

[2018-07-05 19:42] davidtrobinson commented on #112
I was looking at this example from the vert.x JDBCClient: [Transaction.java](https://github.com/vert-x3/vertx-examples/blob/master/rxjava-1-examples/src/main/java/io/vertx/example/rxjava/database/jdbc/Transaction.java)

I can't see how to do the same thing with the reactive-pg-client.  I have written some code like this using the non-rx example from the Java docs:
[code]

I think this illustrates

[2018-07-06 06:21] vietj commented on #112
Similar to the example here is what I get:

[code]

[2018-07-06 06:21] vietj commented on #112
let me know how that sounds to you

[2018-07-06 16:15] davidtrobinson commented on #112
That looks good, I will try to write it that way.  I wasn't sure how to compose it, thank you for the example.  It might be good to throw some more "rx" examples like this into the documentation.

[2018-07-07 06:42] vietj commented on #112
yes, I'm holding this example in my repo and will update the doc when you confirm it works for you

[2018-07-09 19:24] davidtrobinson commented on #112
I just wrote the code following your example @vietj and it worked!  Thanks for helping with this.  I did notice the rx apis for Tuple and PgRowset where a little different in that PgRowset didn't allow me to use a for/each loop and Tuple and Row are both missing methods to support UUID or LocalDate.  Is that something that is still being worked on?  Besides those small issues I really like the cod

[2018-07-09 21:10] davidtrobinson commented on #112
Here is what my code ended up looking like, if you are curious:
[code]

[2018-07-10 06:43] vietj commented on #112
thanks for posting your code.

concerning the Tuple API, I think this should be fixed with Vert.x 3.6.0 code generator

[2018-07-16 07:52] vietj opened #129 "Upgrade to Vert.x 3.5.3"

[2018-07-16 07:53] #129 closed

[2018-07-16 13:57] vietj opened #130 "Simplified transaction API"
Currently, one need to acquire a connection in order to use a transaction and most importantly release the connection when the transaction ends, which complicates the code for both asynchronous flow and rx flows.

The simplified API allows to create a transaction on the pool, simplifying the acquisition of the transaction. When the transaction ends, the connection is returned to the pool.

[code]

[2018-07-16 13:58] #130 closed

[2018-07-16 13:59] vietj commented on #112
@davidtrobinson we have created this new API for simplified transaction API https://github.com/reactiverse/reactive-pg-client/issues/130

[2018-07-16 14:49] pmlopes commented on #130
I'm not sure about this, in a transaction you could have interdependencies between queries, say:

1. insert row
2. insert row using the previously rowid
3. insert row independent from the 2 above

I think that from a scheduling PoV, query 1 and 3 are added to the transaction so the commit handler is awere of them, but the commit handler probably won't know about the 2nd query...

[2018-07-16 17:07] vietj commented on #130
well that's just the example that is not correctly written, i.e the current API allows your use case, we just need to execute the second query in the result handler of the first one (like rx does actually).

[2018-07-18 17:26] mkulak opened #131 "When a pooled connection is closed, the actual connection should not be made available after it has been closed internally"
After scheduled upgrade of running postgres our application came to a strange state:
every request to db throw `io.vertx.core.VertxException: Connection not open CLOSED`. After manually restarting every pod of our app it healed (during startup each instance was able to connect to db as usual).
We use connection pool like that:
[code]
Unfortunately I don't have reproducer for this situation. Maybe

[2018-07-19 19:23] EmadAlblueshi commented on #123
@Adam74211

[code]

Hi, An `IndexOutOfBoundsException` is thrown silently. The connection is not closed. This PR https://github.com/reactiverse/reactive-pg-client/pull/132 is simply `printStackTrace()` so at least you know what is going on because the exception is thrown from non existing position.

Could you please clarify what did you mean of blocked ?

[2018-07-20 07:18] vietj commented on #131
thanks for reporting I will have a look

[2018-07-20 09:58] vietj opened #134 "Provide a mode where the client is released when there is any exception"
Most of the time we don't want to deal with database errors and in this situation we just return the connection to the pool or close it, i.e:

[code]

In this case the code would be simplified to:

[code]

Relieving from unnecessary check / close.

With a blocking interaction that would be similar to:

[code]

[2018-07-21 03:56] pratikpparikh opened #135 "Get column name from Row"
Dear Authors,

Can we make it so that we can get the columnName from resultset rather than depending client to keep it context?

Regards,
Pratik Parikh

[2018-07-21 21:49] EmadAlblueshi commented on #131
@vietj I think this happened because we are [handling cache](https://github.com/reactiverse/reactive-pg-client/blob/176a42e6cbb705c4db3ed56933bd5e3715cdbd0e/src/main/java/io/reactiverse/pgclient/impl/SocketConnection.java#L171) before [checking the status](https://github.com/reactiverse/reactive-pg-client/blob/176a42e6cbb705c4db3ed56933bd5e3715cdbd0e/src/main/java/io/reactiverse/pgclient/impl/Sock

[2018-07-22 17:40] EmadAlblueshi opened #138 "Moves custom data types under data package"
All custom data types `Json`, `Numeric` and `Point` should be moved under `io.reactiverse.pgclient.data` package for consistency and for new future ones

[2018-07-23 22:09] EmadAlblueshi opened #139 "Typo adPoint in Tuble"
https://github.com/reactiverse/reactive-pg-client/blob/176a42e6cbb705c4db3ed56933bd5e3715cdbd0e/src/main/java/io/reactiverse/pgclient/Tuple.java#L665

[2018-07-25 13:36] vietj commented on #121
@yonigibbs I believe it's quite solid and production read, if there are issues we fix them as soon as we can and issue fixes (there are people already using it in production).

[2018-07-25 13:45] vietj commented on #125
great contrib

[2018-07-25 13:45] #125 closed

[2018-07-25 13:51] yonigibbs commented on #121
Brilliant!  Just what I wanted hear.  Thanks very much.  Will log issues if any come up.

[2018-07-25 19:00] pratikpparikh commented on #139
@EmadAlblueshiI have this corrected in my fork, I noticed this today as well.  It is also in ArrayTuple.java

[2018-07-26 13:47] #139 closed

[2018-07-27 12:54] #135 closed

[2018-07-27 12:57] pratikpparikh commented on #41
@vietj can this be made part of 0.9.1 as this is very important to make sure that connection timeout is handled properly.

[2018-07-30 12:12] mkulak commented on #131
This situation happened again. It's a blocker for us

[2018-07-30 12:34] vietj commented on #131
sorry to hear that @mkulak I will have a look today

[2018-07-30 12:34] vietj commented on #131
do you have more details ?

[2018-07-30 21:32] vietj commented on #131
@mkulak can you set an exception handler to know what is happening to the connection ?

[code]

so we know the reason that force all connection to be closed.

can you also upgrade the client version to 0.9.0 ?

[2018-07-30 21:41] mkulak commented on #131
Will try to gather more details and also install exception handler.

[2018-08-01 09:47] EmadAlblueshi opened #142 "PgResult#updatedCount"
Currently, `PgResult#updatedCount` value is affected from all types of queries `SELECT`, `UPDATE`, `DELETE` ... etc.

It should be renamed to generic name to avoid confusion.

[2018-08-01 11:58] vietj commented on #142
`rowCount` is the right name

[2018-08-01 11:59] EmadAlblueshi commented on #142
@vietj :+1:

[2018-08-02 23:40] davecramer commented on #122
The pgjdbc driver rewrites the query and we run into issues occasionally

[2018-08-03 00:31] davecramer opened #143 "Compile error"
INFO: Generated model io.reactiverse.pgclient.Row: io.reactiverse.groovy.pgclient.Row_GroovyExtension
**** COMPILER BUG! REPORT THIS IMMEDIATELY AT http://jira.codehaus.org/browse/MVEL
Expression: @comment{'A library of reusable functions'}@code{

java -version
java version "10.0.1" 2018-04-17
Java(TM) SE Runtime Environment 18.3 (build 10.0.1+10)
Java HotSpot(TM) 64-Bit Server VM 18.3 (build 10.0

[2018-08-03 08:12] vietj commented on #122
@davecramer what kind of issues ?

[2018-08-03 08:13] vietj commented on #143
compile it with Java 8, it's a Groovy issue with Java > 8

[2018-08-03 08:13] #143 closed

[2018-08-03 11:04] davecramer commented on #122
if the select already has "with returning" we don't detect it.
IIRC things like CTE's can have with returning embedded.

[2018-08-03 12:56] vlsi opened #144 "Add JMH-based tests for JDBC"
Alternative option would be to add reactive tests to https://github.com/pgjdbc/benchmarks.

[2018-08-03 12:57] vietj commented on #144
interesting, thanks!

[2018-08-03 12:58] vietj commented on #144
we do have a couple of benchmarks in this project, but that's more to have a rough idea of how it performs, ideally we should have a benchmark with a mock server which would help define latencies on the mock server and compare performance corresponding to the mocked latencies

[2018-08-03 12:58] vietj commented on #144
also a mock server wouldn't consume much CPU and would provide more accurate results

[2018-08-03 12:59] vlsi commented on #144
Note: JMH is GPL licensed, so I'm not sure if a project can use JMH and use Apache license.

I'm not a lawyer, yet that was the reason JMH tests were put to a separate repository in pgjdbc project.

[2018-08-03 13:01] vlsi commented on #144
Mock server is completely different beast, and a mock server could even simplify unit/integartion testing. It would be a great thing to do, yet it would be a non-trivial thing either.

[2018-08-03 14:45] davecramer commented on #144
Somewhat related. I ran the benchmark https://github.com/reactiverse/reactive-pg-client/blob/master/src/benchmark/java/io/reactiverse/pgclient/RawBenchmark.java the JDBC driver performs slightly better in these benchmarks. Is that your expectation ?

[2018-08-04 07:25] vietj commented on #144
@davecramer you are right, synchronous single threaded IO is faster than non blocking IO

if you want to see performance improvement then you can run the same benchmark with these settings

- have a database on a different host with some latency (a few millis)
- use reactive-pg pipelining

if you are using docker, you can use the docker image provided by this project (in /docker) that builds an im

[2018-08-05 07:51] pmlopes commented on #122
@davecramer that is why I was proposing that there's no "magic" on this driver. If a user wants the generated keys, then the user must write the `RETURNING` statement explicitly.

[2018-08-05 08:49] vietj commented on #122
I agree @pmlopes , can you provide an example for the documentation ?

[2018-08-05 11:55] davecramer commented on #122
makes sense, you should avoid going down the same path as JDBC anyway.

[2018-08-06 14:19] yonigibbs opened #146 "Asynchronous PgRowSet"
Hi,

This is just a question, not really an issue.  Apologies if this isn't the right way/forum to ask this...

In the documentation it states "Query methods provides an asynchronous PgRowSet instance that works for SELECT queries".  Could you please clarify what you mean exactly by asynchronous here?  I take it that this doesn't refer to records being supplied "one-by-one" as they are returned fr

[2018-08-06 17:03] vietj commented on #146
yes you are totally right, as you said

- `PgRowSet` load all results in memory, which makes sense because the protocol will send the results on the wire and there is no way to control it
- `PgStream` uses a cursor to load the results by batches and can be mapped to a Reactive Streams publisher, which is what you get when you use an RxJava 2 `Flowable` with the rx-ified API

By asynchronous we mea

[2018-08-06 17:03] #146 closed

[2018-08-07 07:26] yonigibbs commented on #146
Great stuff, that all makes perfect sense. Thanks for the quick answer, Julien.

[2018-08-10 09:46] mkulak commented on #131
UPD:
We have 2 different services running reactive-pg-client (each talks to it's own postgres).
Initially both of them were running version 0.8.0. We ran into this bug 2 times. Both times it hit both services simultaneously.

After that in one service we bumped version to 0.9.0, installed exception handler with logging and added try-catch for this specific exception. In catch block we simply recre

[2018-08-11 18:07] vietj commented on #131
@mkulak let us know about how it goes

[2018-08-18 08:06] vietj opened #147 "Handle notice response"
currently notice responses are ignored.

we should provide the ability to handle them and at least log them, e.g:

[code]

default handler would simply log it

[2018-08-18 12:37] leotu opened #148 "This client support greenplum"
The Greenplum is using PG, is it supported ?
https://greenplum.org/

[2018-08-18 13:07] vietj commented on #148
can you clarify what "using PG" means ?

[2018-08-18 19:13] Sxubas opened #149 "Indexing java documentation"
I find the docs really useful, but I feel really frustated when searching anything specific.

Earlier on I tried CTRL+F and 'autocommit' to learn about managing this in a connection but (as it is implemented differently) could not get any results. Later on, going section by section discovered how it was meant to be done.

Most docs I've read have ways of navigating through them (even Javadoc!), it

[2018-08-19 13:52] ltkn opened #150 "Support for scram-sha-256 password authentication type"
Hi,

Would you consider adding scram-sha-256 authentication type support?
This feature is present in official driver: https://github.com/pgjdbc/pgjdbc/pull/842

Below more information on my test/setup.

Logs I get using latest versions of client:

`@Configuration public class JdbcConfig {

    @Bean
    PgPool pgPool(PgSettings settings) {

        // Pool options
        PgPoolOptions options = n

[2018-08-20 00:51] leotu commented on #148
”Based on PostgreSQL”

[2018-08-20 08:10] vietj commented on #148
it is not clear enough, do you have some examples ?

[2018-08-20 08:11] vietj commented on #150
@ltkn yes it should be added I think, is that something you can contribute yourself ?

[2018-08-20 08:13] vietj commented on #149
@Sxubas I think right now we are using a template provided out of the box by GitHub to format using Jekyll, we should investigate wether it's possible to improve it.

[2018-08-20 10:45] vietj commented on #148
ok, that's clear now.

can you tell me how to reproduce your issue (perhaps with docker or with a way to have an accnount) with green plum to look at error ?

[2018-08-20 10:46] vietj commented on #148
to be honest it seems the error seems to be because the current client uses case sensitive UTF8 parsing.

so far we only dealt with postgres that sends _UTF8_ string and this seems to send _utf8_ string, so it should be easy to fix.

[2018-08-20 10:53] vietj opened #151 "Connection client encoding parsing should be case insensitive"

[2018-08-20 13:45] #151 closed

[2018-08-20 14:43] vietj commented on #148
@leotu I've commited this https://github.com/reactiverse/reactive-pg-client/commit/2a3c37a2a7350d46a6432bfbad50a731ab611e05 and I think it should solve the actual problem you encountered, a snapshot should be deployed by the CI in the Sonatype OSS snapshot repository.

[2018-08-21 06:08] leotu commented on #148
Great! The "0.10.1-SNAPSHOT" version fixed this problem. I can fetch data without any error.

https://oss.sonatype.org/content/repositories/snapshots/io/reactiverse/reactive-pg-client/

[2018-08-21 08:37] vietj commented on #148
awesome, I'll cut a 0.10.1 release soon

[2018-08-21 09:02] #148 closed

[2018-08-21 15:20] yonigibbs opened #152 "PgPool.preparedBatch with no parameters"
Hi,

When calling `PgPool.preparedBatch` with an SQL string with no parameters, I expected to be able to pass in an empty list of Tuples for the `batch` parameter.  However when I did this, no result was ever returned (the callback was never called).  I got round this by instead passing in a list with one entry in it: `Tuple.tuple()`

Is this behaviour correct?  Is the `batch` parameter meant for

[2018-08-21 15:26] vietj commented on #152
@yonigibbs it's not clear what you want to do, can you show some code ?

[2018-08-21 15:29] yonigibbs commented on #152
Sure.  I just want to call something like this (sample code in Kotlin):

`connectionPool.preparedBatch("INSERT INTO some_table (some_field) VALUES('test')", listOf<Tuple>(), ...`

i.e. I have pre-built the the SQL with the parameters already bound into it, so I don't need to pass any into the `batch` argument (assuming I've understood correctly what that argument is for).

[2018-08-21 15:39] yonigibbs commented on #152
Actually, I'm just looking at your unit tests and I think I misunderstood what preparedBatch is for: it's for passing in one SQL statement (with placeholders for parameters), and then passing in multiple Tuples (each of which contains the arguments for one instance of that query's execution, i.e. each Tuple represents a single batch).

In my case, I'm using JOOQ to generate the SQL, so I'm getting

[2018-08-21 15:46] vietj commented on #152
you don't need to care about such optimisations because this client supports pipelining so you make several queries, they will be sent to the database without waiting for the results to come back, i.e doing `preparedQuery` should works fine.

if you are using jooq, then you should replace the generated question marks by `$1` yourself before doing the query (I think it's quite easy to achieve). It'

[2018-08-21 15:54] yonigibbs commented on #152
Ah, great, thanks @vietj.  So if I want to run two separate queries, there's no point using a batch, because I can just issue two separate query requests using `preparedQuery'?  Presumably that same holds true for the `query` method itself, i.e. when I don't prepare the query?

And, if I do want to use a batch (e.g. if I want to run the same query X times, but with different bind values), then I s

[2018-08-21 16:11] vietj commented on #152
@yonigibbs this client will send up to 256 (by default) commands to the database whatever the commands are.

it seems that if you call JOOQ's `getSQL(true)` it will generate plain SQL that you can use with simple queries.

[2018-08-21 16:15] yonigibbs commented on #152
Thanks.  That overload, `getSQL(true)`, is actually deprecated now: you pass in an enum value instead nowadays, of type `ParamType`.  There's a bunch of options.  I've just done a quick test and the closest I can find is `ParamType.NAMED`, which generates parameters like `:1`, `:2`, etc.  Hopefully there will be a way to get it to use `$` instead of `:`, but if not at least we can just parse the s

[2018-08-21 16:15] vietj commented on #152
it seems also that this project (https://github.com/jklingsporn/vertx-jooq/tree/master/vertx-jooq-classic-async/src/main/java/io/github/jklingsporn/vertx/jooq/classic/async) is doing something similar because it uses a similar client that is different than JDBC

I think @jklingsporn can elaborate on what is best to support JOOQ with the reactive pg client.

[2018-08-21 16:16] vietj commented on #152
@yonigibbs whatever solution you find, please consider doing a PR to the documentation of this project so other can use this important information

[2018-08-21 16:16] yonigibbs commented on #152
Absolutely, will do that once we have a solution.

[2018-08-22 06:56] jklingsporn commented on #152
Hi there. You're right, I'm about to release vertx-jooq with reactive pg client support. There is a beta already on [maven central](https://search.maven.org/artifact/io.github.jklingsporn/vertx-jooq/4.0.0-BETA2/pom).

[2018-08-22 07:03] vietj commented on #152
oh nice, I think we should link from this project once you have documentation

[2018-08-22 07:06] jklingsporn commented on #152
Yes. Problem is currently that it only supports 0.7 from pg driver (0.8
onwards have the changed JSON-API). Next release will be supporting the
latest release though.

Am Mi., 22. Aug. 2018 um 09:03 Uhr schrieb Julien Viet <
notifications@github.com>:

--
Jens Klingsporn
Beselerstraße 33
22607 Hamburg
Tel: 0151/70102082

[2018-08-22 07:37] vietj commented on #152
0.10.1 of the driver has been released

[2018-08-22 07:40] yonigibbs commented on #152
Thanks @jklingsporn.  As a matter of interest, how do you handle the question above in your library, i.e. the different syntaxes for parameters in batches between JOOQ and reactive-pg-client, i.e. `?` vs `$1` ?

[2018-08-22 07:59] jklingsporn commented on #152
Haven't dealt with batches. Converting a jOOQ-Query to reactive driver happens in `AbstractReactiveQueryExecutor`. `getBindValues` extracts the bind-values from a jOOQ-Query; `toPerparedQuery` converts a jOOQ-Query to a String that can be understood by the pg driver.

[2018-08-22 08:00] vietj commented on #152
can you point out your code to help @yonigibbs until your project is released with latest version ?

[2018-08-22 08:08] yonigibbs commented on #152
Thanks @vietj.  Managed to download the source of the beta from [here](https://github.com/jklingsporn/vertx-jooq/releases).  Here's the pertinent code:

[code]

So looks like @jklingsporn is doing what I suggested earlier: using `ParamType.NAMED` and then manually parsing the string (search/replace of `:` to `$`).

Thanks for the help, everyone.  @jklingsporn, now that you're working with reactive

[2018-08-22 14:59] yonigibbs commented on #152
FYI I've logged a jOOQ issue requesting this functionality be added (i.e. the ability to use `$n` syntax): [7797](https://github.com/jOOQ/jOOQ/issues/7797)

[2018-08-22 16:03] yonigibbs opened #153 "COPY command"
Hi @vietj.  Is it possible to run a [COPY](https://www.postgresql.org/docs/10/static/sql-copy.html) command through reactive-pg-client?  Specifically, to load a CSV of data in what I believe is the most efficient way to load a large number of records into the system.  I believe the CSV has to either be on the DB server itself (which we'd like to avoid if possible), so can we in some way use the ST

[2018-08-22 16:08] vietj commented on #153
@yonigibbs no it has not been implemented as far as I know, this is a part of the postgresl protocol I'm not familiar (yet) with - but it is planned to be implemented

[2018-08-22 16:10] vietj commented on #153
copy seems indeed to be a stream oriented operation (in both ways), I believe it can be implemented fairly easily.

[2018-08-22 16:12] yonigibbs commented on #153
Great, thanks. We'll keep an eye out for it being implemented in future.

[2018-08-23 08:39] yonigibbs opened #154 "Start transaction from Kotlin coroutine"
Hi,

I'm wrapping the callback-based approach which reactive-pg-client uses, with Kotlin coroutines, as explained in the coroutine documentation [here](https://github.com/Kotlin/kotlin-coroutines/blob/master/kotlin-coroutines-informal.md#wrapping-callbacks) (fourth code block).  This is all working great.  However, when I try to begin a transaction I get an error.

Here's the callback-style code,

[2018-08-24 12:43] vietj commented on #154
can you provide a reproducer so I can investigate ?

[2018-08-24 13:04] yonigibbs commented on #154
Sure. The sample code below is enough to get it to fail on my system. I just run it as a standard Java application from within IntelliJ.  Let me know if there's anything else you need.

[code]

[2018-08-24 13:59] vietj commented on #154
can you provide a small github project i t's easier thanks

[2018-08-24 14:06] yonigibbs commented on #154
No problem. Do you want anything related to a Postgres DB in there, e.g. a Docker file and SQL to create a sample DB, etc?  Or are you happy to just take the project and point it at some Postgres DB you've got up and running already?

[2018-08-24 14:39] vietj commented on #154
a docker image would be great, look at the Docker folder in this project it has an example of docker image setup

[2018-08-24 14:54] yonigibbs commented on #154
No problem at all.  Repo available here: https://github.com/yonigibbs/rpgc-coroutine-tx

[2018-08-25 00:53] davidzzzzz opened #155 "Enum Support appears broken"
We're investigating using this client as our postgres client in our existing vert.x codebase. While integrating, we've hit an issue with the enum support in this library.

Currently, line 101 of `DataType` incorrectly (I believe) assumes the enum oid to be `16385` where enum oids are actually auto-incremented in postgres.

If another enum is created before the `mood` enum in `create-postgres.sql`,

[2018-08-25 12:13] happyyangyuan opened #156 "Can not rollback transaction"
**reactive-pg-client version: 0.10.1**
I get the exception below when I try to rollback a begun transaction with 1 statement executed.
`java.lang.RuntimeException: rollback exception
        at io.reactiverse.pgclient.impl.Transaction.lambda$wrap$1(Transaction.java:113)
        at io.reactiverse.pgclient.impl.SocketConnection.handleMessage(SocketConnection.java:222)
        at io.reactiverse.pgcli

[2018-08-25 13:51] anewton1998 opened #157 "Rx-ified Tuple and Row missing data types"
The rxjava and reactivex `Tuple` and `Row` classes do not have the Date, DateTime, the various array types, BigDecimal, Numeric, etc...

[2018-08-25 19:55] vietj commented on #156
it means that the statement you executed failed and the transaction rolled back.

can you check the statement you executed result ?

[2018-08-25 19:57] vietj commented on #157
yes, that's unfortunate for now.

however it will be supported when this driver will be released using Vert.x 3.6 that will provide access to these types.

as work around you can use getDelegate() that will return the wrapped Tuple and Row.

[2018-08-26 01:00] davidzzzzz commented on #155
Great, happy to help out. Will get one together

[2018-08-26 09:28] anewton1998 opened #158 "IllegalStateException when using 2 databases"
When transferring data from one database to another, I get an IllegalStateException

[code]

A reproducer project is here:

https://github.com/anewton1998/vertx-pg-reproducer

Instructions for reproducing the issue are in the README.md

[2018-08-26 17:35] happyyangyuan commented on #156
Well, I debug my code again and find that before the first sql execution result notification submit the second sql will cause the reactive-pg-client call rollback method. At this time a rollback will certainly fail.
Thanks.

[2018-08-26 17:35] #156 closed

[2018-08-27 01:18] happyyangyuan opened #159 "support for custom worker thread"
We need all of the postgresql client's asynchronous requests all running in our custom worker thread pool instead of in the vert.x default worker thread pool.

Would you please add support for this?

[2018-08-27 01:55] AlxGDev commented on #131
I've run into the same issue today on 0.10.1
From what I can tell the following caused it:
`getConnection().compose(connection -> {
			LOGGER.info("Got Connection");
			connection.closeHandler(c->{
				LOGGER.info("closing");
			});
			connection.exceptionHandler(h->{
		    	  LOGGER.error("Connection Exception: "+h);
		        });
			connection.preparedQuery(sql, tuple, r -> {
					if (r.succeede

[2018-08-27 16:10] atvictor opened #160 "Array parameters encoding fails"
Version: 0.10.1

This query fails:
`pool.preparedQuery("select $1", Tuple.of(new Integer[] { 1, 2, 3, 4 }), System.out::println);`
with this exception:
`java.lang.ClassCastException: java.base/[Ljava.lang.Integer; cannot be cast to java.base/java.lang.String`

Reading the message formats (https://www.postgresql.org/docs/10/static/protocol-message-formats.html), I see we can send the parameters dat

[2018-08-27 18:38] vietj commented on #160
can you try `Tuple.tuple((Object)new Integer[]{...})` ?

[2018-08-27 18:50] atvictor commented on #160
I've tried with all the variants below:

`pool.preparedQuery("select $1", Tuple.tuple().addValue(new Integer[] { 1, 2, 3, 4 }), System.out::println);`

`pool.preparedQuery("select $1", Tuple.tuple().addIntegerArray(new Integer[] { 1, 2, 3, 4 }), System.out::println);`

None of them works.

Always with the same error:
`java.lang.ClassCastException: java.base/[Ljava.lang.Integer; cannot be cast to j

[2018-08-28 16:08] vietj commented on #131
@AlxGDev can you provide a reproducer project ?

[2018-08-28 16:17] vietj commented on #158
thanks for the accurate reproducer

[2018-08-29 09:51] vietj opened #162 "PreparedQuery should schedule commands from the event loop thread"
Currently the `PgPreparedQueryImpl` schedule commands without doing an event loop context check. This can lead to `IllegalStateException` check when a class schedules a command from a non vertx thread (like `PgStream#resume`)

[2018-08-29 09:55] vietj opened #163 "PgStream implementation thread safety rework"
Currently the `PgStream` implementation assumes thread stream will be used exclusively from the Vert.x thread that created it. We cannot assume this and the internal state handling must be updated such as it can run correctly (thread safe / race free) from any thread.

[2018-08-29 10:02] vietj opened #164 "Calling Transaction rollback() leads to an NPE"
Currently the `Transaction#rollback()` operation triggers an NPE because the `rollback(Handler<AsyncResult<Void>> handler)` assumes the handler is not null

[2018-08-29 10:59] #158 closed

[2018-08-29 10:59] #162 closed

[2018-08-29 10:59] #163 closed

[2018-08-29 10:59] #164 closed

[2018-08-29 12:56] vietj commented on #158
@anewton1998 can you have a look, the bug was fixed and a 0.10.2-SNAPSHOT should be available in Sonatype OSS snapshot repo

[2018-08-29 17:58] anewton1998 commented on #158
@vietj confirmed, the issue is fixed. My rx-ified verticle runs to completion without issue. The verticle using the standard API has some sort of logic bug around closing the connection, but I believe that is a bug on my end somewhere.

Thanks a lot for taking care of this.

[2018-08-29 22:37] AlxGDev commented on #131
@vietj I created a reproducer project here: https://github.com/AlxGDev/PgClientIssue131Reproducer
Please me know if you need anything changed or detect an obvious error on my part, thank you.

[2018-08-30 08:10] AlxGDev commented on #131
@vietj Thank you, I added some additional info to show that even correct queries fail once the "Connection not open CLOSED" Exception occurs.

[2018-08-30 08:32] sumitsrv opened #165 "Java client - Requests taking much longer than command line"
Using Java: 8, Vert.x: 3.5.3, and unix domain socket to connect
Machine config: 16 core, 64GB RAM, CentOS-7
Client/service config: Connection pool size: 70, QPS: 25k/s

Executing query for an unknown type (IP4R https://github.com/RhodiumToad/ip4r) The data is indexed and takes <0.3ms for any query when executing from terminal. Modified the code for Unknown to ignore binary encoding and commented o

[2018-08-30 10:01] vietj commented on #131
@AlxGDev can you elaborate on how  to use this ?

[2018-08-30 11:51] vietj opened #166 "Missing prepared statement tuple validation"
Currently the prepared statement execution validates tuple partially, i.e there are some code paths where the tuple are not validated causing internal errors in the client, instead of being reported as user errors.

[2018-08-30 11:54] vietj opened #167 "JSONB array treated as non array"
The data type codec for JSONB arrays expects the `Json` type and not the `Json[]` type.

[2018-08-30 11:57] #166 closed

[2018-08-30 11:57] #167 closed

[2018-08-30 12:33] vietj commented on #131
@AlxGDev thanks I've been able to reproduce and fix multiple bugs

[2018-08-30 12:34] AlxGDev commented on #131
@vietj Awesome, glad to hear it

[2018-08-30 12:36] #131 closed

[2018-08-30 12:44] vietj commented on #131
@AlxGDev a jar should be available in Sonatype OSS snapshot repository, can you have a check ?

[2018-08-30 12:48] vietj commented on #160
@atvictor can you try with the latest snapshot ? tuple validation was missing in some case (like the `preparedQuery` method

[2018-08-30 12:48] #160 closed

[2018-08-30 12:48] vietj commented on #160
fixed by https://github.com/reactiverse/reactive-pg-client/issues/166

[2018-08-30 12:49] vietj commented on #154
thanks I will investigate

[2018-08-30 14:17] vietj commented on #154
can you provide a project that creates a fatjar to run ? it's easier, my current IDE can't run your project

[2018-08-30 15:15] yonigibbs commented on #154
Yup, no problem at all.  Haven't worked with fat jars before so not 100% sure I've done it right, but grab the latest from that repo of mine and hopefully it should be OK.  Any problems let me know and I'll spend more time looking at it in more detail.

[2018-08-30 15:16] vietj commented on #154
sure, I'm using intellij CE 2018.1 and it could not run the project as is

[2018-08-31 07:16] atvictor commented on #160
I'm still having some trouble while dealing with in-list and `Tuple.of(new Integer[] {1, 2, 3, 4})` with:
- `select 1 where 1 in ($1)` throws `Values [[Ljava.lang.Integer;@2234ef05] cannot be coerced to [Integer]`
- `select 1 where 1 in ($1::int[])` throws `operator does not exist: integer = integer[]`

ATM, to circumvent this problem, I generate dynamic SQL with as many parameters as in-list memb

[2018-08-31 07:26] vietj commented on #160
can you write a reproducing test for the first issue ?

[2018-08-31 08:03] atvictor commented on #160
There it is: https://github.com/atvictor/reactive-pg-client/commit/4b9e2ae204f2c26e77eaaaab1215c18cf3353bb8

The first one works.
The second one fails.
The third one fails but was working in 0.10.1.

[2018-08-31 09:36] AlxGDev commented on #131
@vietj Yes, it works now as expected with version 0.10.2, thanks a lot!

[2018-08-31 09:44] vietj commented on #131
@AlxGDev your reproducer helped a lot resolving issues for 0.10.2

[2018-08-31 16:32] hfgbarrigas opened #168 "Prepared Statement with Invalid value to Type doesn't bubble error"
If any value reaches `public static void encodeBinary(DataType id, Object value, ByteBuf buff)` and doesn't match the expected type the error is not propagated and Handler e.g:

`ar -> {
            if (ar.succeeded()) {
                sink.success(ar.result().value());
            } else {
                sink.error(ar.cause());
            }
        }`

is never called. This leads to hanging re

[2018-08-31 16:37] vietj commented on #168
have you tried the 0.10.2 release ? there was missing tuple validation in some cases

[2018-08-31 16:48] hfgbarrigas commented on #168
sorry, 0.10.2 fixes the issue. Thank you!

[2018-08-31 16:54] #168 closed

[2018-09-03 17:56] hfgbarrigas opened #169 "Array issue"
Though the [issue](https://github.com/reactiverse/reactive-pg-client/issues/160) is closed, still getting the error.

Query:
`SELECT * FROM table WHERE attribute in ($1)`

Tuple variants:
1.
`Tuple tuple = Tuple.tuple();
  entities.forEach(e -> tuple.addString(e.getProviderId()));`
`error: io.vertx.core.impl.NoStackTraceThrowable: Values [5b8d0f4478482d6f05255fad5f22f05a, 5b8553e1a776c5ac0356c0bc6

[2018-09-03 18:13] vietj commented on #169
can you provide a reproducer ?

[2018-09-03 19:07] hfgbarrigas commented on #169
Sure. Though, running the following should reproduce the error:

[code]

[2018-09-03 20:00] hfgbarrigas commented on #169
Here's a simple test for version 0.10.2:

[code]

[2018-09-05 07:53] vietj commented on #169
@hfgbarrigas can you give the schema you used for this reproducer ?

[2018-09-05 09:17] hfgbarrigas commented on #169
@vietj here's the original table I was using. The  attribute is provider_id
[code]

[2018-09-05 09:41] vietj commented on #169
@atvictor your code seems to not depend on table, so it looks great for testing

[2018-09-05 09:41] vietj commented on #169
@hfgbarrigas a complete reproducer as a project would be great

[2018-09-05 10:09] vietj commented on #169
@atvictor so here is what I can see when I run your failing case

`"select 1 where 1 in ($1)"`

defines a prepared query parameter `$1` as type `INT4` and not as an array type

so it seems to me that there is no bug in the client

that being said I would be curious to know how this particular query runs on other clients and how they are able to use the array of integer in this case or if they fail

[2018-09-05 10:40] sumitsrv commented on #165
The configurations were to be tweaked and it worked fine.

[2018-09-05 10:40] #165 closed

[2018-09-05 13:56] atvictor commented on #169
Yes I'm a bit confused about that.

By the way, `select 1 where 1 in ($1::int[])` also fails, but `select 1 where 1 = any ($1)` works.

The PostgreSQL protocol seems to allow the client to send parameters types (see the `Parse (F)` message here https://www.postgresql.org/docs/10/static/protocol-message-formats.html).

And `reactive-pg-client` seems to have handled that in the past (see https://git

[2018-09-05 14:07] atvictor commented on #169
Ok, I tried the JDBC PostgreSQL driver and it fails too.

[code]

With the exception `org.postgresql.util.PSQLException: ERROR: operator does not exist: integer = integer[]`.

But this query works `SELECT 1 WHERE 1 = ANY (?)`.

So maybe I miss something here...

[2018-09-05 16:32] vietj commented on #169
yes that was my point @atvictor , the protocol will tell the client what it expects and the developer needs to provide an argument that is compatible with what postgres will accept

[2018-09-05 16:32] vietj commented on #169
can we close this issue @atvictor @hfgbarrigas ?

[2018-09-05 16:35] atvictor commented on #169
For me it's ok, many thanks !

But there may be a regressions (not linked to this issue) from 0.10.1 to 0.10.2 (the third test fails in 0.10.2 but works 0.10.1: https://github.com/atvictor/reactive-pg-client/commit/4b9e2ae204f2c26e77eaaaab1215c18cf3353bb8)

[2018-09-05 16:38] hfgbarrigas commented on #169
makes sense, feel free to close it. thanks

[2018-09-05 16:43] vietj commented on #169
can you provide a precise standalone test for this regression as a PR ?

[2018-09-05 17:07] atvictor commented on #169
There it is: https://github.com/atvictor/reactive-pg-client/blob/master/src/test/java/io/reactiverse/pgclient/ParametersTest.java

It fails with `Values [1, null] cannot be coerced to [Integer, Integer]` but was working before.

[2018-09-05 17:39] vietj commented on #169
thanks, I'll look into it asap

[2018-09-05 18:24] vietj opened #170 "Null values should always be valid in prepared statement parameters"
Currently `null` values are considered as invalid in prepared statement parameters.

[2018-09-05 18:26] #170 closed

[2018-09-05 18:27] vietj commented on #169
@atvictor this commit should fix the issue https://github.com/reactiverse/reactive-pg-client/issues/170

[2018-09-05 18:27] #169 closed

[2018-09-05 18:42] atvictor commented on #169
Yep it works, thank you very much!

[2018-09-11 23:03] davidzzzzz commented on #155
https://github.com/reactiverse/reactive-pg-client/pull/161

[2018-09-11 23:03] #155 closed

[2018-09-12 04:07] sumitsrv opened #173 "Sysout for unknown columns would impact performance"
https://github.com/reactiverse/reactive-pg-client/blob/31e7d79db8a2bbaeceb285405e3d1494cc81ca41/src/main/java/io/reactiverse/pgclient/impl/codec/DataType.java#L116

With high volume requests Sysout for the unknown columns would generate unnecessary huge volumes of data log for Stdout.

[2018-09-12 06:34] vietj commented on #173
I agree it should be fixed, however in practice it should not happen often. Have you experienced performance issue with it ?

[2018-09-12 06:40] sumitsrv commented on #173
Yes, as the requirement I am handling is a single query on a column of Unknown type. QPS is 40k, 24x7. Do not have the benchmarks yet, will come up with and share. Additionally too much of unnecessary data is being logged as mentioned.

[2018-09-12 06:49] vietj commented on #173
@sumitsrv ok, you can provide a patch to use Vertx logger instead and we will make a release fixing this issue for you

[2018-09-12 06:57] sumitsrv commented on #173
Sure, will do.

[2018-09-12 10:57] hfgbarrigas opened #174 "QueueMetrics support"
Although I can set _MetricsName_ through PoolOptions, I can't find anything documented about metrics. Is there a way to retrieve metrics and, what metrics are available?

[2018-09-12 11:50] vietj commented on #174
@hfgbarrigas I think for now the only metrics we have are TCP metrics of Vert.x Metrics, we could support `PoolMetrics` which give insight about pool queuing and usage

[2018-09-12 11:51] vietj commented on #174
I renamed the issue so it mentions explicitly `QueueMetrics`.

[2018-09-12 11:52] vietj commented on #174
@hfgbarrigas perhaps that is something you can contribute (it is not complicated to implement) ?

[2018-09-12 11:52] hfgbarrigas commented on #174
Having those would be great, I'll see what I can do. Regarding tcp metrics, any idea how to get them?

[2018-09-12 11:54] vietj commented on #174
you need to use vertx-dropwizard-metrics or vertx-micrometer-metrics project, the connections should appear among the TCP connection metrics

[2018-09-12 11:55] vietj commented on #174
e.g https://vertx.io/docs/vertx-dropwizard-metrics/java/#_net_client_metrics

[2018-09-12 11:55] hfgbarrigas commented on #174
thanks, I'll come back when I have something for those QueueMetrics

[2018-09-13 03:13] AlxGDev opened #175 "RowResultDecoder does not correctly decode empty text arrays"
I have a table where the column types are something like bigint[] | varchar(255). When trying to retrieve the entries in those columns in that order, I noticed that the values of the varchar(255) column would be empty (empty String) in the Row object, even though they aren't empty in the database. If I accessed the columns the other way around (first the text, then array), I would get the values a

[2018-09-13 05:51] vietj commented on #175
thanks @AlxGDev

[2018-09-15 13:18] #175 closed

[2018-09-17 04:59] sumitsrv commented on #173
I see a few of them in DataTypeCodec as well. Should I update those as well?

[2018-09-17 07:18] counter567 opened #176 "Negative length while decoding binary Text"
I found a bug where in the function decodeRow(int len, ByteBuf in) on line 73 the length that is read is -1452458886. As I am only a Software Engineering student please tell me what information you also need to resolve the bug.
Here are some values of the debugging windows that might be interesting:
len = 13
in = "PooledUnsafeDirectByteBuf(rdix: 5163, wdix:5263, cap: 16384)"
row.size = 10
c = 10
c

[2018-09-17 07:26] sumitsrv commented on #173
Done

[2018-09-17 08:29] vietj commented on #176
@counter567 can you provide a bug that reproduces the issue ?

[2018-09-17 08:49] AlxGDev commented on #175
@vietj Yes, it is fixed. Thank you!

[2018-09-17 09:04] vietj commented on #175
thank you for your reproducer, it helped a lot to find this issue.

[2018-09-17 09:58] #173 closed

[2018-09-17 09:58] vietj commented on #173
thanks for the contribution

[2018-09-18 07:48] counter567 commented on #176
Well I'm now at a point where the decoding of the text doesnt seem to be the exact problem, it looks more like somethings wrong with the decoding in general, cause while debugging I found out that the read length attribute of an int4 array is 1280530769 or 1668827958 or 1766348151 and then suddenly 16 and after that it is -1452458886. The length of the arrays are around 1-3 integers.
Unfortunately

[2018-09-18 08:23] abcfy2 opened #178 "Any way to execute SYNC query ?"
Sometimes I need to get some configs from PostgreSQL. Than means I must wait for query result then go to next steps.

Is there any way to execute SYNC query?

[2018-09-18 09:37] counter567 commented on #176
@vietj Now I have a sql script and code that reproduces the issue.
[setup.txt](https://github.com/reactiverse/reactive-pg-client/files/2392059/setup.txt)

`import io.reactiverse.pgclient.*;
import io.vertx.core.AbstractVerticle;
import io.vertx.core.Vertx;

import java.util.ArrayList;
import java.util.List;

public class Main extends AbstractVerticle {

    public static void main(String[] args){

[2018-09-18 10:00] vietj commented on #178
what do you mean by SYNC query ?

[2018-09-18 10:01] vietj commented on #178
ah you mean a synchronous API to perform a query

[2018-09-18 10:01] vietj commented on #176
thanks I will investigate asap

[2018-09-18 10:36] abcfy2 commented on #178
Yes. I need to wait the query result. So I need the synchronous API.

[2018-09-18 11:07] vietj commented on #178
in this case you could use a CompletableFuture and complete it with the asynchronous result, of course this should not run in a vertx thread

[2018-09-18 11:35] abcfy2 commented on #178
Thanks.

[2018-09-18 11:35] #178 closed

[2018-09-20 12:07] vietj commented on #176
@counter567

with 0.10.3 I get:

[code]

With the latest snapshot I get a correct result, I suspect that you are hitting an issue that was solved when fixing https://github.com/reactiverse/reactive-pg-client/issues/175 .

So can you give a test with the latest snapshot deployed in Sonatype OSS repository ?

it contain fixes for query text decoding and thus

[2018-09-20 12:19] counter567 commented on #176
Yeah it is working with the 0.10.4-20180920.115800-9 thank you very much.

[2018-09-20 12:19] #176 closed

[2018-09-20 20:47] marcust opened #179 "Type handling not lenient enough"
So I was trying to integrate jOOQ with reactive-pg-client, because I'm playing around with possible project setups.

A problem that I encountered is that jOOQ strongly believes that the `OFFSET` and `LIMIT` parameters are `Integer`, whereas this client sees an `INT8` and expects a `Long`.

I did some magic now (https://github.com/marcust/jzenith/blob/master/jzenith-postgresql/src/main/java/org/jze

[2018-09-20 20:55] marcust opened #180 "Pool does not handle connection failure correctly"
While writing health checks I realized that the pool does not handle connection failure correctly.

To try that out you can check out https://github.com/marcust/jzenith and do the following steps
[code]
that should give you a 200 and a UP message. When you now stop the container with `docker stop <container id>` and do more curls you will get first a message that says `Connection refused: localhos

[2018-09-20 20:58] marcust opened #181 "Rx Stream API documentation unclear"
So the documentation has the following example:
[code]

When I tried to do that I realized that this actually leaks connections, because there is no way to close that connection anymore. So I could call that pool size times and then it would freeze. How is that supposed to work?

[2018-09-21 06:19] vietj commented on #181
this is a rather indeed an RxJava issue, one way to achieve it is this:

[code]

I will update the example.

[2018-09-21 06:31] vietj commented on #180
I will have a look

[2018-09-21 06:41] vietj commented on #180
when I try this, I get connection refused from cURL.

[2018-09-21 06:45] vietj commented on #180
I'm assuming I'm missing a `mvn package` + run the fat jar.

[2018-09-21 07:10] vietj commented on #180
I found the issue, thanks for reporting it's a legit one :-)

[2018-09-21 07:10] vietj commented on #180
I will do quickly a bug fix release

[2018-09-21 07:10] vietj commented on #180
connection pools are hell to get right :-)

[2018-09-21 08:11] vietj opened #182 "Connection pool queue boundary"
Currently the connection pool wait size is unbounded, let's add an optional boundary.

[2018-09-21 08:55] #180 closed

[2018-09-21 08:55] #182 closed

[2018-09-21 08:58] #181 closed

[2018-09-22 08:45] vietj opened #184 "Numeric type prepared statement parameters needs to be coerced"
Prepared statement numeric type params must be the exact java type expected by the internal Postgres data type mapping, i.e when inserting into a column of type `bigint`, one must use a `java.lang.Long` value.

For Postgres numeric type we need to use `java.lang.Number` as base numeric type, allowing any subclass of `Number` to be used. The encoder needs also to use `Number` and perform the conver

[2018-09-22 10:45] #179 closed

[2018-09-22 10:45] #184 closed

[2018-09-22 10:45] vietj commented on #179
@marcust can you check with the latest snapshot ?

[2018-09-23 13:53] marcust commented on #179
@vietj works with my test suite, so seems to be fine.

[2018-09-23 15:00] vietj commented on #179
do you have integration with jooq ? perhaps you could contribute this integration in this project ?

[2018-09-23 19:57] marcust commented on #179
No, not really an integration. I don't think that jOOQ does real async yet, from what I've seen they postpone it from version to version. I have some glue code between jOOQ, the JDBC Postgres driver and the reactive client that translates the queries to pure Postgres SQL and then just executes them (https://github.com/marcust/jzenith/blob/master/jzenith-postgresql/src/main/java/org/jzenith/postgre

[2018-09-26 17:17] jringuette opened #185 "io.reactiverse.pgclient.PgException: prepared statement "0000000" does not exist"
If you try to activate prepared statement caching with more than one connection in the pool, you get the following exception: `io.reactiverse.pgclient.PgException: prepared statement "0000000" does not exist`

Here is a small unit test to reproduce the problem:

[code]

[2018-09-26 19:22] smahad786 opened #186 "Usage of "in" rxPrepare and how should I send the Tuple in createStream method."
I am able to write the query with "=" and LIKE. However, how do I do this with "in" parameter - for the example below. What should I supply as the Tuple in the createStream method?

[code]

[2018-09-26 22:54] smahad786 opened #187 "More than 6 parameters in Tuple.of()"
Old Link: https://github.com/reactiverse/reactive-pg-client/issues/59#issuecomment-424836525

Can you elaborate? I tried with the one below and it did not work.

String INSERT_SQL =
        "insert into dummy_tbl (id, a, b,c,d,e,f,g,h) VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9)";

    final com.julienviet.reactivex.pgclient.Tuple tuple1 =
        new com.julienviet.reactivex.pgclient.Tuple(

[2018-09-28 07:35] jklingsporn opened #188 "Prepared query with limit causes NoStackTraceThrowable"
Hi,
I have a very simple test case (using 0.10.5):
[code]
This results however in an exception:

Changing `Tuple.of(1)` into `Tuple.of(1L)` is a workaround to this fix, however I think `java.lang.Integer` should be allowed as well here.

[2018-09-28 08:39] #188 closed

[2018-09-28 08:40] jklingsporn commented on #188
Duplicate of #184 and fixed in 0.10.6.

[2018-09-29 08:33] vietj commented on #187
does this one work for you ?

[2018-09-29 08:34] vietj commented on #186
I think what you did is the correct way, what happened ?

[2018-09-29 08:35] vietj commented on #185
thanks we will investigate

[2018-10-01 05:58] smahad786 commented on #186
When I use IN parameter, I did not know how to supply the values in the createStream. I wanted to do something like select * from tbl where id in ['key1', 'key2', 'key3']; I had to construct the query and did it a bit differently to make it work for this week [see below]. I did not want to construct the query with "OR".
return client
            .rxQuery(createSQLQuery(keys))
            .flatMapP

[2018-10-01 06:02] smahad786 commented on #187
This did not work for me. May be I am doing something wrong. I will run the results and send you an output soon. Keep this one in open status.

[2018-10-01 06:16] smahad786 opened #189 "Mixing rxQuery with rxPreparedQuery does not work within a txn"
When I combine tx.PreparedQuery(sql,  Tuple) with rxQuery to run within a transaction, it does not work. However, when I remove the rxPrepared and construct the query, I am able to run both the SQL within the tx.

This one works but I had to construct the SQL:

[code]

Also, if I have to run a variable "N" inserts and updates, I am not sure how I can do it. I had to bundle several of them in one q

[2018-10-08 07:54] vietj commented on #185
on it , found the issue, will be fixed soon, sorry for delay

[2018-10-08 13:51] vietj opened #190 "PgPool#preparedQuery operation should always use the same connection"
Currently, this code:

[code]

fails because `pool.preparedQuery(...)` does not use the same connection for creating the prepared statement and executing it resulting in:

[code]

[2018-10-08 13:52] vietj commented on #185
see https://github.com/reactiverse/reactive-pg-client/issues/190

[2018-10-08 13:56] #185 closed

[2018-10-08 13:57] #190 closed

[2018-10-08 13:57] vietj commented on #189
can you provide a reproducer project @smahad786 ?

[2018-10-08 13:57] vietj commented on #187
any news ?

[2018-10-08 14:13] vietj commented on #186
@smahad786 you should not use the `IN` operator, please have a look at https://stackoverflow.com/questions/178479/preparedstatement-in-clause-alternatives

[2018-10-08 14:13] vietj commented on #186
it's not clear if your issue is because of `IN` operator or something else, could you clarify ?

[2018-10-08 14:14] vietj commented on #186
closing this issue in the meantime

[2018-10-08 14:14] #186 closed

[2018-10-08 16:09] smahad786 commented on #187
I will do it this week

[2018-10-08 16:15] smahad786 commented on #189
Sure I will try to create a sample and post it in smahad786. Give me a few more days time. Also, when I ran the test for 1000 inserts with a pool size of 10, after 10 inserts, the program stooped working.  I had to add a return statement before tx.rxCommit(). I did not see this in any of the example samples. Just wanted to point out.

Completable completable =
        client
            .rxBegin()

[2018-10-09 12:35] jringuette commented on #185
Thank you

[2018-10-10 09:32] jklingsporn opened #191 "Table referencing Enum DataType fails to insert"
Version: 0.10.6

I've created a table with several field, including a column referencing an enum DataType. When inserting a value into this table using the `PgClient.preparedQuery(String sql, Tuple arguments, Handler<AsyncResult<PgRowSet>> handler)` method an exception is raised:
[code]
During debugging I figured out that the enum could not be mapped to a valid DataType and thus created a warning

[2018-10-10 09:50] jklingsporn commented on #191
Another observation: inserting `null` for columns seems to fail as well.

[2018-10-10 10:12] vietj commented on #191
can you provide a reproducer ?

[2018-10-11 09:01] jklingsporn commented on #191
https://github.com/jklingsporn/reactive-pg-client/blob/master/src/test/java/io/reactiverse/pgclient/PreparedStatementEnumDataTypeTest.java

[2018-10-11 09:03] vietj commented on #191
thanks

[2018-10-23 11:39] karltk opened #192 "Source code for rxjava and reactivex API variants missing from -sources.jar"
AFAICT, the source code for the rxjava and reactivex variants of the API is no longer included in the sources jar.

[code]

I find that having the source code is very handy for development, as it brings additional understanding above and beyond what the javadocs provide.

Any chance the code can be put back into future releases? It seems to have been present in the past, c.f. #48 .

[2018-10-23 12:22] vietj commented on #192
it seems unfortunate indeed and an issue, it will be resolved in the next version.

[2018-10-26 12:15] anewton1998 opened #194 "pg authentication failure causes hang with 0.10.6"
I noticed an issue when upgrading from 0.10.5 to 0.10.6. Using Vertx, when connecting to a database with bad credentials, it just hangs in 0.10.6. In 0.10.5 I get an error as expected.

If you need a project to reproduce: https://github.com/SwanPipe/swanpipe_be.git (at commit 67ea62308d13fe01448fc9fdfed34193609fabec):

Put correct credentials in `src/main/resources/default-config.json` and then

[

[2018-10-26 15:12] vietj commented on #194
thanks for reporting this

[2018-10-29 12:20] yonigibbs opened #195 "Tiny typo in definition of Json class in "Supported Data Types" section"
Just a very tiny issue: in the [Supported Data Types](https://github.com/reactiverse/reactive-pg-client#supported-data-types) section on the main page, at the bottom of the table, the JSON and JSONB data types are specified as `i.r.p.Json`, but I think maybe it's meant to be `i.r.p.d.Json` (i.e. the `data` package is missing).

[2018-10-30 00:38] davidzzzzz commented on #153
@vietj did anyone volunteer for this? Otherwise, I think we'd like to take it on

[2018-10-30 07:10] vietj commented on #153
@davidzzzzz it's all yours if you take it

[2018-10-30 19:54] davidzzzzz commented on #153
Great, on it

[2018-10-31 13:18] mkulak commented on #154
I can confirm that current transactions doesn't get well with coroutines.
I have workaround for it. which is not using transaction API but rather start transaction manually:
[code]

But it would be nice to have built-in coroutine-friendly API for transactions.

[2018-10-31 21:36] mkulak commented on #152
@vietj
I have the same issue as described in this issue: `connection.preparedBatch(sql, emptyList, handler)` fails with NPE deep inside pg-client. You can only detect this failure by installing exceptionHandler since original handler is never called.
I created self-contained project with reproducer: https://github.com/mkulak/pg-client-152-repr
(it uses testcontainers to setup db).

I hit this in p

[2018-10-31 23:19] vietj commented on #152
@mkulak thanks will have a try

[2018-11-02 02:07] arrowwood49 opened #196 "citext support"
Does pg-client support citext type https://www.postgresql.org/docs/10/static/citext.html?

I can insert successfully with citext type but can't read the column with citext type.  `io.reactiverse.reactivex.pgclient.Row`  methods getValue() and getString() both returns null.

Thanks

[2018-11-02 02:21] arrowwood49 opened #197 "StreamQuery with transaction"
RxJava2 example [here](https://reactiverse.io/reactive-pg-client/guide/java/index.html) shows how to create stream query using connection. How do I create stream using PgTransaction class. I can't find method on `io.reactiverse.reactivex.pgclient.PgTransaction` class to get PgPreparedQuery or PgStream.

Thanks

[2018-11-03 11:01] vietj commented on #196
do you know if that's possible to install it in the testing docker image of this project ?

[2018-11-03 11:01] vietj commented on #196
do you know how that works with the Postgresql JDBC driver ? that would help understand how it's handled there.

[2018-11-03 11:03] vietj opened #198 "Upgrade to Vertx 3.5.4"

[2018-11-03 11:03] #198 closed

[2018-11-03 11:07] #195 closed

[2018-11-03 12:03] vietj commented on #194
it's indeed a regression

[2018-11-03 13:01] vietj opened #199 "Pool connection acquisition failure is not propagated to the scheduled command"

[2018-11-03 13:02] #194 closed

[2018-11-03 13:02] #199 closed

[2018-11-03 13:02] vietj commented on #194
it is fixed in master, would you mind giving a try ?

[2018-11-03 13:42] vietj opened #200 "Batch execution incorrectly handles batch result when the batch list is empty"

[2018-11-03 13:43] #200 closed

[2018-11-03 13:43] #152 closed

[2018-11-03 13:44] vietj commented on #152
this should be fixed in master can you have a try ? cf https://github.com/reactiverse/reactive-pg-client/issues/200

[2018-11-03 14:09] vietj commented on #121
I will simply updte the docuemntation and examples, I think that's enough. It seems complicated wrt to the pg protocol to speculate on the transaction status

[2018-11-03 15:39] anewton1998 commented on #194
Confirmed. Fixed in 0.10.7-SNAPSHOT

[2018-11-04 20:48] vietj opened #201 "Rework cursor/stream documentation"
Currently the documentation does not show/mention that it should be used within a transaction. Rework the documentation so that we mention a transaction needs to be used and have the examples create a transaction wrapping the usage of the cursor/stream

[2018-11-04 20:49] #121 closed

[2018-11-04 20:49] #201 closed

[2018-11-04 21:10] vietj commented on #197
we will add this method in the next version to prepare a query from a transaction

[2018-11-04 21:14] vietj commented on #197
in this API, you will only need to change `pool.rxGetConnection()` by `pool.rxBegin()` or call begin within a transaction. That being said now you can begin a transaction from a connection and get the prepared query on from the connection but it's less intuitive.

[2018-11-04 21:40] vietj opened #202 "Allow to prepare query from a transaction object"
Currently the API does not expose a way to prepare a query from a transaction object which implies to create the transaction from a connection. `PreparedQuery` is mandatory to use for creating a cursor or a stream within a transaction.

[2018-11-04 21:41] #197 closed

[2018-11-04 21:41] #202 closed

[2018-11-04 21:44] vietj commented on #154
have you tried this with the latest version of the project 0.10.6 ?

[2018-11-04 21:44] vietj commented on #154
will investigate the reproducer provided by @yonigibbs

[2018-11-04 21:49] vietj commented on #154
this actually works with 0.10.6, I believe this issue was fixed by https://github.com/reactiverse/reactive-pg-client/issues/162

[2018-11-04 21:50] vietj commented on #154
@mkulak what you are observing might be a different issue, can you open a new issue with a reproducer project ?

[2018-11-04 21:50] vietj commented on #154
fixed by https://github.com/reactiverse/reactive-pg-client/issues/162

[2018-11-04 21:51] vietj commented on #189
@smahad786 no reproducer ?

[2018-11-04 22:10] #192 closed

[2018-11-04 22:11] vietj commented on #123
what's the actual issue here ?

[2018-11-04 22:13] EmadAlblueshi commented on #123
The client hangs if the index is out bound

[2018-11-04 22:20] EmadAlblueshi commented on #196
Yes CITEXT is not supported yet

[2018-11-04 22:29] vietj commented on #123
does it still apply ? this seems to be an issue from the code and not realted to the client itself

[2018-11-04 22:29] vietj commented on #196
does the citex have a stable type OID ?

[2018-11-04 22:30] vietj commented on #196
would it be possible to have a docker image that supports this extension for testing ?

[2018-11-04 22:33] EmadAlblueshi commented on #123
Well, we should test this and the issue is simply when that exception thrown the user have no idea what happened

[2018-11-04 22:38] EmadAlblueshi commented on #196
We should find the OID and in docker I think it’s possible to install the extension for testing but I’m not sure if it needs external package or simply enable it like pre installed extensions

[2018-11-05 08:52] yonigibbs commented on #154
I can confirm that upgrading to 10.6 seems to resolve this problem.  Thanks @vietj.

[2018-11-05 15:02] arrowwood49 commented on #196
citext can be installed from standard Postgres extension.

The following creates the extension with test table in docker/postgres/resources/create-postgres.sql
[code]

[2018-11-05 15:09] arrowwood49 commented on #197
In our implementation, we create the transaction and pass that to other classes and methods which then executes the sql using the same transaction object. So it is inconvenient to change all those implementation. As a workaround, we are not using the prepared sql and not using the streaming query when working with transaction.

[2018-11-06 08:13] jklingsporn commented on #191
Okay then. But what about the nullability? How can I set column values to `null`?

[2018-11-06 21:53] arrowwood49 commented on #197
@vietj When do you think next version will be released?

[2018-11-07 07:54] vietj commented on #197
it has been released

[2018-11-07 08:02] #196 closed

[2018-11-07 17:56] arrowwood49 opened #203 "Query integer column with negative value"
Querying integer column with negative value not working properly.

pg-client Row contains -29 when executing select on column with value -1.

[2018-11-07 21:30] EmadAlblueshi commented on #203
Hi, we need a reproducer in order to investigate

[2018-11-12 04:08] arrowwood49 commented on #203
Here is the unit test that reproduces the issue with version 0.10.7:

[code]

The above unit-test fails since expected id value is -1 but SELECT from DB returns -29

[code]

[2018-11-12 07:40] vietj commented on #203
can you make a PR that adds this test ?

[2018-11-12 16:02] arrowwood49 commented on #203
@vietj  Here is the PR  https://github.com/reactiverse/reactive-pg-client/pull/204

[2018-11-12 16:16] vietj commented on #203
thanks

[2018-11-14 02:02] davidzzzzz commented on #153
@vietj Here's the direction I've taken with supporting `COPY FROM` operations. Please provide feedback before I add more documentation and polish. Thanks!

https://github.com/reactiverse/reactive-pg-client/pull/205

[2018-11-22 15:14] BillyYccc opened #206 "SSL upgradefuture failure is not properly handled"
#### Version
0.10.7
#### How to reproduce:
1. Set up a postgres server without SSL on.
2. Connect with the server using client with ssl option on.
3. AsyncResult failure is never handled.

#### Simple Code:
[code]

[2018-11-22 15:17] BillyYccc commented on #206
Currently SSL upgrade failure is propagated to the next ChannelHandler in ChannelPipeline:
https://github.com/reactiverse/reactive-pg-client/blob/a79050946983236c244aabcdac28c62db57ac97a/src/main/java/io/reactiverse/pgclient/impl/codec/decoder/InitiateSslHandler.java#L65-L72

exceptionCaught here could not catch the SSL upgrade failure and report to upgradeFuture.
https://github.com/reactiverse/re

[2018-11-23 12:57] BillyYccc opened #207 "SSL mode support"
https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNECT-SSLMODE
https://www.postgresql.org/docs/current/libpq-ssl.html#LIBPQ-SSL-PROTECTION

[2018-11-23 13:02] BillyYccc commented on #207
I have made some progress to build a prototype for this in https://github.com/BillyYccc/vertx-pg-client/tree/feature/sslmode.

Before going on,there are some issues we should solve:
1. SSL upgrade future failure handling mentioned in https://github.com/reactiverse/reactive-pg-client/issues/206.
2. Currently embedded postgres for unit testing only supports SSL, maybe we should set up a seperated no

[2018-11-24 08:00] vietj commented on #206
I will have a look soon

[2018-11-26 12:54] vietj opened #209 "Connection pool opens more connections than necessary"
Currently the pool will open as many connections than the pool permits when a connection request arrives. It should open one connection instead.

[2018-11-26 12:55] #209 closed

[2018-11-27 23:02] #114 closed

[2018-11-28 22:17] pratikpparikh commented on #207
@BillyYccc for 2. can you not just use the docker setup as an external Postgres?

[2018-11-29 01:14] BillyYccc commented on #207
I think using docker may not work because we didn't set up a docker environment in Travis for now and for some reasons we chose to use embedded postgres instead of testcontainer before.
The issue here is we need both two kinds of postgres at the same time in the unit tests (i.e make the embedded postgres ssl settings configurable).

[2018-11-29 03:01] pratikpparikh commented on #207
@BillyYccc, it might be better to configure Travis with docker and use maven docker plugin to start and stop the remote server.  I think we will have to refactor the test cases to work with both standalone and embedded.

[2018-11-29 14:36] ybonnel commented on #191
null for enum is fixed by #211

[2018-12-03 04:22] nobleach opened #213 "Example for Kotlin throws compilation errors"
Using this example from the Kotlin docs page:
[code]
Throws the following error
[code]
Is there something undocumented that I'll need to do to pass these args?

[2018-12-03 12:59] nobleach commented on #213
That appears to be an unresolved import. (and throws `java.lang.ClassNotFoundException`)

I am currently importing: `import io.reactiverse.pgclient.*` And connecting via:
[code]
This appears to work. Is there a different package that should be used for Kotlin?

[2018-12-03 13:13] vietj commented on #213
I think it should be io.reactiverse.kotlin.pgclient

[2018-12-03 13:18] nobleach commented on #213
Very strange. That throws `Unresolved reference: kotlin`.

[2018-12-03 13:35] vietj commented on #213
I think it's because we don't provide kotlin classes anymore (regression).

[2018-12-03 13:36] vietj commented on #213
so we should fix the build and make a new minor release

[2018-12-03 13:36] vietj commented on #213
the class exist in thep roject though. I think you can take the code and copy/paste in your project in the meantime

[2018-12-03 13:38] nobleach commented on #213
Thank you so much for looking at it! I can use the connectionUri for now.

[2018-12-03 13:52] #213 closed

[2018-12-03 13:52] vietj commented on #213
it should be present in 0.10.10-SNAPSHOT for you to verify

[2018-12-03 16:00] nobleach commented on #213
Thank you!

[2018-12-04 14:29] vietj commented on #206
can you provide a patch with a test for this ?

[2018-12-04 14:30] vietj opened #214 "Upgrade to Vert.x 3.6"

[2018-12-04 14:31] #214 closed

[2018-12-10 14:16] mbit0815 commented on #207
@BillyYccc nice work. Do you have an idea when this will be merged to master?

[2018-12-10 15:16] BillyYccc commented on #207
@mbit0815 I have no exactly delivery time here, but it should not be far away, just some more work to be finished.

[2018-12-13 12:12] counter567 opened #216 "Get details from PgException"
Hi,

I am currently in a situation where I need to access the detail of an error.
I will make a pull request today.

[2018-12-13 23:09] smahad786 opened #218 "Question: Simplified Transacaction API - related to rollback and application crash"
In the following example,
pool.begin(res -> {
  if (res.succeeded()) {

    // Get the transaction
    PgTransaction tx = res.result();

    // Various statements
    tx.query("INSERT INTO Users (first_name,last_name) VALUES ('Julien','Viet')", ar -> {});
    tx.query("INSERT INTO Users (first_name,last_name) VALUES ('Emad','Alblueshi')", ar -> {});

    // Commit the transaction and return the co

[2018-12-14 03:10] BillyYccc commented on #159
What's the use case here, can you give an example for this?

[2018-12-14 06:02] happyyangyuan commented on #159
The most eager need is that I want to set thread context for tracking our business but with vert.x thread pool it is difficult to accomplish that.
And also our business thread pool is fully monitored by our monitor system.

[2018-12-14 06:45] BillyYccc commented on #159
I'm afraid this can not be achieved for now because Vert.x does not allow you to create eventloop by your own thread factory instead of VertxThreadFactory or reuse any existed thread pool, maybe you can open issues in https://github.com/eclipse-vertx/vert.x/issues?

[2018-12-14 08:47] vietj commented on #218
1.  you don't need to rollback, postgres actually does it for you
2. that's a good question and actually I don't know. I believe the same thing would happen with JDBC or any other client, not specifically this client. There are chances that on a crash, the SQL connection is closed and I think that we need to check about what happens to a transaction in Postgres when the connection close

[2018-12-14 14:03] BillyYccc commented on #206
Can you please review https://github.com/reactiverse/reactive-pg-client/pull/215?

[2018-12-19 07:03] smahad786 commented on #218
I did run 1M records with pool-size = 100 for 1M records updating the same row using pg_tx. When I killed the java process (java client making the DB Calls), I did not find any hanging server connections. Also, I did not see server conn > pool size, while the pgm was running. However, the code is running slow. I am not sure whether this is because of db transaction...

Question: Should I keep the

[2018-12-19 14:32] #206 closed

[2018-12-19 14:46] vietj opened #221 "Upgrade to Vert.x 3.6.2"

[2018-12-19 14:47] #221 closed

[2018-12-19 14:55] vietj opened #222 "Generate kotlin coroutine methods"

[2018-12-19 14:56] #222 closed

[2018-12-19 15:24] vietj opened #223 "0.11.2"

[2018-12-19 15:24] #223 closed, assigned to nobody

[2018-12-21 06:56] BillyYccc commented on #98
Hi! I have done some investigation and there seems to be 2 features to deal with:
**Connection failover**: This is a **libpq** feature and is clearly defined in `33.1.1.3. Specifying Multiple Hosts` of https://www.postgresql.org/docs/current/libpq-connect.html.

It means pg client tries to connect to server with a list of nodes until one succeeds.

**Load balancing**: This is a **PgJDBC** feature

[2018-12-21 06:58] vietj commented on #98
it would be good indeed first to clearly specifies such features and where they apply

[2018-12-21 07:03] happyyangyuan commented on #159
Sorry for replying late.
I will describe my use case clearly soon.

[2018-12-25 02:44] BillyYccc opened #225 "Upgrade embedded Postgres dependency and Postgres version"
so that we can test features in newer version of Postgres.

[2018-12-25 06:10] BillyYccc commented on #104
What is this issue about?

[2018-12-25 07:58] vietj commented on #104
I don't remember :-)

[2018-12-25 07:59] vietj commented on #225
can we make this configured as a system property of the build, so we can run several jobs in Travis with different DBs ?

[2018-12-25 08:00] #122 closed

[2018-12-25 09:40] BillyYccc commented on #225
Sure, please check https://github.com/reactiverse/reactive-pg-client/pull/226/commits/758aee911be14ebee020baf36bc99e0860d56197.

[2018-12-25 22:19] ahus1 opened #228 "start page of documentation is not found (404)"
Observed behavior: The page https://reactiverse.io/reactive-pg-client/ is linked from https://reactiverse.io/ and https://reactiverse.io/reactive-pg-client/guide/java/index.html (top link), but returns a 404.

Expected behavior: The contents of jekyll/README.md should be visible on the page.

Possible cause: an index.html is missing from the /docs folder that should have been generated from jekyll

[2018-12-30 08:34] vietj opened #231 "MySQL implementation"
It would be great to see how a MySQL implementation could be achieved using this library and adapting it for the MySQL protocol.

[2019-01-02 19:12] aaloise opened #233 "POJO support"
It would be nice to have POJO support as an option to facilitate all kinds of querys.

[2019-01-03 08:07] vietj commented on #233
can you try using the Collector API of the client for this ? i.e you create your own collector that creates a `List<Pojo>`

[2019-01-05 11:53] bludwik opened #234 "Incorrect bytea value when postgresql bytea_output is set to 'escape'"
Bytea values can be encoded in escape or hex format. Driver seems to accept only HEX format.
Below is test demonstrating issue:

    @Test
    fun byteaTest(vertx: Vertx, testContext: VertxTestContext) {

        val cp = dbConnect(vertx)
        runBlocking {
            val b = cp.queryAwait("""set bytea_output to 'hex'; select E'\\001\\007'::bytea as b""").next().first().getBuffer(0).bytes

[2019-01-05 13:54] vietj commented on #234
- we could support escaped format I guess if we can test it ? could you provide a reproducer failing test we could have in our tests ?
- I think for the pool we could do that too

[2019-01-05 21:10] bludwik commented on #234
The second part of my example shows 'escape' format:
`val c = cp.queryAwait("""set bytea_output to 'escape'; select E'\\001\\007'::bytea as b""").next().first().getBuffer(0).bytes`
It changes format of select to 'escape' and tries to read it. This causes errors.

In my opinion best way is to give option to execute custom SQL on connection creation or option to handle event of connection creation (

[2019-01-05 21:42] bludwik commented on #234
Of course to see error you must execute:

`
val c = cp.queryAwait("""set bytea_output to 'escape'; select E'\001\007'::bytea as b""")
	.next()
	.first()
	.getBuffer(0).bytes

assertTrue(c.size == 2 , "Must be 2") // ERROR - I get 3, but should be 2 bytes....
assertTrue(c[0] == 1.toByte() && c[1] == 7.toByte(), "Must be equal values") // And here also numbers are different - should be 1 and 7
`
My

[2019-01-07 13:34] anilkan commented on #207
Thanks @BillyYccc. Is there any news about merging ?

[2019-01-07 13:41] vietj commented on #207
it's being reviewed, we are almost done

[2019-01-07 14:40] vietj commented on #234
thanks

[2019-01-10 06:36] BillyYccc commented on #207
@leenux I think Julien can do a release soon after the PR is merged.

As for URI format, the branch only supports `sslmode` parameter, currently cert and key parameters are not supported but we can do that.
You can try the branch directly and give me some feedback  :-).

[2019-01-10 07:30] vietj commented on #207
it can be released soonish

[2019-01-11 17:05] marcocamacho opened #235 "Rework cursor/stream documentation Pt 2"
* Currently the documentation does not show/mention how/that the connection should be closed. Rework the documentation so that we mention that and how a connection needs to be closed. What happened to me was that I grabbed the example from the documentation and eventually spend a lot of time figuring out why the query didn't work after running OK a few times (matching the connection pool size). Th

[2019-01-11 18:15] marcocamacho commented on #235
Sure, I assume PgStream needs to be closed then, right?

[2019-01-11 18:32] vietj commented on #235
yes, however please read this too and let me know what you think of it https://github.com/reactiverse/reactive-pg-client/issues/134 as a comment on the issue

[2019-01-13 12:34] #207 closed

[2019-01-15 04:15] foxgem opened #237 "Can not insert data with tx.preparedQuery"
PgTransaction.preparedQuery could not work. Here is an example with PG 9.4:

[code]

In the example above, the first insert stmt with "tx.query" can insert data successfully. However, for the second insert stmt with "tx.preparedQuery", you can get an exception as below:

[code]

I also tried another way with the following steps:

[code]

But, no luck.

The code above is running with 0.11.1 version

[2019-01-15 20:24] marcocamacho commented on #134
I think that's a good idea, but if it can be closed in case of an error, I wonder if it can be closed regardless (sort of how java's "try-with-resources" does it):

[code]

[2019-01-17 15:48] vietj commented on #237
can you provide a reproducer test in this project test suite as PR to facilitate ?

[2019-01-23 13:18] anilkan commented on #207
Hi @vietj, do you have any plan to push 0.11.2 to maven repository ?

[2019-01-23 13:36] vietj commented on #207
yes soon @anilkan

[2019-01-25 09:14] foxgem commented on #237
Sorry for late response since too busy these days. I just post a PR for this issue including two test cases. Please check it, thanks.

[2019-01-25 13:15] #37 closed

[2019-01-25 15:14] #237 closed

[2019-01-28 11:29] haposan06 opened #239 "PGException package 'xxxx' does not exist"
I generate daos from jooq code-gen, tested it in staging environment and everything working well as expected. I migrated into production db, and suddenly I encountered this error.

I think ( I hope so) the migration went well from database perspective. I ran number of daos and working well, but only in xxxDao.findAll() produced above error only in production. (findAll method is auto generated from

[2019-01-31 20:18] chris-brace opened #240 "unable to suppress warning when selecting an ENUM column"
with the following ddl:

[code]

im doing the following query

[code]

It works, however i get the following printed to stderr one or more (but not every) time the query is run.

[code]

I've been through every issue related to enums and unknown types and i've looked at all the documentation but there doesn't seem to be a way to tell `reactive-pg-client` that i actually **do** want the values to b

[2019-02-01 12:43] jklingsporn commented on #233
Or give [vertx-jooq](https://github.com/jklingsporn/vertx-jooq) a try.

[2019-02-03 13:05] BillyYccc opened #242 "Provide a method for the connection pool to define an initial handler for every new created connection"
like `PgPool#connectionInitHandler` so that users can set an handler and for instance execute some sqls for every new created connection.
Motivation from https://github.com/reactiverse/reactive-pg-client/issues/234.

[2019-02-03 14:33] vietj commented on #242
Hi,

in this case I would rather provide a factory for connection, i.e

static PgPool pool(PgConnectOptions options, Function<PgConnectOptions, Future<PgConnection> factory) { ... }

where factory is called is called to create a connection, so user can perform this.

[2019-02-07 12:13] limadelrey opened #243 "Possibility of specifying schema when connecting to postgres"
Hey everyone,

I'm using reactive-pg-client along with vertx. At this moment I'm trying to specify some options in order to use PgPool, but I've noticed that is "missing" some kind of way of specifying pool's schema. The options that I'm using are:

[code]

I've also tried to create a PgPoolOptions object given a connection URI, but it doesn't solve this problem. What I was expecting is something

[2019-02-07 16:08] vietj commented on #243
Hi,

indeed it is not supported and I think we could support generic properties to send to PG when connecting.

This seems to be sent with the DB startup message that is sent.

Julien

[2019-02-07 16:09] vietj commented on #243
the property name for current schema is `search_path`, this should be sent in the startup message as far as I can see when connecting to PG.

[2019-02-07 16:10] vietj commented on #243
here is the list of startup message that could be sent: https://www.postgresql.org/docs/9.1/runtime-config-client.html

[2019-02-18 05:04] huntj88 opened #244 "Having issue with using an array as query arguments on prepared statements"
I've seen other issues with sending arrays as query params, but they are all closed and the problem still looks like it's there.

my query takes in an array of strings and then fails with the message

[code]

`SELECT * FROM notes WHERE id IN ($1);`

[code]

[code]

[2019-02-18 06:01] huntj88 commented on #244
I tried changing everything to the uuid type rathing than holding it in a char(36), but i got the same result

`[[Ljava.util.UUID;@394972bf] cannot be coerced to [UUID]`

[2019-02-18 09:00] vietj commented on #244
@huntj88 this is because the type of `$1` is String and is not `String[]`, this is actually a postgres issue and not an issue of this client

[2019-02-18 09:00] vietj commented on #244
I think somebody raise a similar issue in this tracker

[2019-02-18 09:01] vietj commented on #244
you nee to change your query to `select 1 where 1 = any ($1)`, see this issue https://github.com/reactiverse/reactive-pg-client/issues/169#issuecomment-418385715

[2019-02-18 09:01] #244 closed

[2019-02-27 11:07] vietj opened #245 "API generification"
This issue is rather an open discussion about how the client will handle multiple back-ends, the concerns we want to address are:

* naming the project and the package
* how to handle specific backend operations (PG has notifications/notices, MY has ping, etc...)

## Naming

* The Reactive SQL Client
  * `io.reactiverse.sqlclient`
  * `io.reactiverse.sdbc`
* The Reactive DB Client
  * `io.reactive

[2019-02-27 11:17] vietj commented on #245
give your opinion here, I'll update the issue description with your ideas

[2019-02-27 12:59] BillyYccc opened #246 "Race condition in tests"
Tests sometimes fail and report
[code]

This should be caused by https://github.com/reactiverse/reactive-pg-client/pull/238/commits/a23238cf5ca9e1ef8143b59e87de566579ba13d3. New tests inserted new data into `Fortune` table and leads to a row size race in https://github.com/reactiverse/reactive-pg-client/blob/f04bdb41c0ed535c20a098e2759b02de68c4085b/src/test/java/io/reactiverse/pgclient/PreparedSta

[2019-02-27 16:00] mp911de commented on #245
Did you consider using R2DBC as general standard SPI? This way, you get a proper API for all reactive database drivers and you can expose your mature drivers through a Reactive Streams API. With using R2DBC as a first-class citizen you would open up the eco-system for various clients that are chosen by the developer and not mandated by the driver.

[2019-02-27 17:17] vietj commented on #245
@mp911de there are no contributions so far to implement the R2DBC specification, feel free to open an issue to make your case, I'll add an "help wanted" tag to it for contributors.

[2019-02-27 17:55] mp911de commented on #245
Happy to do so if it makes generally sense from your perspective.

[2019-02-28 08:50] mp911de opened #249 "Proposal to expose PgClient functionality through R2DBC API"
[R2DBC](https://r2dbc.io) is an initiative to establish a common SPI for relational database drivers embracing reactive programming properties: Event-oriented, non-blocking, and ideally stream-oriented access to databases. R2DBC is built entirely on Reactive Streams defining a minimal API surface to be implemented by drivers without the need to re-implement common client functionality in every dri

[2019-03-02 08:28] dazraf commented on #245
What's the status between R2DBC and ADBA? Last I read: https://www.infoq.com/news/2018/10/springone-r2dbc

[2019-03-02 08:31] dazraf commented on #245
Assuming there aren't any nascent standards forming in this space, my preference is for Proposal 1.

[2019-03-02 08:57] mp911de commented on #245
ADBA is async and based on CompletableFuture. There’s no release available, only a couple commits for GPL licensed code. R2DBC is based on ReactiveStreams, Apache-licensed and there are milestone releases available as JAR along with a written specification.

 Both specs are trying to solve similar problems and emphasize different properties of how they approach the solution.

[2019-03-02 22:26] djocal opened #250 "is there a reason why io.reactiverse.reactivex.pgclient.PgIterator isn't an Iterator ?"
whereas io.reactiverse.pgclient.PgIterator is one ?
if no reason, do you have any concern i submit a change making it one ?
thanks

[2019-03-02 23:19] mp911de commented on #249
Here's a sketch how a `PgPool` could be exposed through the R2DBC API: https://gist.github.com/mp911de/9ea13939e8fd9a6b4ef138419f085715

It does not contain all the possible cases and requires a bit of work for prepared statements, however, it outlines the general idea.

[2019-03-03 08:00] vietj commented on #250
actually it is useful because it allows code generation in vertx (for rxjava for instance), also it types the iterator to be a `Iterator<Row>` so for now it should be kept

[2019-03-03 08:01] #250 closed

[2019-03-03 10:04] rgielen commented on #245
IMO exposing a generic API specific to reactive-pg(?)-client and implementing R2DBC are both valid concerns. However, they seem to be orthogonal in the sense that they have independent use cases and can stand side by side.

Given that reactive-pg-client already has an elaborate API for direct usage and given that supporting more backends is around the corner, @vietj's proposal for API generificati

[2019-03-03 12:01] vietj commented on #245
@rgielen there is a separate issue about R2DBC, also you can make extra proposal for the API of the PG client, it's an open discussion . Keep in mind that R2DBC (or even this project) won't implement some protocols such as Oracle, so ADBA will remain unavoidable for such databases.

[2019-03-03 12:53] mp911de commented on #245
I don't think that this would be even remotely necessary. With [Project Loom's](https://wiki.openjdk.java.net/display/loom/Main) fibers there is no need to provide native JDBC drivers for exotic or closed-source database protocols. Putting JDBC on a `Thread` is one story, putting it on a `Fiber` an entirely different one.

[2019-03-03 13:27] vietj commented on #245
@mp911de I don't see the relationship with project Loom, can you elaborate ?

[2019-03-03 15:06] mp911de commented on #245
The reason why we all build database drivers with non-blocking I/O is that today's database drivers are all blocking (JDBC) and we have use-cases that gain efficiency/scalability by eliminating blocking behavior. Today, we cannot turn blocking APIs into non-blocking ones without creating a new library.

All non-blocking database drivers come up with vendor-specific API as there's no real standard

[2019-03-10 04:54] bhowell2 commented on #225
Would it be desirable to integrate this with docker rather than using the embedded package? This way can test pretty much any version and don't have to rely on the embedded library to be updated and such.

I should be able to set it up pretty fast. It's what I use in my builds.

[2019-03-10 07:31] BillyYccc commented on #225
Hi, testing with docker is supported currently and please check https://github.com/reactiverse/reactive-pg-client/blob/master/README.adoc#testing-with-docker

[2019-03-10 09:50] vietj commented on #245
here is an attempt to abstract into a generic api with some specific parts https://github.com/reactiverse/reactive-pg-client/tree/api-test-1

- Java generics are not used, it seems it would be too cumbersome here
- Row is not abstracted (and I think it's fine)
- some types have been left as is for now (`PgPreparedQuery`, `PgRowSet`, etc...) and not converted as such types don't use the client/pool

[2019-03-10 10:57] vietj commented on #245
I've pushed another commit that move more interfaces to the `sqlclient` package and now it looks ok to me.

- the `io.reactiverse.sqlclient` does not leak into `io.reactiverse.pgclient` for the main types
- the user will need to cast `SqlConnection` to `PgConnection` to access specific API, etc...

I believe the PG  specific datatypes will be removed from `Row` / `Tuple` and can be used using type

[2019-03-10 15:09] bhowell2 commented on #225
Hi yes, sorry I meant for travis tests/builds.

[2019-03-10 18:11] vietj commented on #245
I pushed the specific data type decoupling with PG in the branch https://github.com/reactiverse/reactive-pg-client/tree/api-test-1

I think this branch could be merged in the mysql-support branch as I think the result is satisfying for the moment

[2019-03-10 20:34] vietj commented on #245
ping @pmlopes @tsegismont @FroMage may you have a look at https://github.com/reactiverse/reactive-pg-client/tree/api-test-1 ?

[2019-03-10 20:43] vietj commented on #245
actually squashed and merge in mysql_support branch

[2019-03-14 11:10] pmlopes commented on #245
I agree with proposal 1 since it seems to make it easier to add other backends and the API stays simple for the user.

[2019-03-14 11:43] vietj commented on #245
@pmlopes can you have a look at the current API in the branch ?

[2019-03-19 16:21] vietj opened #251 "Test"

[2019-03-19 16:21] vietj commented on #251
@brosenfi ping, I would like to ask you a question

[2019-03-19 16:23] vietj opened #252 "Test"
@aaloise ping I would like to ask you a question

[2019-03-19 16:23] vietj opened #253 "Test"

[2019-03-19 16:23] vietj commented on #253
@yonigibbs ping I would like to ask you a question

[2019-03-19 16:24] vietj opened #254 "Test"
@pratikpparikh ping I would like to ask you a question

[2019-03-19 16:27] yonigibbs commented on #253
hi @vietj.  nice to hear from you.  what can i do for you?  is this way of communicating ok or would you prefer email or something?

[2019-03-19 16:50] vietj commented on #253
can you send me an email ?

[2019-03-19 17:19] aaloise commented on #252
Hello @vietj

[2019-03-19 17:30] vietj commented on #252
can you send me an email ?

[2019-03-19 17:30] #253 closed

[2019-03-19 18:33] brosenfi commented on #251
@vietj hey - sure, what's up?

[2019-03-19 18:38] Firgeis opened #255 "NullPointerException on connection when PgPoolOptions.user is null"
Exception should be catch or a validation should be performed

Below is the full stack trace:

java.lang.NullPointerException
	at io.netty.buffer.ByteBufUtil.utf8MaxBytes(ByteBufUtil.java:582)
	at io.netty.buffer.AbstractByteBuf.setCharSequence0(AbstractByteBuf.java:696)
	at io.netty.buffer.AbstractByteBuf.writeCharSequence(AbstractByteBuf.java:1183)
	at io.reactiverse.pgclient.impl.codec.util.Uti

[2019-03-19 18:40] aaloise commented on #252
Just sent you one to julien@julienviet.com. Is this ok?

[2019-03-19 19:48] vietj commented on #251
can you reach me over email, I could not find yours, thanks!

[2019-03-19 19:48] vietj commented on #252
perfect!

[2019-03-19 19:49] vietj commented on #255
can you provide a reproducer ?

[2019-03-19 20:43] pratikpparikh commented on #254
@vietj please ask.

[2019-03-19 21:04] Firgeis commented on #255
This is running on a suspend function in a Coroutine Verticle. I think that providing the full code would be too cumbersome.
`
val options = PgPoolOptions()
options.host = "valid url"
options.database = "valid database"
options.user = null
options.password = "some password"

val client = PgClient.pool(vertx, options)
val sql = "valid SQL"
client.queryAwait(sql)
`

[2019-03-19 23:25] vietj commented on #255
can you provide a reproducer project which would make super easy to debug ?

[2019-03-19 23:25] vietj commented on #254
can you send me an email ?

[2019-03-20 07:52] #252 closed

[2019-03-20 08:07] #251 closed

[2019-03-21 00:52] pratikpparikh commented on #254
Done

[2019-03-21 07:38] vietj commented on #254
thanks

[2019-03-21 07:38] #254 closed

[2019-03-22 12:10] perttuk commented on #59
I'm having similar problem.

This is my SQL statement:
[code]

preparedBatch call:
[code]

and this is how the batch is built:
[code]

and the error is:
[code]

[2019-03-22 12:16] perttuk commented on #187
I'm having similar problem with version 0.11.2.

preparedBatch call:
[code]

and this is how the batch is built:
[code]

and the error is:
[code]

[2019-03-25 11:53] BillyYccc commented on #245
Hi, here is a proposal for SQL result handling from my point of view.

Currently type related methods are scattered in `Row` and `Tuple` class, the types include common SQL types and PostgreSQL specific types.
I would like to make the following changes:
* Move type related methods out of `Tuple` class, make `Tuple` a generic class which can handle all kinds of class type.
* `Tuple` should also be

[2019-03-25 12:02] vietj commented on #245
The current Row class has already been changed to accommodate specific types:

- `Tuple` is already now generic and not related to specific PostgreSQL types anymore
- I don't get why it should be immutable since the user can add values to a tuple when building it
- we don't need specific row implementation, instead we need to use the `Class` objects instead, i.e we do `tuple.get(Json.class, 0)`
-

[2019-03-25 12:40] BillyYccc commented on #245
Mostly `Tuple` is immutable but this makes sense if being mutable is pratical. I wonder if we should prune the specific accessors as many as possible since the `Row` API are bloated with `getXXX(int index)`, `getXXX(String columnName)` and `addXXX()` methods.

[2019-03-25 13:18] vietj commented on #245
I think we should not as long  as it is commonly used type from the JDK API.

they can be also useful when the user uses auto completion, for instance he types "dates" and the date stuff appears in the completion

[2019-03-25 13:19] vietj commented on #245
<img width="528" alt="Screen Shot 2019-03-25 at 14 17 55" src="https://user-images.githubusercontent.com/225674/54922680-f1687c00-4f08-11e9-8904-80ff37eb70ed.png">

[2019-03-25 13:29] BillyYccc commented on #245
Specific accessors may be useful for `getXXX()` methods, but the implementations for `addXXX()` are the same, why not just use `addValue` for all add methods?
https://github.com/reactiverse/reactive-pg-client/blob/d1a534ab99770aa72d254aa6e3446529d6a4618c/src/main/java/io/reactiverse/sqlclient/impl/ArrayTuple.java#L352-L538

[2019-03-25 13:57] vietj commented on #245
yes I wanted to add it, although there is already "add" that is usable.

[2019-03-25 14:14] vietj commented on #245
note that `add` is inherited from the `List` interface

[2019-03-25 20:17] smahad786 opened #256 "Question: How to use CTE with prepareBatch"
I tried to use PostGres CTE with reactive-pg-client and I am not getting the desired result. I have a small table USERS (id UUID, name varchar(20), age int ) all not nulls and id is the PK.

Does pg-reactive client work with CTE? It works for single inserts but when I use List of tuples, I don't get desired result.

I wanted to do a batch insert using List<Tuple> and wanted to know existence of du

[2019-03-25 21:27] vietj commented on #256
there are not reasons it should not work, have you checked it works with other clients ?

the batch execution will execute the statement for each row.

[2019-03-25 21:28] vietj commented on #256
if that works with other clients (like JDBC) can you provide a reproducer project with such clients so we can compare with this client ?

[2019-03-25 21:36] smahad786 commented on #256
Is my approach correct?

[2019-03-26 06:10] #256 closed

[2019-03-26 06:11] smahad786 commented on #256
Closed.

[2019-03-26 13:57] nikarh opened #257 "INET fields are always decoded as null"
Hi,
I am trying to execute a select query in a transaction using a prepared statement and a `createStream` method. One of the columns in a query has an `INET` type. During the select for each row I am getting the following warning in my logger:
[code]
When I am calling getValue with either a column index or an alias, for my `INET` column I am always getting null as a result. As far as I can tell,

[2019-03-26 13:59] vietj commented on #257
I think it's because we don't support yet this custom Postgres types.

so this is more like a feature request I think :-)

[2019-03-26 14:00] vietj commented on #257
are you interested in doing such contribution to the project ?

[2019-03-26 14:09] nikarh commented on #257
Sure, I'll attempt to do it this weekend

[2019-03-26 14:14] vietj commented on #257
great,

you will need to sign the Eclipse Contributor Agreement, as this project is going to be part of Eclipse Vert.x in the future.

Julien

[2019-03-28 10:30] perttuk commented on #187
The solution for me was to use **newInstance** instead of **of**

[code]

[2019-03-31 05:08] danielamorais commented on #147
Should I add failures as log.error?

[2019-03-31 14:40] mystdeim opened #259 "Converting PgRowSet to List<JsonObject>"
Is it possible to converting PgRowSet to List<JsonObject>? I'm planning to migrate from jdbc to reactive-pg-client but I have many places where I converting resultset to List<JsonObject> or list of Pojos

[2019-03-31 14:46] BillyYccc commented on #259
You can have a try on the `java.util.stream.Collector` API of this client, there is an example in https://github.com/reactiverse/reactive-pg-client/blob/f04bdb41c0ed535c20a098e2759b02de68c4085b/src/main/java/examples/Examples.java#L760

[2019-04-02 11:51] vietj opened #260 "Vert.x 3.7.0 upgrade"

[2019-04-02 11:54] #260 closed

[2019-04-02 18:05] limadelrey opened #261 "PreparedQuery order by using position references"
Hello everyone,

I'm using rxPreparedQuery method in order to get user's information in an asynchronous way. Just like I was using a PreparedStatement I'm using references in order to avoid SQL injection attacks.

Query: `SELECT u.* FROM user u WHERE u.name = $1 ORDER BY $2 DESC LIMIT $3 OFFSET $4`
Tuple: `[limadelrey, u.name, 50, 0]`

Using this example it is possible to filter and to limit the r

[2019-04-02 18:58] vietj commented on #261
have you tried this query with another client to compare ?

[2019-04-02 18:58] #261 closed

[2019-04-02 18:58] vietj commented on #261
closing as it's a question

[2019-04-02 19:07] limadelrey commented on #261
I haven't tried because this query syntax and tuple API are specific to reactive-pg-client. However, I think that the usual PreparedStatement with JDBC client doesn't allow to order with a reference either.

[2019-04-02 19:20] vietj commented on #261
I am not a specialist of ordering this way, can you elaborate what is so specific ?

[2019-04-02 20:28] Firgeis commented on #255
Here you go.

[VertxStarter.zip](https://github.com/reactiverse/reactive-pg-client/files/3035806/VertxStarter.zip)

[2019-04-03 01:19] BillyYccc commented on #255
Maybe we should add `Objects.requireNonNull()` check for setting parameters in `PgConnectOptions`.

[2019-04-03 09:26] lemoony opened #262 "Please clarify benchmark"
The Readme states that this driver is Ranked #1 in the TechEmpower Benchmark Round 15 Single query benchmark. When looking up the benchmark, the driver listed at #1 is "vertx-postgres". The latter, however, is apparently based on this driver:

https://github.com/jasync-sql/jasync-sql

So please clarify the statement.

[2019-04-03 09:53] BillyYccc commented on #262
The benchmark code is open-sourced and it's quite straightforward to check the dependency in https://github.com/TechEmpower/FrameworkBenchmarks/blob/round15/frameworks/Java/vertx/pom.xml

[2019-04-03 11:46] #262 closed

[2019-04-05 20:21] mp911de commented on #249
@vietj did you had a chance to have look at https://gist.github.com/mp911de/9ea13939e8fd9a6b4ef138419f085715 outlining the intended PR? If so, I could start working on a pull request. WDYT?

[2019-04-05 21:03] vietj commented on #249
not yet,

I've been very busy on other things (Vert.x 3.7.0 release)

[2019-04-07 13:46] cpdyj opened #263 "Is it thread safe? Should I share it in mutiple threads?"
Hello,
I want to use in Vert.x. Should I share it in mutiple `Verticle`(include `WorkVerticle`)?
Is there any best practice?
Thank you.

[2019-04-07 15:28] vietj commented on #263
that's a good question

you can share it in multiple verticles, that being said I have doubts about worker verticles and I believe tests should be conducted with worker to figure this out.

[2019-04-07 16:49] pratikpparikh commented on #249
@mp911de nice work.

[2019-04-08 14:01] batbayar-su opened #264 "Unable to access between docker services"
Using this library in vertx project and it is using docker postgres as external database. It is working fine while running vertx project in my machine.

But when put the project in docker, it returns `io.netty.channel.AbstractChannel$AnnotatedConnectException: syscall:getsockopt(..) failed: Connection refused: localhost/127.0.0.1:5432`

[2019-04-08 14:06] BillyYccc commented on #264
Can you share more details? I think it may be related to your Docker configuration.

[2019-04-08 14:51] batbayar-su commented on #264
So sorry you were right. 😢🙇‍♂️

[2019-04-08 14:51] #264 closed

[2019-04-10 09:36] cpdyj commented on #263
Thank you. I will have a look. And... Is there anything to notice if I use it with Vert.x?
@vietj

[2019-04-10 11:27] vietj commented on #263
no, it shouldwork well with and without vertx.

if you use with vertx, it will respect vertx threading model and will call you back on the right event loop

[2019-04-10 11:27] #263 closed

[2019-04-10 13:31] perttuk opened #265 "rxPreparedQuery delete"
Hi,

I'm using rxPreparedQuery method to delete old rows from table.

[code]
``
pgPool.rxPreparedQuery(SQL_DELETE, Tuple.of(31))
``

and the error is

``
io.vertx.core.impl.NoStackTraceThrowable: Values [31] cannot be coerced to []
``

If I hardcode the days and use ``rxPreparedQuery("DELETE FROM..")`` everything works fine. Is there something wrong with the syntax I'm using? Library version is 0.

[2019-04-10 15:35] BillyYccc commented on #265
I think you should treat the whole `INTERVAL '$1 DAYS'` as a parameter of `INTERVAL` type to send, so you can write SQL like
[code]
and pass the parameter with
`pgPool.rxPreparedQuery(SQL_DELETE, Tuple.of(Interval.of(0, 0, ${your_days_to_pass})))`

can you give this a try?

[2019-04-11 06:04] perttuk commented on #265
Thanks for response! With
``pgPool.rxPreparedQuery(SQL_DELETE, Tuple.of(Interval.of(0, 0, daysToKeep)))``
The following exception is thrown
``io.vertx.core.impl.NoStackTraceThrowable: Values [Interval( 0 years 0 months 31 days 0 hours 0 minutes 0 seconds )] cannot be coerced to []``

[2019-04-11 06:24] perttuk commented on #265
Thanks for the response! You got me on right tracks :)

``pgPool.rxPreparedQuery(SQL_DELETE_LISTINGS, Tuple.of(Interval.of(0, 0, daysToKeep)))``
[code]
Results in
[code]
But everything works after changing SQL to
[code]
Thanks!

[2019-04-11 06:25] #265 closed

[2019-04-12 12:44] abcfy2 opened #266 "Tuple does not support build from List?"
In the old version(0.7.0), I can build a Tuple via:

[code]

I have to refactor the code for compatibility:

[code]

But now the latest version(0.11.3) does not support this way to get right params for SQL. Tupple just support these ways:

[code]

And I find the old version support Array param:

https://github.com/reactiverse/reactive-pg-client/blob/92c092235a9b6f700a3cf5e720505432a8aa2771/src/mai

[2019-04-13 19:59] volnei opened #267 "Transactions between multiple classes"
There are any pattern to keep multiple data services running in same transaction without holding the connection/pool instance?

Example:

[code]

Using the code above there are no guarantees that queries will be executed on same connection, right?

Thanks!!

[2019-04-13 20:26] vietj commented on #267
yes it will be on the same connection.

you can only call begin() on an existing connection which means you need to hold it for the duration of the transaction.

[2019-04-13 20:26] #267 closed

[2019-04-14 15:40] huntj88 commented on #266
Would something like this work? Its in Kotlin, but I made you two extension functions that should do this trick

[code]

[2019-04-14 16:06] huntj88 commented on #266
same thing in java

[code]

[2019-04-14 18:20] renannprado opened #269 "Kotlin source is not being published in the sources.jar"
Kotlin source is not being published in the `sources.jar` and hence it becomes hard to check the documentation inside of the IDE while using kotlin due to missing kotlindoc or source.

[2019-04-18 04:56] agschaid opened #270 "JSON not serialized in prepared reactive query"
Hi,

I am not sure if this is a bug report or a question.

For reasons we are currently trying to use a psql table with a single JSON column and some constraints on the `id` field of the data:

[code]
Our relevant Java code (including code for a non-prepared version) in the respective write routine looks like this:

[code]
The non-prepared commented version works fine.
And if I run this code and i

[2019-04-18 05:04] agschaid commented on #270
P.S.:
we have a select statement on the same column that looks quite the same
[code]
and works fine. That's why I suspect that the problem is confined to JSON.

[2019-04-18 05:07] agschaid commented on #270
Also we tried various attempts to serialize it differently and to write an already serialized version of the contract. The latter of course resulted the String to be written as a single String field and thus the `validate_id` constraint in postgres failed.

[2019-04-19 09:16] rowlandwatkins opened #271 "Akka Stream integration"
Hi folks,

I'm looking for a replacement to the postgresql-async Netty driver and found this one, which is very cool. I've taken a look at the rxJava2 API and I've been attempting to integrate with Akka Streams with limited success.

Integration between rxJava and Akka Streams seems fine when we're publishing data (select), but becomes problematic when we just want to insert data and end the strea

[2019-04-19 13:20] rowlandwatkins commented on #271
Just saw this issue: https://github.com/reactiverse/reactive-pg-client/issues/270, Single can also be wrapped as a java.util.concurrent.Future:

[code]

I'll try this, cheers!

[2019-04-19 13:54] #259 closed

[2019-04-23 07:54] tsegismont commented on #271
@rowlandwatkins a `Completable` can be converted to a `Publisher`. I'm curious how that doesn't work for you?

[2019-04-23 19:14] quandragoon commented on #237
@vietj @foxgem I run into this problem too on 0.11.3
Has there been a fix? Else, how should I run preparedQuery in a transaction?

[2019-04-24 08:07] vietj commented on #237
I think now the test pass, can you provide a new test with your case ?

[2019-04-24 08:07] vietj commented on #237
and open a new issue

[2019-04-24 08:08] #271 closed

[2019-04-24 08:08] vietj commented on #270
can you provide a reproducer test @agschaid ?

[2019-04-24 08:25] vietj commented on #269
good point

[2019-04-24 08:25] vietj commented on #269
I think the assembly file should be modified to have the kotlin sources.

[2019-04-24 10:29] yieldone commented on #271
Hi @tsegismont, I'm not sure how a publisher will help, since I need a Subscriber... Or am I looking at this the wrong way?

[2019-04-24 10:33] tsegismont commented on #271
@rowlandwatkins can't Akka streams create a subscriber from any `Publisher`?

[2019-05-01 18:47] renannprado opened #273 "NullPointerException when PostgreSQL is down after connecting"
I don't know how to reproduce 100% of the cases.
But I'm trying vertx and this postgresql driver and what I'm trying to see is the behavior of the application when it's running but for some reason loses connection to PostgreSQL.

After the application is up and running, I kill my local PostgreSQL that is running inside of docker and in some situations I get a NullPointerException coming from insid

[2019-05-02 11:12] happyyangyuan commented on #159
@vietj This is my use case
- [pgDatasource use case](https://github.com/xiancloud/xian/blob/master/xian-dao/xian-reactivepgdao/src/main/java/info/xiancloud/dao/async/postgresql/PgXianDatasource.java)
- [pgPool use case with rxJava2](https://github.com/xiancloud/xian/blob/master/xian-dao/xian-reactivepgdao/src/main/java/info/xiancloud/dao/async/postgresql/PgSqlDriver.java)

java code example
[code]

[2019-05-02 14:17] vietj commented on #159
@happyyangyuan the pg client uses vertx core under the hood

[2019-05-02 14:17] vietj commented on #159
but you don't have to use it

[2019-05-05 09:42] happyyangyuan commented on #159
@vietj Thx.
I have been looking for a pure reactive pg client for a while. Do you have any suggestions?

[2019-05-05 09:42] #159 closed

[2019-05-05 10:42] vietj commented on #159
what do you mean by suggestion @happyyangyuan ?

[2019-05-06 05:53] happyyangyuan commented on #159
@vietj  I mean suggestion of some other reactive postgresql client which is open-source.

[2019-05-07 03:11] mehcode opened #274 "Expose more details from PgException"
:wave: Hey @vietj, I submitted a PR that got merged recently ( #272 ). It appears to now be defunct and not included in the most recent master?

Those additional error details are critical for complex query error handling.

I see that `PgException` just has 3 strings now. Can we not just expose the internal error type?

[2019-05-07 17:29] vietj commented on #159
I think there are a few of them out there, google is your friend

[2019-05-07 17:31] vietj commented on #274
@mehcode we are currently migrating this repository to be under the eclipse/vertx umbrella which is the explanation of this, when the repository will be migrated we will restore the previous master (which is still in this repo)

[2019-05-09 08:40] agschaid commented on #270
hi @vietj ,

I've set up a little Micronaut project to demonstrate the problem: [Link](https://github.com/agschaid/literate-pancake)

First I have to clarify an error on my part: when creating the issue I was a little overworked and mixed up the Error-Message and the Code that caused it. The `null value in column "json" violates not-null constraint` was not actually our problem anymore. That one w

[2019-05-09 12:13] vietj commented on #270
thanks @agschaid

[2019-05-10 13:29] BillyYccc opened #276 "MySQL renaming"
MySQL related things should be renamed to keep consistent with the project:

* rename package name `myclient` to `mysqlclient`

* rename class name prefix `My` to `MySQL`, for instance rename `MyClient` to `MySQLClient`

[2019-05-11 05:50] #276 closed

[2019-05-11 13:55] BillyYccc opened #278 "MySQL multi-resultset support"
https://dev.mysql.com/doc/dev/mysql-server/latest/page_protocol_command_phase_sp.html#sect_protocol_command_phase_sp_multi_resultset

[2019-05-11 14:43] BillyYccc opened #280 "MySQL transaction support"
reference: https://dev.mysql.com/doc/refman/8.0/en/sql-syntax-transactions.html

[2019-05-11 14:46] BillyYccc opened #281 "MySQL cursor support"
protocol reference:
* https://dev.mysql.com/doc/dev/mysql-server/latest/page_protocol_com_stmt_execute.html
* https://dev.mysql.com/doc/dev/mysql-server/latest/page_protocol_com_stmt_fetch.html

[2019-05-11 14:53] BillyYccc opened #282 "MySQL utility commands support"
protocol reference: https://dev.mysql.com/doc/dev/mysql-server/latest/page_protocol_command_phase_utility.html

[2019-05-11 14:53] BillyYccc commented on #282
support list:
- [x] COM_QUIT
- [ ] COM_INIT_DB
- [ ] COM_STATISTICS
- [ ] COM_DEBUG
- [ ] COM_PING
- [ ] COM_CHANGE_USER
- [ ] COM_RESET_CONNECTION
- [ ] COM_SET_OPTION

[2019-05-11 14:58] BillyYccc opened #283 "MySQL 16Mb+ size packet support"
Currently we can't handle MySQL packet whose payload size is larger than 16Mb.

protocol reference: https://dev.mysql.com/doc/dev/mysql-server/latest/page_protocol_basic_packets.html#sect_protocol_basic_packets_sending_mt_16mb

[2019-05-13 15:21] scottescue opened #284 "Documentation Links are Broken"
The documentation links in the README and project description are all broken. They point to "https://reactiverse.io/reactive-pg-client/guide/..." and all resolve with a 404.

I'm new to using this library, having made my way from the Micronaut documentation. I take it the project is in the middle of a transition. Is documentation currently published and available at a different URL?

[2019-05-14 02:27] BillyYccc commented on #284
This project is migrated from `reactive-pg-client` and is under construction currently, you may visit https://eclipse-vertx.github.io/vertx-sql-client/ as a workaround for now or you can have a try on https://github.com/eclipse-vertx/vertx-sql-client#documentation.

[2019-05-14 15:08] iyuq opened #285 "generated class `io.reactiverse.reactivex.pgclient.PgRowSet` does not implements Iterable<io.reactiverse.reactivex.pgclient.Row>"
The generated code of `io.reactiverse.reactivex.pgclient.PgRowSet` is:
[code]
If this does not implement Iterable, when I write code below:
[code]
Above code will get an error.
The generated code should like
[code]
to avoid the error.

[2019-05-14 22:12] tsegismont commented on #285
Thanks for reporting! This is a known issue and tracked by https://github.com/vert-x3/vertx-codegen/issues/252. It should be fixed in 3.7.1.

[2019-05-15 02:37] iyuq commented on #285
@tsegismont when will 3.7.1 landing?

[2019-05-15 05:10] tsegismont commented on #285
There is no firm date but should be within the next few weeks.

In the meantime you can iterate manually with hasNext/next.

[2019-05-15 05:32] iyuq commented on #285
@tsegismont Thanks for your help!

[2019-05-15 07:58] tsegismont commented on #285
You're welcome

[2019-05-20 05:17] BillyYccc opened #286 "Complete support for MySQL TIME datatype"
Currently we haven't implemented binary encoding for MySQL `TIME` datatype, and we need to add support for this.

In addition, MySQL `TIME` datatype is diffrent and its value ranges from '-838:59:59' to '838:59:59', java type `java.time.LocalTime` will not cover this so we need to find a better type mapping, `java.time.Duration` will be a viable option for this.

[2019-05-20 13:21] #278 closed

[2019-05-21 04:55] scottescue commented on #284
Thanks! The first link is exactly what I was looking for.

[2019-05-21 04:58] BillyYccc commented on #284
https://reactiverse.io/reactive-pg-client website has also been fixed now.

[2019-05-21 07:27] meredrica opened #288 "correct JDBC url cannot be parsed"
Hello!

The [official doc](https://jdbc.postgresql.org/documentation/head/connect.html) for the postgresql jdbc driver states that connection uris must start with ``jdbc:postgres://``.

The [regex](
https://github.com/eclipse-vertx/vertx-sql-client/blob/ade44ecb11c8764c91e72d99ac74e52f3d8eaa93/src/main/java/io/vertx/pgclient/impl/PgConnectionUriParser.java#L37) that's in use doesn't match it howev

[2019-05-21 08:01] BillyYccc commented on #288
We don't use the syntax of JDBC connection url for the Postgres client

We implement this feature with the PostgreSQL official connection URI form
`postgresql://[user[:password]@][netloc][:port][,...][/dbname][?param1=value1&...]`
 see https://www.postgresql.org/docs/11/libpq-connect.html#LIBPQ-CONNSTRING for more information.

[2019-05-21 08:39] meredrica commented on #288
ok. that should go into the documentation ;)

[2019-05-21 08:54] BillyYccc commented on #288
Actually it has been clearly stated in the documentation :-)

[2019-05-21 13:57] vietj opened #290 "SqlClient close method"
Currently `SqlConnection` and `Pool` declare a close method, but not the super interface `SqlClient`. We should one generic `close()` method so it can be used independently of the implementation. The `Transaction` will also implement this method and rollback the transaction when called.

[2019-05-21 13:58] #290 closed

[2019-05-22 07:42] vaIgarashi opened #291 "Determine sql operation result type"
It's not possible to determine which sql operation was exectued (https://git.io/fj4Pd). For example, when i am running `INSERT .. ON CONFLICT UPDATE` i wanna know which operation type was executed insert or update. In standart JDBC ResultSet we have thing like `rowDeleted`, `rowUpdated` and `rowInserted`

[2019-05-23 09:18] #281 closed

[2019-05-23 09:29] #234 closed

[2019-05-24 08:49] #286 closed

[2019-05-25 01:43] iyuq commented on #285
vert.x 3.7.1 has landed, when will the new bug-fix version release?

[2019-05-25 02:12] BillyYccc opened #296 "Upgrade to Vert.x 3.7.1"

[2019-05-25 02:32] BillyYccc commented on #285
@iyuq I believe we can see a release for [reactive-pg-client](https://github.com/vietj/reactive-pg-client) soon.

[2019-05-25 02:36] iyuq commented on #285
@BillyYccc  thank you!

[2019-05-25 10:37] #296 closed

[2019-05-26 08:55] vietj commented on #285
@iyuq the reactive-pg-client 0.11.4 has been released with this fix.

[2019-05-26 08:55] vietj commented on #285
thanks @BillyYccc for the contribution

[2019-05-26 08:59] #285 closed

[2019-05-28 02:10] BillyYccc opened #299 "MySQL TLS support"
we can support TLS after we switch master branch to Vert.x 4.0 with better usage of `upgradeToSsl`.

protocol reference: https://dev.mysql.com/doc/dev/mysql-server/latest/page_protocol_connection_phase.html#sect_protocol_connection_phase_initial_handshake_ssl_handshake

[2019-05-28 02:14] BillyYccc opened #300 "MySQL caching_sha2_password authentication method support"
Add support for this so that we can work with MySQL 8, but before supporting this we need to support TLS handshake first.

protocol reference:

* https://dev.mysql.com/doc/dev/mysql-server/latest/page_caching_sha2_authentication_exchanges.html

* https://dev.mysql.com/doc/refman/8.0/en/caching-sha2-pluggable-authentication.html

[2019-05-29 09:36] BillyYccc opened #301 "MySQL LOCAL INFILE Request support"
protocol reference: https://dev.mysql.com/doc/dev/mysql-server/8.0.12/page_protocol_com_query_response_local_infile_request.html

[2019-05-30 11:13] #283 closed

[2019-05-30 12:25] BillyYccc opened #302 "Introduce MySQLConnectOptions"
We need an independent connect options for MySQL so that we can set configurations for MySQL specific features.

[2019-05-30 13:17] BillyYccc opened #303 "Separate Connect Options and Pooling Options"
Currently `PgPoolOptions` is subclass of `PgConnectOptions`, we should rename `PgPoolOptions` to `PoolOptions` and move it to `sqlclient` package so that it can be shared by different database clients(PostgreSQL, MySQL...), we also need to change some APIs to adapt to these changes.

[2019-05-31 07:30] #302 closed

[2019-05-31 08:11] #303 closed

[2019-06-01 09:46] vietj opened #306 "Split the project into modules"
Currently the project has a single Maven module `vertx-sql-client` that contains the API as well as the PostgresSQL and MySQL implementations.

We should split into 4 modules:

- vertx-sql-client-parent
- vertx-sql-client (API)
- vertx-pg-client (PostgreSQL)
- vertx-mysql-client (MySQL)

[2019-06-01 12:23] #306 closed

[2019-06-03 03:52] BillyYccc opened #310 "Introduce MySQLException class"
We need a `MySQLException` class to indicate an error occured, the exception is originated from MySQL ERR_PACKET and contains essential error elements(error code, sql state and error message) sent from MySQL server.

[2019-06-03 06:24] #310 closed

[2019-06-04 08:51] KyrumX opened #312 "Unable to use preparedQuery inside transactions"
So I am running into the issue that I cannot seem to use preparedQuery inside an transaction, just as with #237 I am getting the exception of 'io.vertx.core.VertxException: Transaction already completed'.

The same issue seems to be referenced here:

_Originally posted by @quandragoon in https://github.com/eclipse-vertx/vertx-sql-client/issues/237#issuecomment-485937449_

I am running 0.11.3.

Thi

[2019-06-06 20:28] bchapuis commented on #153
Hi @vietj and @davidzzzzz, I'm really interested in experimenting with `COPY FROM`. As #205 is closed what's the current status?

[2019-06-07 07:32] BillyYccc opened #314 "preparedQuery method will exhaust MySQL statements"
A simple reproducer is
[code]

error is
`io.vertx.mysqlclient.MySQLException: Can't create more than max_prepared_stmt_count statements (current value: 16382)`

because executing `SqlConnection#preparedQuery`creates a prepared statement but does not close it after executing.

[2019-06-07 07:42] BillyYccc commented on #314
A quick fix for this would mark a executingCommand with a closeAfterExectuing flag so that we can close the one-shot preparedQuery after executing, but we would not benefit much from the one-shot prepared query because we will have to execute like prepare->execute->close and that increases the round-trips.

Another way to fix can be move the `Prepared queries caching` feature to sqlclient, we can

[2019-06-07 09:08] vietj commented on #314
is it possible to determine the max number of prepared queries in MYSQL ?

[2019-06-07 09:16] BillyYccc commented on #314
yes, we can execute a query like `SET GLOBAL max_prepared_stmt_count = 50000;`, but I don't think this will always work in any use cases.

[2019-06-07 13:28] vietj commented on #314
I mean retrieve the value, overall I think we should have a max size value that is ocnfigurable and when the max size is reached then close old statements

[2019-06-07 13:28] vietj commented on #314
and we make this possible on `MySQLConnection` with a get/set of max statement cache

[2019-06-07 13:28] vietj commented on #314
and we provide an initial value in options.

[2019-06-07 13:30] vietj commented on #282
should't the list be updated with the new PR ?

[2019-06-07 13:30] #282 closed

[2019-06-07 14:05] BillyYccc commented on #282
I will start up a dedicated documentation for MySQL and update this later.

[2019-06-08 11:48] perttuk commented on #270
I had the same error and fixed it using `addJson` method, like this:

[code]

Hope this helps!

[2019-06-09 07:16] vietj commented on #312
I was able to reproduce it thanks

[2019-06-09 07:16] vietj commented on #312
I will investigate

[2019-06-09 07:17] vietj commented on #312
it seems normal to me, basically you should call tx.commit inside the prepared query result, when you commit just after, the first statement will send the commit statement before the prepared query is actually executed

[2019-06-09 07:18] vietj commented on #312
I.e you should do:

[code]

[2019-06-09 07:18] vietj commented on #312
I don't think it is the reactive sql client the culprit

[2019-06-09 07:18] vietj commented on #312
I agree that the examples show a wrong usage

[2019-06-09 07:20] vietj commented on #312
I will think about what is correct and not :-)

[2019-06-09 07:53] vietj commented on #312
it seems it shold be correct to delay the transaction commit until all commands in progress have been executed, I will try to provide a patch for this

[2019-06-09 07:53] vietj commented on #312
as work around you can commit the transaction when you get the prepared query result

[2019-06-09 09:42] BillyYccc opened #317 "MySQL documentation"
Add user guide documentation for MySQL.

[2019-06-09 11:28] KyrumX commented on #312
Hi @vietj , thanks for looking into it! I'll use your work around for now!

[2019-06-10 02:37] BillyYccc opened #319 "Extract common part of documentation to a new section"
`vertx-pg-client` and `vertx-mysql-client` sometimes shares the same usage of APIs, we can extract the documentation of them to a new common section so that it can be reused with different implemenations of database clients by including the section using asciidoc include.

[2019-06-10 14:19] agschaid commented on #270
thanks @perttuk

I'll try that tomorrow (both in my toy project and our production code).

[2019-06-10 16:22] vietj commented on #312
I think actually the work around is the normal way to go and without it, it leads to more confusing code, I will instead change the documentation to show the correct way.

Perhaps later in the future we can revisit this.

[2019-06-10 16:22] #312 closed

[2019-06-10 16:22] vietj commented on #312
set wontfix for now

[2019-06-10 20:43] vietj commented on #270
the issue is actually rather in vertx-rx that will not convert the JSON type correctly and it will be null instead.

The workaround is to do this:

[code]

the `getDelegate()` will return the correct type.

I think one solution is that Vert.x SQL Client and the Reactive PG Client should not use a codegen type for JSON and instead use a DataObject.

[2019-06-10 20:45] vietj commented on #270
Another less hackish way to make it work is to do:

[code]

[2019-06-10 20:45] vietj opened #320 "JSON types should not use code generation"
Currently the API uses an `@VertxGen` JSON type for PostgreSQL and this type cannot be unwrapped by the RX version with the `Tuple.of(...)` version because this one will not convert it.

[2019-06-10 20:46] vietj commented on #270
see https://github.com/eclipse-vertx/vertx-sql-client/issues/320 - I will close this issue.

[2019-06-10 20:46] #270 closed

[2019-06-11 06:57] #288 closed

[2019-06-11 07:00] vietj commented on #320
for the sake of simplicity I am leaning toward removing the custom JSON type in `pgclient` and instead use `JsonObject` / `JsonArray` / `Number` / `Boolean` / `String` types.

The main issue is the ambiguous `null` value that can either mean null row or the null JSON value. This could be solved by always using the null JSON value.

[2019-06-11 07:01] vietj commented on #320
@BillyYccc @ EmadAlblueshi any opinion on this ?

[2019-06-11 08:11] BillyYccc commented on #320
`null` value is also ambiguous in `RowImpl`, a SQL `NULL` value or a mismatched typed value(which is called with accessor methods) both returns a null, maybe we should add some metadata to `Row` to make this more clear?

[2019-06-11 08:14] vietj commented on #320
you mean something like an `isNull(String)` / `isNull(int)` with a null sentinel object ?

[2019-06-11 08:22] BillyYccc commented on #320
yes, it tells the user whether it's SQL null value and returns a `boolean`, but the implementation details might vary.

[2019-06-11 08:27] vietj commented on #320
ok, I think that's doable easily

[2019-06-11 08:37] vietj commented on #320
I think one easy way to do, is to use `JsonNode` type in PG `RowImpl` and then unwrap this in `get(int)`.

The `isNull` can be implemented by simply checking `super.get(int) == null`.

[2019-06-11 12:40] vietj commented on #320
at the end of the day after trying some variations around the idea, the simplest is to setup a `JSON_NULL` value constant that represents JSON null value

[2019-06-11 12:40] vietj commented on #320
I will provide a PR for that.

[2019-06-11 12:57] #320 closed

[2019-06-11 22:22] kubino commented on #240
Having the same issue with `geography` type from Postgis, it is polluting the log every single time the query contains decoding of such an "natively uknown/unsupported" field type

[2019-06-13 03:16] BillyYccc opened #323 "CI failed"
CI failed to pass due to the changes related to https://github.com/eclipse-vertx/vertx-sql-client/commit/30635d37acb8dd108866c28d72295f224155f311.

[2019-06-13 20:29] #323 closed

[2019-06-13 21:57] vietj commented on #240
I think we should simply move this warning to debug.

[2019-06-14 02:34] BillyYccc commented on #314
I wonder whether we can also provide options for SQL placeholder interpolation like JDBC does by default, in this way users can eliminate this kind of error totally.

[2019-06-15 15:30] #319 closed

[2019-06-18 02:46] BillyYccc opened #329 "RowResultDecoder abstraction"
We use `RowResultDecoder` class to decode rows with `java.util.stream.Collector` support in MySQL and PostgreSQL, such generic class can be made abstract and extracted to `sqlclient` class.

[2019-06-18 02:51] BillyYccc opened #331 "MySQL closehook support"

[2019-06-18 06:22] #331 closed

[2019-06-18 10:26] FroMage opened #333 "`Tuple.add()` fails for wrapped types"
I create an `io.vertx.axle.core.buffer.Buffer` instance, call `io.reactiverse.axle.pgclient.Tuple.addValue(Object)` on it, and it passes it to `delegate.addValue(Object)` which does this:

[code]

So it adds a `null` value because I'm trying to add a wrapped object. Is this normal?

[2019-06-18 10:28] FroMage commented on #333
`Tuple.addBuffer` does properly unwrap, so this is asymmetrical.

[2019-06-18 12:25] vietj commented on #333
looks like https://github.com/eclipse-vertx/vertx-sql-client/issues/320

[2019-06-18 12:26] vietj commented on #333
I think that we should avoir wrapped vertx type in Tuple, likely we could switch to `byte[]`

[2019-06-18 12:27] FroMage commented on #333
That would work for me.

[2019-06-20 06:06] BillyYccc opened #334 "MySQL preparedBatch support"
Since MySQL has no native protocol support for batching, we can simulate the process, in that way we send several COM_STMT_EXECUTE with the batching params from a prepared statement, then concat the `SqlResult` and return it to the user.

[2019-06-20 06:12] BillyYccc commented on #334
I wonder whether we should support the `rewriteBatchedStatements` which is a property of MySQL JDBC driver, it will rewrite the prepared query to send one multi-query packet to save the round trips between the client and the server since MySQL does support pipelining. But one of the disadvantages is it's a bit opinionated with some magic.

[2019-06-21 06:09] vietj commented on #334
@BillyYccc just go for now with the simplest way to do

[2019-06-22 05:08] BillyYccc commented on #147
We can support this with adding a `noticeHandler` method, in fact it has been motivated in https://github.com/eclipse-vertx/vertx-sql-client/pull/145#issuecomment-414040432.

[2019-06-22 05:20] BillyYccc opened #337 "MySQL connection URI support"
Reference: https://dev.mysql.com/doc/refman/8.0/en/connecting-using-uri-or-key-value-pairs.html#connecting-using-uri

[2019-06-22 05:31] BillyYccc commented on #269
@renannprado Hi, would you like to try the `3.8.0-SNAPSHOT` version? I think this has been resolved after we migrate `reactive-pg-client`to `vertx-sql-client`.

[2019-06-22 17:44] vietj commented on #269
now the kotlin source code should be in the kotlin code base https://github.com/vert-x3/vertx-lang-kotlin/blob/3.8/vertx-lang-kotlin/pom.xml#L299

[2019-06-22 17:44] #269 closed

[2019-06-23 05:10] #317 closed

[2019-06-23 07:13] #334 closed

[2019-06-23 07:13] #240 closed

[2019-06-23 07:14] #337 closed

[2019-06-25 03:59] renannprado commented on #269
@BillyYccc @vietj sorry for the delay, but yes it does work. Thanks!

[2019-06-27 04:30] renannprado opened #340 "PostgreSQL's hstore type implementation"
I was trying to hack around the lib to see if I could implement the [hstore](https://www.postgresql.org/docs/9.1/hstore.html) type, however it seems to be a little tricky as the `oid` of types created via extension is not the same across postgresql installations according to what I read here https://github.com/jackc/pgx/issues/227#issuecomment-272319971.

Based on that, I wonder if there's already

[2019-06-27 07:46] vietj commented on #340
how does `pgx` get the field description name ?

[2019-06-27 07:46] vietj commented on #340
have you looked at how it is done for other clients like JDBC ?

[2019-06-27 13:34] renannprado commented on #340
@vietj just by looking at the code, it looks like they have at least two ways of mapping the types: one via `oid` and another via type `name`.

If you look [here](https://github.com/pgjdbc/pgjdbc/blob/master/pgjdbc/src/main/java/org/postgresql/jdbc/TypeInfoCache.java#L138), you'll see that they add the `hstore` type name to a map called `pgNameToJavaClass`. So I suppose we would have do something

[2019-06-27 14:02] vietj commented on #340
I don't understand how the lookup is done given that only the IOD is passed in the protocol. How does it work when the driver needs to transform bytes to this format ? how is the lookup done ?

[2019-06-27 14:23] renannprado commented on #340
It looks like they lookup on demand when it doesn't match with the ones already set by the lib.

It is querying the database to map the `oid` to the type name, apparently: https://github.com/pgjdbc/pgjdbc/blob/master/pgjdbc/src/main/java/org/postgresql/jdbc/TypeInfoCache.java#L361

[2019-06-27 16:07] abcfy2 opened #341 "How to log sql ?"
Hibernate has a `TRACE` log level for logging sql. Is there any ways for this project ?

[2019-06-28 05:04] BillyYccc opened #342 "Support multiple charsets for MySQL"
Protocol reference: https://dev.mysql.com/doc/dev/mysql-server/8.0.12/page_protocol_basic_character_set.html

JDBC driver can also be a reference https://dev.mysql.com/doc/connector-j/8.0/en/connector-j-reference-charsets.html

We should also handle `utf8` and `utf8mb4` specifically.

[2019-06-28 06:57] vietj commented on #341
no there is not, however it is you that send SQL through the client and this client does not modify the SQL, so you can log it yourself in practice

[2019-06-28 06:57] #341 closed

[2019-06-28 07:10] vietj commented on #340
ok, this makes sense. I think we could have something like this where the user explicitly asks for it ?

[2019-06-28 07:11] vietj commented on #340
I will create an issue for this feature

[2019-06-28 07:18] vietj opened #343 "Custom PostgreSQL type mapping"
PostgreSQL does have a fixed type OID assignments for all the built in types. Extensions will add custom OID that do not have a specific OID and can change according to the database instance.

We need to support such types and have the ability to provide a dynamic mapping so that custom types can be correctly encoded/decoded.

So basically we can

1. start by providing a OID <-> Codec table to the

[2019-06-28 07:18] vietj commented on #340
https://github.com/eclipse-vertx/vertx-sql-client/issues/343

[2019-06-28 07:19] vietj commented on #340
I will close this issue in the mean time as it is specific to hstore

[2019-06-28 07:19] #340 closed

[2019-06-30 19:52] huntj88 opened #345 "Transactions across multiple databases"
This is what i'm currently doing and it seems to work well enough, but was wondering if there was a better way

[code]

[2019-07-02 17:19] mhp0rtal opened #346 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => src/main/java/io/reactiverse/pgclient/impl/codec/util/MD5Authentication.java: Line number => 54: API name => MessageDigest:<BR> File name => src/main/java/io/reactiverse/pgclient/impl/codec/util/MD5Authentication.java: Line number => 46: API name => MessageDigest:First parameter (with value "MD5") should be any of {SHA-256, S

[2019-07-02 17:40] #346 closed

[2019-07-04 21:31] #243 closed

[2019-07-05 15:40] mkulak commented on #273
I'm seeing the same issue. Our postgres is restarted 1-2 times per week while app is running. Most of the time PgPool is able to reconnect. But sometimes NPE happens and then pool is dead - application just hangs. Restarting app helps.

[2019-07-05 17:32] vietj commented on #273
can you try with the current vertx sql client snapshots and report the error if any ?

[2019-07-05 17:32] vietj commented on #273
we need in this project to reimplement the PgPool using the existing pool from vertx-core

[2019-07-08 06:34] daihy8759 opened #348 "timestamp encode error"
this code is correct
[code]

but when i use `LocalDateTime.now()`,test failed
[code]

[2019-07-08 07:21] BillyYccc commented on #348
Thanks for reporting! It's definitely a bug in codecs.

[2019-07-08 08:40] ikitommi opened #349 "Standalone Client always only uses 1 vertx thread, despite eventLoopPoolSize setting"
Hi,

I'm using the client without Verx, big thanks for it. Is there a guide on setting the internal Vertx thread pool settings together with the db pool settings? e.g. if I use 64 as pool size, should the internal Vertx thread pool also be 64 or are the defaults always ok?

[2019-07-08 08:54] daihy8759 opened #350 "MySQL client does not correctly check if a database row value is null for prepared statement results"
when select field is null in database,  throw exception
[code]

stack exception:
[code]

[2019-07-08 12:32] vietj commented on #350
it looks like a bug

[2019-07-08 12:44] vietj commented on #350
can you clarify more what you observe and how to reproduce it ? you don't give enough information about it to reproduce it.

[2019-07-08 12:50] daihy8759 commented on #350
just update  column value to null, empty string or not null no exception.
`UPDATE datatype set test_var = null where id =3`

[2019-07-08 12:51] vietj commented on #350
I think I was able to reproduce it

[2019-07-08 12:51] vietj commented on #350
I'll take care of it

[2019-07-08 13:32] #350 closed

[2019-07-08 13:33] vietj commented on #350
it should be fixed now, can you check ?

[2019-07-08 14:21] daihy8759 commented on #350
🎉 yes， thanks！

[2019-07-08 16:13] #348 closed

[2019-07-08 16:15] vietj commented on #349
the internal vertx thread pool does not really matter in practice (threads are lazily created), and if you want to control it, a single event loop thread can achieve a lot of IO

[2019-07-09 06:45] ikitommi commented on #349
Thanks!

[2019-07-09 12:45] BillyYccc commented on #342
We could support MySQL collation first, more information can be found in https://dev.mysql.com/doc/refman/8.0/en/charset.html.

[2019-07-09 15:08] daihy8759 opened #353 "Simple way convert row to JsonObject?"
Dear Authors,

Is there has Simple way to convert JsonObject from row?

[2019-07-09 16:07] vietj commented on #353
you mean a json object with row names as keys ?

[2019-07-09 16:07] vietj commented on #353
not yet but there will be some mapping to JsonObject / DataObject in Vert.x 4 at least

[2019-07-09 22:03] daihy8759 commented on #353
yeah,The conversion method is a bit complicated now, some data types I have not done yet.
[code]

[2019-07-10 08:59] daihy8759 commented on #280
hi，have any progress about this？

[2019-07-10 10:05] BillyYccc commented on #280
It's in the plan but not supported yet, I did a try in https://github.com/BillyYccc/vertx-sql-client/tree/mysql-feature/transaction some time ago and I think we may think further and revisit this later. You may manage the transaction yourself with the `SqlConnection` at the moment.

[2019-07-10 10:06] BillyYccc commented on #280
Contributions are absolutely welcome 😃

[2019-07-11 09:35] daihy8759 opened #354 "only support Mysql great 5.7？"
Hi，I found mysql client only support > 5.7, but can't  found  any describe about this.

[2019-07-11 10:28] BillyYccc commented on #354
I haven't checked for those, we should add matrix tests for MySQL like the Postgres client does. The protocol differs between different mysql versions so we may need extra effort to make all work. I wonder if we will want to support the versions below 5.6 because actually MySQL 5.5 has ended support in 2018, so maybe we can add MySQL 5.6 and 8.0(in Vert.x 4.0) support.

[2019-07-11 12:17] daihy8759 commented on #354
I agree with you, MySQL 5.6 not yet supported，I've done a test.

[2019-07-11 14:21] daihy8759 commented on #354
I think problem is this code  in `CommandCodec`
[code]
https://dev.mysql.com/doc/dev/mysql-server/latest/page_protocol_basic_ok_packet.html
it says
As of MySQL 5.7.5, OK packes are also used to indicate EOF, and EOF packets are deprecated.
if CLIENT_PROTOCOL_41 is set, the packet contains a warning count.

[2019-07-12 06:59] BillyYccc opened #355 "Build matrix for MySQL"
test our `vertx-mysql-client` with MySQL 5.6, 5.7, 8.0(we can add this later).

[2019-07-12 14:30] mkulak commented on #273
Unfortunately I can't try snapshots now.
We can reproduce problem with hanging by doing full vacuum on postgres db (after some inserts/deletes). For our use case full vacuum takes ~10 minutes to complete. During that time db doesn't not respond (as expected) but afterwards connection pool doesn't recover - it stay unresponsive. Every call to db basically hangs forever.

[2019-07-14 11:28] #354 closed

[2019-07-14 11:28] #355 closed

[2019-07-14 11:46] BillyYccc commented on #354
@daihy8759 Thanks for the hint, would you like to check the latest `3.8` branch for the compatibility with MySQL 5.6?

[2019-07-15 01:54] daihy8759 commented on #354
I create mysql5.6 in docker test passed,but test failed on my server version.

docker mysql version info:
===

`mysql  Ver 14.14 Distrib 5.6.44, for Linux (x86_64) using  EditLine wrapper`

server mysql version info:
===

`mysql  Ver 14.14 Distrib 5.6.37, for Linux (x86_64) using  EditLine wrapper`

[2019-07-15 02:18] daihy8759 commented on #354
It seems mysql version parse fail
[code]
I found mysql full version is
![image](https://user-images.githubusercontent.com/6057326/61192804-bd001200-a6e9-11e9-8ea5-dfa798ac3e12.png)

[2019-07-15 02:19] BillyYccc commented on #354
Can you show the error info or stacktraces? The embedded MySQL version is 5.6.36.

[2019-07-15 02:20] daihy8759 commented on #354
if your version string ends with -log this means that logging is enabled. releaseNumber may has letters

[2019-07-15 02:21] BillyYccc commented on #354
I don't know much about the naming convensions for MySQL, it should be improved on the parsing. Thanks again:-)

[2019-07-15 05:10] BillyYccc opened #357 "parsing MySQL version should be able to handle unstable version"
such as `mysql-8.0.1-dmr`. Reported in https://github.com/eclipse-vertx/vertx-sql-client/issues/354#issuecomment-511257529.

[2019-07-15 10:11] shenzhou-6 opened #358 "Mysql connectionUri UserInfo Not Support ExclamationMark"
Like uri = "mysql://user!name:dd!dd@127.0.0.1:3306/dbname"

I created a user name and password with exclamation marks in mysql, which supports

[2019-07-15 17:22] decalek commented on #353
In many cases, json serialization of the resultset/resultsets goes outside of the app server (e.g. to web client or service consumer) without any mangling.

IMHO, In these cases, it may be feasible JsonGenerator to be used for direct row serialization to the stream.

(Sorry if this is already aranged in vert.x, I not have learned the platform yet)

[2019-07-16 01:45] #358 closed

[2019-07-16 09:24] #357 closed

[2019-07-17 01:51] BillyYccc commented on #333
Hi, for now we do not support `byte[]` type in codegen module, if we want to switch to the `byte[]` we may need to first support `byte[]` there. Or maybe we can improve our rx module to avoid unnecessary wrapping like this? Actually it has been discussed before in the https://github.com/vert-x3/vertx-codegen/issues/40.

[2019-07-17 09:04] daihy8759 opened #362 "mysql chinese characters condition select fail"
As title say,now chinese characters condition select failed.
but before this commit : [MySQL collation support (#352)](https://github.com/eclipse-vertx/vertx-sql-client/commit/b5795163881a51794daf3fe362350740705da8a2) ,result is right.

[2019-07-17 09:15] daihy8759 commented on #362
I think collation configure in MySQLConnectOptions  not very well.because table may not all collation are same,maybe use sql get collation?
[code]
![image](https://user-images.githubusercontent.com/6057326/61363275-4d8b4d80-a8b6-11e9-990b-8390f553aef8.png)
or use `show table status`

[2019-07-17 09:22] BillyYccc commented on #362
Can you give a reproducer? actually connection collation/charset is a different value from table or column collation/charset in MySQL.

[2019-07-17 09:22] BillyYccc commented on #362
You can take a look at the test as well https://github.com/eclipse-vertx/vertx-sql-client/blob/5583e1efe171a1f35e3ab9bcd8395e4c15e451fb/vertx-mysql-client/src/test/java/io/vertx/mysqlclient/MySQLQueryTest.java#L43-L80.

[2019-07-17 09:30] daihy8759 commented on #362
[code]

[2019-07-17 11:30] BillyYccc commented on #362
https://github.com/eclipse-vertx/vertx-sql-client/blob/f9c846ddeb5f1524e0711cde8217c37b7791a19e/vertx-mysql-client/src/main/java/io/vertx/mysqlclient/impl/codec/ExtendedQueryCommandBaseCodec.java#L78

This is where the problem happens. The param definitions in prepare statement response do not provide any useful info and charset is always `binary(63)`, I don't know why MySQL behaves like this.

[2019-07-17 12:11] BillyYccc commented on #362
It looks like JDBC MySQL is always using the UTF8 charset for the param encoding.

[2019-07-17 14:14] BillyYccc commented on #362
This should be fixed in the latest commits in https://github.com/eclipse-vertx/vertx-sql-client/pull/361.

[2019-07-17 23:03] abonander opened #363 "Allow specifying types of bind parameters when preparing query"
(We're still using `reactive-pg-client 0.11.4` but this appears to apply to this library as well and I assume no new development will take place for `reactive-pg-client` anyway so I'm opening this here.)

I see this code was commented out: https://github.com/eclipse-vertx/vertx-sql-client/blob/3.8/vertx-pg-client/src/main/java/io/vertx/pgclient/impl/codec/PgEncoder.java#L285-L294

We've run into a

[2019-07-18 00:44] daihy8759 opened #364 "io.vertx:vertx-sql-client:test-jar should't in compile scope"
I use mvn dependency:list found  io.vertx:vertx-sql-client:test-jar is in compile scope,but not in test scope,Is this a bug?
![image](https://user-images.githubusercontent.com/6057326/61421106-32612200-a938-11e9-83cd-99fe4fc2f6d4.png)

[2019-07-18 07:52] #364 closed

[2019-07-19 06:23] ikitommi commented on #349
I'm running the PgPool under Undertow, and calling the client from UnderTows IO Threads. There are the default 2*CPU IO Threads in Undertow, but the Vertx spins only just 1 `vert.x-eventloop-thread` handling the database connections, despite the load. The `Vertx` instance should have the 2*CPU and set the PgPool to same thread count. Do I need to initialize/deploy the underlaying Vertx somehow so

[2019-07-19 06:54] ikitommi commented on #349
Making the pool ThreadLocal, I get 1 vert.x event thread per Undertow IO thread, but there are now also extra theads, so would like to have just one big vert.x pool to talk to.

<img width="1084" alt="Screenshot 2019-07-19 at 9 52 16" src="https://user-images.githubusercontent.com/567532/61515389-2abe7d80-aa0b-11e9-8458-c6ac54c6383f.png">

[2019-07-19 07:39] BillyYccc commented on #349
Hi, you can create your own `Vertx` instance and manage it yourself, and you're able to configure the eventloop size with `VertxOptions#setEventLoopPoolSize` when instantiating the `Vertx` instance.

[2019-07-19 07:46] vietj commented on #349
maybe in standalone mode (where vertx is instantiated by the client) we should use smaller event loop size ?

[2019-07-19 07:58] ikitommi commented on #349
`Vertx` should already have more threads, tested and setting that manually doesn't change the fact that all calls on the `.preparedStatement` just use the one thread. Creating the `Vertx` just seems to spin just the `vert.x-blocked-thread-checker`. First call to the client puts out 1 thread, which is used for all future calls, despite the load.

Vertx samples seem to do:

[code]

, so should I ins

[2019-07-19 09:43] daihy8759 opened #365 "MySQLPool get connection maybe have problem"
second time execute will wait long time and no response
this is problem code:

[code]

[2019-07-19 11:43] #342 closed

[2019-07-20 03:45] BillyYccc opened #366 "Tuple accessor methods will throw UnsupportedOperationException"
https://github.com/eclipse-vertx/vertx-sql-client/blob/3fcbb7cbd533ec14cb3cf0a32ca5f2319f2f2758/vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/ArrayTuple.java#L42-L50

[2019-07-20 03:52] BillyYccc opened #368 "Provide an option to test MySQL tests with external databases"
instead of embedded database so that we can easily test the MySQL client with different databases(such as MariaDB).

[2019-07-23 03:20] broye opened #369 "When create second pgsql client, PgPoo.pool hangs infinitely, using latest reactive pgclient"
I am trying out the latest reactive pgclient with clojure.

The first client is  created successfully. When to create a second client, PgPool.pool hangs infinitely.

Is it a bug or is there a specific away to create multiple clients connecting to different host and db?

My test case the second client connects to another postgresql instance on the same host with a different port.

Below is code
[co

[2019-07-23 08:45] vietj commented on #369
can you create a reproducer in Java ?

[2019-07-23 15:13] larousso opened #371 "Support for text search types"
Add support for text search in postgresql (tsquery and tsvector).

This types can be handled using java `String` as they are usually not really used on the client side.
Most of the time we only need to pass a string to the functions to_tsvector or to_tsquery so we need to do this type of query :

[code]

[2019-07-23 16:07] #371 closed

[2019-07-24 01:00] broye commented on #369
I figured out how to make it work in my test case by creating client with vertx.

I have a vertx REST server running. When I change the code to create pool with vertx, second client can be created successfully.

I guess it has something to do with thread management. Not sure exactly why but I am glad it works.

[2019-07-24 14:27] larousso opened #372 "Inconsistency in tests on text search"
Tests are failing when they are run from the command line but are fine on CI or on the IDE.

[2019-07-24 15:56] #366 closed

[2019-07-24 21:12] #372 closed

[2019-07-24 21:15] vietj commented on #369
it would be good to have a reproducer to investigate the actual issue you reported though

[2019-07-25 02:30] GZYangKui opened #374 "Is it possible to implement shareClient ?"
Consider adding shareClient later to enable shared connections in an application

 :octocat: [From gitme Android](http://flutterchina.club/app/gm.html)

[2019-07-25 07:28] vietj commented on #374
can you give a pointer to this feature ?

[2019-07-25 11:56] BillyYccc opened #375 "Add manual links in the README"

[2019-07-25 12:31] vietj commented on #374
ah you mean like in other client projects ? I think we need to come up with something similar indeed

[2019-07-25 12:42] GZYangKui commented on #374
Sorry, maybe I didn't express my idea clearly. What I really meant was to provide # SQLClient client = JDBCClient. createShared (vertx, config)# like JdbcClient, so that connections in the connection pool can be shared anywhere in the application. Thank you for your reply.

[2019-07-25 17:37] #375 closed

[2019-07-26 02:17] BillyYccc opened #378 "Broken TLS tests in master branch"
the TLS tests in PostgreSQL do not pass due to the breaking changes of `upgradeToSsl` in Vert.x core 4.0. We need a rework implementation for TLS in PostgreSQL and that also makes sense for MySQL TLS support in #299.

[2019-07-26 14:07] #368 closed

[2019-07-26 17:28] vietj commented on #378
ah right

[2019-07-26 17:33] vietj commented on #378
tests currently pass, so I'm not sure what you are refering to

[2019-07-26 17:42] vietj commented on #378
currently I think we still have tests passing:

[code]

but that does not look correct since now v is an AsyncResult handler.

[2019-07-27 02:36] BillyYccc opened #380 "MariaDB compatibility"
TODO checks:

- [ ] Add testing for the MariaDB

- [ ] Fix the issues

- [ ] Connection URI scheme designator support

- [ ] Travis setup for MariaDB

- [ ] Documentation

[2019-07-27 02:43] BillyYccc commented on #378
The travis CI does not pass, see https://travis-ci.org/eclipse-vertx/vertx-sql-client/builds/563626290?utm_source=github_status&utm_medium=notification.

[2019-07-27 02:44] BillyYccc commented on #378
I think we should refactor the `InitiateSslHandler` class to avoid exception capature and use the `upgradeToSsl` callback AsyncResult.

[2019-07-27 09:57] vietj commented on #378
weird, it works locally for me

[2019-07-27 09:58] vietj commented on #378
it's maybe a race

[2019-07-27 10:01] vietj commented on #378
I might have a (temporary) workaround for this

[2019-07-27 10:05] aesteve opened #382 "Can't find classes under the `reactivex` package in 4.0.0-milestone1"
Hello,

I have a fine-working application with:

- 3.8.0
- vertx-pg-client
- rxjava2

Here's an extract of `build.gradle.kts`:

[code]
I tried to upgrade my app to 4.0.0-milestone1, without touching anything, and found missing classes like `import io.vertx.reactivex.pgclient.PgPool`.

Basically, every class under the `reactivex` package for the modules `vertx-pg-client`, `vertx-sql-client` appear

[2019-07-27 10:21] vietj commented on #378
this is related to a bug in vertx-core actually where the upgradeToSSL test will not setup the current Vert.x context association correctly and thus the socket connection does not run on the context