[2019-07-27 10:21] vietj commented on #378
going to push a fix in vertx-core for this first

[2019-07-27 10:22] vietj commented on #378
see https://github.com/eclipse-vertx/vert.x/commit/6a255436777a77640b8f31da35ef96876d773578

[2019-07-27 11:23] BillyYccc commented on #365
This is mainly because of mutating pool connection factory properties map when creating new connections.

[2019-07-27 12:15] vietj commented on #378
I patched 3.8 and master with work around that will make TLS work in both cases

[2019-07-27 12:15] #378 closed

[2019-07-28 16:21] #365 closed

[2019-07-28 16:22] vietj commented on #382
right I think we haven't integrated SQL client in vertx-rx and such we should fix it

[2019-07-29 10:32] BillyYccc opened #384 "Moving the proxy tests from vertx-pg-client to vertx-sql-client"
because it's a general feature, the documentation and examples should also be changed for this.

[2019-07-30 05:48] vietj commented on #382
see https://github.com/vert-x3/vertx-rx/commit/58ad322cecf60907b413659edb2e7b9bfcee96e8

[2019-07-30 05:48] #382 closed

[2019-07-30 05:48] vietj commented on #382
resolved with wontfix as this will be done in vertx-rx instead

[2019-07-30 05:49] vietj commented on #382
the issue can't be moved

[2019-07-30 16:47] ikitommi commented on #349
Renamed the issue. Would be interested in seeing how to run the client using the whole vertx pool.

[2019-07-31 07:07] vietj commented on #349
what you can do is create several pools put them in a list and round robin on them when you need a connection

[2019-07-31 07:08] vietj commented on #349
that being said, we are going soon to define more properly the notion of "shared" pool accross vertx (same need for other client) and we should take this in account.

[2019-07-31 07:45] ikitommi commented on #349
Thanks for the answers. Looking forward to the shared pooling.

[2019-08-02 12:33] BillyYccc opened #385 "Testcontainers migration"
Migrate our embedded databases for testing to [Testcontainers](https://www.testcontainers.org/) discussed in https://github.com/eclipse-vertx/vertx-sql-client/pull/381#issuecomment-515672725. (Actually we have given a try a long time before)

Pros:
* Single dependency on the `Testcontainers`
* Better support for the new features and new versions
* the same way of using it in testing with different

[2019-08-02 12:37] BillyYccc opened #386 "Boosting tests"
Currently testing is slow and the most notable reason is we frequently start/stop the server and initialize it with an init script during our tests. We can make the server to be shared which means the shared one won't stop until all the tests end.

In order to achieve this, we need to try to make all the tests stateless(which means it can be rerun several times and still pass).
I have given a try

[2019-08-04 07:03] ylemoigne commented on #369
I think I got the same issue.

This is a java reproduce:
`package reproduce.pghang;

import io.vertx.core.AbstractVerticle;
import io.vertx.core.Promise;
import io.vertx.core.Vertx;
import io.vertx.ext.web.Router;
import io.vertx.pgclient.PgConnectOptions;
import io.vertx.pgclient.PgPool;
import io.vertx.sqlclient.PoolOptions;
import io.vertx.sqlclient.Tuple;

public class Main {
    public static

[2019-08-04 20:33] ylemoigne opened #387 "Hidden`Request has already been read` when using http2 and reactive client making vertx hang"
When using vertx, with http2, and reading header and executing a query, then the handler chain fail

Using the following java reproducer, make a get to `https://localhost:8080/api/test`, if the SQL query is disabled, it doesn't hang. If the SQL query is here, it fail to answer, and in `RoutingContextImplBase.java`, line 126, we are into the `handleInHandlerRuntimeFailure(route, failed, t);`. The `

[2019-08-04 21:18] vietj commented on #387
can you provide a reproducer project ? does it happen without OpenAPI ?

[2019-08-04 21:37] ylemoigne commented on #387
I succeed to reproduce it without openapi router. It's the body handler which trigger the issue.

Here the full project to reproduce the issue :
[reactive-pg-hang.zip](https://github.com/eclipse-vertx/vertx-sql-client/files/3465353/reactive-pg-hang.zip)

[2019-08-05 09:03] vietj commented on #387
thank you

[2019-08-05 09:09] vietj commented on #387
can you tell how to use it ? it seems to involve HTTP/2

[2019-08-05 09:11] ylemoigne commented on #387
You're welcome, thanks to you for your work on vertx.

Once the server is started, just point a browser (I'm using Firefox 68.0.1) and point to `https://localhost:8080/api/test`

[2019-08-05 09:12] vietj commented on #387
ok thanks

[2019-08-05 09:24] vietj commented on #387
I think actually it is because there is an asynchrony involved in your setup, i.e what your pipeline do is:

- use an handler that asynchronously continues the request (which is fine) using SQL client
- use a body handler

when you trigger the asynchronous request, the HTTP request event will continue and deliver the buffers and the request end event. By the time the body handler is executed it wi

[2019-08-05 09:25] vietj commented on #387
this way the request event will not happen until you resolve the HTTP server request

[2019-08-05 09:27] #387 closed

[2019-08-05 10:40] ylemoigne commented on #387
Ok, thanks you, sorry for the report. I saw about pause()/resume() in a forum question but it was about kotlin-coroutine.

I don't find information about using async op and handler in vertx-web documentation, maybe adding a note can prevent false report to loose vertx dev time ?
(If so, should I create an issue in vertx-web repo ?)

[2019-08-05 12:04] ylemoigne opened #388 "Names in Row are lowercase"
Using postgres client, if a query use mixed case alias, the row won't find the field if not requested in lowercase.

If query `SELECT foo AS mixedCaseName FROM mytable` then `row.getString("mixedCaseName")` will return `null` ( `row.getString("mixedcasename")` will return the value)

If this behavior is intended, I think it should be documented as it differ from JDBC API and can be surprising.

[2019-08-05 12:55] vietj commented on #388
this is the expected behavior, the SQL client would not modify what you send to the database, this is not specific to PG so perhaps indeed we should add a generic section in the documentation about this

[2019-08-05 13:02] vietj commented on #387
I agree with you, there should be a note.

[2019-08-05 13:04] vietj commented on #387
the documentation actually says:

_The usage of this handler requires that it is installed as soon as possible in the router since it needs
to install handlers to consume the HTTP request body and this must be done before executing any async call._

I will add a note that any async behavior can be done but should pause/resume it

[2019-08-05 13:11] ylemoigne commented on #387
Ho, as I was using the openapi router, and it's him that added the body handler, I did not connect everything in my head.

I think that it worth to put a note on Web API Contract doc too.

Again, thanks for everything.

[2019-08-06 23:58] miere commented on #266
I totally agree with @abcfy2. I've also created a similar method to `Tuple buildTuple(List params)`, which is utterly repetitive as I have to use it in multiple places. It forced me to issue a shared library with a single method within it.

[2019-08-07 07:19] vietj commented on #266
I think we should add back the List build.

To be honest I don't remember why we removed it, perhaps it's a mistake when importing the project.

[2019-08-07 23:47] miere commented on #266
As an addend to that, would it be ok to also include an array wrapper?

Maybe I should give you a bit of context. One of my services is using vertx to ingest data from the rest api and relay it into a Kinesis stream. I took special care to convert the data in a way it was easy consume and make a batch insert into my postgres db. I means I've transformed it into an `Object[]` and all I had to do in

[2019-08-08 06:52] vietj commented on #266
@miere  yes I think it's possible to have such wrappers to avoid un-necessary object creation, can you open another issue for this and make a PR ?

[2019-08-09 13:18] BillyYccc opened #389 "Introduce generatedKey() on SqlResult"
For PostgreSQL we can use `RETURNING` clause for fetching the generated keys, but in MySQL we can get the generated key via the `last_insert_id` in the OK_Packet OTTB, so we may add an interface for this in the `sqlclient` module for better usage.

[2019-08-09 13:22] BillyYccc opened #390 "Improve the SqlResult documentation"
Currently the JavaDoc documentation of `SqlResult` contains specific docs for PostgreSQL and we should rewrite it, note the number of selected rows will not be counted into `rowCount()` in MySQL which is a different behavior from that in PostgreSQL.

[2019-08-11 06:44] pmlopes commented on #389
I'd rather have a `lastInsertedId()` that would only work for MySQL. Postgres can emulate that feature with the returning keywork but it will open a can of worms as you will need to parse the query to define the right place to add the returning statement. For trivial queries it's just appending but for complex ones like cte's you really need to parse and insert in the right place.

My opinion is n

[2019-08-11 10:14] BillyYccc commented on #389
I agree we should avoid magic like injecting `RETURNING` clause into the SQL statement.

Since we use the same interface to represent the result as `SqlResult`, what I mean is adding a `lastInsertId()` method to the `SqlResult` interface.
* For MySQL we can return the id with the value from OK_Packet natively.
* For PostgreSQL we throw an `UnsupportedOperation` and give a hint to the users that th

[2019-08-12 10:08] vietj commented on #389
I am worried that each database will have its peculiarities

Perhaps we can add notion of properties on `SqlResult` , to do something like `result.property("lastInsertId")` ?

we could also do the same using generics magic to avoid casting and expose constants with something like:

[code]
@VertxGen
interface SqlResult {
  ...
  <T> T property(SqlResultProperty<T> property);
  ...
}

@VertxGen
inte

[2019-08-13 03:56] BillyYccc commented on #389
@vietj It's quite a good idea! I have made a prototype for this in https://github.com/eclipse-vertx/vertx-sql-client/pull/392, can you take a look?

[2019-08-13 12:21] #301 closed

[2019-08-13 14:32] BillyYccc commented on #389
Closing this fixed in #392

[2019-08-13 14:32] #389 closed

[2019-08-16 11:53] indiketa commented on #233
@vietj I've just implemented a generic object mapper using Collector API:
https://github.com/indiketa/vertx-sql-client

It's simplistic and is built on top of vertx-sql-client (no changes existent API)
- Column name based mapping (Row column name -> object setter)
- Data type binding based on destination object: `obj.setAmount(float X) ` retrieved as `row.getFloat("amount")`
- Basic optimizations:

[2019-08-16 12:07] vietj commented on #233
@indiketa thanks for the feedback, for object mapping we will have something in Vert.x 4 based on the new JSON codec and vertx data objects

[2019-08-16 13:52] indiketa opened #394 "Allow using Collector API in PreparedQuery.createStream"
It would be useful to provide the Collector API into streams, eg:

[code]
Possible workaround:
- [ ] Change RowStream<Row> to allow generic type
- [ ] Allow using a collector into Cursor API  (now forces internally RowSet.COLLECTOR)

[2019-08-16 13:54] indiketa commented on #394
I made a mistake, the Collector type should be:
`Collector<Row, ?, Iterable<X>>`

[2019-08-16 14:28] vietj commented on #394
so you would like to apply a Collector on a rows and produce a `RowStream<T>` where T would be the result of each row fetch ? what is the use case ?

[2019-08-16 18:07] indiketa commented on #394
Yes:
In the same way that RowStream works internally with RowSet n-fetchs and then streaming each row,  the idea is to apply a Collector (as SqlConnection.query) and group into own iterable mapping the Row(s) into another object, ready to be consumed for the developer.

Our use cases:
1.- We want to read large sql (>100M), each row represents an `InvoiceDetailLine` (ordered by invoice), we want to

[2019-08-20 13:21] vietj opened #395 "Add a Tuple wrap method for wrapping existing data structures"
We should wrap `List<Object>` or `Object[]`.

[2019-08-20 13:28] #395 closed

[2019-08-20 13:28] vietj commented on #266
See https://github.com/eclipse-vertx/vertx-sql-client/issues/395

[2019-08-20 13:28] #266 closed

[2019-08-21 07:30] #390 closed

[2019-08-21 07:30] #388 closed

[2019-08-21 09:39] shenzhou-6 opened #396 "MysqlPool construction method does not support (vertx, connectionUri)"
MysqlPool support
[code]
but not support
[code]
The same goes for PgPool

[2019-08-21 11:17] vietj commented on #396
fixed by #397

[2019-08-21 11:17] #396 closed

[2019-08-22 11:01] BillyYccc opened #399 "Broken website"
![image](https://user-images.githubusercontent.com/5463589/63509605-248e5600-c50f-11e9-8629-65ebb89014d9.png)

[2019-08-22 13:10] vietj commented on #399
what is broken ?

[2019-08-22 13:22] BillyYccc commented on #399
see my screenshot, including of common sections documentation does not work, you can check that in the website

[2019-08-22 13:56] vietj commented on #399
ok, too bad we just did a release :-)

[2019-08-22 13:56] vietj commented on #399
I'll have a look soon

[2019-08-23 12:51] BillyYccc opened #400 "Incorrect implementation of tuple factory method"
https://github.com/eclipse-vertx/vertx-sql-client/blob/e8ef0be918add8a80784f75835a43f8ccbd174f5/vertx-sql-client/src/main/java/io/vertx/sqlclient/Tuple.java#L197-L206

[2019-08-23 12:52] BillyYccc commented on #400
Tuple built from List method does not work

[2019-08-23 18:00] shenzhou-6 commented on #400
why six elements.... if elements size more than six?

[2019-08-23 23:45] BillyYccc commented on #400
The intention of this method is to copy all elements in the List to a new
Tuple. Both the documentation and code need to be updated.

shenzhou-6 <notifications@github.com> 于 2019年8月24日周六 02:00写道：

[2019-08-24 08:27] vietj commented on #400
ouch

[2019-08-24 08:28] vietj commented on #400
yes this is a bug, in the mean time people can use the new Tuple.wrap(list) method

[2019-08-24 08:33] #400 closed

[2019-08-25 11:28] pmlopes opened #401 "can't connect to MySQL 5.8"
Just attempted to connect to MySQL 5.8 and can't get a connection. Server is ok and latest jdbc driver can connect without any issue.

Socket seems to open but connection handshake doesn't complete.

Use the connection example from the docs on 5.8 to verify.

[2019-08-25 11:45] BillyYccc commented on #401
I think it may be related to not supporting the authentication method `caching_sha2_password` which is the default authentication method of MySQL 8, see https://github.com/eclipse-vertx/vertx-sql-client/issues/300.

[2019-08-25 11:50] pmlopes commented on #401
Ok good to know. The server I want to connect to isn't on my domain so j can't change it's configuration. I'll watch the issue and retry when there are updates 👍

[2019-08-26 13:47] BillyYccc opened #402 "MySQL stored procedure support"
protocol reference: https://dev.mysql.com/doc/dev/mysql-server/8.0.12/page_protocol_command_phase_sp.html

[2019-08-29 07:44] Heromyth opened #404 "Some vertx-sql-client's unit tests failed to run or debug in VS Code"
I submitted an issue, see https://github.com/microsoft/vscode-java-debug/issues/643.

The real reason is :
 The targetDir is not detected during the debug procession in VS Code.
There is an Exception thrown in https://github.com/eclipse-vertx/vertx-sql-client/blob/3.8/vertx-pg-client/src/test/java/io/vertx/pgclient/junit/PgRule.java#83

[2019-08-29 11:34] Heromyth commented on #404
Here is a simple fix:
     String path = System.getProperty("user.dir");
     String a = System.getProperty("target.dir", path + "\\vertx-pg-client\\target");

[2019-08-29 15:04] luckyshroom opened #405 "columnNames getter in Row.class"
Does it possible to get access to colunm names from row class (MySQLRowImpl) as List after query perfomed?
If it is can we have public method for it? Thnks
Or looking further it will be perfect to have ability to transform result (row) to JsonObject by specific method...
PS: Does MySQLClient have support for 8.0 version?

[2019-08-29 15:06] BillyYccc commented on #405
You can call `SqlResult#columnsNames` to get the column names.

POJO mapping is planned in the Vert.x 4.x release. For now you can use the [Collector API](https://vertx.io/docs/vertx-mysql-client/java/#_collector_queries).

Not yet, but we're working on it.

[2019-08-29 15:07] #405 closed

[2019-08-29 15:15] #380 closed

[2019-08-29 15:16] #402 closed

[2019-08-29 16:27] BillyYccc opened #407 "Missing Javadoc for vertx-sql-client"
Check https://vertx.io/docs/apidocs/ but find no Javadoc for original `vertx-sql-client` APIs but only Rxi-fied APIs.

[2019-08-29 19:44] vietj commented on #407
that is weird

[2019-08-29 19:44] vietj commented on #407
we need to check the vertx-stack project with the stack-docs module

[2019-08-29 19:57] vietj commented on #407
it is because the -sources.jar are empty

[2019-08-29 19:59] vietj commented on #407
well they are not empty but they are not unpacked

[2019-08-29 20:22] #407 closed

[2019-08-29 20:22] vietj commented on #407
fixed in stack-docs project

[2019-09-07 19:16] Globegitter commented on #153
Yeah same here @vietj - what exactly happened with the PR that added the `COPY` command? IT seems it got swallowed by the 3.8 release. Any plans to bring it back?

[2019-09-08 08:14] vietj opened #408 "RowSet should be generic"
Currently `RowSet` extends `SqlResult<RowSet<R>` and `Iterable<Row>`. It is not possible therefore to reuse it for representing a generic row set. Instead it should be `RowSet<R>` so we can reuse it for representing row set of other objects than `Row`.

[2019-09-08 08:19] vietj opened #409 "Simple object mapping for reading"
We should be able to read rows as java objects. This feature does not aim to be an ORM, we only want to represent use objects to represent typed rows.

A row will be represented as a `JsonObject` where the keys of the object are the row name and the value the corresponding row values. The mapping is achieved either by providing a `Function<JsonObject, R>` or a class literal `Class<R>`. In the late

[2019-09-08 09:50] vietj commented on #153
@Globegitter I think it simply got lost, it should be rebased on latest 3.8 indeed

[2019-09-09 02:35] davidzzzzz commented on #153
If there's interest @vietj, I'm happy to revive this

[2019-09-09 06:02] vietj commented on #153
yes there is, sorry for letting this dormant

[2019-09-09 06:23] #408 closed

[2019-09-09 07:41] Globegitter commented on #349
Has there been any progress on "shared" pools? Just running into the same scenario.

[2019-09-09 07:45] vietj commented on #349
@Globegitter not yet, for the moment you should start several pools with different context and use a round robin selection on the pools

[2019-09-09 12:22] #329 closed

[2019-09-11 13:51] FroMage opened #413 "CCE when using `Tuple.wrap(Object[])`"
When using `Tuple.wrap(Object[])` I get an instance of `ListTuple` which is not a `java.util.List` (unlike `ArrayTuple`), which leads me to this CCE:

[code]

Due to https://github.com/eclipse-vertx/vertx-sql-client/blob/3.8/vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/SqlClientBase.java#L80:

[code]

Note that I see the same cast in `preparedBatch`.

[2019-09-15 14:14] benbenw commented on #385
I have a patch for the Postresql tests (excluding the Unis socket test)

Waiting for the merge of #412 before submitting.

[2019-09-15 16:11] #299 closed

[2019-09-15 16:48] BillyYccc commented on #401
@pmlopes MySQL 8 support is ongoing in https://github.com/eclipse-vertx/vertx-sql-client/pull/420 😃

[2019-09-16 08:26] Globegitter commented on #273
I am using v3.8.1 in combination with https://github.com/zonkyio/embedded-postgres for unit testing and when closing the database down after all the tests have run I am seeing a NullPointerException. Not a problem as I am now closing the pool beforehand but it did come quite unexpected and took me quite some time to figure out.

I also tested 4.0.0-milestone2 and seeing the same behaviour.

[2019-09-16 08:39] vietj commented on #273
do you have a reproducer @Globegitter ?

[2019-09-17 06:13] Globegitter commented on #273
Will set something up.

[2019-09-17 12:37] vietj commented on #273
thank you

[2019-09-18 07:01] #300 closed

[2019-09-18 10:22] pmlopes opened #421 "allow SqlConnection::begin to take a handler as last argument"
I'm working on implementing a JDBC implementation of this project, however the way transactions work on JDBC is by switching the `autoCommit` flag on the connection or setting the `transactionIsolationLevel`. Several drivers (such as the mysql one) will perform blocking IO operations at this time by sending the message:

[code]

If this method `begin` would accept to be asynchronous, this would be

[2019-09-18 11:03] BillyYccc commented on #421
+1 for what Paulo proposed here.

I think we should make the start transaction API less opinionated, we have clearly many benefits here.
* First it would be easier for the implementations based on our `vertx-sql-client` just like what's described above

* It would also be more straightforward for the upper frameworks/libraries(such as an ORM or something else...) to get things right, because sendi

[2019-09-18 18:49] vietj commented on #421
I think changing the Transaction would sacrifice the usability of the API for the convenience of JDBC. Is it really complicated to achieve it with lazy transaction set ? it looks like a boolean to set and do some action when this boolean is set.

[2019-09-18 19:10] vietj commented on #421
The 2nd point given by @BillyYccc looks more valid than the API implementation detail. So we should make a thorough analysis of what the current design is a blocker for.

Can you elaborate more @BillyYccc about the second point ?

[2019-09-19 11:43] BillyYccc commented on #421
Let's start with a concrete example with MySQL here, with MySQL innoDB engine everything is running within a transaction

[code]

if we're using asynchronous transaction start
[code]

[2019-09-19 12:29] BillyYccc opened #422 "Introduce client-side prepared statements"
Client-side prepared statement(also known as parameter interpolation) is a useful feature. Being different from server-side prepared statements, the parameters are encoded as text by the client and interpolated into the SQL string, then the SQL is sent as a simple query to the server. This can save a round trip compared with the server-side prepared statement.

In the official MySQL JDBC connector

[2019-09-19 12:30] BillyYccc commented on #422
We can also enrich the SPI with adding a new command `PrepareExec` to simplify the implementations, this will ease the implementation for `sp_prepareExec` command in MSSQL as well.

[2019-09-19 12:44] BillyYccc opened #423 "Improve the efficiency of MySQL preparedBatch"
Currently `prepareBatch` implementation in MySQL is just an emulation for executing `preparedQuery` several times, MySQL Client/Server protocol does not support pipelining the requests therefore users don't benefit much in respect of performance.

MySQL JDBC Connector provides an option `rewriteBatchedStatements` to combine multiple inserts into one insert command, this will make better utilizatio

[2019-09-19 14:01] vietj commented on #423
does it imply to aggregate SQL statements and parsing them ?

[2019-09-19 14:02] vietj commented on #422
I think that should not really be part of the project, doing such thing means dealing with lot of encoding problems potentially such as SQL injections and CVE.

[2019-09-19 14:30] BillyYccc commented on #423
yes and this feature is often used with https://github.com/eclipse-vertx/vertx-sql-client/issues/422.

[2019-09-20 07:44] vietj commented on #423
so it does imply interpolation ?

[2019-09-20 08:59] BillyYccc commented on #423
No, interpolation is NOT a must.

Generally speaking it's something like rewriting `INSERT INTO test VALUES (?, ?)` to `INSERT INTO test VALUES (?, ?),(?, ?),(?, ?)` for a INSERT batch with 3 groups of parameters.

[2019-09-20 14:01] vietj commented on #423
ok that might be fine then, what I don't want is ourselves to replace values into strings

[2019-09-20 14:02] vietj commented on #423
that's open door for security issues

[2019-09-24 12:08] Globegitter opened #426 "JSONB string serializiation issue"
I am using version 3.8.1 and having some issues with a query trying to insert JSONB from a String. It inserts and reads out fine, but what I noticed is that I can not use the json itself not in SQL queries. So e.g. `SELECT * FROM event WHERE data->>'id' = '1234'` return no result when using the code below to insert data:

[code]

It works fine when I insert it as a JsonObject, but would be nice if

[2019-09-24 13:30] vietj commented on #426
I think this is not possible because this would break JSON strings, i.e currently java strings are double quoted by `JSON.encode(...)` so it would insert any JSON object encoded as a string as a JSON object but String object would not be encoded as String anymore.

We could however I think have a Tuple#addJsonObject(String s) doing this encoding instead.

[2019-09-24 13:58] onthegit opened #427 "Database is not selected"
Hello,

vertx version : 4.0.0-milestone3
using vertx reactive mysql client  simple code to  reproduce:
MySQLConnectOptions.setDatabase and  use a connection pool to query simple SELECT statements returns "No database selected" error  randomly on Pool.query() .
I am guessing the database is not set for all the connections in the pool.

[2019-09-24 14:18] Globegitter commented on #426
The json string I have above does actually come from an object, so if I do `JsonObject.mapFrom(object)` the insert works fine. But then it broke my code that was reading the json data and converting it back into an object like so `Json.decodeValue(row.getString("data"), Some::class.java)` as `row.getString` returns null here, but `row.getValue("data")` works fine.

I will work a bit more around wi

[2019-09-24 14:20] onthegit commented on #427
5.5.60-MariaDB server

[2019-09-24 14:40] onthegit commented on #427
Actually upon doing second test, it appears that the database is not set in any of the connections in the connection pool.

[2019-09-24 15:03] BillyYccc commented on #427
I have just tested with a MariaDB 5.5.59 server and it works fine for me, can you provide more details?

[2019-09-24 16:41] luckyshroom opened #428 "JSON DataType for MySQL client"
Client throws NPE when trying to get data with column type JSON.

And also does it possible to return Instant value for DATETIME datatype?

[2019-09-24 18:08] onthegit commented on #427
Here is the code I use:
          MySQLConnectOptions mc = new MySQLConnectOptions().setPort(3000).setHost("dbhost").setDatabase("database").setUser("user").setPassword("secret").setSslMode(SslMode.VERIFY_CA).setPemTrustOptions(new PemTrustOptions().addCertPath("/app/ca-cert.pem")).setCachePreparedStatements(false);

PoolOptions poolOptions = new PoolOptions().setMaxSize(5);
_dbPool = MySQLPool.po

[2019-09-24 18:10] onthegit commented on #427
The db server is on centos 7 linux, while vertx runs on Fedora 31.

[2019-09-24 21:02] onthegit commented on #413
Getting the same error:
java.lang.ClassCastException: class io.vertx.sqlclient.impl.ListTuple cannot be cast to class java.util.List

[2019-09-25 20:22] onthegit commented on #427
Is there a way to debug this?

[2019-09-26 16:14] onthegit opened #429 "Char type is mapped to Buffer"
Hello authors,

Mysql reactive client, 4.0.0-milestone3

5.5.62-MariaDB - char column is resolved to Buffer instead of String as stated in documentation.

[2019-09-26 16:28] BillyYccc commented on #429
Thanks for reporting, I will investigate it.

[2019-09-27 01:08] BillyYccc commented on #428
`JSON` data type is not supported for now in MySQL.

`DATETIME` is mapped to `java.time.LocalDateTime` and you can use `LocalDateTime#toInstant` to get it transformed.

[2019-09-27 09:59] #428 closed

[2019-09-27 09:59] vietj commented on #428
closed per @BillyYccc

[2019-09-27 10:51] #413 closed

[2019-09-27 11:36] FroMage commented on #413
Thanks!

[2019-09-28 13:01] BillyYccc commented on #429
I'm setting up a MariaDB 5.5 using https://hub.docker.com/r/cytopia/mariadb-5.5/ and this works well. If you can provide a reproducer I think it would be much easier to find out why that does not work for you.

[2019-10-03 09:35] NorbertSandor commented on #33
Am I correct that multi-dimensional arrays are not supported on pg? :(

[2019-10-03 16:57] vietj commented on #33
no it is not supported yet @NorbertSandor

[2019-10-12 14:43] jeoffreylim opened #432 "Support for setting Transaction Isolation"
Reference:

https://vertx.io/docs/apidocs/io/vertx/ext/sql/SQLOptions.html#getTransactionIsolation--
https://vertx.io/docs/apidocs/io/vertx/ext/sql/TransactionIsolation.html

[2019-10-14 07:07] graemerocher opened #433 "Version 3.8.2 causing timeouts"
We have 2 PRs open (one for MySQL and one for Postgres) from dependabot that upgrade from 3.8.1 to 3.8.2 for Micronaut's integration with Vert.x SQL client.

Both are failing with the build timing out. The only change is point release upgrade:

https://github.com/micronaut-projects/micronaut-sql/pull/63
https://github.com/micronaut-projects/micronaut-sql/pull/61

Has something broken in this lates

[2019-10-14 08:36] tsegismont commented on #433
https://github.com/vert-x3/wiki/wiki/3.8.2-Deprecations-and-breaking-changes

Nothing about SQL Client. Anything relevant in the build logs?

[2019-10-14 08:40] graemerocher commented on #433
I have yet to debug the issue myself, thought I would report early to see if you were aware of anything. Currently the build logs just say that the build hangs and doesn't receive any more output for 10 minutes:

https://travis-ci.org/micronaut-projects/micronaut-sql/jobs/594963866#L759

I will do some more digging at some point and report back.

[2019-10-14 09:02] BillyYccc commented on #433
I think it might be related to the changes in https://github.com/eclipse-vertx/vertx-sql-client/commit/ee9e9b028459c6399466d55cabaf2e94addb3a46, this actually brings API changes and I'm not sure if tests needs to be changes to adapt to this in Micronaut. HTH

[2019-10-14 09:13] graemerocher commented on #433
Hmm if that is the case surely not a great idea introducing breaking API changes in a patch release?

[2019-10-14 09:19] tsegismont commented on #433
This module is still in "Technical Preview", so such breaking changes might
happen.

[2019-10-14 09:34] BillyYccc commented on #433
We could add this API change to the breaking changes list. Can you please edit that? @vietj

[2019-10-14 09:35] graemerocher commented on #433
Ok, anyway will get back once I have dug into it some more.

[2019-10-14 12:27] vietj commented on #433
@BillyYccc why would that change make the build hang ?

[2019-10-14 12:31] BillyYccc commented on #433
I have investigated that's irrelavant, the cause is the dependencybot only upgrades the SQL client version without upgrading the stack.

[2019-10-14 12:33] graemerocher commented on #433
Ah gotcha. Good point. Thanks for doing that. Closing...

[2019-10-14 12:33] #433 closed

[2019-10-14 12:37] BillyYccc commented on #433
@vietj But I think we should still note the change in the breaking list, see my upgrading for the MSSQL client in https://github.com/BillyYccc/incubator-vertx-mssql-client/pull/23/commits/05f1a88f8de721e2e9e8edd3b58b686b3cc4afa7, it requires changes in the API anyhow.

[2019-10-14 12:39] vietj commented on #433
thanks for investigating @BillyYccc

[2019-10-14 12:40] vietj commented on #433
indeed it should be listed

[2019-10-14 12:43] vietj commented on #433
I edited here : https://github.com/vert-x3/wiki/wiki/3.8.2-Deprecations-and-breaking-changes#vertx-sql-client

[2019-10-16 11:23] AndreasKl opened #434 "sql-client: CLIENT_FOUND_ROWS client flag is not set, wheras the flag ist set for JDBC as default"
Today I spent about an hour debug an issues, where an "update" statement despite being successful returned zero rows. I'm a postgres guy so my experience with MySQL is limited.

After looking into how this works in JDBC I found out that `https://dev.mysql.com/doc/refman/5.7/en/mysql-affected-rows.html` returns zero, if the update statement was successful but did not update the tuple.

The JDBC dri

[2019-10-16 12:08] Globegitter opened #435 "Application not shutting down/crashing on Exception"
I have a reactive pipeline that processes some data and then at some point stores as well as reads data from a psql database. I have noticed now if one part of the applciation thows an exception the whole pipeline stops bot the application does not crash as I would have expected. If I take out the psql interaction but leave everything as-is the application crashes as I expected. Even when I switch

[2019-10-16 12:17] Globegitter commented on #435
Ok, I found the culprit, if I catch all errors within the pipeline, then run `client.close()` and rethrow the error the application crashes as expected. While I am ok to add this workaround how come this for now is there a way to fix this in the client directly?

[2019-10-16 12:56] vietj commented on #435
can you show your workaround in a snippet so we better understand ?

[2019-10-16 14:26] BillyYccc commented on #434
Thanks for sharing your experience. `CLIENT_FOUND_ROWS` is one of the capability flags which can be set at the connection start, I think we could provide abilities for setting a part of those useful options of capability flags in a later version.

[2019-10-16 17:46] AndreasKl commented on #434
Do you mind if I try to build a PR? I'm thinking of a set of new settings in `MySQLConnectOptions` so that a user has not to fiddle with flags.

[2019-10-16 18:26] AndreasKl commented on #434
Ok, I think I figured out how this works:

https://github.com/eclipse-vertx/vertx-sql-client/compare/master...AndreasKl:gh434-user-can-configure-affected-rows

Should setting the CLIENT_FOUND_ROWS flag become the default? I would expect that, on the other hand it would break existing projects.

[2019-10-17 08:36] Globegitter commented on #435
Yep, the application is basically this:

[code]

Where-as `dbStore` is the class that holds the pgpool and is responsible for the inserts and selects. The `process` method inserts elements and in the `computation` class we do a select and some further computation. The `catch` operator is described here: https://kotlin.github.io/kotlinx.coroutines/kotlinx-coroutines-core/kotlinx.coroutines.flow/cat

[2019-10-17 08:43] vietj commented on #435
and what would you expect to work instead ?

what does dbStore.shutdown() do ?

what is the equivalent snippet that works with jasyncql ?

[2019-10-17 08:46] vietj commented on #435
I'm assuming Kotlin Flow stream is https://kotlinlang.org/docs/reference/coroutines/flow.html ?

[2019-10-17 08:46] vietj commented on #435
perhaps we should implement this in vertx-lang-kotlin to ease things ?

[2019-10-17 09:21] Globegitter commented on #435
Yes, I am using https://kotlinlang.org/docs/reference/coroutines/flow.html. As I said, `dbStore.shutdown()` just calls `client.close()` - I guess at the very least I am surprised about the different behaviour between jasync-sql and vertx-sql-client. How come the vertx-sql-client can block the application from shutting down on an exception?

And yes if there is a solution to fix this then vertx-lan

[2019-10-17 09:50] vietj commented on #435
"How come the vertx-sql-client can block the application from shutting down on an exception?"

can you elaborate ? I am not familliar with Kotlin Flow and I would like to understand better what is the actual issue with the SQL client.

[2019-10-17 09:56] Globegitter commented on #435
Ok I will put up a full reproduction case, to illustrate exactly what I am talking about.

[2019-10-17 10:10] vietj commented on #435
thanks.

[2019-10-17 10:16] #434 closed

[2019-10-17 10:17] vietj commented on #434
thanks for the contribution

[2019-10-17 10:31] #280 closed

[2019-10-17 11:37] Globegitter commented on #153
@davidzzzzz any chance this can be revived again?

[2019-10-17 14:36] BillyYccc opened #437 "Rework to enable capabilties flags setting in MySQL"
motivated from https://github.com/eclipse-vertx/vertx-sql-client/issues/434#issuecomment-542728081.

so that we can later expose some useful capabilties flags to be configurable for users.

[2019-10-18 15:18] Globegitter opened #439 "Improve error messages"
I am doing batch inserts and they have been working fine in my application for quite some time but now they occasionally started failing with a `[...] cannot be coerced to [...]`. Where-as the list contain all values. I have inserts with 1000s (12132 to be precise) of values for that this error is turning out to be quite impossible to digest. Would it be possible to just log the values that can no

[2019-10-18 15:38] BillyYccc commented on #439
It could be improved I think, at least we can pick the subset of parameters which fails the client side validation instead of pushing all the parameters in the error message and make it friendlier. Do you have some advice for the metadata (such as the index of the parameters) to show in the error ?

[2019-10-18 15:55] Globegitter commented on #439
One thing I have also noticed is that the error is being thrown in two separate cases. One when `values.size() != paramDataTypes.length` and one when there is actually a type error. So it would also be nice to have more specific errors or at least messages for the two cases. Turns out I am actually hitting this case and I am not entirely sure what it means - if values.size is larger does it mean I

[2019-10-18 16:03] Globegitter commented on #439
Ok looking further into this, I do not quite understand what is going on. Now I have a query of following nature: `values.size() == 96084`,  `paramDataTypes.length == 30548` and I have checked, I am sending `96084` values along with the `preparedQueryAwait` and looking at the query itself it does seem to expect 96804 values with the latest being `$96084`.

But in any case, I will investigate furth

[2019-10-18 17:49] davidzzzzz commented on #153
@Globegitter sorry about that, my day job got in the way :) Hoping to get to this shortly

[2019-10-18 19:09] Globegitter commented on #439
Very strange, I tried to investigate where `paramDataTypes` is coming from but could not figure it out (I am not so long in the java/kotlin world yet), but the main thing that is quite strange, if I let my application run over the same data set but keep the insert batches smaller it all works fine so that seems to me to suggest that preparedQuery is having issues with inserts that have more than a

[2019-10-20 01:40] gaollg opened #441 "Has plan to support the Mysql JSON type?"
from https://github.com/eclipse-vertx/vertx-sql-client/issues/428#issuecomment-535741331

Has plan to support the Mysql JSON type? Now the database contains a JSON type that returns 0 rows directly.

[2019-10-20 03:56] BillyYccc commented on #441
I think it can be supported with reusing the postgres client codec logic quickly, I will have a try today.

[2019-10-20 10:22] BillyYccc commented on #439
The general idea of client side prepared statement validation is to check the number of placeholders in your prepared query sql is the equal to the number of parameters you're about to execute for an prepared statement and the param types are matched with the types defined in the server according the metadata returned in a prepared statement.

[2019-10-21 09:59] Globegitter commented on #439
Ah, interesting, so there seems to be a limitation on the postgresql side where a prepared statement can not have more than 65535 parameters: https://stackoverflow.com/questions/6581573/what-are-the-max-number-of-allowable-parameters-per-database-provider-type

Might also be another useful improvement for the error message.

[2019-10-21 09:59] Globegitter commented on #153
@davidzzzzz No worries, I know the feeling :)

[2019-10-22 07:55] Globegitter commented on #439
Maybe it is also worth looking at other error messages. I am just running into the following:

[code]

and the stacktrace does not show any of my application code, so it would be useful to show more information to be able to know which query this relates to. The easiest added information would be the query itself, but maybe it could also just be part of the query. Like list the provided columns as

[2019-10-28 09:53] tobiasmuehl opened #443 "Kotlin docs use \$$1 instead of $1 in example SQL"
Apologies for probably opening this issue in the wrong repo.

https://vertx.io/docs/vertx-pg-client/kotlin/#_handling_arrays

Shows this example query:

[code]

The `\$$1` is not valid Postgres SQL and will throw an Exception. The Java version correctly uses `$1`.

[2019-10-30 19:10] Anisuka commented on #249
@mp911de  good work, any idea on when this may be added to mybatis ?

[2019-10-30 20:16] mp911de commented on #249
Check out https://gist.github.com/kazuki43zoo/2ede3dcbb857d7b23d685af08b5d4ea8 and https://github.com/mybatis/mybatis-3/issues/1444. I’m not so much involved into MyBatis. However, MyBatis might need a bit of help to make R2DBC happen.

[2019-11-02 02:51] badrazizi opened #444 "utf8 string appears as question mark (?)"
I am using version 3.8.2 and having some issues with utf8 string appears as question mark (?) in the database when inserting new record, but it's display old record correctly (inserted using phpmyadmin).

this how it's appeared.

Summery | Title | Time | ID | Image | Story | Link
-- | -- | -- | -- | -- | -- | --
??? ?????? ???? ???? ?? ????? ?????? ?????? ????... | ??? ??? ????: La Noria | 2019-11

[2019-11-04 02:49] lygoing opened #445 "java.time.format.DateTimeParseException"
vertx-mysql-client: 3.8.3
java: 1.8
mysql: 5.7.25

verticle:

[code]
exception:
[code]

[2019-11-04 10:56] BillyYccc commented on #444
Thanks for reporting, I will take a look

[2019-11-04 10:59] BillyYccc commented on #445
Can you show more details about the table and rows? a simple reproducer would help much :-)

[2019-11-05 01:55] lygoing commented on #445
Hi. @BillyYccc

![image](https://user-images.githubusercontent.com/5944432/68172264-cf140200-ffb1-11e9-943d-02ade735f1c4.png)

table dll:

[code]

console output:

[code]
Thank you, I can't do anything about it.

[2019-11-06 16:03] BillyYccc commented on #445
I'm able to reproduce it and thanks for reporting.

[2019-11-07 12:58] #445 closed

[2019-11-07 14:04] BillyYccc commented on #444
@badrazizi Have you checked your collation/charset in your visualized database client?

[2019-11-08 04:15] badrazizi commented on #444
@BillyYccc sorry i really don't know, i use phpmyadmin that come with xampp.

Mysql configuration

[code]

[2019-11-08 05:11] BillyYccc commented on #444
Can you give some sample rows to reproduce? Are you using text query or preparedQuery?
and can you have a try with JDBC MySQL to see if it works in the same way as this client so that we can confirm whether this is a problem

[2019-11-08 05:58] badrazizi commented on #444
sample rows

Summery | Title | Time | ID | Image | Story | Link
-- | -- | -- | -- | -- | -- | --
اعلن مطوري فيجول نوفل World End Economica | الإعلان عن مشروع World End Economica | 2019-11-01 19:00:17.000000 | 650 | /2019/10/World_End_Economica.jpg | اعلن مطوري فيجول نوفل World End Economica | /?p=650

yes i use preparedQuery

[code]

sure i will try JDBC MySQL client

[2019-11-08 06:15] badrazizi commented on #444
@BillyYccc yes using JDBC MySQL client worked without error and insert new record correctly

gradle

[code]

[code]

result

Summery | Title | Time | ID | Image | Story | Link
-- | -- | -- | -- | -- | -- | --
اعلن مطوري فيجول نوفل World End Economica | الإعلان عن مشروع World End Economica | 2019-11-01 19:00:17.000000 | 650 | /2019/10/World_End_Economica.jpg | اعلن مطوري فيجول نوفل World End Econom

[2019-11-10 07:49] badrazizi commented on #444
@BillyYccc any progress, i have not heard from in almost 3 days.

[2019-11-10 10:39] BillyYccc commented on #444
can you try with adding [`useServerPrepStmts=true`](https://dev.mysql.com/doc/connector-j/8.0/en/connector-j-reference-configuration-properties.html) to the connection properties of the JDBC url so that the jdbc client uses server-side prepared queries and check that again? The MySQL JDBC client will use a client-side prepared statement by default which is different from reactive mysql client so t

[2019-11-10 11:04] badrazizi commented on #444
yes it does insert new record correctly with `useServerPrepStmts=true`

jdbc config

[code]

[2019-11-10 14:41] BillyYccc commented on #444
I have given another try in https://github.com/BillyYccc/reactive-mysql-client-issue444 but still could not reproduce the problem.
I debug the network packets for both JDBC and reactive MySQL client and what they send to server  is identical.

I notice you did not configure the `characterEncoding` property in JDBC, can you try with my reproducer and try again?

[2019-11-11 04:29] badrazizi commented on #444
i have reproducer please test it [here](https://send.firefox.com/download/fa2a166b9771316b/#RNc38z9-AVOdMlwcgscqBQ)

[2019-11-11 19:52] rgmz commented on #353
This is presently what I am doing as well:

[code]

[2019-11-12 10:53] vietj commented on #353
in Vert.x 4 we will try to improve this so one can store a date directly in JSON Object

[2019-11-12 11:25] badrazizi commented on #444
@BillyYccc please test the reproducer i post above.

[2019-11-14 12:37] BillyYccc commented on #444
I did more experiements but I could not reproduce the problem with using MySQLWorkbench and other clients.
I start MySQL using docker in my reproducer project and here is my server charset config
`SHOW VARIABLES LIKE '%character%'`

[code]

can you try retrieving those rows inserted by `reactive-mysql-client` via JDBC or tools other than `phpmyadmin`(like MySQLWorkbench) like what I do in my [repr

[2019-11-14 14:26] badrazizi commented on #444
MySQLWorkbench
`SHOW VARIABLES LIKE '%character%'`

character_set_client | utf8mb4
-- | --
character_set_connection | utf8mb4
character_set_database | utf8
character_set_filesystem | binary
character_set_results | utf8mb4
character_set_server | utf8
character_set_system | utf8
character_sets_dir | C:\xampp\mysql\share\charsets\

Result from MySQLWorkbench

![mysql](https://user-images.githubuserco

[2019-11-14 15:08] niwinz commented on #349
Also: seems like the query result callback is executed in the context pg pool context (not calling context). So if you executing some additional code, this code will be executed in the same single thread blocking execution of other possible queries. (In fact, right now pgpool is single threaded... but if you forgot use `.runOnContext` just after query result, this will propagate the single threadi

[2019-11-14 16:01] BillyYccc commented on #444
@badrazizi thanks for the clues I see where the problem locates now.

[2019-11-14 16:10] BillyYccc commented on #444
can you by the way check what your default charset is by calling `java.nio.charset.Charset.defaultCharset().displayName()`

[2019-11-14 16:39] BillyYccc opened #447 "Provide MySQL Client an option for configuring characterEncoding"
Currently the preparedQuery parameter value of character datatype is encoded in the default charset when the JVM launches, we should not assume this and make this configurable.

[2019-11-14 18:26] badrazizi commented on #444
it print windows-1252

[2019-11-14 19:07] badrazizi commented on #444
i just got working thanks to your comment by setting jvm default charset to utf8

[code]

but actually does not solve the issue since `MySQLPool#pool` does not respect `MySQLConnectOptions()#setCharset` configuration, also JDBC is working because i think is set to utf8 by default, or am i misunderstanding the code.

[2019-11-15 01:01] BillyYccc commented on #444
Yes setting a default charset to UTF-8 seems to be a work around for now.

the `charset` and `collation` options are configured at the connection level but not really have and effects on charset for encoding, currently the encoding value is encoded in the default charset and I believe we need to improve this, I have posted an issue in https://github.com/eclipse-vertx/vertx-sql-client/issues/447.

[2019-11-17 13:18] #437 closed

[2019-11-20 03:30] cjsworld opened #449 "String encoding in windows"
Insert string value with PreparedQuery, works fine with linux/mac, but error in windows.
log:
[code]

MySQL config:
[code]

The `\xA1\xBE` is `【` in gbk, witch is the default encoding in my windows.

The string value is encoded in
[code]
[code]
That is, buffer will be filled with string's bytes with system's default charset.
Should it be UTF-8? Since default charset in MYSQL is utf8 or utf8-mb4, e

[2019-11-20 03:47] BillyYccc commented on #449
We have recognized this and a PR is in progress for this, see #448

cjsworld <notifications@github.com> 于 2019年11月20日周三 11:30写道：

[2019-11-20 21:27] ebadta81 opened #450 "How to get multi-dimensional input array work on postgresql?"
Hello,

I need to pass a two dimensional Long array to Postgresql.

How can I workaround this?

Please help me.

[2019-11-21 16:46] vietj opened #453 "Per SQL connection context"
Currently the SQL connection uses the underlying context used by the actual connection to the server. When used in a pooled environment the SQL connection obtained from the pool will keep using the same context which prevents sharing a global pool of connection between different event-loops. The current pool can be used from other context however callbacks will always be done on the actual connect

[2019-11-21 16:48] #453 closed

[2019-11-22 10:37] ebadta81 opened #455 "Prepared queries caching question"
Hello,

I found this in the Reactive PostgreSQL Client documentation as a feature.

Is it equals to, for example this one?

[code]

I tried this to achieve execution plan caching, but I always get the "Values [1] cannot be coerced to []" error message.

Is this feature supported, or is it already automatically used by the software?

[2019-11-22 11:38] BillyYccc commented on #455
Hi I think you're mixing using named prepared statement with unamed ones.
You can either use named prepared statement like
[code]
or try with
[code]

[2019-11-22 11:40] BillyYccc commented on #450
Unfortunately we don't support this for now and I can't see a work around.

[2019-11-22 11:54] vietj commented on #450
what is the reason @BillyYccc ?

[2019-11-22 11:54] #455 closed

[2019-11-22 12:04] BillyYccc commented on #450
Our Postgres data type codec does not just support this, someone asked this before... see https://github.com/eclipse-vertx/vertx-sql-client/issues/33#issuecomment-538032669

[2019-11-22 13:12] vietj commented on #450
so that's feature we could have :-)

[2019-11-22 13:12] vietj commented on #450
I will change this into a feature request

[2019-11-22 13:35] vietj opened #456 "Futurisation of the API"
Futurise the client API, i.e provide method returning futures instead of using callbacks.

[2019-11-22 13:45] ebadta81 commented on #455
Billy, thank you for your answer.

Will vertx-sql-client cache query plan, if I just use a simple preparedQuery?:

[code]

So what exactly "Prepared queries caching" means [in the documentation](https://vertx.io/docs/vertx-pg-client/kotlin/)?

[2019-11-22 13:59] #456 closed

[2019-11-22 14:14] BillyYccc commented on #455
"Prepared queries caching" means when you configure the client with `cachePreparedStatements` on, the client will cache the prepared statement object and it can be used for executing with different parameters several times so that you do not need to prepare every time for the execution. you can also use  the `client#prepare` to prepare the statement and handle it yourself.

there're some issues wi

[2019-11-22 15:01] ebadta81 commented on #455
So this caching is happening only in the vertx driver?
This is not postgres execution plan caching, if I understand it correctly. Am I right?

If complex prepared query called frequently, I assume it is worth using both.

What is your opinion?

[2019-11-22 15:54] ocio28 opened #457 "Client is Closed"
i using io.vertx:vertx-pg-client:3.8.3 and I don't know how to reproduce, it's very erratic can goes days without a problem.

Thanks!!

`java.lang.IllegalStateException: Client is closed
	at io.vertx.core.net.impl.NetClientImpl.checkClosed(NetClientImpl.java:147) ~[jengibre-backoffice-0.1.7-fat.jar:na]
	at io.vertx.core.net.impl.NetClientImpl.doConnect(NetClientImpl.java:173) ~[jengibre-backoffice

[2019-11-22 16:34] BillyYccc commented on #455
It depends, according to the [official documentation](https://www.postgresql.org/docs/12/protocol-flow.html) it says

You can also just use named prepared statement mentioned above, execute for some times and then try with `EXPLAIN` and see if that works for you.

[2019-11-22 16:36] BillyYccc commented on #457
Can you give a description on what the problem is and how that happens?

[2019-11-23 07:05] ebadta81 commented on #455
There is only one issue remain: I created the named prepared statement, but it is only available for that PG pool, so if the driver assigns the query to another pool, it is another PG session, and it doesn't have the created named prepared statement.

How can I create the named prepared statement in all the pg pools?
If the driver creates more pool later, at bigger load, I need those named prepare

[2019-11-23 07:34] BillyYccc commented on #455
In Postgres prepared statement only exists in the session but you can create several prepared statement in each session. You can measure the load and see if that's a performance bottleneck for you.

[2019-11-23 16:06] ebadta81 commented on #455
Yea, but how can I do that?

My idea is, to create all named prepared query at the DatabaseVerticle init time, and after that I can use them. But I cannot control, to which PG pool/session to use and I don't know either how many sessions are.

I can call each prepared query multiple time at the initialization, but it is such a poor design.

[2019-11-24 13:12] BillyYccc opened #462 "MySQL Prepared statement bindings improvement"
Currently MySQL client prepared statements send the parameter metadata when performing an COM_STMT_EXECUTE command no matter whether the parameter types are changed.
We can store the metadata of parameters and check if it's neccessary to send them when executing the statement.

[2019-11-25 00:37] badrazizi opened #463 "Connection not open CLOSED"
I am using version 3.8.2, lately this exception randomly happen when i execute `preparedQuery` with `Promise.promise()`,

Code:
[code]

StackTrace

[code]

[2019-11-26 09:58] BillyYccc commented on #463
It seems closed connections are held back in the connection pool, this issue is similar to what happens in https://github.com/eclipse-vertx/vertx-sql-client/issues/273.

I think we need to migrate to the vert.x core connection pool first to see if this problem still exists.

[2019-11-26 18:50] badrazizi commented on #463
see this issue #131 it looks similar

[2019-11-28 08:21] ebadta81 opened #464 "How to create named prepared query for all pg pools/sessions?"
Hi all,

My idea is, to create all named prepared query at the DatabaseVerticle init time, and after that I can use them. But I cannot control, which PG pool/session to use, and I don't know either how many sessions are there.

I can call each prepared query multiple time at the initialization, but it is such a poor design.

How can I create named prepared queries for all my PG sessions?

[2019-11-28 08:28] vietj commented on #464
@ebadta81 why do you need to name them ? you can use directly the `SqlClient#preparedQuery` and give it the query you want. Underneath it will prepare the query for you and if you activate prepared statement caching in the options, it will be cached for max performance

[2019-11-28 09:00] ebadta81 commented on #464
@vietj Is it the same as [postgres PREPARE?](https://www.postgresql.org/docs/12/sql-prepare.html)

I need this for the use of a generic plan, that avoids planning overhead,

[2019-11-28 09:25] vietj commented on #464
@ebadta81 preparedQuery does for you prepare / execute with caching when enabled

[2019-11-28 09:57] #464 closed

[2019-11-29 08:23] tobiasmuehl commented on #353
If you use postgres `TIMESTAMP WITH TIMEZONE` type, you also need this type mapping:

[code]

[2019-11-30 23:03] zenios opened #465 "Executing rollback on an already commited / rollbacked / closed transaction does not execute the handler"

[2019-11-30 23:40] BillyYccc commented on #465
good catch 👍

[2019-12-01 00:20] zenios commented on #465
Thanks

[2019-12-01 09:57] #465 closed

[2019-12-02 10:59] pavelber opened #469 "Add to PgPool more options for connection handling"
I miss here some options, which exists in c3p0:

1) Max connection age
2) test query
3) unreturned connection time out

[2019-12-02 11:55] nnevo commented on #469
This is a much needed option!
We are currently solving this in the application level by maintaining timers for running queries.

It will be great to have this natively supported in the client

[2019-12-03 13:45] f0def opened #470 "[Postgres]Provide access to resultset metadata"
Please make enum `DataType` and `PgColumnDesc` public (package `io.vertx.pgclient.impl.codec`), previously they were like that

[2019-12-03 14:37] BillyYccc commented on #470
hi what's your use case?

f0def <notifications@github.com> 于 2019年12月3日周二 21:45写道：

[2019-12-03 14:38] f0def commented on #470
In version 0.11.4 I iterated over metadata's columns and check datatypes

[2019-12-03 14:49] BillyYccc commented on #470
I think we could improve this by exposing richer column metadata in the `SqlResult` class rather than just make the internal classes public.

[2019-12-04 04:41] f0def commented on #470
It would be great and right, now it seems only `columnNames` [is available](https://github.com/eclipse-vertx/vertx-sql-client/blob/3.8/vertx-sql-client/src/main/java/io/vertx/sqlclient/SqlResult.java#L43 in `SqlResult`), but this is not enough

[2019-12-05 13:15] arniu opened #471 "`MySQLClient.LAST_INSERTED_ID` should be `Long`"
According to the [reference](https://dev.mysql.com/doc/refman/8.0/en/mysql-insert-id.html):

[code]

So, `LAST_INSERTED_ID` should be:

[code]

[2019-12-05 14:27] BillyYccc commented on #471
yes that's right

[2019-12-05 15:43] #471 closed

[2019-12-07 17:52] BillyYccc opened #474 "MySQL compression support"
We can add the abilities for MySQL client to compress and decompress packets.

Protocol reference:
[1] https://dev.mysql.com/doc/dev/mysql-server/8.0.18/page_protocol_basic_compression.html
[2] https://dev.mysql.com/doc/refman/8.0/en/connection-compression-control.html

Note MySQL 8.0.18 introduces the new compression algorithm `zstd`(see https://dev.mysql.com/worklog/task/?id=12039) and we may al

[2019-12-13 10:30] #447 closed

[2019-12-13 16:52] niwinz opened #476 "Is there any way to disable json decoding on json/jsonb fields?"
Hi

Is there any way to disable json decoding on queries that involves json/jsonb fields? I'm working on the clojure (https://github.com/vertx-clojure) adaptation of the pgclient and I found that when I make the query (with jsonb fields) and the resulting rows has the jsonb fields already decoded to JsonObject.

The problem is that converting that JsonObject (or JsonArrray) to something usable in

[2019-12-14 04:01] BillyYccc commented on #476
It looks like quite a common use case here, but currently our type mappings are intrinsically built.

I wonder if we could provide a mechanism to register/unregister type codecs so that users could customize the data type mapping, I think it would be very useful in Postgres since PG has a rich type support. Such pluggable ability would also address the issues described in https://github.com/eclips

[2019-12-16 14:17] BillyYccc commented on #462
fixed in #475

[2019-12-16 14:17] #462 closed

[2019-12-17 08:05] Globegitter opened #480 "io.vertx.pgclient.PgException: deadlock detected"
We just saw this error in our production environment but no idea why this happened and if we could stop this from happening again in the future. I could also not find anything here in the codebase about this.

We are using ertx-pg-client v3.8.2

[2019-12-18 00:53] BillyYccc commented on #480
Can you check details of the error by `PgException#getDetail()`?

[2019-12-18 14:18] Globegitter commented on #480
We currently do not keep this in the logs but will add it and report if this occurs again.

[2019-12-18 16:05] ocio28 commented on #457
hi, i think it was my bad, i fix a connection.close() that i missing and the error didn't happen again (so far)

close de issue and if happening again i report it with more info

Thanks!!

[2019-12-18 23:24] BillyYccc commented on #457
Thanks for letting us know

[2019-12-19 07:54] #457 closed

[2019-12-19 09:34] estet90 opened #481 "3.8.4 | vertx-pg-client | io.vertx.core.VertxException: closed"
I have a floating bug
configuration:
[code]
Error occurs after 10 seconds (IdleTimeout), but in the db logs I do not see such long queries
trace:
[code]

[2020-01-01 12:48] BillyYccc opened #482 "Incorrect implementation of distinguishing MySQL binary string data type"
Currently the client uses `BINARY_FLAG` of the [column definition flags](https://dev.mysql.com/doc/dev/mysql-server/8.0.12/group__group__cs__column__definition__flags.html#gaf74577f0e38eed5616a090965aeac323) to know whether a string data type is binary or not, but according to the [MySQL C API documentation](https://dev.mysql.com/doc/refman/8.0/en/c-api-data-structures.html), it says

we should fo

[2020-01-06 06:39] BornToRain commented on #374
+1

[2020-01-06 10:03] #482 closed

[2020-01-06 10:04] vietj commented on #481
this `setIdleTimeout(10` is for inactive connections, not for queries

[2020-01-06 10:04] #481 closed

[2020-01-06 10:05] #480 closed

[2020-01-06 10:06] vietj commented on #374
this is now supported in Vert.x 4, there is no "shared" creation yet

[2020-01-07 16:58] aguibert opened #485 "[DB2] Initial implementation of reactive DB2 client"
Get simple connections working to a DB2 backend

[2020-01-07 17:00] aguibert opened #486 "[DB2] Support for basic queries"
Implement basic (i.e. non-prepared) queries and the associated result processing

[2020-01-07 17:00] aguibert opened #487 "[DB2] Support for prepared queries"
Implement prepared queries and the associated result processing

[2020-01-07 17:02] aguibert opened #488 "[DB2] Add initial framework for automated TCK tests"
Upload a copy of the Reactive SQL Client TCK tests for DB2. Most of these tests will be disabled initially via `@Ignore` but can be enabled as more functionality is implemented

[2020-01-07 17:03] aguibert opened #489 "[DB2] Establish a connection via URL"
The initial implementation of the DB2 module establishes connections using a `DB2ConnectOptions` object. Implement the other path where a connection can be established using a `String` URL

[2020-01-07 17:05] aguibert opened #490 "[DB2] Connection error path handling"
Implement proper handling and messages for connection error paths (e.g. try to connect with invalid username/password).

Related TCK tests are in `DB2ConnectionTest`

[2020-01-07 17:18] aguibert opened #491 "[DB2] Implement DB2Connection.ping() command"
Implement the ping command. This is normally done by issuing an EXCSAT+ACCSEC message and an SECCHK+ACCRDB message and reading the reply. This is essentially what `InitialHandshakeCommandCodec` does currently and we can do similar for ping.

[2020-01-07 17:21] aguibert opened #492 "[DB2] Fetch results incrementally"
The initial implementation of the DB2 client assumes all rows are returned at the same time (default fetch size of 64 rows). One important advantage of a reactive client is the ability to stream results back incrementally.

Implement functionality that allows results to be fetched in batches (numResults > fetchSize). This work item should also include the ability to configure the fetch size.

[2020-01-07 17:25] aguibert opened #493 "[DB2] Transaction support"
Implement the ability to explicitly commit and rollback transactions using the SqlConnection#begin() method

[2020-01-07 17:27] aguibert opened #494 "[DB2] Secure authentication mechanisms"
Add support for more secure authentication mechanisms beyond basic plaintext user/password configuration.

[2020-01-07 17:29] aguibert opened #495 "[DB2] Data encryption / TLS communication"
Implement data encryption/decryption for SSL/TLS secured connections

[2020-01-07 17:30] aguibert opened #496 "[DB2] Support for CLOB / BLOB data types"
Initially only simple data types are supported (boolean, int, varchar, etc). Add support for more complex data types like CLOB and BLOB.

[2020-01-07 17:34] aguibert opened #497 "[DB2] Support for auto-generated keys"
Typically databases will use auto-generated or auto-incrementing keys when there are uniqueness constraints for primary keys. It should be possible for users of the DB2 client to easily retrieve these auto-generated keys after issuing a query that auto-generates keys, similar to what the MySQL driver has for `io.vertx.mysqlclient.MySQLClient.LAST_INSERTED_ID`

[2020-01-07 17:44] aguibert opened #498 "[DB2] Implement DB2Connection.debug() command"
This could include a dump of DB2 server information (e.g. DB version) as well as the negotiated manager levels from the EXCSAT command.

[2020-01-07 19:57] mswatosh commented on #489
I'll take a look at this one

[2020-01-07 23:06] aguibert commented on #485
I am working on this one

[2020-01-07 23:06] aguibert commented on #486
I am working on this one

[2020-01-07 23:06] aguibert commented on #487
I am working on this one

[2020-01-07 23:06] aguibert commented on #488
I am working on this one

[2020-01-08 17:25] aguibert opened #499 "[DB2] Binary Data TCK tests"
Get the `DB2BinaryDataTypeDecodeTest` and `DB2BinaryDataTypeEncodeTest` tests passing

[2020-01-08 17:26] aguibert opened #500 "[DB2] Collector TCK tests"
Get the `DB2CollectorTest` TCK tests passing

[2020-01-08 17:28] aguibert opened #501 "[DB2] Prepared Query TCK tests"
Get the following TCK tests passing:
- `DB2PreparedQueryTest`
- `DB2PreparedQueryPooledTest`
- `DB2PreparedQueryCachedTest`

[2020-01-08 20:54] aguibert commented on #492
I am working on this one

[2020-01-09 06:43] estet90 commented on #481
How I can solve my problem?

[2020-01-09 09:50] vietj commented on #481
the proper way is that you should set a timeout yourself and cancel the current query using the PG specific feature using https://vertx.io/docs/vertx-pg-client/java/#_cancelling_request

[2020-01-09 09:51] vietj commented on #481
we could have a specific timeout for PG that does it for you on a connection perhaps, I don't know how much efficient this is, given that cancelling a query opens a connection

[2020-01-09 10:28] estet90 commented on #481
The essence of the problem is that I could not get the result of the request, and the connection was closed. This happens infrequently, but I want to exclude such an error.

[2020-01-09 10:47] BillyYccc commented on #481
I think a better way to handle this is that we could add a command timeout
for each connection, when the query exceeds timeout we can let the query
handler fail–fast.

Julien Viet <notifications@github.com> 于 2020年1月9日周四 17:51写道：

[2020-01-10 05:40] estet90 commented on #481
1. There isn't any result in my program, but
2. Query in db was completed

[2020-01-10 09:24] vietj commented on #481
it might be a bug ? do you have a reproducer ?

[2020-01-10 10:42] deen13 opened #502 "PgConnectOptionsConverter ignores user credentials"
I've recently switched from the blocking postgres client onto this nice reactive client. Sadly the [PgConnectOptionsConvert](https://github.com/eclipse-vertx/vertx-sql-client/blob/master/vertx-pg-client/src/main/generated/io/vertx/pgclient/PgConnectOptionsConverter.java) ignores the port, user and database so i need to build the PgConnectOptions myself. 😢

### Blocking IO Verticle
[code]

### Reac

[2020-01-10 11:00] BillyYccc commented on #502
Hi, that converter is not for this kind of use case. If you want to build a connection configuration from a `JsonObject` you can use the constructor in https://github.com/eclipse-vertx/vertx-sql-client/blob/d96e53f80c0066b377c43efbd1c6466bb0d06e51/vertx-pg-client/src/main/java/io/vertx/pgclient/PgConnectOptions.java#L120

[2020-01-10 12:02] #502 closed

[2020-01-13 13:19] vietj commented on #481
no it's not a bug if you set TCP idle timeout then it will be closed, we are eventually discussing a feature that would set a timer and cancel a query using PG query cancellation mechanism

[2020-01-13 13:20] vietj commented on #481
ah for bug I mean that you might be having a bug where the client is not performing the query at all

[2020-01-14 07:31] estet90 commented on #481
yes, most likely it is

[2020-01-14 21:53] BillyYccc opened #504 "MySQL TLS handshake failure could not be reported correctly"
The CI does not pass in https://travis-ci.org/eclipse-vertx/vertx-sql-client/builds/636987648 and it is due to MySQL TLS tests failure.

This is because of regression in https://github.com/eclipse-vertx/vert.x/commit/3b685e70b3635a2ae5830efd52dbabe673a7cdcd.

MySQL handshake failure will trigger https://github.com/eclipse-vertx/vertx-sql-client/blob/d96e53f80c0066b377c43efbd1c6466bb0d06e51/vertx-m

[2020-01-17 21:54] aguibert commented on #490
having @mswatosh look at this one

[2020-01-19 12:36] BillyYccc opened #507 "[MySQL]Incomplete method implementations in MySQLRowImpl"
### Version

Both `3.8` and `4.0`

### Context

Some methods in `MySQLRowImpl` are not implemented such as `getBigDecimal` and it should be added.

In addition we should give some better error messages for those unsupported methods.

[2020-01-20 11:52] BillyYccc opened #508 "[PostgreSQL]Row.getXxxxx(alias) returns null when alias is uppercase"
On Postgres, column aliases are converted to lowercase internally in the RowIterator, but the key passed to the getXxxxx() methods are not.

Issue reported in: smallrye/smallrye-reactive-utils#104.

[2020-01-20 11:53] BillyYccc opened #509 "[PostgreSQL]PostgreSQL client should recognize ? placemarkers"
Postgres' $1, $2, etc, is nonstandard, AFAIK, and contrary to ODBC and JDBC.

We should at least have the option to use this syntax if we want to.

Issue reported in smallrye/smallrye-reactive-utils#106

[2020-01-20 16:06] gavinking opened #510 "support for getKeys() in the axle client"
AFAICT, the axle client doesn't provide a way to retrieve the results of an insert into a MySQL autoincrement column.

(I could be wrong, but given the lack of documentation, I don't feel bad if I am.)

[2020-01-20 16:11] gavinking commented on #510
Excuse me. Looks like I missed it [here](https://vertx.io/docs/vertx-mysql-client/java/#_mysql_last_insert_id).

[2020-01-20 16:31] gavinking commented on #510
Folks this is the kind of thing that needs to be mentioned in the Javadoc. There's literally one (1) line of documentation on `SqlResult` which doesn't mention `property()` at all.  Then on `property()`, I get this oh-so-helpful description:

[code]

Well, no shit, Sherlock.

Ok, so let's go click on `PropertyKind` to see what sorts of things might be a "property":

[code]

OMG! I would never have

[2020-01-20 16:31] #510 closed

[2020-01-20 16:33] gavinking opened #511 "Javadoc!"
The interfaces in the MySQL and Postgres driver packages are almost completely undocumented. Where documentation exists, it's essentially the sort of information that is already obvious from the class/method names.

[2020-01-22 16:28] niwinz commented on #349
Aside, i'm using the `PgPool` with the verticles (not standalone) and it behaves identically: always using one single thread for execute all the queries (and the query callback is executed in the same thread as noted in previous my response) when I have the eventloop pool with 4 threads and 4 verticles deployed...

I have thought that this issue is only when PgPool is used in a standalone mode...

[2020-01-22 16:34] niwinz commented on #349
Testing with 4.0.0-milestone4, seems like running in verticles this issue is fixed. Just updating the app now starts using all the eventloop threads and the response callback is executed in the same calling context. :+1:

Don't know if in standalone mode is fixed.

[2020-01-23 10:58] #441 closed

[2020-01-23 23:42] BillyYccc commented on #72
It's now supported in https://github.com/eclipse-vertx/vertx-sql-client/blob/master/vertx-mysql-client, closing this issue.

[2020-01-23 23:42] #72 closed

[2020-01-23 23:45] BillyYccc commented on #150
fixed in https://github.com/eclipse-vertx/vertx-sql-client/pull/412.

[2020-01-23 23:45] #150 closed

[2020-01-23 23:48] #231 closed

[2020-01-23 23:50] BillyYccc commented on #429
I think we have something changed and would you like to have another try using the latest snapshot version?

[2020-01-23 23:50] #362 closed

[2020-01-23 23:52] #444 closed

[2020-01-23 23:53] BillyYccc commented on #449
duplicated as https://github.com/eclipse-vertx/vertx-sql-client/issues/447

[2020-01-23 23:53] #449 closed

[2020-01-23 23:54] BillyYccc commented on #439
fixed in https://github.com/eclipse-vertx/vertx-sql-client/pull/458.

[2020-01-23 23:54] #439 closed

[2020-01-23 23:56] BillyYccc commented on #401
fixed in https://github.com/eclipse-vertx/vertx-sql-client/pull/420.

[2020-01-23 23:56] #401 closed

[2020-01-23 23:59] BillyYccc commented on #504
it should have been fixed in both `3.8` and `master` branch now.

[2020-01-23 23:59] #504 closed

[2020-02-01 18:57] julianladisch commented on #509
There is no standard.
Oracle uses `:a`, `:b`, `:c`, etc. syntax: https://docs.oracle.com/cd/B28359_01/appdev.111/b28370/dynamic.htm#BJEIJEBJ
PHP PDO supports both named (`:name`) or question mark (`?`) parameter marker placeholder: https://www.php.net/manual/en/pdo.prepare.php
vertx-pg-client neither supports ODBC nor JDBC.
Supporting `?` placeholders requires `?` masking and thus is a breaking ch

[2020-02-03 08:29] vietj commented on #509
Agreed that out of the box we should stick with original DB syntax.

I would like however to support named place holders for simple mapping (i.e `query("INSERT INTO foo (firstName, lastName) VALUES (':firstName', ':lastName')", new JsonObject().put("firstName", "foo").put("lastName", "bar"))`) that would allow doing simple pojo mapping based on databinding.

[2020-02-05 00:02] #507 closed

[2020-02-05 09:12] Globegitter commented on #41
@vietj what is the status on this? I can see one can already set a `idleTimeout` through `PgConnectOptions`, is that then also respected by the pool? But as far as I can see a connection timeout itself is still missing. Can you also confirm that?

And I agree with @pratikpparikh having a connection timeout would be important to have.

[2020-02-05 09:25] vietj commented on #41
we will have this when we reuse the current pool implement from vertx

[2020-02-05 09:26] vietj commented on #41
I'm scheduling this for 4.0

[2020-02-05 09:35] Globegitter commented on #41
@vietj that is great new, but if now I set:

[code]

then is `connectTimeout` and `idleTimeout` ignored by the pool?

[2020-02-05 09:39] vietj commented on #41
those are connection settings, not pool settings. Those should have effect though, i.e the connection should be closed after 1s of TCP inactivity whehter it's int he pool or not.

[2020-02-05 09:39] vietj commented on #41
and for connect timeout there are chances it works correctly although one should check

[2020-02-05 09:42] Globegitter commented on #41
Cool thanks for the quick responses, will give it a try and report back here.

[2020-02-06 17:46] #485 closed

[2020-02-06 17:46] #486 closed

[2020-02-06 17:46] #487 closed

[2020-02-06 17:46] #488 closed

[2020-02-06 21:58] #489 closed

[2020-02-07 00:56] shenzhou-6 opened #516 "SqlTemplate cannot run on mysql-client"
Because Mysql parameter placeholder is "?" ,In Pg is  "$"

But in SqlTemplateImpl

 while (matcher.find()) {
      mapping.add(matcher.group(1));
      actual.append(template, pos, matcher.start());
      actual.append('$').append(++idx);
      pos = matcher.end();
    }

[2020-02-07 08:31] vietj commented on #516
this is just a proof of concept for now

[2020-02-07 08:31] #516 closed

[2020-02-10 16:42] #492 closed

[2020-02-10 16:56] aguibert opened #518 "Support for DB2 z/OS"
Currently the DB2 module is being developed using DB2 LUW (Linux, Unix, Windows). Ensure that all of the DB2 client operations also work using a DB2 z/OS backend (to the extent allowed by the backend)

[2020-02-10 17:25] aguibert commented on #501
Partially done in #517

[2020-02-10 18:05] #501 closed

[2020-02-19 18:27] Globegitter commented on #480
@vietj @BillyYccc we now have the logs and saw it again, so maybe it can be opened again if there is something actionable now:

[code]

The query we have been seeing this for are frequent and quite large upsert queries if that would make any difference.

[2020-02-19 19:07] Globegitter commented on #480
I found something here: https://stackoverflow.com/questions/46366324/postgres-deadlocks-on-concurrent-upserts so it seems that is nothing to do with vertx and can be left closed :)

[2020-02-20 10:39] BillyYccc opened #521 "MySQL Unix Domain Socket Support"
Motivation:
We can connect to the MySQL Server via Unix Domain Socket, see https://dev.mysql.com/doc/refman/8.0/en/server-options.html#option_mysqld_socket

[2020-02-21 21:39] aguibert opened #522 "[DB2] Prepared batch statements"
Get all tests passing in `DB2PreparedBatchTest` and investigate, implement, and test the rest of the batch API

[2020-02-22 07:51] BillyYccc opened #524 "MySQL geometry data type support"
https://dev.mysql.com/doc/refman/8.0/en/spatial-types.html

[2020-02-23 04:12] BillyYccc commented on #255
Closed as this has been resolved by adding null checks for those options.

[2020-02-23 04:12] #255 closed

[2020-02-23 12:08] #524 closed

[2020-02-23 12:29] BillyYccc opened #526 "MySQL geometry data object is abstract"
It looks like we can not use abstract classes in data object for now due to https://github.com/vert-x3/vertx-codegen/issues/80 but the `GeometryCollectionConverter` could be generated and compiled in `master` branch though it performs incorrect behaviors.

[2020-02-24 12:50] markhofmann opened #528 "Error connecting to PgBouncer pool"
### Version

3.8.5

### Context

I'm running my services on DigitalOcean with PostgreSQL and use their built-in connection pool (PgBouncer) to connect.

When my application tries to connect to the pool, PgBouncer fails with the message:
"unsupported startup parameter: intervalStyle"

This happens because PgConnectOptions.java sets the intervalStyle, which is not supported by PgBouncer, as a defaul

[2020-02-26 16:08] Sanne commented on #499
just wondering, does this issue imply that these tests are not passing, or in unknown status?

[2020-02-26 17:24] aguibert commented on #499
@Sanne right now they are just unknown status

[2020-02-27 14:13] vietj opened #530 "Add transaction demarcation command"
Currently the implementation of `Transaction` will directly execute SQL to control the transaction. This works fine for PostgreSQL and MySQL but introduce friction with DB2 and the JDBC implementation.

We need to introduce a `TxCommand` that will be sent by the `Transaction` implementation to control the transaction. Protocol implementation can freely chose how to best respond to this command.

[2020-02-27 17:37] #530 closed

[2020-02-28 17:49] aguibert commented on #500
Most tests are passing here, just need to cover the error path scenarios which @mswatosh is working on

[2020-03-07 05:26] #511 closed

[2020-03-07 05:43] BillyYccc opened #532 "MySQL TLS testing failure"
MySQL TLS testing failure and here is the stacktrace:
[code]

This is because of the latest docker MySQL server image might enable TLS configuration limit `MinProtocol = TLSv1.2` and our tests use TLS v1.1 to test with MySQL 5.x server which is using yaSSL and does not supprot TLS v1.2.

We could solve this by adding versioned testing for MySQL TLS tests.

[2020-03-07 07:18] #532 closed

[2020-03-10 20:56] Ryaryu commented on #153
I know it is annoying to bump this just to ask, but you guys got the time to revive this?

[2020-03-12 20:13] #493 closed

[2020-03-13 17:47] BillyYccc commented on #528
OK I agree the redundant property could be pruned.

[2020-03-14 01:55] #500 closed

[2020-03-14 11:18] BillyYccc opened #546 "[MSSQL]SQL Server prepared statement rework"
Currently SQL Server client only supports `Sp_PrepExec` for prepared statement, it would be good if we can support `Sp_Prepare`  and `Sp_Execute` in `PreparedQuery` implementation.

[2020-03-14 11:21] BillyYccc commented on #314
Closing as the best practice for now is added in https://github.com/eclipse-vertx/vertx-sql-client/pull/540.

[2020-03-14 11:21] #314 closed

[2020-03-14 11:23] #246 closed

[2020-03-14 11:25] BillyYccc commented on #149
Closing this since the original project has been integrated into Vert.x stack and got a new style of documentation in https://vertx.io/docs/vertx-pg-client/java/.

[2020-03-14 11:25] #149 closed

[2020-03-16 08:52] vietj opened #548 "Tuple getters coercion improvements"
Currently the `Tuple` and `Row` getters perform limited coercion for single and multi values. We improve this support

- missing getters, e.g `JsonObject` and `JsonArray`
- improving date coercion, e.g `getLocalTime` will get the `LocalTime` part of a `LocalDateTime`
- providing coercion support for arrays
  - dates, e.g `LocalDateTime[]` coerced to `LocalTime[]`
  - json, e.g `Object[]` coerced t

[2020-03-16 08:54] #548 closed

[2020-03-16 13:20] #522 closed

[2020-03-19 19:47] aguibert opened #551 "[DB] Support for table joins"
SQL queries can join results from two or more tables using:
 - Inner Join
 - Left Outer Join
 - Right Outer Join
 - Full Outer Join

Ensure that all forms of table joins work correctly as described in [the DB2 documentation](https://www.ibm.com/support/knowledgecenter/SSEPEK_10.0.0/intro/src/tpc/db2z_joindatafromtables.html)

[2020-03-20 16:39] dangfan opened #552 "No exception thrown when connection being reset"
### Questions

I'm connecting to a MySQL server that closes idle connections quite often. After the connection is closed, querying will fail but no exception is thrown (I'm using Kotlin coroutine).
The results differ when directly use the MySQLPool to query or use the Connection to query.
When I use the MySQLPool to query, it simply "stucks" and nothing happens. However, when using the Connection,

[2020-03-23 13:02] BillyYccc commented on #552
Hi, from the network dump file I don't see any `FIN` packet, I think the client sent a `STMT_EXECUTE` MySQL specific packet while the connection is half-open so the server responded with a `RST` packet.

I wonder how the idle connection is closed by server and abruptly broken here, I tried with `wait_timeout` but the connection is closed by server correctly.

But the pool lacks of abilities to det

[2020-03-23 13:17] dangfan commented on #552
Hi BillyYccc, thanks for your reply. From my experiment, the proxysql did respond with a `RST` packet.

So is there any way to know this since it cannot be caught by `try-catch`? When this happens, my verticle just hangs there :(

Thanks!

[2020-03-23 13:43] BillyYccc commented on #552
If the connections are frequently closed by the server I think it's better to avoid connection pooling and use `MySQLConnection` directly instead, so when you finish using the connection you can just close it from the client side by calling `MySQLConnection#close()`.

[2020-03-23 16:37] #551 closed

[2020-03-24 13:55] #528 closed

[2020-03-25 12:52] vietj opened #558 "Fluent query API"
The query API becomes fluent with the addition of a `Query` API for creation and configuration of queries before their execution.

The current `PreparedQuery` API is changed such as it extends `Query` and becomes used outside of a connection context. A new `PreparedStatement` API is therefore introduced that allows for prepared statement management and execution of prepared statements spanning sev

[2020-03-25 15:36] #558 closed

[2020-03-26 03:59] dangfan commented on #552
Thank you very much! Do you think we need to remain this issue open since this might be improved in the future?

[2020-03-26 09:46] kameshsampath opened #560 "Vertx PG Client fails with Encryption scram-sha-256"
### Version

vert.x pg-client v3.8.5

### Context

I had the issue when working with Reactive PG Client with Postgresql 11 https://github.com/kameshsampath/openshift-pgsql/tree/master/openshift-pgsql11-primary-centos7

### Do you have a reproducer?

A reproducer is a simple project hosted on GitHub (or another forge supporting git clone operation) that has a build file that can be executed to repr

[2020-03-26 10:27] BillyYccc commented on #560
The SASL SCRAM-SHA-256 authentication method has been supported in https://github.com/eclipse-vertx/vertx-sql-client/pull/412, however it missed the release of `3.8.5`. The feature in included in `3.9` and `4.0` branches, and I think the `3.9` release will come soon. You can have a try with `3.9.0-SNAPSHOT` now and wait for the `3.9` release.

[2020-03-26 10:30] BillyYccc commented on #552
I will close this because it seems there's nothing could be done for the mysql client to handle the RST at present.

[2020-03-26 10:30] #552 closed

[2020-03-26 12:37] #560 closed

[2020-03-26 17:29] #491 closed

[2020-03-26 17:57] kameshsampath commented on #560
Thanks can wait for new release

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Julien Viet <notifications@github.com>
Sent: Thursday, March 26, 2020 6:07:57 PM
To: eclipse-vertx/vertx-sql-client <vertx-sql-client@noreply.github.com>
Cc: Kamesh Sampath <kamesh.sampath@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [eclipse-vertx/vertx-sql-client] V

[2020-03-28 14:47] jponge opened #561 "Rx-ified API issues with Row/RowSet"
I am porting code that used the RxJava2 bindings of the client, and especially the `io.vertx.reactivex.sqlclient.Row` and `io.vertx.reactivex.sqlclient.RowSet` types.

I am now getting class cast exceptions as in:

[code]

with code such as:

[code]

I know this type of issue usually rings a bell to @vietj 😉

[2020-03-28 14:59] jponge commented on #561
Note: the rx-ified APIs do expect Rx-ified `Tuple`, `Row`, etc

[2020-03-28 19:26] vietj commented on #561
can you create an issue in vertx-rx project ?

[2020-03-28 21:46] vietj commented on #561
it looks like a bug in the code generator, I will have a look soon, it seems blocker for 3.9

[2020-03-28 22:07] vietj commented on #561
it is actually a limitation in nested generic types in the generator, I think we can provide a decent solution to this.

[2020-03-29 22:06] #561 closed

[2020-03-29 22:06] vietj commented on #561
closing to invalid as it is an rx generator bug / missing feature

[2020-03-31 15:55] aguibert opened #563 "[DB2] Support for ROWID column type"
Add support for the ROWID column type in DB2.

See ROWID doc here: https://www.ibm.com/support/knowledgecenter/SSEPEK_10.0.0/sqlref/src/tpc/db2z_rowidvalues.html

[2020-03-31 21:15] aguibert opened #566 "[DB2] Finalize MVP and simplify DRDA protocol classes"
Now that the DB2 module has a good amount of functionality and is getting close to a minimum viable product, I need to go over the codebase and resolve all TODO comments

Also, the code in the io.vertx.db2client.impl.drda package has been intentionally left in a messy state. The goal here was to keep leftover commented out code from the initial Apache Derby port in place so that we could easily re

[2020-04-01 16:35] #518 closed

[2020-04-01 16:35] #499 closed

[2020-04-01 19:33] #563 closed

[2020-04-02 02:18] lygoing opened #568 "Batch method removed in version 3.9.0?"
![image](https://user-images.githubusercontent.com/5944432/78204069-2e2b6380-74cb-11ea-945f-ebf470cfe2ab.png)

[2020-04-02 06:19] #568 closed

[2020-04-02 06:19] vietj commented on #568
you need to use client.preparedQuery(SQL).executeBatch(...) instead

please have a look at the breaking changes https://github.com/vert-x3/wiki/wiki/3.9.0-Deprecations-and-breaking-changes#fluent-query-api

[2020-04-02 06:22] lygoing commented on #568
@vietj  Thank you very much. ☕️

[2020-04-02 13:00] BillyYccc opened #569 "Add SQL Server Client to the stack"
Motivation:
Integrate MSSQL client with Kotlin, JavaScript, Groovy, Ruby...

- [x] vertx-dependencies https://github.com/vert-x3/vertx-dependencies/commit/2b6a63fb50470fe41a4aadb04a92ce396e7ddd15
- [x] vertx-stack https://github.com/vert-x3/vertx-stack/commit/5c800fc767d98c77195dc6f130bff227b855da48
- [x] Kotlin https://github.com/vert-x3/vertx-lang-kotlin/commit/0af356249b2f63b9abf58ebf40103981d6

[2020-04-02 14:54] vietj commented on #399
we should do it differently I think in a way we don't patch all languages specifically for  this

[2020-04-02 14:54] vietj commented on #399
for documentation you should look at https://github.com/vert-x3/vertx-stack/tree/master/stack-docs

[2020-04-02 14:56] vietj commented on #399
I think we should copy the files in this project to each implementation

[2020-04-02 17:32] BillyYccc commented on #399
I have a created a PR for `3.9` branch in https://github.com/vert-x3/vertx-stack/pull/103, I will open another PR for `master` branch when I finish integrating sql client to groovy module(it's currently missing).

[2020-04-02 17:42] BillyYccc commented on #399
Here are they:
https://github.com/vert-x3/vertx-lang-groovy/pull/95
https://github.com/vert-x3/vertx-stack/pull/104

[2020-04-02 21:10] vietj opened #571 "Missing asciidoc files in sources jar"
Polyglot documentation uses the asciidoc files bundles in sources jar files (it unpack them in a bulk fashion). The current sources jar files only contains the _index.adoc_ files and does not have the files it includes such as _cursor.adoc_, etc...

[2020-04-02 21:13] #571 closed

[2020-04-02 21:13] vietj commented on #399
I fixed it by correcting the files that are unpacked - see https://github.com/eclipse-vertx/vertx-sql-client/issues/571

[2020-04-02 21:13] #399 closed

[2020-04-03 15:39] BillyYccc opened #572 "Closed prepared statements are not evicted from the preparedstatement cache correctly"
### Version

I think the problem should be both in `3.x` and `master` branches.

### Context

Closed Prepared statements by `PreparedStament#close()` are not evicted from the preparedstatement cache correctly

### Do you have a reproducer?

It's not hard to create a reproducer.
[code]

[2020-04-06 17:13] BillyYccc opened #576 "Add support for caching MySQL resultset metadata info"
#### Describe the feature

* Add support for MySQL CLIENT_OPTIONAL_RESULTSET_METADATA flag so we can tell the server whether the resultset is necessary in the query response.
* We can cache the resultset metadata after it's retrieved from the resultset response.

Investigate whether it's worth adding this to improve MySQL query/preparedQuery performance.

[2020-04-08 12:51] BillyYccc commented on #576
I did some experiments in https://github.com/BillyYccc/vertx-sql-client/commit/da52dd1022a7e3e5a98c32072eb029ce3ca71934.

Here's the benchmark result, all queries are executed in a pool with single connection.

#### localhost disable cache
[code]

#### localhost enable cache
[code]

#### disable cache with avg 30ms latency
[code]

#### enable cache with avg 30ms latency
[code]

I found the benchma

[2020-04-09 22:23] BillyYccc opened #577 "Prepared statement created by SqlConnection#prepare should not be cached"
#### Describe the feature

In the past all prepare statements are cached in the session once created, it's tricky that a user-created object `PreparedStatement` is closed by the cache automatically when the cache is enabled and the entry is evicted.

We should not cache those statements which are not one-shot prepared queries, as the lifecyles of the statments should be managed by the users themse

[2020-04-09 22:31] vietj commented on #577
Actually I believe it should not be so complicated:

I think it can be simply done by having two instance of the cache

- a cache for one shot prepared statement where key is the SQL string
- a cache for explicit prepared statements where the key is an UUID provided by the prepared statement

[2020-04-09 22:33] vietj commented on #577
right, for explicit `PreparedStatement`, the `PreparedStatement` will cache the prepared statement itself

[2020-04-10 13:06] BillyYccc opened #579 "MySQL prepared statements should always bind parameters for the first time execution"
It seems that sometimes executing MySQL prepared queries will throw `io.vertx.mysqlclient.MySQLException: Incorrect arguments to mysqld_stmt_execute`.

MySQL prepared statements should always bind parameters instead of using re-bound flag for the first time COM_STMT_EXEC in case of unexpected behaviors.

[2020-04-11 03:42] fangwohung opened #582 "Passing Parameter IN Operator doesn't work (MySQL)"
[code]
The list is always empty.
I checked [issue](https://github.com/eclipse-vertx/vertx-sql-client/issues?q=IN+Operator), but it doesn't work.
i don't want to use the way which is `SELECT * FROM table WHERE id in (?,?,?,?,...,?)`

Vertx version: 3.8.5

[2020-04-11 05:26] BillyYccc commented on #582
There is no array data type in MySQL so you could not pass an array object to the parameters.
You should rather build the sql and execute like this example, using a sql builder framework such as `JOOQ` would relieve you from writing such kind of boilerplate code.
[code]

[2020-04-11 05:26] #582 closed

[2020-04-11 06:57] vietj opened #583 "Better simplified transaction API"
The current API provides a simplified API that manages the  connection on behalf of the user avoiding the tedious return to a pool:

[code]

The new API relies on the user providing a function that maps a client to a `Future<T>` on which depends the overall result and the transaction management:

- when the future succeeds the transaction is committed
- when the future fails the transaction is rol

[2020-04-11 07:04] vietj opened #584 "Transaction interface gets a single purpose"
The `Transaction` interface extends the `SqlClient` so it can be used to execute queries. The intent is that with a chain of future composition, the `Transaction` instance can be used to perform queries. While it seems a good idea, in practice it does not work as soon as 2 queries are achieved because the `RowSet<Row>` result will break the chain:

[code]

In practice one needs to do:

[code]

Or

[2020-04-11 07:07] vietj opened #585 "Transaction abort handler removal"
The `Transaction` interface defines an `abortHandler(Handler<Void>)` method to be notified when the transaction rolls back.

It is better instead to define instead a `completion` future that is resolved when the transaction ends commits or rolls back.

[code]

[2020-04-11 07:08] vietj opened #586 "Transaction completion future"
Expose a future on the transaction that is completed when the transaction with the commit/rollback result. This can be used as a cleanup facility after a transaction.

[2020-04-11 07:12] #586 closed

[2020-04-11 07:12] #585 closed

[2020-04-11 07:12] #584 closed

[2020-04-11 07:12] #583 closed

[2020-04-11 07:12] #421 closed

[2020-04-11 07:13] #112 closed

[2020-04-13 15:08] BillyYccc opened #590 "PreparedStatement bicommand scheduling on pool are not scheduled on the same connection"
### Version

this should happen in `3.9` version

### Context

We meet such exceptions when we use `SqlClient#preparedQuery`

[code]

One-shot prepared statement executing will schedule a `PrepareStatementCommand` and `ExtendedQueryCommand` like this
https://github.com/eclipse-vertx/vertx-sql-client/blob/f44980366fe1ae34714ee1989635d8c8fea2f416/vertx-sql-client/src/main/java/io/vertx/sqlclient/imp

[2020-04-15 14:06] ylemoigne opened #593 "Bad execution context throw IllegalStateException on `executeBatchAwait()` which do not happen with `executeAwait()` in the same context."
Stacktrace

[code]

### Version
3.9.0

### Context

I won't have a complete reproducer as the full case with coroutines is hard to extract.
But I also tried to force context to vertx, and it doesn't solve the issue.

[code]

### Extra
Kotlin 1.3.72

[2020-04-22 13:34] #577 closed

[2020-04-22 14:36] #579 closed

[2020-04-25 06:41] BillyYccc opened #599 "Memory leak on MySQL preparedQuery BLOB data type"
MySQL binary decoding BLOB type should use a copied heap buffer instead of referencing the slice of direct buffer.

[2020-04-25 07:08] #599 closed

[2020-04-26 19:17] pmlopes commented on #569
Ping me if you need help here.

[2020-04-27 08:48] anuranjit commented on #572
@BillyYccc
I think a similar problem happens When querying with a flowable also. Where a prepared query is executed for each emitted item ( the same prepared query with different arguments)

[2020-04-27 15:12] BillyYccc commented on #569
Thanks! the SQL server client has been inactive for some time, I need to find out what is left over and get it spinned again first :-)

The codebase follows the way Vert.x codegen works so there should not be too much work left for this.

[2020-05-07 15:53] BillyYccc opened #605 "[MSSQL]TLS support"
Add TLS connectivity support for SQL Server client.

[2020-05-07 15:56] BillyYccc opened #606 "[MSSQL]Cursor support"
add support for using cursor/row streaming with sql server client

[2020-05-07 15:58] BillyYccc opened #607 "[MSSQL]Batch Queries support"
add support for executing batch queries with sql server client

[2020-05-07 16:02] BillyYccc commented on #546
I think we should support `sp_executesql` for one-shot prepared queries,  `Sp_Prepare` and `Sp_Execute` for prepared statements.

[2020-05-07 16:03] BillyYccc opened #608 "[MSSQL]datatype support"
currently we only support a small set of all the datatypes, we should expand the support and improve the current data type implmentation(such as `NUMERIC`).

[2020-05-07 16:07] BillyYccc opened #609 "[MSSQL]Multiple Active Result Sets (MARS) support"
It would be good if we support Multiple Active Result Sets (MARS) which needs support for Session Multiplex Protocol (SMP) so that we could use multiplexed connections.

[2020-05-07 16:07] BillyYccc opened #610 "[MSSQL]Transaction support"
currently the sql server client does not support transactions and we should support this.

[2020-05-10 21:05] vietj opened #612 "Java enum Row/Tuple support for PostgreSQL"
Allow to use Java enums for using various types with a Java enum in `Tuple`/`Row`: `Tuple.of(Color.red)`, `row.get(Color.red, 0)`.

Java enums is a PostgreSQL feature, other databases shall implement it when possible.

Java enum can be used to interact with PostgreSQL VARCHAR/TEXT/UNKNOWN types (using the enum name) or INT2/INT4/INT8 (using the enum ordinal).

[2020-05-10 21:06] #612 closed

[2020-05-10 21:12] vietj opened #613 "Java enum Row/Tuple support for MySQL"
See https://github.com/eclipse-vertx/vertx-sql-client/issues/612

[2020-05-10 21:13] vietj opened #614 "Java enum Row/Tuple support for SQL Server"
See https://github.com/eclipse-vertx/vertx-sql-client/issues/612

[2020-05-10 21:14] vietj opened #615 "Java enum Row/Tuple support for DB2"
See https://github.com/eclipse-vertx/vertx-sql-client/issues/612

[2020-05-11 03:20] aguibert opened #616 "Generic API entry point"
#### Describe the feature

In order for other projects (such as Hibernate Reactive) to build on top of the generic vertx-sql-client API, they need a mechanism to initialize a connection/client/pool without a direct dependency on the DB-specific API.

For example, Hibernate Reactive has to do stuff like this:
[code]

With JDBC, each driver is discoverable via the JDK ServiceLoader mechanism, so tha

[2020-05-11 10:44] vietj commented on #590
did you work on this issue @BillyYccc ?

[2020-05-11 10:50] BillyYccc commented on #590
not yet, but I hope we can settle this in 3.9.1

Julien Viet <notifications@github.com> 于 2020年5月11日周一 18:44写道：

[2020-05-11 11:14] gavinking commented on #616
Agreed, I was thinking this too.

[2020-05-11 11:21] vietj commented on #590
Any chance by tomorrow ?

[2020-05-11 12:40] BillyYccc commented on #590
I'll hava a try tonight

Julien Viet <notifications@github.com> 于 2020年5月11日周一 19:21写道：

[2020-05-12 06:32] vietj commented on #590
I will handle this one @BillyYccc

[2020-05-12 06:53] vietj commented on #590
funny there is already such similar test in PgPoolTest

[2020-05-12 06:59] vietj commented on #590
the fix is easy, I'm almost done with it. I'll port the test to master as well.

[2020-05-12 07:02] #590 closed

[2020-05-12 13:42] BillyYccc opened #619 "Invalid cached prepared statement should be evicted when the execution gets an error response if the Postgres table structure is changed"
### Context

reported from https://groups.google.com/forum/#!msg/vertx/2EQRL2d88E0/auaATWeYBAAJ

we don't handle this for explict prepared statement because they're not cached by the client.

[2020-05-12 23:23] #572 closed

[2020-05-12 23:23] #619 closed

[2020-05-12 23:49] BillyYccc commented on #526
MySQL Geometric data type is not data object any more since https://github.com/eclipse-vertx/vertx-sql-client/commit/88237f8bea9373e30dc9a453edc0510939c3f377.

[2020-05-12 23:49] #526 closed

[2020-05-13 10:56] vietj opened #626 "SQL templates"
The client SQL templates is a thin layer on top of SQL client that allows the developer to parameterise templates using name placeholder and perform simple parameter / row mapping with objects based on the user providing `java.util.function.Function`. It provides also a code generator for generating such functions automatically for vertx data objects.

[2020-05-13 10:56] #626 closed

[2020-05-13 14:25] BillyYccc opened #627 "[MSSQL]Nullable data types are not handled correctly"
Currently the sql server client only supports `NOT NULL` constraint columns, if the column is nullable and will response with a variable-length data type which we don't support now.
See https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-tds/859eb3d2-80d3-40f6-a637-414552c9c552.

We should add support for decoding [Variable-Length Data Types](https://docs.microsoft.com/en-us/openspecs/

[2020-05-14 11:41] vietj commented on #432
this is somehow proprietary to each database, e.g for postgres one need to execute a SQL statement that will do that

[2020-05-14 14:19] BillyYccc commented on #432
Yes it differs between different database vendors.
Postgres supports starting a transaction with configuring transaction
isolation levels and characteristics
https://www.postgresql.org/docs/current/sql-start-transaction.html.
MySQL supports starting a transaction with configuring only
transaction characteristics(but additionally WITH CONSISTENT SNAPSHOT)
https://dev.mysql.com/doc/refman/8.0/en/com

[2020-05-14 21:28] aguibert commented on #616
Closed by #618

[2020-05-14 21:28] #616 closed

[2020-05-14 22:20] aguibert opened #630 "Allow general pipelining of connection initialization flows"
#### Describe the feature

Currently the low-level getConnection flow looks like this:

[code]

Over the wire, that means we have done an entire DB round-trip before starting any queries on a new connection:
[code]

Databases such as DB2 allow commands to be "chained" in the same packet, which can reduce the number of round-trips in situations like this:
[code]
This is basically the same thing as

[2020-05-15 07:28] vietj commented on #432
+1

[2020-05-15 07:38] vietj commented on #630
@aguibert I am not sure this is an optimisation we want to do for a few reasons.

1. we used to have something like this for `Transaction` (i.e you would start a transaction but in practice you don't know if it really started until you do the first operation) and it was changed so that when you start a transaction you know you can proceed further along.

2. in practice the optimisation looks very

[2020-05-15 15:43] BillyYccc opened #635 "Make SQL Server properties optional"
Currently in the connection LOGIN phase, the sql server client required `appName` & `clientInterfaceName` which dependends on the properties, we should make this optional and replace with a default value when properties is not configured.

[2020-05-15 15:49] #627 closed

[2020-05-15 16:02] gavinking commented on #627
Excellent, thanks!

[2020-05-15 16:08] #613 closed

[2020-05-15 17:39] BillyYccc commented on #608
## Data type support checklist:

Note some data types have both fixed-length & vairable-length column, we need to support them all.

#### Numeric

- [ ] NUMERIC & DECIMAL (supported but do need some changes) (**HIGH PRIORITY**)
- [x] BIT
- [x] float & real
- [x] int, bigint, smallint, tinyint
- [ ] money & smallmoney

#### String & Binary

- [ ] binary & varbinary
- [x] char & varchar
- [ ] nchar

[2020-05-15 17:43] gavinking commented on #608
I agree that `numeric`/`decimal`, and `datetime2` are very high priority.

After that I would vote for `image`, `text`, and `varbinary`.

[2020-05-15 18:26] #635 closed

[2020-05-16 00:44] #614 closed

[2020-05-16 17:49] gavinking opened #639 "abstraction for MySQLClient.LAST_INSERTED_ID"
So MySQL is not the only database with support for autoincrement/identity columns. And even if it were, it's still a problem that in order to be able to support this feature of MySQL, I need a hard dependency to `MySQLClient.LAST_INSERTED_ID` which is defined in the MySQL client. That means, for example, that if I'm using Hibernate Reactive with Postgres in Quarkus, I'll have a dependency to the M

[2020-05-17 00:11] vietj commented on #639
with backport to 3

[2020-05-17 07:37] vietj commented on #432
as part of the API I don't understand how the `Supplier<String> startTxSql`

[2020-05-17 07:40] vietj commented on #432
I think that the `startTxSql` should instead be replaced by an enum like the sql-common

[2020-05-19 21:50] aguibert opened #645 "Database metadata SPI"
#### Describe the feature

Upstack libraries (i.e. Hibernate/JPA) typically require some sort of global database metadata in order to determine what types of features/sql syntax are supported.

In JDBC they have 2 tiers of metadata APIs:
- [DatabaseMetaData](https://docs.oracle.com/en/java/javase/11/docs/api/java.sql/java/sql/DatabaseMetaData.html)
- [ResultSetMetadata](https://docs.oracle.com/en/

[2020-05-20 08:59] FroMage opened #646 "Add transaction accessor in `Connection`"
Once a transaction has been created with `Connection.begin` it will be associated with the connection, so its implementation keeps it in a field.

It can be useful to add an accessor for it, so that we can check if a connection is in a transaction already, and to obtain the transaction without having to hang on to the connection/transaction tuple.

[2020-05-20 09:06] #274 closed

[2020-05-20 14:13] vietj opened #648 "Client async close"
Currently the `SqlClient` operation is a fire and forget operation and does not provide a way for providing an async completion of the operation.

[2020-05-20 14:15] #648 closed

[2020-05-21 22:45] aguibert commented on #630
Fair points, I'll go ahead and close this issue

[2020-05-21 22:45] #630 closed

[2020-05-22 11:40] vietj opened #653 "Tracing support"
Vert.x 4 supports tracing reporting. The SQL client should use it to report query execution in traces.

[2020-05-22 14:06] vietj opened #654 "DB2 documentation"
Currently DB2 is lacking documentation `index.adoc` file.

[2020-05-22 14:06] vietj commented on #654
should be back-ported to 3

[2020-05-22 14:40] BillyYccc opened #655 "Reconsider SQL template placeholder as it does not work with string template"
Currently the SQL template supports SQL syntax like "SELECT * FROM users WHERE id=${id}" and replaces the SQL template holder(${}) with a real SQL placeholder such as ?,$1, etc...

This can work perfectly in Java, however languages like Kotlin and Javascript(ECMAScript 6) supports string template grammar which will interpolate variable into the SQL string, therefore the SQL template couldn't be us

[2020-05-22 16:37] vietj commented on #655
in all cases, there are needs for escaping, things i;e one likely would need to use `\#` I guess.

[2020-05-22 16:39] vietj commented on #655
maybe we should use some unicode char :-)

[2020-05-24 11:16] gavinking opened #657 "SqlResult.columnTypes()"
In Hibernate Reactive we need a way to obtain information about the type of a column in a `RowSet`.

Please [see my comment here](https://github.com/hibernate/hibernate-reactive/pull/180/files/b505f9530eddf59dfc173f24fa50689b0bb2da3a#r429576118).

[2020-05-24 13:14] vietj commented on #657
can you describe what kind of type do you expect ?

e.g the java type mapping as defined by SQL client, the database type which might be specific to each database, i.e PG will tell you INT2, db2 something like SMALLINT, etc...

[2020-05-24 13:34] gavinking commented on #657
Well that's a good question. TBH, the most convenient thing *for me* would be a `java.sql.JDBCType`, or one of the integer typecodes in `java.sql.Types`, since those are the type codes used internally in Hibernate.

But you probably don't want a dependency to `java.sql`.

But perhaps you could define an enum with ordinal values that by coincidence *just happen* to match up with codes in `java.sql.

[2020-05-24 13:42] vietj commented on #657
isn't JDBCType in the JDK out of the box ?

we can provide such value if that's convenient

[2020-05-24 13:44] gavinking commented on #657
It *is*, but I'm not quite sure what module it's in (post JDK-9).

[2020-05-24 13:46] vietj commented on #657
ok that make sense with post JDK9

I think we can provide at least something that will return an an int value that correspond to this enum mapping

if that's available in JDK OOTB then we can use it as well

[2020-05-24 13:46] gavinking commented on #657
That would be perfect, thanks.

[2020-05-24 13:47] #653 closed

[2020-05-26 16:41] #655 closed

[2020-05-27 07:38] gavinking opened #660 "default the port number"
Currently it's necessary to explicitly specify port numbers with `ConnectOption`s, but every database has a default port, so the default port should be implied.

[2020-05-27 08:40] vietj commented on #660
if you use `SqlConnectOptions` subclasses then you get the right port by default.

This class used to be abstract and user have to create the right subclass in order to get the proper default. A recent PR changed that and now we get this wrong default.

There is currently a discussion to add a "database product name" to `SqlConnectOptions`.

[2020-05-27 09:08] gavinking commented on #660
Oh OK, so should I just close this issue then?

[2020-05-27 10:50] vietj commented on #660
I think we keep it open for now

[2020-05-27 23:10] gvogel-hh opened #664 "[PostgreSQL] lowercasing when parsing URL prohibits configuring generic parameters"
### Version

Which version(s) did you encounter this bug ? 3.9.0

### Context

I tried to configure an idle timeout with PgConnectOptions.fromUri() using ?user=xyz&idleTimeout=60

The code looks like it should work since all extra parameters are put into the JSON and passed to the base classes, among them TCPSSLOptions, but all keys are initially lowercased in PgConnectionUriParser, and TCPSSLOpti

[2020-05-28 02:24] aguibert commented on #657
IMO we should just go with JDBCType and eat the dependency on java.sql. In practice the extra modules it pulls in is very small and sharing some types with the java.sql module will help interop in some cases.

Another case where I could see this being useful is sharing `java.sql.Blob/Clob`

[2020-05-28 07:25] vietj commented on #657
it is not clear to me whether this comes out of the box with the JDK or not

[2020-05-28 17:00] BillyYccc opened #666 "Recycling pooled connection events are not emitted on the eventloop context associated with connection pool"
### Version

it should be only in 4.0

Currently recycling pooled connection events are not emitted on the eventloop context associated with connection pool and are emitted on the caller thread which might cause a racy access to the states of connection pool

[2020-05-28 18:23] aguibert commented on #657
Yes, it is available on all JDK levels out of the box.

[2020-05-29 07:12] vietj commented on #657
then it's very fine

[2020-05-29 13:55] #645 closed

[2020-05-29 14:16] BillyYccc commented on #666
closed via https://github.com/eclipse-vertx/vertx-sql-client/commit/952f753613eb6530255bdcb33f974fb1790c331f.

[2020-05-29 14:16] #666 closed

[2020-05-29 15:58] gavinking commented on #509
Folks, I would still very much like to see this.

We *really* have to jump through hoops in Hibernate Reactive to accommodate this. I didn't want to push the issue too hard earlier, since, well, HR was still in a very experimental stage.

But do still I think it's a really pretty basic feature of a client API to abstract over differences in the parameter-binding syntax of the various supported dat

[2020-05-29 19:30] jrno commented on #509
This proved out to be a slight inconvenience for me when exploring the option to run jOOQ generated sql against the vertx-pg-client. They seem to only support jdbc style or named bindings out of the box (https://www.jooq.org/doc/latest/manual/sql-building/bind-values/)

[2020-05-29 20:14] vietj commented on #509
_JDBC and ODBC are almost-universally-supported standards_ in Java

[2020-05-29 20:30] vietj commented on #509
it is not clear what is needed from HRX perspective, do you mean that HRX will generate queries with placeholder and then the client will parse it to replace the placeholders by the native placeholders or do you mean more ?

If that's the former we can easily do it by providing some kind of query builder that will generate a portable string accross vendor, i.e something like `new Query().appendSql

[2020-05-29 22:05] gavinking commented on #509
Right, that.

No that doesn't help because it's not HR generating the SQL. We're just taking SQL that Hibernate generates and doing this same replacement ourselves.

And of course we can do that (_are_ doing it, in fact).

And see the thing is, that it's not just HR that needs to do this: it's anyone who wants to use any sort of pre-existing SQL-generation lib written for Java together with the `S

[2020-05-29 22:09] gavinking commented on #509
No, not just in Java! ODBC is supported across multiple languages. And JDBC is just a Java clone of it.

[2020-05-29 22:40] vietj commented on #509
you are saying that a simple tokenization of a query with `?` as delimiter will do the job, however this thread indicates it seems to be more complex than that https://stackoverflow.com/questions/14779896/does-the-jdbc-spec-prevent-from-being-used-as-an-operator-outside-of-quotes , WDYT ?

[2020-05-29 22:53] gavinking commented on #509
What in particular in that thread are you referring to?

I'm not asking you to support the ODBC/JDBC escape syntax, since that is really quite complex, with lots of standard functions to translate to database native functions, and not even JDBC drivers do a good job of supporting it.

All I'm asking for is the query parameter syntax.

[2020-05-29 23:12] vietj commented on #509
It is not clear to me actually what you are asking to support.

Are you asking that the PostgreSQL client is able support rewriting queries using `?` as placeholders instead of `$n` sequence by using a trivial `?` delimited tokenization ?

[2020-05-29 23:14] gavinking commented on #509
Yes. But the tokenization is not *quite* that trivial since you need to avoid doing replacement inside comments, quoted identifiers, and literal strings.

[2020-05-29 23:16] gavinking commented on #509
And the point is that I want to call some method where that just happens automatically *if* it is the Postgres client, without having to ask myself what client it is.

[2020-05-30 05:36] pmlopes commented on #509
Just for better understand the problem. HRX generates SQL from java code/classes, and the generated code is aware of the target database (for type support, sequences, etc).

So what is blocking HRX to generate the SQL with the target specific marker? IMHO this looks like asking for a change on the wrong side of the problem.

I have the feeling this would be wasting a few CPU cycles as time was spe

[2020-05-30 09:19] gavinking commented on #509
No, HR doesn't generate SQL. Hibernate ORM generates SQL. And, like essentially every other library that generates SQL in the entire Java ecosystem, it generates SQL with `?` placeholders.
HR is a *separate library* that just forwards that generated SQL to a `SqlClient`.

Now, there are two choices here. Either:

1. HR, along with *every single other client with existing hand-written SQL, or which

[2020-05-30 09:26] gavinking commented on #509
In fact this is the path we tried to go down, and after a lot of suffering, we essentially failed to make it work. You see, there are *lots* of places in Hibernate ORM which render SQL, and sometimes different "bits" are rendered in different places, and then there are a few other places where already-rendered SQL (or hand-written SQL passed by the user) is subsequently manipulated in some way (to

[2020-05-30 12:37] gavinking commented on #509
So to clear things up a bit, here's [the implementation I'm currently using](https://github.com/hibernate/hibernate-reactive/blob/e3685415e46f204716efd60140cc6ec9fc8eb8ac/hibernate-reactive-core/src/main/java/org/hibernate/reactive/pool/impl/Parameters.java). I'm sure it can be improved. Perhaps it's going to exhibit better performance by working directly with bytes instead of codepoints, for exam

[2020-05-30 16:10] gavinking opened #668 "query timeout"
JDBC and JPA let me set a timeout on a query. Unless I'm missing something, it's a feature that's still needed in the reactive world, and AFAICT there's currently no way to do it in the Vert.x client.

[2020-05-30 18:00] vietj commented on #509
@gavinking yes I see what you mean, I think we can do such API but keep it internal (i.e on `SqlClientInternal` interface) for HRX as I don't want encourage API users to use it. The main reason is that it seems simple explained like this but it might not be and require to invest a lot of time and effort in which case we cannot support such API.

[2020-05-30 19:08] vietj commented on #509
I think we could have a tag on `SqlClientInternal` that will internally rewrite SQL queries to use something like the code you provided when set

[2020-05-30 19:09] vietj commented on #668
what happens when the timeout elapses for the queries in progress ?

[2020-05-30 19:52] gavinking commented on #668
They get aborted, and the client receives an exception.

[2020-05-30 19:53] gavinking commented on #668
Well, *it* gets aborted, since the timeout only affects one query.

[2020-05-30 19:57] gavinking commented on #509
Well then there's barely any value in having it in Vert.x rather than in HR, since the whole point of why I'm asking for this is that I think other people will want to use it. I find it difficult to believe that we're the only ones who're going to run into this.

Ideally from my point of view it would be a setting on `ConnectOptions` or `PoolOptions` that let me `setPortableParameterSyntax(true)`.

[2020-05-30 21:24] vietj commented on #668
The current API I can see in JDBC is `Connection#setNetworkTimeout(Executor,int)` , is that the API you are referring to or am I missing something ?

[2020-05-30 21:42] gavinking commented on #668
Look at `Statement.setQueryTimeout()`.

[2020-05-30 21:43] gavinking commented on #668
And in JPA it's:

    query.setHint("javax.persistence.query.timeout", 2000);

[2020-05-30 21:46] vietj commented on #668
Ok that makes more sense to me than what I found before.

we can support this for PG (the API for cancelling a query already exist) but I don't know how other implementations can handle it.

@aguibert @BillyYccc do you know if MySQL, MSSQL and DB2 support this ?

[2020-05-30 21:49] gavinking commented on #668
Google found this for me:

<https://tideways.com/profiler/blog/use-timeouts-to-prevent-long-running-select-queries-from-taking-down-your-mysql>

[2020-05-30 22:15] vietj commented on #668
It seems that the actual way to proceed is similar to PostgreSQL which is to open a new connection to the server and execute a `KILL QUERY` statement using an ID provided by MySQL that we get in MySQLClient at https://github.com/eclipse-vertx/vertx-sql-client/blob/master/vertx-mysql-client/src/main/java/io/vertx/mysqlclient/impl/codec/InitialHandshakeCommandCodec.java#L78

[2020-05-31 10:17] BillyYccc commented on #668
In JDBC the implementation of `Statement#setQueryTimeout` is opening another connection and send a query cancel signal to ask the server to terminate the executing query.
that timeout means query_timeout = network_timeout + statement_timeout

But such mechanisms are not reliable because the cancel request mostly only tells which connection to cancel without any query identifier, so the cancel requ

[2020-05-31 10:41] gavinking commented on #668
Ugh, that sounds like a terrible way to do this. But surely that's just the implementation detail of some particular JDBC driver, that can't possibly be the way it's specified to work by JDBC, can it?

[2020-05-31 10:51] vietj commented on #668
JDBC does not specify anything.

It is inherent to the client/database protocol design. These protocol (designed in the 80's) are usually not multiplexed.

In practice it means that when the database is executing a query then it will not be able to read anything from the client until the query has finished and the database has sent the response and therefore the only way is to use another connecti

[2020-05-31 11:10] gavinking commented on #668
Right, but I had understood that the databases themselves had ways to specify the query timeout *within their proprietary flavors of SQL*, that the JDBC drivers were abstracting.

[2020-05-31 11:10] gavinking commented on #668
(Just like in that link I sent you.)

[2020-05-31 11:12] gavinking commented on #668
I mean, how does it make sense for the *client* to be the thing responsible for timing out a stuck query?? That's gotta be something the server does.

[2020-05-31 12:24] BillyYccc commented on #668
I think there are two ways which are both doable in the client

1. provide a `statementTimeout` option which abstracts setting those statement execution timeout for different databases like
`SET max_execution_time = 5000` for MySQL
`SET statement_timeout = 5000;` for PostgreSQL
etc...

the SQL Client executes such queries for every new created connections once the option is configured, if there's

[2020-05-31 12:31] gavinking commented on #668
Well the use case is that you have a default timeout set on the server, but then for a certain long-running query you want to increase that timeout just for the single query.

For example, you never want to wait a minute for a login query. But you might for a query which is rendering a complex report.

So having a single global timeout isn't sufficiently flexible.

[2020-05-31 13:02] BillyYccc commented on #668
APIs could be provided like

1. setting execution timeout in server
[code]

2. cancel by the client
[code]
In this way the timeout could be configured at the query start and flexible for each timer

[2020-05-31 13:14] vietj commented on #668
@gavinking there might be a configurable settings on the server to timeout a query, that would usually be configured by sysadmin

What we are explaining here is that usually protocols gives the opportunity to cancel a query from the client and the JDBC implementations for the query timeout usually set a timer locally and when the timer fires then JDBC implementations uses this API to cancel the qu

[2020-05-31 13:17] vietj commented on #668
I think what we can do is:

1/ provide a ability to cancel the current query in progress using a programmatic API like we do have now in `PgConnection#cancelRequest`

2/ have on the `Query` instance a timeout that will set a timer and use the connection query cancellation when the timer fires before the query resolves

[2020-05-31 13:18] vietj commented on #668
@BillyYccc can you investigate query cancellation for MS SQL Server ?

[2020-05-31 13:30] BillyYccc commented on #668
In MSSQL `ATTENTION` message could be sent directly from the current session to the server to cancel the ongoing request, it's something like a out-of-band signal. https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-tds/dc28579f-49b1-4a78-9c5f-63fbda002d2e

[2020-05-31 13:46] gavinking commented on #668
@vietj OK, but as I tried to show above, it seems like the right way to do this with MySQL is using a query hint:

    select /*+ max_execution_time(1000) */ * from information_schema.tables

[2020-05-31 14:04] vietj commented on #668
yes it might be.

I think however that this requires to rewrite and understand the user SQL, which is practically something client implementations try to avoid because it is opening a can of worms.

[2020-05-31 14:19] gavinking commented on #668
Well, I'm pretty sure this particular query hint gets inserted right after the very first non-comment token in the query (i.e. after `select`, `update`, `delete`, `replace`, or `insert`)... so really not very difficult.

Anyway, it's documented [here](https://dev.mysql.com/doc/refman/5.7/en/optimizer-hints.html#optimizer-hints-overview).

I don't think that's right. *Every* JDBC and ODBC driver do

[2020-05-31 14:42] vietj commented on #668
- here is how PosgreSQL is opening a new connection and cancelling a request in progress: https://github.com/pgjdbc/pgjdbc/blob/14576f4bca3a2484fd4f81a0d8276ae5cab9a419/pgjdbc/src/main/java/org/postgresql/core/QueryExecutorBase.java#L164 <https://github.com/pgjdbc/pgjdbc/blob/14576f4bca3a2484fd4f81a0d8276ae5cab9a419/pgjdbc/src/main/java/org/postgresql/core/QueryExecutorBase.java#L164>
- here is th

[2020-06-02 18:26] gavinking opened #671 "error using prepared statement cache with DB2"
When I enable the prepared statement cache with DB2 in the HR test suite, I get an error.

I *think* the root cause is this:

[code]

[2020-06-02 18:42] gavinking opened #672 "error in Postgres when setting a small prepared statement cache size"
If I set the prepared statement cache size to 32, I get this, the very first time I get a hit on the cache:

[code]

[2020-06-02 19:25] vietj commented on #672
can you explain how to reproduce it ?

[2020-06-02 20:02] gavinking commented on #672
Check out this branch and run the tests:

<https://github.com/gavinking/hibernate-reactive/tree/pscachebug>

[2020-06-03 14:23] jsoneaday opened #673 "preparedQueryAwait is missing from milestone5 and snapshot"
io.vertx.kotlin.sqlclient.preparedQueryAwait is missing although strangely getConnectionAwait is there

### Version

milestone5 and snapshot for Kotlin language

### Context

I'm simply trying to import preparedQueryAwait and the message I get is unresolved reference: preparedQueryAwait

### Do you have a reproducer?

https://github.com/jsoneaday/preparedQueryAwaitIssue

### Steps to reproduce

1.

[2020-06-03 14:37] vietj commented on #673
I think it is because we changed the API now it should be `preparedQuery(sql).executeAwait(tuple)`

[2020-06-03 14:37] #673 closed

[2020-06-03 17:53] jsoneaday commented on #673
I see no preparedQuery in milestone5.
[cid:7d3fbad6-1440-4639-b0c6-85ba33789a64]
________________________________
From: Julien Viet <notifications@github.com>
Sent: Wednesday, June 3, 2020 10:37 AM
To: eclipse-vertx/vertx-sql-client <vertx-sql-client@noreply.github.com>
Cc: jsoneaday <dharric@live.com>; Author <author@noreply.github.com>
Subject: Re: [eclipse-vertx/vertx-sql-client] preparedQueryA

[2020-06-03 18:44] vietj commented on #673
prepareQuery with a d

[2020-06-03 19:06] jsoneaday commented on #673
Ok its actually not in the same path either but I see that it comes off of the SqlConnection.

But it looks like VertxDataFetcher got moved and its signature has changed too. Any sample on how to call it now?

io.vertx.ext.web.handler.graphql.schema.VertxDataFetcher

________________________________
From: Julien Viet <notifications@github.com>
Sent: Wednesday, June 3, 2020 2:44 PM
To: eclipse-vert

[2020-06-03 19:10] vietj commented on #673
that is a different topic :-) cc @tsegismont

[2020-06-04 12:45] vietj opened #675 "Prepared query execution flow redesign"
Currently one shot prepared query is a composite execution of a `PrepareStatementCommand` and `ExtendedQueryCommand`. The first command will prepare the statement and the later will execute it.

When prepare statement are cached, the `PrepareStatementCommand` is only executed once (assuming the statement is not evicted from the cache).

When prepare statement are not cached then it is unclear what

[2020-06-04 12:45] vietj commented on #675
@aguibert @BillyYccc can you fill the corresponding sections in this document ?

[2020-06-04 12:48] vietj commented on #675
I would like to get a clear understanding of what is currently happening and what should ideally happen for all databases. We might have currently some bugs related to this.

[2020-06-04 13:49] BillyYccc commented on #675
I also find having `PreparedStatement` cached by the user directly is a poor design by me :(  because that cached statement is bound with the connection and users have no way to know if the statement is still valid.

[2020-06-04 13:55] vietj commented on #675
I think it is fine to allow control over `PreparedStatement` as long as user will not use them after the connection has been closed

[2020-06-04 13:57] vietj commented on #675
@BillyYccc about MySQL does it mean that we should have the sequence

- send COM_STMT_PREPARE to server
- locally bind the parameters and set the metadata
- send COM_STMT_EXECUTE to server
- send COM_STMT_CLOSE to server

for un-cached one shot queries ?

[2020-06-04 13:57] vietj commented on #675
we need to determine how it works for one-shot queries when caching is disabled (other than the execution sequence)

[2020-06-04 14:02] BillyYccc commented on #675
yes that's how it works

[2020-06-04 14:05] vietj commented on #675
can you update the doc with that ?

[2020-06-04 14:06] BillyYccc commented on #675
which part of doc do you mean?

[2020-06-04 14:06] vietj commented on #675
for MySQL you wrote "There is no one-shot prepared-query protocol specific command in MySQL. so we can't change the command flow." We need to add the actual flow that I described I guess

[2020-06-04 16:11] BillyYccc commented on #675
We need also consider if we need to autoimatically close the statement after executing one-shot prepared-queries.
For PostgreSQL and MSSQL one-shot preparedQuery it seems we don't have to clean the resources.

But for MySQL we have to send a close command otherwise the statements never get deallocated. Currently there's no such mechanism to clean the uncached one-shot statements so these are leake

[2020-06-04 16:32] vietj commented on #675
@BillyYccc yes which is why I am asking for a flow definition of what happens for one-shot statement so we can implement it cleanly without leaking :-)

[2020-06-04 16:33] vietj commented on #675
I will likely start working on this for PostgreSQL soon and push a branch where you can push for MySQL and MSSQL.

[2020-06-05 02:07] GZYangKui opened #676 "Add database connection pool monitoring function (recommended)"
Hello, we will need to monitor the status of database connection pool during the development of software. At present, vertx SQL client does not seem to provide relevant interfaces. I don't know if we can consider adding this function.

 :octocat: [From gitme Android](http://flutterchina.club/app/gm.html)

[2020-06-05 03:53] aguibert commented on #675
We should do what JDBC did here and raise an exception if a user attempts to use a prepared statement from a closed connection

[2020-06-05 08:36] vietj commented on #676
we are planning adding support for it that will allow to know about pool queuing and connection lifecycle.

[2020-06-05 09:58] GZYangKui commented on #676
Thank you for your hard work！！！

[2020-06-05 09:58] #676 closed

[2020-06-05 15:24] BillyYccc commented on #675
If we let users hold references to the prepared statement and cache it themselves, how would a user know which connection the cached prepared statement is running? In that way it's impossible to chain a cached prepared statement execution and other operations in the same stateful connection.

I believe we need to cache the `PreparedStatement` in the driver layer but not directly use the cache whic

[2020-06-05 16:12] aguibert commented on #675
I don't expect users will keep a cache of multiple prepared statements (e.g. a map/set of PS), rather, I expect users will want to cache individual prepared statements and throwing an exception would just be a way to guard against application programming errors where the user caches the PS beyond the scope of the connection.

[2020-06-05 16:17] vietj commented on #675
I updated the document @BillyYccc @aguibert I will share a branch so you can look at the changes in practice

[2020-06-05 16:19] aguibert commented on #675
@vietj can you elaborate a bit on the goal of this issue? Is it for correctness in order to resolve bugs with certain usage patterns? Or is this more of a performance improvement?

[2020-06-05 16:28] vietj commented on #675
it is for correctness (with pipelining there are some out of order command execution happening), we are currently also having a regression for PostgreSQL under high load but this is a side effect.

[2020-06-05 16:31] vietj commented on #675
the fact that a cached one-shot query implicitly creates a `PreparedStatement` and then executes can create out of order command execution, this is solved by having one-shot queries to be executed without a prepared statement and let the codec handle it

[2020-06-05 16:37] vietj commented on #675
this also improves a few things I was not comfortable with such as the `BiCommand`.

[2020-06-05 16:39] vietj commented on #675
I added a link to the draft PR

[2020-06-05 16:45] vietj commented on #675
@BillyYccc we can discuss the caching of API `PreparedStatement` in another issue after we figure out this one

[2020-06-08 04:00] aguibert commented on #497
Closing this since it was sufficiently covered by PR #547

[2020-06-08 04:00] #497 closed

[2020-06-10 07:16] u4989190 opened #680 "ArrayTuple resizing multiply the capacity by 4 instead of doubling and adding 1"
### Questions

### Version
3.9.x

### Context
when initializing an ArrayTuple using the length constructor with 0 length,  it would throw the indexoutofbound exception.

### Do you have a reproducer?

the bug is easy to reproduce.

[code]

### Steps to reproduce

1.  just run the code above with vertx 3.9+. it is working well with 3.8.x

### Extra

it seems on the line 60 in the file io\vertx\sqlc

[2020-06-10 10:13] yuhaibohotmail opened #681 "Codegen does not work when Mapping with Vert.x data objects"
### Questions
[https://vertx-web-site.github.io/docs/vertx-sql-client-templates/java/#_mapping_with_vert_x_data_objects](url)
Step by step according to the above document description，Codegen does not work when Mapping with Vert.x data objects

### Version
4.0.0-milestone5

### Context

### Do you have a reproducer?
[sqltemplate.zip](https://github.com/eclipse-vertx/vertx-sql-client/files/4757739/s

[2020-06-10 23:31] yuhaibohotmail commented on #681
The error message is resolved with 4.0.0-SNAPSHOT , but no code was generated.  @vietj

[2020-06-11 08:02] vietj commented on #681
can you try using another generator (like generating json converter) to see
if it works?

On Thu, Jun 11, 2020 at 1:32 AM yuhaibohotmail <notifications@github.com>
wrote:

[2020-06-11 09:13] yuhaibohotmail commented on #681
It works using generating json converter , and  ProxyGen

[2020-06-11 11:32] vietj commented on #681
can you provide a reproducer project we can try ?

On Thu, Jun 11, 2020 at 10:13 AM yuhaibohotmail <notifications@github.com>
wrote:

[2020-06-11 14:04] yuhaibohotmail commented on #681
[sqltemplate.zip](https://github.com/eclipse-vertx/vertx-sql-client/files/4765222/sqltemplate.zip)
this is a  reproducer

[2020-06-12 06:07] cjsworld commented on #680
It should be `(values.length << 1) + 1`, instead of `values.length << 1 + 1`, which means `values.length * 4`
But why double capacity then plus 1 ? Why not just extends ArrayList ?

[2020-06-12 07:30] vietj commented on #680
I don't remember why that was done

On Fri, Jun 12, 2020 at 8:07 AM cjsworld <notifications@github.com> wrote:

[2020-06-14 13:07] vietj opened #682 "Un-necessary flush operation"
The `checkPending()` method can trigger un-necessary flushes when the pipeline is empty and no command has been written.

[2020-06-15 15:20] #495 closed

[2020-06-15 15:37] vietj commented on #675
Updated the proposal

[2020-06-15 15:39] vietj commented on #675
Some implementations need to close the prepared statement after the execution of the `ExtendedQueryCommand` when the `PreparedStatement` has the `cached` field set to `false`.

cc @BillyYccc @aguibert

[2020-06-17 09:11] vietj commented on #680
did you encounter this issue in an actual case ? ArrayTuple is an implementation and should not be instantiated directly. Not saying there is not bug, but I'm curious to hear how this issue happened in practice (unless you do a query on a table with 0 columns ?)

[2020-06-17 09:39] cjsworld commented on #680
in our query sql building DSL, we create an ArrayTurple to hold string value. using ArrayTurple(0) instead of Turple.turple() which create a 10 capacity array, because param size is not sure, could be zero.
in ArrayList, zero capacity array is cached in static, could reduce GC if nothing is added.

[2020-06-17 09:44] vietj commented on #680
I think there is a good reason we don't extend ArrayList but I don't remember precisely.

[2020-06-17 09:50] #680 closed

[2020-06-17 09:51] vietj commented on #680
I've added the empty array caching in 3.9 and master @cjsworld thanks for reporting

[2020-06-17 12:46] u4989190 commented on #680
yes, it actually is a real case, but happening embarrassingly.
Here is the code snippet we write in practice.

[code]
somehow this time, one of our team members, who has little knowledege of programming, changes new `ArrayTuple(1)` to new `ArrayTuple(0)`.
I actually asked him why he was doing this, he said he thought it makes no difference since ArrayTuple could grow its capacity itself. sounds te

[2020-06-17 15:41] BillyYccc opened #685 "MySQL prepared statement are leaked when using one-shot non-cached preparedQueries"
Currently MySQL one-shot prepared queries(i.e. using `SqlClient#preparedQuery`) with cache statement option off will never close the internal statement after executing, the user can neither close it by themselves, which those statement handles will cause leaks on the server side. Instead we should close it in MySQL client after executing if it's not cached to be reused.

[2020-06-17 17:22] vietj commented on #680
thanks for reporting it should be fine now

On Wed, Jun 17, 2020 at 2:46 PM Ysc <notifications@github.com> wrote:

[2020-06-18 15:45] BillyYccc commented on #685
will be fixed by https://github.com/eclipse-vertx/vertx-sql-client/pull/686

[2020-06-19 12:10] #685 closed

[2020-06-19 12:11] #675 closed

[2020-06-19 12:11] #682 closed

[2020-06-19 12:13] vietj commented on #671
can you look at this @aguibert ?

[2020-06-19 12:34] vietj commented on #672
I ran the test suite and I get one failure but it's a timeout with no much logging

[code]

is there something I missed to get the same stack trace ?

[2020-06-19 12:36] gavinking commented on #672
Run that test from IntellJ.

On Fri, Jun 19, 2020 at 2:34 PM Julien Viet <notifications@github.com> wrote:

--
Gavin King
IBM

[2020-06-19 12:47] vietj commented on #672
is there something I need to do in order to run automatically docker ?

[2020-06-19 12:48] gavinking commented on #672
Use -Pdocker

On Fri, Jun 19, 2020 at 2:48 PM Julien Viet <notifications@github.com>
wrote:

--
Gavin King
IBM

[2020-06-19 12:49] gavinking commented on #672
You don't need Docker by the way, if you have Postgres or MySQL installed.

(It's all in the README.)

On Fri, Jun 19, 2020 at 2:48 PM Gavin King <gavin.king@gmail.com> wrote:

--
Gavin King
IBM

[2020-06-19 13:03] vietj commented on #672
-Pdocker works only from CLI, I'll investigate later with a local Postgres, thanks

[2020-06-19 13:04] gavinking commented on #672
Nono, it works in IntelliJ too, I use it all the time.

On Fri, Jun 19, 2020 at 3:04 PM Julien Viet <notifications@github.com> wrote:

--
Gavin King
IBM

[2020-06-19 13:07] gavinking commented on #672
Just put  '-Pdocker' in the Arguments field in Run/Debug Configurations.

On Fri, Jun 19, 2020 at 3:04 PM Gavin King <gavin.king@gmail.com> wrote:

--
Gavin King
IBM

[2020-06-19 13:12] gavinking commented on #672
![image](https://user-images.githubusercontent.com/579974/85136022-49427f80-b23f-11ea-8980-5e88b384dae6.jpeg)

[2020-06-19 22:26] vietj commented on #672
thanks for the screenshot, I'll have a look over the week-end hopefully.

On Fri, Jun 19, 2020 at 3:12 PM Gavin King <notifications@github.com> wrote:

[2020-06-19 23:45] BillyYccc opened #687 "Proposal for reworking PreparedStatement"
## Context

Some time ago I made a change that `PreparedStatement` is not cached on the client any more(see https://github.com/eclipse-vertx/vertx-sql-client/commit/e53235cbe2bc2fd96aabe35350ab05ba840b164f), the motivation of that change is to let users control the lifecycles of `PreparedStatement` and avoid lifecycle conflicts with one-shot preparedQueries, the user-created `PreparedStatement` mi

[2020-06-19 23:47] BillyYccc commented on #687
@vietj @aguibert I would like to know how you think about this.

[2020-06-20 00:51] BillyYccc opened #688 "LOAD DATA LOCAL INFILE on mysql is getting stuck"
### Questions

reported in Vert.x Google group, see https://groups.google.com/forum/?fromgroups=#!topic/vertx/wAkxOV9aKkw

### Version

Any version might have this bug

### Context

In the MySQL C/S protocol it's defined to send an empty packet after the whole file is sent, in the current implemention there is a bug when the file has not been finished sending to the server the empty packet is sent

[2020-06-20 01:11] #688 closed

[2020-06-20 01:14] BillyYccc opened #691 "MySQL LOCAL INFILE Request does not support file size with size larger than 16MB"
The file sent to the MySQL server has to be wrapped in MySQL packets but MySQL packets has a limitation of maximum size of 16MB, we need to suppport how the file could be sliced into several MySQL packets and sent to server using the zero-copy      sending file provided by the channel.

[2020-06-20 07:59] vietj commented on #687
I think your use case is valid.

However one issue with explicitly created prepared statement caching is the shared cache itself: you cannot evict a prepared statement from the shared cache when it is being used in an operation that spans several interactions like a cursor.

One-shot prepared statements lends well to caching because they do not provide cursor operations and we can easily uncache t

[2020-06-20 08:18] BillyYccc commented on #687
yes the cache should be different from what one-shot preparedQueries are using. I would like to make the things simple so the cache should be a `HashMap` and there won't be a size limit and any automatically eviction here for the cache, intention for enabling the cache is only to let users able to reuse the handle.

[2020-06-20 10:59] vietj commented on #687
do we have examples of JDBC client pool behaving this way ? i.e caching prepared statement between connection use ?

[2020-06-20 11:01] vietj commented on #687
if we go this way, then I think this would be more something belonging to the pooled connection part of the code base and not the actual socket connection that should not care about this concern, in addition this concern is mostly valid for pooled connections, i.e if you connect directly then it does not make sense.

[2020-06-20 12:52] blindpirate opened #692 "`XXXAwait` version of vertx-sql-client"
### Context

[github.com/vietj/reactive-pg-client](https://github.com/vietj/reactive-pg-client)'s doc says that it was superseded by this project, but there's a key feature missing in this project: the `XXXAwait` version (coroutine) of all APIs. I can use `public suspend fun io.reactiverse.pgclient.PgClient.queryAwait(sql: kotlin.String)` version of `io.reactiverse.pgclient.PgClient`, but can't fo

[2020-06-20 19:57] vietj commented on #692
you need to use the `io.vertx:vertx-lang-kotlin-coroutines` artifact

[2020-06-20 19:57] #692 closed

[2020-06-21 01:07] blindpirate commented on #692
@vietj Thanks, but I did check `io.vertx:vertx-lang-kotlin-coroutines`, there's no such methods for `vertx-sql-client`, am I wrong anywhere? Can you please elaborate on it?

[2020-06-21 03:50] BillyYccc commented on #692
There're breaking changes of the **vertx-sql-client** APIs since `3.9` version, the `await` suffix methods are only generated for those methods with asynchrnous calls.
So now you shall use `val rowSet = client.query("SELECT * FROM users").executeAwait()`

[2020-06-21 03:56] blindpirate commented on #692
Got it. @BillyYccc Thank you very much!

[2020-06-21 05:39] BillyYccc commented on #687
I don't understand what're the relations between connection statement cache and pooled connections.

For JDBC this is an example of chain operation usage(i.e. a simple query + cache prepare)
[code]

[2020-06-22 06:55] vietj commented on #672
@gavinking we reworked recently prepared query execution flow in the client because of some design flaws which lead to simplifying the prepared statement cache (https://github.com/eclipse-vertx/vertx-sql-client/pull/677)

I checked with hibernate reactive and now it looks like (when running in IDE and overriding 3.9.1 version to 3.9.2-SNAPSHOT) all tests are passing.

Can you have a check on your

[2020-06-22 06:58] vietj commented on #687
as I understand the goal is that cached prepared statement survive between two connection pool usage of the same physical connection so they don't need to be prepared again.

[2020-06-22 13:56] aguibert commented on #671
yep, I can look into this

[2020-06-22 14:35] gavinking commented on #672
@vietj I just tried it.

LGTM.

Thanks!

[2020-06-22 22:13] vietj commented on #671
it would be best if we can fix it for 3.9.2 timeframe.

On Mon, Jun 22, 2020 at 3:56 PM Andrew Guibert <notifications@github.com>
wrote:

[2020-06-24 13:58] BillyYccc opened #695 "Add support for MySQL Clear text client plugin"
#### Describe the feature

support `mysql_clear_password` authentication method.
see https://dev.mysql.com/doc/dev/mysql-server/8.0.19/page_protocol_connection_phase_authentication_methods_clear_text_password.html

#### Use cases

Some servers might enable pluggable authentication methods and require `mysql_clear_password` authentication method.

[2020-06-24 15:34] tsegismont opened #696 "DB2 stack integration"
- [x] integration in vertx-stack project
- [x] integrate in vertx-rx, vertx-lang-groovy, vertx-lang-kotlin
- [x] add to vertx-starter stack definition file
- [x] add to current website
- [x] add to next website

[2020-06-24 15:34] tsegismont commented on #696
@vietj is there anything missing?

[2020-06-24 21:00] AugustNagro opened #697 "Error parsing Postgres Beta version"
### Version

4.0.0-SNAPSHOT

### Context

I am running Postgres Beta, specifically version `13beta1`. The constructor in PgDatabaseMetadata throws when trying to parse the version data; NoSuchElementException.

[code]

[2020-06-25 08:49] tsegismont commented on #696
See https://github.com/vert-x3/vertx-stack#adding-a-new-module-to-the-stack

[2020-06-25 08:50] tsegismont commented on #696
@aguibert can you take care of it? Ideally this should be backported to 3.9 branches, if time permits.

[2020-06-25 17:59] vietj opened #698 "SQL client metrics"
Report metrics to the metrics core SPI using the new client metrics SPI. Two kinds of metrics are reported:

- pool queuing metrics provides metrics for queue wait time, queue size, etc...
- request/response metrics providing metrics for query latencies

Note, this is client independent, i.e these metrics will be reported independently of the client backend.

[2020-06-25 18:01] #698 closed

[2020-06-25 22:14] AugustNagro opened #699 "Postgres: Cannot determine data type of String in TRIM() function"
### Version

4.0.0-SNAPSHOT

### Context

I noticed recently that the Postgres Client cannot determine the data type of the more-advanced `trim` variant (https://www.postgresql.org/docs/current/functions-string.html), throwing

[code]

### Steps To Reproduce

With this table,

[code]

The following test fails:

[code]

[2020-06-25 22:33] AugustNagro commented on #699
Also have tried with a longer predicate without success.

[code]

[2020-06-26 05:30] aguibert commented on #696
sure, I can look into this. I'm not familiar with `vertx-stack`, but it looks like it's basically just a BOM for Vertx modules?

[2020-06-26 07:35] vietj commented on #699
this looks like a Postgres issue, can you try with another client like JDBC ?

[2020-06-26 08:12] tsegismont commented on #696
`vertx-stack` is the repo where we integrate all modules. It contains the `vertx-stack-depchain` modules but also CLI, Docker, ...etc.

All the required steps are listed in https://github.com/vert-x3/vertx-stack#adding-a-new-module-to-the-stack

[2020-06-26 15:13] AugustNagro commented on #699
My first query with TRIM does not work in either client. This one works in JDBC:

[code]

But not vertx-sql-client:

[code]

[2020-06-27 06:34] #691 closed

[2020-06-29 07:39] vietj commented on #699
I will have a look, thanks for the case

[2020-06-29 08:44] vietj commented on #699
this works if you cast $1 to VARCHAR, i.e the query is "SELECT COUNT(*) FROM test_person WHERE (CONCAT(first_name, $1 :: VARCHAR) = $2)"

if you don't do that then Postgres cannot infer the type of $1 from the query, I don't know how this is implemented with PosgreSQL, perhaps it is rewritten this way

[2020-06-29 12:45] BillyYccc commented on #699
Sometimes the parameter data types inferred by the server in the statement PREPARE response might vary from the intented data types of the original usage.

In MySQL and SQL Server the parameter data types are inferred from the parameters values which means they're binded dynamically in the execution.

FYI there is a similar case when the provided inferred data type causes unexpected behaviors. htt

[2020-06-29 13:17] #672 closed

[2020-06-29 15:04] vietj commented on #699
I will try to improve this and provide PreparedStatementCommand the types used when the first prepare is executed:

- with one-shot queries this is trivial to do (with the latest flow refactor)
- with explicitly prepared statement then for PostgreSQL the specific `42P18` would be caught and the prepared statement prepared would be delayed until it is first executed, that would be a specific Postgr

[2020-06-29 15:05] vietj commented on #699
Now I wish Java had variadic tuples like Ceylon to one could write `Future<PreparedStatement<String, Integer>> fut = conn.prepare<String, Integer>("some sql")` :-)

[2020-06-30 14:12] vietj opened #700 "Prepare statement with parameters types"
The creation of prepared statements requires in some cases to provide the type of parameters, e.g PostgreSQL can optionally use them and provide an adequate binding (like the query `SELECT CONCAT("hello ", $1)`) otherwise it would fail.

We should prepare statements without types and upon specific failures (e.g `42P18` _INDETERMINATE DATATYPE_) retry with the types.

The preparation/execution flow

[2020-06-30 14:16] vietj commented on #699
See https://github.com/eclipse-vertx/vertx-sql-client/pull/704 and https://github.com/eclipse-vertx/vertx-sql-client/pull/703 for WIP

[2020-06-30 16:35] aguibert commented on #654
Fixed by #656 and also has been backported to 3.9 -- closing

[2020-06-30 16:35] #654 closed

[2020-07-01 02:46] AugustNagro commented on #699
Awesome, just tested out 703 and can confirm it fixes the problem.

[2020-07-01 03:46] AugustNagro commented on #699
Just wanted to share, I'm making a little annotation processor that emulates some features from Spring Data Repositories. Writing tests for its Specification-esque api is how I found the bug.

https://github.com/AugustNagro/vertx-repo

Cheers!

[2020-07-01 09:01] vietj commented on #699
@AugustNagro it looks great, you should add it to Vert.x Awesome page https://github.com/vert-x3/vertx-awesome

[2020-07-01 13:58] #699 closed

[2020-07-01 13:58] #700 closed

[2020-07-01 14:36] vietj opened #705 "Improve PostgreSQL version parsing"
Previous PostgreSQL versions were quite regular string to parse (e.g _9.6.18_), recent version provides a different full version such as _12.3 (Debian 12.3-1.pgdg100+1)_ or _13beta2 (Debian 13~beta2-1.pgdg100+1)_.

We should adapt the version parsing to these cases.

[2020-07-01 14:43] #697 closed

[2020-07-01 14:43] #705 closed

[2020-07-01 15:29] aguibert commented on #671
@gavinking having a look at this one now. I enabled prepared statement caching in hrx and I indeed see errors, but I'm getting SQLCode -313 errors instead of the ConcurrentModificationException you originally described. The -313 is certainly a problem so I'll dig into that issue first and hopefully it's the only problem

[2020-07-01 16:36] gavinking commented on #671
Excellent, thanks.

On Wed, Jul 1, 2020 at 5:29 PM Andrew Guibert <notifications@github.com> wrote:

--
Gavin King
IBM

[2020-07-06 08:57] julianladisch commented on #509
@jrno jOOQ supports all bind parameter syntaxes:

* `?` (JDBC, MySQL, MariaDB)
* `@name` (SQL Server)
* `:name` (Oracle, Spring, JPA named syntax)
* `?1` (JPA indexed syntax)
* `$1` (PostgreSQL)
* `@1` (SQL Server)

Example for PostgreSQL:

[code]
Output:
[code]
In general the database abstraction or code generator (jOOQ, hibernate, JDBC) should output the database specific syntax. There should be

[2020-07-07 11:18] julianladisch commented on #509
@gavinking [Hibernate System Requirements](https://docs.jboss.org/hibernate/orm/5.4/userguide/html_single/Hibernate_User_Guide.html#_system_requirements):

vertx-sql-client/vertx-pg-client is not a JDBC driver.

hibernate-orm has `SQLQueryParser#substituteParams(String sqlString)` that converts `?1` and `:name` placeholders to `?` placeholders:
https://github.com/hibernate/hibernate-orm/blob/5.4.1

[2020-07-08 10:15] #521 closed

[2020-07-08 18:04] 01101101 opened #711 "Double rollback and transaction exception propagation"
### Version

`4.0.0-milestone5`

### Context

It seems that when a query fails in a transaction, a rollback query is queued. But then, when the future completes (with a failure), the transaction is rollbacked again, generating an error (line 108 of `io.vertx.sqlclient.impl.TransactionImpl` for the first rollback, line 169 in `io.vertx.sqlclient.Pool` for the second rollback).

Maybe this is the ri

[2020-07-11 06:11] steven-sheehy opened #713 "NullPointerException when listening to postgresql notifications and disconnected from db"
### Questions

N/A

### Version

3.9.1

### Context

I'm testing reconnect of PgSubscriber/PgChannel by shutting down PostgreSQL while listening to a channel for messages. When I do so, I get a NPE that occurs periodically. Possibly some race condition:

[code]

### Do you have a reproducer?

No

### Steps to reproduce

1. Run code
[code]
2. Shutdown PostgreSQL
3. Start and stop PostgreSQL until i

[2020-07-11 20:27] wowselim opened #714 "Invalid SQL never completes query promise"
### Version

`4.0.0-milestone5`

### Context

I was playing around with the new MySQL client and noticed that invalid SQL isn't properly handled by it. Promises are never completed when there is an invalid query or invalid tuple that doesn't match a prepared query. No exceptions are thrown. Promise is never completed. Thread doesn't seem to be blocked (at least there's no warning in the logs).

Va

[2020-07-12 13:12] BillyYccc commented on #714
You will need to catch the exception in your verticle otherwise it will be propagated in the verticle deployment.

[2020-07-12 13:12] #714 closed

[2020-07-12 13:14] wowselim commented on #714
@BillyYccc I think there's a misunderstanding. The code **does not throw an exception**.

[2020-07-12 13:16] wowselim commented on #714
[code]

does not print anything

[2020-07-12 15:47] BillyYccc commented on #714
could you share a full runnable reproducer such as a maven project so we can why it does not work for you?

[2020-07-13 17:05] aguibert commented on #696
@tsegismont I've opened all of the required PRs now. Can you please go through the PRs linked on this issue and review+merge them when you have time?

[2020-07-15 14:05] tsegismont commented on #696
@aguibert thank you. Done.

[2020-07-17 14:28] anuranjit opened #716 "rxWithTransaction The return is expected to be a future"
### Questions

I am trying to use `rxWithTransaction` with Reactive Vertx .  But the return type expected in the lambda function is a Future.
From Vertx

[code]

My usage Code
[code]
### Version

4.0.0-milestone5

### Context

While using the simplified transaction API.

### Do you have a reproducer?

[code]

### Extra

OS - Mac Os Catalina
Java version - 11.0.5

[2020-07-20 07:39] nosov89 opened #717 "ConnectionPool is not thread-safe"
Version 3.9.1. ConnectionPool use ArrayDeque, that is not thread-safe and requires external synchronization.
Private method check is also not thread-safe.

StackTrace:

java.lang.NullPointerException: null
at io.vertx.sqlclient.impl.ConnectionPool.check(ConnectionPool.java:196)
at io.vertx.sqlclient.impl.ConnectionPool.acquire(ConnectionPool.java:75)
at io.vertx.sqlclient.impl.PoolBase.schedule(Po

[2020-07-20 12:09] nosov89 commented on #717
not a bug, incorrect usage of vertx

[2020-07-20 12:09] #717 closed

[2020-07-21 02:54] aguibert commented on #615
Delivered in PR #715

[2020-07-21 02:54] #615 closed

[2020-07-21 02:55] #671 closed

[2020-07-21 13:51] #490 closed

[2020-07-25 10:05] yuhaibohotmail commented on #681
@vietj  This issue still exists in the 4.0.0.beta1

[2020-07-25 22:56] vietj commented on #681
with the same reproducer ?

[2020-07-26 00:37] yuhaibohotmail commented on #681
yes！
It looks like the MapperGenLoader didn't load.

[2020-07-26 12:13] DavideD opened #719 "Cached prepared statement do not bind the parameters before execution"
I can reproduce this with Hibernate Reactive: https://github.com/hibernate/hibernate-reactive/blob/c78ee19330a655ae221e855d7cc739d2dc0e6acb/hibernate-reactive-core/src/test/java/org/hibernate/reactive/types/SerializableExceptionTest.java

What's happening is that if I run the same query twice with different parameters, the first time the client will try to infer the data type from the parameters a

[2020-07-28 15:35] BillyYccc commented on #719
Thanks for reporting this, I think this is a regression due to changes of the prepared statement execution, I will investigate how to make it work again.

[2020-07-31 09:05] meredrica opened #721 "Transactions get stuck with a nullpointer"
Hello!
We are using the library via Micronaut 2.0.1 and noticed the following behaviour:
We have a long running read transaction that is streamed back to the client via rxjava 2.
Queries can run several minutes (which is expected) however: When the HTTP connection to our backend is closed, we get nullpointers and the transaction in postgres is stuck as ``idle in transaction``.
I'm sorry that I can

[2020-08-03 12:56] gavinking commented on #719
For reference, this is needed in order to resolve https://github.com/hibernate/hibernate-reactive/issues/307.

[2020-08-03 13:00] gavinking opened #722 "BLOB or BINARY types and Buffer on DB2"
As reported [here](https://github.com/hibernate/hibernate-reactive/issues/306), a parameter of type `Buffer` cannot be used as a parameter of type BLOB or BINARY on the DB2 client. This *does* work on both Postgres and MySQL.

The error is:

    Parameter at position[1] with class = [io.vertx.core.buffer.impl.BufferImpl] and value = [...] can not be coerced to the expected class = [io.netty.buffer

[2020-08-03 13:37] gavinking commented on #722
Oh, now I also see that there is some commented code in `DRDAQueryRequest.computeProtocolTypesAndLengths()` for `BLOB` and `CLOB` types, that makes me suspect that there is simply no support for `BLOB` and `CLOB` currently?

Right, now I see in the docs that `BLOB` and `CLOB` aren't supported yet.

But this issue with `Buffer` is still a separate thing, since it also affects `BINARY`, which *is* s

[2020-08-05 09:06] tobiasmuehl commented on #443
Well now the docs show "Code not translatable", so that somewhat fixes this..

[2020-08-09 08:06] gavinking opened #723 "batching on DB2"
I had to disable [this test](https://github.com/hibernate/hibernate-reactive/blob/04d999bafcba2b3abdd14ddeed3be1a5c18d1e5f/hibernate-reactive-core/src/test/java/org/hibernate/reactive/BatchQueryOnConnectionTest.java) in Hibernate Reactive on DB2, due to the following error:

[code]

[2020-08-09 08:43] olofumark opened #724 "[MySQL] Reactive Client hangs after multiple calls."
This piece of code works, but starts to hang after been called a couple of times.
        Hanging persisted even with the Prepared Statement Cache disabled.

	String query = "SELECT * FROM tablename WHERE id = ?";
        String id = pathParamsJson.getString("id");

        mysqlPoolClient.begin(res -> {
            if (res.succeeded()) {
                Transaction tx = res.result();

[2020-08-10 09:34] vietj commented on #721
@meredrica would you mind to provide a reproducer project to help us investigate ?

[2020-08-10 13:09] vietj opened #725 "Prepared query command execution does not validate query parameters when obtained from the cache"
Prepared query execution does not validate query parameters when obtained from the cache. They are only validated for the query populating the cache.

[2020-08-10 13:11] vietj opened #726 "Command pipeline execution should not be reentrant"
The command pipeline execution can reenter the internal `checkPending` method when a synchronous failure in the `checkPending` (such as a prepared query validation error) triggers a new command. The execution remains correct, i.e the new command will not be executed before other commands but this execution should not be reentrant and the command pipeline execution should be performed by the execut

[2020-08-11 12:53] tsegismont commented on #443
Escaping issue tracked by https://github.com/vert-x3/vertx-codetrans/issues/49

[2020-08-12 08:54] #725 closed

[2020-08-12 08:54] #726 closed

[2020-08-12 08:54] vietj commented on #719
Should be fixed by https://github.com/eclipse-vertx/vertx-sql-client/pull/729

[2020-08-12 08:54] #719 closed

[2020-08-12 09:09] gavinking commented on #719
Excellent, been waiting for this one!

Any idea when we can get a release?

[2020-08-12 09:12] gavinking commented on #671
Any update in this one? I would love to be able to remove our workaround in HR? Sorry for nagging.

[2020-08-12 09:56] tsegismont commented on #443
Code translation issue tracked by https://github.com/vert-x3/vertx-codetrans/issues/51

[2020-08-12 11:43] vietj opened #730 "RowStream implementation fixes"
The implementation of `RowStream` does not manage correctly its state (e.g it is not reentrant) and does not close the cursor when it is not needed anymore.

[2020-08-12 11:43] vietj commented on #730
This should fix https://github.com/eclipse-vertx/vertx-sql-client/issues/721

[2020-08-12 12:01] #730 closed

[2020-08-12 12:02] #721 closed

[2020-08-12 12:03] vietj commented on #716
you can try now with latest master, this has been fixed and rxWithTransaction will accept a `Function<SqlClient, Single<T>>`

[2020-08-12 12:03] #716 closed

[2020-08-12 12:04] vietj commented on #716
see https://github.com/vert-x3/vertx-rx/issues/231

[2020-08-12 13:33] vietj opened #731 "Handle unsolicited 57P01 error from PostgreSQL"
Sometimes PostgreSQL can send unsolicited errors (i.e that are not sent in response of a command) and there is no corresponding command to handle leading to an NPE. This happen with admin shutdown `57P01`.

Processing such errors should not try to propagate this error to the command pipeline.

[2020-08-12 13:35] #731 closed

[2020-08-12 13:35] vietj commented on #713
See https://github.com/eclipse-vertx/vertx-sql-client/issues/731

[2020-08-12 13:35] #713 closed

[2020-08-12 13:36] vietj commented on #711
thanks for the reproducer we will investigate

[2020-08-13 00:17] BillyYccc commented on #724
hi, you need to explicitly commit or rollback the transaction using `Transaction#commit()` or `Transaction#rollback()` after execution.
here's an example copied from the doc https://vertx.io/docs/vertx-mysql-client/java/#_simplified_transaction_api
[code]

[2020-08-13 14:19] gavinking opened #736 "NoSuchMethodError on DB2 and JDK 1.8 with 3.9.3-SNAPSHOT"
See https://github.com/hibernate/hibernate-reactive/pull/319.

I have confirmed that this error does not occur on JDK 11.

[2020-08-13 14:26] gavinking commented on #736
What makes this incredibly strange is that this method totally exists in JDK 1.8.

[2020-08-14 17:10] olofumark commented on #724
Hi, Yes I commit all transactions over here.
above code was pulled from the modified example I posted earlier in the groups.

[2020-08-17 09:28] tsegismont commented on #443
Fixed in vert-x3/vertx-codetrans#49 and vert-x3/vertx-codetrans#51

[2020-08-17 09:28] #443 closed

[2020-08-17 15:21] aguibert commented on #736
Here is the stack trace of the root issue mentioned in the hibernate reactive issue:

[code]

I have seen this bug a few times locally, and usually it is when I have compiled the Vertx modules with Java 11 but try to run them with Java 8. I wonder if the 3.9.3 modules are accidentally getting compiled at java 11 bytecode level?

[2020-08-17 16:21] gavinking commented on #736
Ahah! That is indeed possible. Let me see.

[2020-08-17 16:56] gavinking commented on #736
OK, thanks @aguibert, I've rebuilt the 3.9.3 snapshot locally on JDK 1.8, and the error goes away.

The issue is that the snapshot in the sonatype repo was built on JDK 11.

What JDK are *releases* built on?

[2020-08-17 17:28] aguibert commented on #736
The releases must be built on 8, but the JDK used to build shouldn't matter since we (should) always set `javac.source/target` to `1.8`. I recall opening a PR to be a bit more explicit about this, but we didn't merge it because @vietj pointed out that it was already set in the parent pom:

[code]
This should be the same for all SQL client modules. Is it just the DB2 module giving you this issue, n

[2020-08-17 17:30] gavinking commented on #736
Well it seems to me that I've show that this isn't working with the snapshot build.

Right, it only occurs on DB2.

[2020-08-17 17:39] aguibert commented on #736
Ok, I think I found some other projects that ran into the same issue here:

https://github.com/eclipse/jetty.project/issues/3244

So to fix this, we should add a Maven profile that activates on JDK 9+ that uses the new `--release 8` compiler option

[2020-08-18 13:52] vietj opened #740 "Prepared statement cache eviction should be done before statement preparation"
Currently the prepared statement cache eviction is performed after the statement is created leading to close the associated statement after it already reached the limit of max prepared statement on MySQL.

Instead we should evict the prepared statement from the cache before preparing the statement when the cache is full.

[2020-08-18 14:38] aguibert commented on #736
Fixed this issue in vertx-parent so it will apply to all vertx projects (not just SQL client). Julien will cut a new parent pom release soon

[2020-08-18 14:38] #736 closed

[2020-08-18 14:40] aguibert commented on #722
right, BLOB and CLOB are not supported and will take me some time to get working. TBH I'm waiting for a bit more usage of the DB2 driver to see if a user asks for BLOB/CLOB. That effort is already tracked under #496

Lets re-purpose this issue for the Buffer/BINARY bug you ran into. I'll see if I can look into that in time for Vertx 3.9.3

[2020-08-18 14:42] gavinking commented on #722
Great, thanks.

[2020-08-18 14:43] gavinking commented on #736
Thanks!

[2020-08-18 15:06] aguibert commented on #723
thanks for reporting this one, I'll look into it and at min get the codepoint documented so users get a proper error message.

[2020-08-18 18:58] gavinking commented on #723
Oh, geez, my apologies @aguibert, I just realized that this problem isn't related to batching at all. It's something to do with `BigDecimal`. I should have looked more closely at the time!

[2020-08-18 19:21] gavinking commented on #723
@aguibert I was able to re-enable the test after making this change:

<https://github.com/hibernate/hibernate-reactive/commit/546a22c08af552804c09ad0fa80ba1617207e284>

Apparently the driver chokes on certain numerical values of the `BigDecimal`.

[2020-08-19 02:10] aguibert commented on #723
ah, yea I've spent many hours debugging decimal issues.

Here is the relevant documentation for DB2 decimal number precision:
https://www.ibm.com/support/knowledgecenter/SSEPGG_11.5.0/com.ibm.db2.luw.sql.ref.doc/doc/r0008469.html

DB2 uses [IBM hexadecimal floating point format](https://en.wikipedia.org/wiki/IBM_hexadecimal_floating_point) which is different than IEEE 754 which pretty much everyth

[2020-08-19 09:01] gavinking commented on #723
Yup.

[2020-08-19 13:51] tsegismont opened #742 "Pool implementation for one-shot queries does not use all available resources"
When executing one-shot queries, the pool implementation will often schedule the SQL commands on the few available connections instead of creating more if maximum size has not been reached.

Consider the following test:

[code]

It fails like this:

[code]

This test targets Postgres but the problem is in `PoolBase` implementation so I believe it affects all SQL clients.

[2020-08-20 09:58] vietj commented on #736
master and 3.9 branch have been updated with the pom parent that now should properly build expected jars with JDK >= 9

[2020-08-20 09:58] vietj commented on #736
thanks @aguibert for figuring out this issue

[2020-08-20 10:00] #740 closed

[2020-08-20 13:19] vietj opened #745 "Pool withTransaction triggered rollback overrides the triggering failure with a potential rollback failure"
The `withTransaction` should always return the original failure on a triggered rollback. The code performs a compose on the transaction rollback future but this compose only forces a return of the original failure if the transaction is not already roll backed (which happens on PostgreSQL).

[2020-08-20 13:22] vietj commented on #745
fixed by https://github.com/eclipse-vertx/vertx-sql-client/issues/711

[2020-08-20 13:35] #745 closed

[2020-08-20 13:36] #711 closed

[2020-08-20 13:37] #429 closed

[2020-08-20 14:41] aguibert opened #747 "[DB2] Creating temporary tables"
Over in https://github.com/hibernate/hibernate-reactive/pull/325 they were trying to create temporary tables and this was not working (no stack trace at the moment).

An example of the SQL being used is:
[code]

[2020-08-21 08:51] #742 closed

[2020-08-26 08:22] anuranjit opened #748 "Unable to write MultiPolygon to MySQL"
### Questions
Unable to write MultiPolygon to MySQL . Polygon class works but Multipolygon does not. Below is the GeoJson for that .
[code]
### Version
Vertx version 4.0.0.Beta1, MySQL Version 8 ,Java 11

Error from mysql .
[code]

[2020-08-26 08:47] vietj commented on #748
@anuranjit can you provide a reproducer ?

[2020-08-26 09:33] anuranjit commented on #748
https://github.com/anuranjit/starter @vietj . This requires mysql 8

[2020-08-26 10:57] anuranjit commented on #748
@vietj Are you able to access the project . ?

[2020-08-27 08:01] anuranjit commented on #716
@vietj Will check thanks

[2020-08-27 13:55] BillyYccc commented on #748
I'll take a look

[2020-08-28 08:01] vietj commented on #724
@BillyYccc what's your opinion on this issue ?

[2020-08-28 08:35] vietj opened #749 "Property kind should be matched on a name and not on object identity"
The `PropertyKind` interface is usually matched against the object identity forcing the property user to compile against the a property kind constant which can create an unwanted coupling in some cases.

We should instead add a string discriminator (name) used as identity allowing two property kind instances to match each other. We keep the property type as it is useful for checking the type of th

[2020-08-28 08:45] #639 closed

[2020-08-28 08:46] #749 closed

[2020-08-28 10:01] gavinking commented on #657
Hey, so this one kinda dropped off the radar, but I've verified that it is the cause of a limitation in Hibernate Reactive (compared to Hibernate ORM) for some pretty simple native queries. See:

<https://github.com/hibernate/hibernate-reactive/issues/336>

[2020-08-28 13:46] BillyYccc commented on #748
@anuranjit I got this exception while testing, it seems the geo data object provided in the json is in an invalid format.
[code]

[2020-08-28 13:48] BillyYccc commented on #724
I'm unable to reproduce this last time, I will have another try.

[2020-08-29 07:01] vietj commented on #657
we haven't dropped it from our radar

On Fri, Aug 28, 2020 at 12:01 PM Gavin King <notifications@github.com>
wrote:

[2020-08-29 16:04] aleksandar78 commented on #374
I know that we could create manually a concurrent map to share a common pool between all verticle instances that access DB but it would be fine to have similar API to JDBC Vertx Client.

[2020-08-30 10:59] anuranjit commented on #748
@BillyYccc What is the MYSQL version you are using.
I am using vertx 4.0.0.Beta1 and mysql 8 .
Just did `./gradlew run` and `curl localhost:8888`
My Stack trace is this and not the above one.

[code]

[2020-08-31 12:51] vietj commented on #657
I started a branch https://github.com/eclipse-vertx/vertx-sql-client/tree/column-descriptor

[2020-08-31 13:00] vietj commented on #657
@aguibert can you take a look at supporting DB2 2?
@BillyYccc can you take a look at the MySQL mapping I wrote ?

[2020-08-31 15:46] tsegismont opened #752 "MSSQL: broken scale support for time and datetime2"
The `time` and `datetime2` (to be added in #751) types need more tests with different scales.

When implementing `datetime2`, I tried with scale set to 7 and the time read was incorrect.

[2020-09-01 08:29] yuhaibohotmail commented on #681
@vietj ,Could you spare some time to solve this problem?
Thanks!

[2020-09-01 12:08] vietj commented on #681
could you post the issue you have on windows ?

[2020-09-01 13:41] tsegismont commented on #664
This is not a bug, the doc says [only a few connection props](https://vertx.io/docs/vertx-pg-client/java/#_connection_uri) are supported and lists them.

If this enhancement is implemented, not only we have to avoid putting the lower-cased prop name in the json object, but we also need to find a way to determine the type of the property (currently it would work with strings only).

[2020-09-01 14:20] vietj commented on #681
@yuhaibohotmail actually the vertx-sql-client-templates project was missing a file and it could not be found by the generator (in your project no file were generated), this commit https://github.com/eclipse-vertx/vertx-sql-client/commit/a2f76957c4a9f83d39c744145afa98a8989f54b8 add the missing file and now it should generate the files

[2020-09-01 14:20] vietj commented on #681
do you mind trying a snapshot that contains this change ?

[2020-09-01 14:35] yuhaibohotmail commented on #681
I'm willing to try it.

[2020-09-01 15:05] yuhaibohotmail commented on #681
The issue is solved！
Thanks！

[2020-09-01 15:06] #681 closed

[2020-09-02 14:10] Valtureyn opened #753 "After 24 hours pg-client keep connections open"
Hello i have a issue with idle connection on my project.

Start of connection (cl is the object use in other class) :
`PoolOptions poolOptions = new PoolOptions().setMaxSize(100);
cl = PgPool.pool(vertx, connectOptions, poolOptions);`

Sample of query :
`public void handleGetDemande(RoutingContext routingContext){
    HttpServerResponse response = routingContext.response();

    JsonArray result =

[2020-09-03 09:08] vietj opened #754 "Row to JSON conversion"
To allow anemic use cases using JSON we shall add a `toJson()` method on `Row`.

[2020-09-04 06:42] #754 closed

[2020-09-05 16:39] #748 closed

[2020-09-05 16:40] anuranjit commented on #748
Found the issue . It was actually the schema in the MySQL which was wrong .

[2020-09-07 09:00] vietj commented on #753
can you try setting an idle timeout on the `PgConnectOptions` ?

[2020-09-07 09:03] vietj commented on #657
@aguibert @BillyYccc ping

[2020-09-09 20:21] tsegismont opened #758 "MSSQL support packet size configuration"
The server sends an info token with the desired packet size.

Currently we send messages in a single packet, regardless of the desired packet size.

[2020-09-09 21:37] vietj opened #759 "Check MSSQL decoder for leaks"
I currently see that the MSSQL decoding process relies on buffer slicing instead of buffer copying.

The `TdsPacketDecoder` seems correct because it uses `readRetainedSlice` that will slice the buffer and increase the reference counting (the `TdsPacket` is a `ByteBufHolder`).

Then this packet is passed to `TdsMessageDecoder` that performs dubious operations:

- read slices of a `TdsPacket` withou

[2020-09-10 08:57] #610 closed

[2020-09-10 09:01] tsegismont commented on #759
Will look into it. Could be fixed together with #758

[2020-09-10 10:29] DavideD opened #761 "Dropping a table that doesn't exist causes a warning"
### Questions

Example:
[code]

### Version

3.9.2

### Context

You can see this in action using the Quarkus quickstart for Hibernate Reactive.
The first time it is tested the sequence doesn't exist and when the build execute the `drop table command` we see the warning.

A warning in this case seems too much considering that the command assume that the table might not exist and there is not real

[2020-09-10 14:28] tsegismont opened #762 "Releasing prepared statements resources"
While working on #757 , I found that if you don't use PS caching and invoke `Pool#preparedQuery` then `execute`, you may leak server resources.

Indeed, the users don't have access to the underlying PS so they can't close it manually.

I know this can be a concern in the MSSQL client, perhaps it is a concern in others too.

@vietj @BillyYccc @aguibert

[2020-09-10 14:55] BillyYccc commented on #762
It's handled on the client implementation side currently, the statement is automatically closed for MySQL, for Postgres it's unnecessary to close an unnamed statement.

[2020-09-10 15:20] BillyYccc commented on #762
It's an overlooked point in the before and recently fixed in MySQL, the execution flow of MSSQL is similar to MySQL,
MSSQL `sp_prepexec` -> `sp_execute` -> `sp_unprepare` like MySQL `stmt_prepare` -> `stmt_execute` -> `stmt_close` , you might want to take a look at how MySQL client handles it and port it to MSSQL.

[2020-09-10 15:55] tsegismont commented on #762
@BillyYccc yes I've seen MySQL client closes the statement when:

- users created a PS manually and invoke close when they are done with it
- PS caching is enabled and the client evicts it at some point

But to my knowledge the PS is not closed when a one-shot prepared query is created and statement caching is disabled.

[2020-09-10 16:58] tsegismont commented on #762
Ah right, thanks for pointing this out.

So I think for MSSQL we can use `sp_executesql` for one-shot non-cached prepared query. Otherwise and `sp_prepexec` + `sp_execute` + `sp_unpreprare`

[2020-09-10 16:58] #762 closed

[2020-09-14 09:10] #657 closed

[2020-09-14 10:14] gavinking commented on #657
Great, thanks everyone!

[2020-09-14 15:15] KNMD opened #764 "fields not generated in xxxRowMapper when use Lombok annotate pojo"

[2020-09-14 19:24] vietj commented on #764
it seems to be a Lombok issue and not a Vert.x issue

[2020-09-17 00:26] zenios opened #765 "PgSubscriber reconnects when shutting down"
When vertx is shutting down which will eventually shutdown the pool PgSubscribers with reconnect policy are not aware of it and try to reconnect resulting to exceptions being thrown

[2020-09-17 09:20] vietj commented on #765
good point, likely PgSubscribers should not be called when vertx shutdown (likely using a close hooks). Note this seems valid for verticles undeploy

[2020-09-17 15:49] gavinking opened #766 "methods like getLocalTime(col) return null when col is of wrong type"
In `Tuple.getLocalTime()` and `Tuple.getLocalDateTime()`, `null` is returned when the value is the wrong type.

This is Bad. An exception should be thrown instead.

And it's not even consistent, *sometimes* `Row.getLocalTime()` with throw an `UnsupportedOperationException` (and sometimes even an NPE), at least on MySQL.

So this really needs to be cleaned up.

[2020-09-17 16:01] gavinking opened #767 "SqlConnectionOptions.fromUri()"
Currently we have the useful method `Pool.pool()` which automatically selects the driver based on the concrete class of the given `SqlConnectOptions`.

But I would like a method `SqlConnectionOptions.fromUri()`, which automatically constructs the right type of `SqlConnectOptions` based on the scheme of the given URI.

(It would delegate to `PgConnectOptions.fromUri()`, etc.)

[2020-09-17 17:02] gavinking commented on #766
You should also look at `MySQLRowImpl.getOffsetTime()`, which throws an NPE when `getValue(name)` returns `null`.

It's trying to throw an `UnsupportedOperationException`, but I would say that's wrong also.

All these operations should throw the same kind of error, indicating that the column gas the wrong type.

[2020-09-18 06:52] vietj opened #768 "Prepared statement parameter validation could query the tuple with the appropriate type"
The parameter validation for prepared statement execution is achieved by each codec when values are encoded by the prepared statement execution: `io.vertx.sqlclient.impl.PreparedStatement#prepare` method.

For a given tuple index, the current implementation gets the tuple value at the specific index and then check the type is correct, performing some transformation on the fly (e.g enum values are

[2020-09-18 08:42] vietj commented on #766
in theory we could use something like Optional but both of us would hate it :-)

[2020-09-18 08:43] vietj commented on #766
so the main issue is that null is an ambiguous return value right ?

[2020-09-18 09:12] gavinking commented on #766
I say let's not do something we both hate :-)

Well that's certainly part of it. But it's also that if I have a column named `id` of type `VARCHAR` and I use `getLocalTime()` to read it, then that's almost certainly a bug in my code, and I would prefer an error.

[2020-09-18 14:04] CoderYellow opened #769 "Need a SpringBoot starter"
Something like _ReactiveJdbcTemplate_ equivalent to  [JdbcTemplate](https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/jdbc/core/JdbcTemplate.html)

[2020-09-21 15:32] vietj commented on #766
what would be the appropriate error to throw ?

[2020-09-21 15:33] vietj commented on #766
would `java.util.NoSuchElementException` be a good fit or is there a better exception to reuse ?

[2020-09-21 15:56] gavinking commented on #766
Well it's not a `NoSuchElementException`, since there *is* an element with that column name. It's just the element has a different type. I mean, it's essentially a `ClassCastException`, if anything. But perhaps you might want to invent your own exception type instead?

[2020-09-21 16:28] vietj commented on #766
indeed that's right, I'm keen on reusing existing exception when possible

[2020-09-22 01:00] bradnewman opened #770 "UNKNOWN types like citext sometimes incorrectly treated as arrays"
### Version

I've reproduced the problem with vertx-pg-client 3.9.1 and reactive-pg-client 0.11.4, but I believe this issue applies equally to newer versions including the master/4.x branch.

### Context

I know that `citext` is not listed in as a ["supported data type"](https://github.com/eclipse-vertx/vertx-sql-client/blob/master/vertx-pg-client/README.adoc#supported-data-types), but it is gener

[2020-09-22 13:23] ashertarno opened #772 "reactive pgclient preparedStatement.createStream().toFlowable() doesn't emit entries onNext()"
this behavior looks like a regression in version 3.9.3.

Rxfied createStream().toFlowable() will return Flowable.onComplete() without any onNext()

in 3.9.2 all worked as expected.

[2020-09-22 15:45] vietj commented on #770
interesting concern @bradnewman

perhaps we can add a cutest extension that would be optional and query the database when the connection is created to know the OID ?

do you know how other client/driver implement this ?

[2020-09-22 15:50] vietj commented on #768
@aguibert can you have a look at the feasibility on the DB2 side ?

[2020-09-22 16:27] vietj commented on #772
do you have a reproducer by chance ?

[2020-09-22 16:27] vietj commented on #772
it seems quite basic though

[2020-09-22 16:27] vietj commented on #772
but it would help speed up resolution :-)

[2020-09-22 16:38] bradnewman commented on #770
@vietj I looked a little at the PostgreSQL JDBC driver, and I think they [query the pg_catalog](https://github.com/pgjdbc/pgjdbc/blob/4961557d1f96c1f5395976595644e496c5e94593/pgjdbc/src/main/java/org/postgresql/jdbc/TypeInfoCache.java#L488) under the covers when encountering an oid that they don't recognize.

[2020-09-22 21:42] vietj commented on #770
I believe we could have something similar but that would trigger when the connection is established instead

[2020-09-23 07:18] ashertarno commented on #772
let's try the one from examples, any reproducer requires prerequisites like a running db and a table to query...
`Flowable<Row> flowable = pool.rxBegin() // Cursors require a transaction
  .flatMapPublisher(tx -> tx.rxPrepare("SELECT * FROM users WHERE first_name LIKE $1")
    .flatMapPublisher(preparedQuery -> {
      // Fetch 50 rows at a time
      RowStream<Row> stream = preparedQuery.createSt

[2020-09-23 07:20] ashertarno commented on #772
`Flowable<Row> flowable = pool.rxBegin() // Cursors require a transaction
  .flatMapPublisher(tx -> tx.rxPrepare("SELECT * FROM users WHERE first_name LIKE $1")
    .flatMapPublisher(preparedQuery -> {
      // Fetch 50 rows at a time
      RowStream<Row> stream = preparedQuery.createStream(50, Tuple.of("julien"));
      return stream.toFlowable();
    })
    // Commit the transaction after usage

[2020-09-23 09:07] vietj opened #774 "Tuple/Row getters throw a ClassCastException when getting incorrect types"
The `Tuple` and `Row` contracts returns the `null` value when the returned value cannot be casted or coerced to the expected type. Instead it should throw a `ClassCastException`.

[2020-09-23 20:57] vietj opened #775 "Row getters throw a NoSuchElementException when getting non existing column"
The `Row` contracts returns the `null` value when a lookup for a given column does not exist. Instead it should throw a `NoSuchElementException`.

[2020-09-24 07:40] #775 closed

[2020-09-24 07:41] #774 closed

[2020-09-24 07:41] #766 closed

[2020-09-24 07:52] vietj opened #776 "SQL template anemic JSON parameters"
We should be use JSON objects as parameters of SQL template query, e.g

[code]

[2020-09-24 08:02] vietj commented on #768
This PR provides the implementation for PostgreSQL https://github.com/eclipse-vertx/vertx-sql-client/pull/771

[2020-09-24 08:19] #776 closed

[2020-09-24 08:23] gavinking commented on #766
Thanks!

[2020-09-24 21:36] #409 closed

[2020-09-25 08:02] vietj commented on #772
thanks

[2020-09-25 09:18] vietj opened #778 "RowStream fetch can close prematurely the stream"
The https://github.com/eclipse-vertx/vertx-sql-client/issues/730 created a regression in `RowStream`.

[2020-09-25 09:32] ashertarno commented on #772
this will let you work without a need to create tables, etc.
`pool.rxBegin()
            .flatMapPublisher(tx -> tx.rxPrepare("SELECT nspname FROM pg_catalog.pg_namespace")
                .flatMapPublisher(preparedQuery -> preparedQuery.createStream(2, Tuple.tuple()).toFlowable())
                .doAfterTerminate(tx::commit))
            .subscribe(next -> System.out.println(next.getString(0)),

[2020-09-25 09:35] #772 closed

[2020-09-25 09:36] vietj commented on #772
closing this issue because this project does not handle RX and it is a side effect of this issue https://github.com/eclipse-vertx/vertx-sql-client/issues/778

[2020-09-25 09:36] vietj commented on #772
well I'm still keeping it for the record as other might have encountered the same issue

[2020-09-25 11:45] #778 closed

[2020-09-25 18:40] vertxusr123 opened #781 "fetch size can not be set to a value less than 0, problematic for mysql streaming result sets"
### Version

3.8.5

### Context

The AbstractJDBCAction in the applyStatementOptions method has this clause :
 if (options.getFetchSize() > 0) {
        statement.setFetchSize(options.getFetchSize());
      }

This is problematic for mysql for results sets which are too large to read into memory, my sql jdbc supports streaming result sets when the statement is foward_only, read_only, and fetch siz

[2020-09-26 07:28] BillyYccc commented on #781
can you open this issue in https://github.com/vert-x3/vertx-jdbc-client?

[2020-09-27 09:11] #781 closed

[2020-09-28 09:06] vietj commented on #470
@f0def now in master you can a `ColumnDescriptor` that gives you the name and also type, we can add more stuff to this for PG if that's needed.

[2020-09-28 09:06] #470 closed

[2020-09-28 13:27] vertxusr123 commented on #781
Thanks, logged to vert-x3 jdbc-client,:
https://github.com/vert-x3/vertx-jdbc-client/issues/194

[2020-09-30 22:39] ThorKarlsson commented on #98
Is there any movement on this issue? I'd be interested in making a contribution.

[2020-10-01 07:27] vietj commented on #98
@ThorKarlsson there are no plans, so you can contribute. If we can make this generic so that it applies to all client implementations it would be great too.

[2020-10-01 08:03] #753 closed

[2020-10-07 15:01] #696 closed

[2020-10-13 08:51] Shinglem opened #784 "Can not catch some exceptions in kotlin coroutine"
### Questions

Some exceptions can not be catched in kotlin coroutine with postgre-sql-client, for example :

[code]

this code will produce a parameter error , but `println("catched")` is unreachable .

The same code works with jdbc client and mysql client. It seems to be a bug of pg-client.

### Version

4.0.0.Beta3

### Extra

* kotlin 1.4.10

[2020-10-14 22:38] pilzm commented on #242
Hi there,
We have a scenario where we need to regenerate passwords periodically (tokens with expiration time). Am I right in assuming this will be possible with this proposed change?

[2020-10-15 13:55] vietj commented on #242
@pilzm no it will not be possible, this PR aims to perform some work after a connection has been established. I think what you are looking for is rather creating a pool from a `Supplier`, e.g `PgPool.pool(() -> new ConnectOptions().setUsername("foo").setPassword("bar"))`

[2020-10-16 08:39] Shinglem commented on #784
I think it might be a bug of Kotlin coroutine ......   All Throwable with the field `cause` is null can not be catch in coroutine , like `Throwable("msg" , null)` . Unfortunately ， the vertx NoStackTraceThrowable has the null cause ...

[2020-10-16 09:15] Shinglem commented on #784
solved .. please close it

[2020-10-16 09:15] #784 closed

[2020-10-17 16:00] blindpirate opened #785 "4.0.0.Beta3: getConnectionAwait is deprecated but no replacement available"
### Version

4.0.0.Beta3

### Context

Javadoc says "use getConnection().await()", but there's no `getConnection()` in `SQLClient`.

[code]

https://github.com/vert-x3/vertx-jdbc-client/blob/master/src/main/java/io/vertx/ext/sql/SQLClient.java#L42

Is this intentional?

[2020-10-18 06:06] ylemoigne opened #786 "ConcurrentModificationException in MySQLPoolImpl / VerxMetricImpl creation"
### Version

4.0.0-SNAPSHOT

### Context

The exception :
java.util.ConcurrentModificationException
	at java.base/java.util.HashMap.computeIfAbsent(HashMap.java:1226)
	at io.vertx.micrometer.impl.VertxMetricsImpl.createClientMetrics(VertxMetricsImpl.java:150)
	at io.vertx.mysqlclient.impl.MySQLPoolImpl.create(MySQLPoolImpl.java:33)
	at io.vertx.mysqlclient.MySQLPool.pool(MySQLPool.java:82)

Appear

[2020-10-18 10:59] pilzm commented on #242
@vietj sounds exactly like what I need :) Should I just create a new `enhancement` issue?

[2020-10-18 11:05] vietj commented on #242
yes please

[2020-10-18 11:07] vietj commented on #786
sounds like a bug in micrometer, can you reopen the issue there ?

[2020-10-18 11:07] #786 closed

[2020-10-18 11:07] vietj commented on #786
`VertxMetrics` implementation should be concurrent

[2020-10-18 11:08] vietj commented on #786
if you can provide a reproducer for micrometer it would be great (I think you can concurrently call `createClientMetrics` with several threads)

[2020-10-18 11:09] vietj commented on #785
yes it is, instead you should write

[code]

[2020-10-18 11:10] vietj commented on #785
ah ok, so this is the old client so there is not `getConnection()` that returns a `Future`, can you reopen this issue in the vertx-jdbc-client project ?

[2020-10-18 11:10] #785 closed

[2020-10-18 11:11] blindpirate commented on #785
Sure, thanks.

[2020-10-18 11:11] vietj commented on #785
the API you are using is the Vert.x 3 API, the Vert.x 4 implementation of Vert.x JDBC Client implements also the new API and we recommend to migrate your app to use it.

[2020-10-18 12:11] pilzm opened #787 "Allow connectionOptions to change during runtime"
Created as a product of the [discussion](https://github.com/eclipse-vertx/vertx-sql-client/issues/242#issuecomment-709342005) in #242

### Feature

When creating a `PgPool` using the `PgPool#pool` factory method, provide a way to use a `Supplier<PgConnectOptions>` instead of plain `PgConnectOptions`. This will allow changes to the connect options to apply to new connections created by the pool.

#

[2020-10-19 09:54] gavinking commented on #767
@vietj @aguibert any reactions to this suggestion? Thanks

[2020-10-19 13:27] aguibert commented on #767
I like the idea, but in order for that to work the generic `SqlConnectOptions` to delegate to an implementation we would need a service loader mechanism first, similar to what is proposed in this PR: https://github.com/eclipse-vertx/vertx-sql-client/pull/644

[2020-10-19 13:58] gavinking commented on #767
OK, I see.

[2020-10-20 02:37] mcanalesmayo opened #788 "MySQL JSON column can't be retrieved as String"
### Version

Behavior is happening in 3.9.x. We think it's probably also happening in 4.x from what we've seen in the source code in that version.

### Context

First of all, let me clarify that we are not sure whether this should be considered an issue, as the documentation doesn't explain too much about to what extent MySQL JSON types are supported. FYI, this might be linked to #426

The issue w

[2020-10-21 09:32] longdt opened #790 "Mysql: incorrect mapping collationId -> Java Charset for JSON column"
### Questions
From MySql document:
```MySQL handles strings used in JSON context using the utf8mb4 character set and utf8mb4_bin collation```
So `DataTypeCodec.textDecodeJson()` should return utf8 String but `MySQLCollation.getJavaCharsetByCollationId(collationId)` (collactionId = `63` in case JSON column) return Charset ISO-8859-1 which cause incorrect String

### Version

3.9.4

### Steps to rep

[2020-10-21 11:02] vietj commented on #767
what kind of URI are we talking there ?

`PgConnectOptions.fromUri()` supports the URI format specified here https://www.postgresql.org/docs/9.3/libpq-connect.html

[2020-10-21 11:05] gavinking commented on #767
@vietj Right, the same URI format. I'm saying I would like a single method that automatically distinguishes the driver type based on the format of that URL.

[2020-10-22 20:16] vietj commented on #767
do other databases have similar URI ?

On Wed, Oct 21, 2020 at 1:05 PM Gavin King <notifications@github.com> wrote:

[2020-10-22 20:28] gavinking commented on #767
Yup, at least the ones you support, and Vert.x already has methods for handling them. :-)

[2020-10-22 20:29] gavinking commented on #767
(See `MySQLConnectionUriParser`, `DB2ConnectionUriParser`, `PgConnectionUriParser`.)

[2020-10-23 07:53] GZYangKui opened #792 "Pgclient debug print log causes GC to be active all the time"
In my project, logback is used as the project log framework. If too many pgclient debug output is found, GC will always be active. As a result, the whole program will be in pause state. Finally, we can only solve this problem by improving the log output level of pgclient

[2020-10-23 07:58] GZYangKui commented on #792
For example, the following log entry:
2020-10-23 15:47:07.519 [vert.x-eventloop-thread-1] DEBUG io.vertx.pgclient.impl.codec.DataType -
                Postgres type OID=1034 not handled - using unknown type instead
2020-10-23 15:47:07.519 [vert.x-eventloop-thread-1] DEBUG io.vertx.pgclient.impl.codec.DataType -
                Postgres type OID=2277 not handled - using unknown type instead
2020-1

[2020-10-23 12:54] vietj commented on #792
in production you should disable logging debug

[2020-10-23 13:14] GZYangKui commented on #792
@vietj Indeed, if I disable the debug information, the problem is solved. But if I do not disable the debug information, why is GC always active?

 :octocat: [From gitme Android](http://flutterchina.club/app/gm.html)

[2020-10-26 01:57] GZYangKui opened #794 "Time date conversion exception"
Hello, the current version of PG is 12. When the specified time value is,However, the official document of PG supports these specific specified values and document addresses:[pg_document](https://www.postgresql.org/docs/12/datatype-datetime.html#DATATYPE-DATETIME-SPECIAL-TABLE),Vertx-pg-client throws an error message as follows:[error_info](https://github.com/databasefx/dbfx/issues/2)

[2020-10-26 07:35] vietj commented on #794
can you provide a reproducer project ?

[2020-10-26 08:34] GZYangKui commented on #794
Hello, I wrote a test to reproduce this problem. This is the test address:https://github.com/databasefx/dbfx/blob/master/kit/src/test/kotlin/cn/navigational/dbfx/kit/test/impl/PostgresqlClientTest.kt

[2020-10-26 08:51] vietj commented on #794
can you provide a standalone project that reproduces it ? that would help

[2020-10-26 09:22] GZYangKui commented on #794
OK, I've set up a separate project. This is the project address:[vertx-sql-client-test](https://github.com/databasefx/vertx-sql-client-test)