[2020-10-26 09:30] #792 closed

[2020-10-26 09:37] vietj commented on #794
thanks

[2020-10-26 09:42] GZYangKui commented on #794
Another problem is that the current client cannot resolve the oid data type

[2020-10-27 10:03] rainmanhhh opened #795 "vertx-db2-client character encoding problem"
### Version

3.9.4 and 4.0.0.Beta3

### Context

when query data with vertx-db2-client, non ascii characters(for example, chinese characters) not encoded correctly

### Steps to reproduce

[code]

[2020-10-28 09:55] meredrica opened #796 "[PostgreSQL] Connections are not returned/closed and max pool size is not honored."
### Context
I would call this a follow up to #721
We're using micronaut as the backend and stream data from the database to the client via REST, using flowables.
The database code looks like this:

[code]
If the HTTP request is cancelled, the connection is not returned to the pool and stays open indefinitely. The pool will grow and gradually drain the max connection limit on our postgresql databas

[2020-10-28 10:43] longdt commented on #769
If you want familiar spring style, I would like to recommend: https://github.com/longdt/vertx-orm-mysql to you. You could give it a try.
disclaim: I'm author of that project

[2020-10-28 12:02] meredrica commented on #796
After removing several subscribeOn/observeOn pieces we now have this stacktrace, even without killing the http request. This now happens every time, which drains the pool even faster than before and actually produces wrong json output (but that's a micronaut problem)
[code]

[2020-10-28 18:30] DavideD opened #797 "MSSQL Missing method MSSQLConnectOptions#fromUri"
All the others `*ConnectinoOptions`  have it.

Example: https://github.com/eclipse-vertx/vertx-sql-client/blob/master/vertx-pg-client/src/main/java/io/vertx/pgclient/PgConnectOptions.java#L53

[2020-10-28 20:52] vietj commented on #797
is there a specific format for MSSQL uri format ?

[2020-10-30 19:20] pmlopes commented on #767
I don't know about databases but the official registry (IANA)

https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml

does have entries for redis and mongodb for example. The new redis client refers to it and the url format of the connection string follows the iana spec.

[2020-10-30 21:10] vietj commented on #767
I don't mind an SPI, however there is already an SPI and I would like to avoid the proliferation of SPI for a feature that seem to be the same, i.e we should reuse the same SPI or have a way to reduce one SPI usage to the other.

[2020-10-30 21:14] vietj commented on #767
Something similar like `SqlConnectOptions Driver#fromUri(String uri)` that returns either null or the option could reuse the existing SPI.

[2020-11-02 09:22] vietj opened #798 "Consider annotated withTransaction generic type with @Nullable"
So it generates a `Maybe` for RxJava.

[2020-11-02 16:38] yuhaibohotmail opened #799 "Codegen does not work when Mapping with Vert.x data objects in 4.0CR1"
### Questions

It worked well in 4.0 Bete3.

### Version
4.0CR1

### Context

[code]

[2020-11-03 10:00] vietj commented on #799
you need to add a constructor in your data object that builds with JsonObject

[2020-11-03 10:00] #799 closed

[2020-11-03 15:36] vietj commented on #798
it looks like codegen will not accept this for now

[2020-11-09 09:07] vietj opened #800 "Support PostgreSQL timestamp/timestamptz/localdate special values"
PostgreSQL timestamp/timestamptz/localdate types can write and read special values _infinity_ and _-infinity_.

We should support them with their corresponding _MIN_ / _MAX_ constants.

[2020-11-09 13:48] #800 closed

[2020-11-09 13:53] vietj commented on #794
closed by https://github.com/eclipse-vertx/vertx-sql-client/issues/800

[2020-11-09 13:53] #794 closed

[2020-11-09 14:09] vietj commented on #790
@BillyYccc any news of this ?

[2020-11-09 17:03] DavideD commented on #797
I think this issue is related to https://github.com/eclipse-vertx/vertx-sql-client/issues/767

[2020-11-11 10:15] Bleoo opened #801 "Tuple.wrap(Collections$UnmodifiableRandomAccessList) can't work!!!"
### Questions

I am using pgclient.
Because my sql parameter was placed in `bindValues`, it's an `Collections$UnmodifiableRandomAccessList`, when I used it in this way.

[code]

I found that it not be executed normally, and no error was reported, but that `promise` disappeared !!! It cannot execute to the onComplete method !!!

But in version 3.8 I can use it like this.

Later, I can only use it i

[2020-11-19 05:29] Bleoo commented on #801
@vietj

[2020-11-22 09:31] #790 closed

[2020-11-22 10:57] vietj commented on #801
can you provide a reproducer ?

[2020-11-22 10:59] vietj opened #805 "Connect retry"
The current options provides a retry that is used by the TCP layer but it would be good to have it working at the protocol level,  when a database is started and not yet ready it can error the connection and close it.

[2020-11-22 11:13] jponge commented on #805
I'll be monitoring this 👍

[2020-11-25 22:38] doctorpangloss opened #807 "Show why a rollback occurred in exceptions"
#### Describe the feature

It would be nice to see what exception caused the rollback instead of passing `Future.failedFuture("Rollback exception")` here, which also gives us a `NoStackTraceException`.

[code]

#### Use cases

This helps me understand which of many SQL queries may be broken.

#### Contribution

I could do the PR if it would get merged. It's more of a matter of what you want.

[2020-11-26 06:14] SuperPDX opened #808 "Text '4714-11-24 00:00:00 BC' could not be parsed at index 20"
### Version

vert.x 4.0.0.CR2

jdk 11.0.7

### Context

Caused by: java.time.format.DateTimeParseException: Text '4714-11-24 00:00:00 BC' could not be parsed at index 20

	at java.time.format.DateTimeFormatter.parseResolved0(DateTimeFormatter.java:2046) ~[?:?]
	at java.time.format.DateTimeFormatter.parse(DateTimeFormatter.java:1948) ~[?:?]
	at java.time.LocalDateTime.parse(LocalDateTime.java:492)

[2020-11-27 02:18] gaojinlei opened #809 "NoStackTraceException threw cannot try-catch with vertx-lang-kotlin-coroutines"
I am using pgClient with vertx-lang-kotlin(version 4.0.0-CR1). Try-catch clause cannot capture the exception when client throws NoStackTraceException.

Whether to consider replace NoStackTraceException with other exception class which has stackTrace .

[2020-11-27 06:17] #809 closed

[2020-11-27 06:18] gaojinlei commented on #809
I‘m catch exception. user catch Throwble it works

[2020-11-29 01:20] BillyYccc opened #815 "Provide accessors of JSON element for Row and Tuple"
We can prodive accessors of JSON element for `Row` and `Tuple` APIs so that users could retrieve a JSON value which might be a number, string, object, array or null.

[2020-11-29 14:02] BillyYccc opened #818 "Add more specific documentation for TLS configuration"
We should clarify more specifically how the TLS is configured in the documentation, we also need to add tests for the SSLMode `VERIFY_FULL`(Postgres) and `VERIFY_IDENTITY`(MySQL) to test the hostname verification.

[2020-11-29 16:54] bweinand commented on #808
Same problem here, vert.x 4.0.0.CR1 is fine.
Introduced by: [vertx-sql-client #1036 LocalDateTime.parse("4714-11-24 00:00:00 BC…"](https://github.com/eclipse-vertx/vertx-sql-client/commit/f48daa2803084d2aab33f6d65d5cb102d1c3411b#diff-bf23d08e641edde7ab4f943aafcc621a7f93dc53dab71e6fe62d26796a60de61R1036)
How can the issue be resolved?

macOS Catalina
openjdk 11.0.9 2020-10-20
OpenJDK Runtime Enviro

[2020-11-30 19:26] vietj opened #821 "Deprecate Tuple/Array XXXArray methods in favor of ArrayOfXXX"
Methods interacting with array values are named in a way such that it collides with `JsonArray`, e.g `getJsonArray` ambiguously named an array of `Json` and a `JsonArray` value. We can use a different naming pattern using `ArrayOf` and have instead `getArrayOfJson` and `getArrayOfJsonArray`.

For String:

- `Tuple#getStringArray(int)` ➡️ `Tuple#getArrayOfString(int)`
- `Tuple#addStringArray(String

[2020-11-30 19:58] vietj opened #822 "Rename Tuple/Row xxxJsonElement to xxxJson"

[2020-11-30 19:59] #821 closed

[2020-11-30 21:10] gavinking commented on #821
Well OK but `getArrayOfString()` is bad grammar!

[2020-12-01 08:18] vietj commented on #808
can you provide a reproducer ?

[2020-12-01 08:19] vietj commented on #808
This was fixed by https://github.com/eclipse-vertx/vertx-sql-client/commit/a6dba023704e922b02ce6c7dd8e1bb6c23acb417 can you check with latest snapshot ?

[2020-12-01 08:19] #808 closed

[2020-12-01 08:26] vietj commented on #821
because of plural ?

[2020-12-01 08:45] SuperPDX commented on #808
Yes, already fixed ！

In my program Locale.getDefault() is "zh_CN_#Hans"

[2020-12-01 09:24] gavinking commented on #821
yup.

[2020-12-01 09:31] adamdickmeiss opened #823 "NPE or hangs in ConnectionPool"
### Version

vertx-sq-client 4.0.0-SNAPSHOT   commit 4a90fc5f1c30041b6eea3304760f0cb50acde9c3

### Context

While perform a large batch import test in https://github.com/folio-org/mod-inventory-storage of FOLIO we get NPEs or hangs.. For the NPE we get traces like these:

[code]

By adding log statements, it is clear that ``waiter = waiters.poll`` returns null and results in NPE in the line that f

[2020-12-01 10:21] vietj commented on #801
@Bleoo a reproducer case ?

[2020-12-01 10:23] vietj commented on #821
so we should rename it to ArrayOfStrings etc... ?

I found a few example of methods where it was used (and they are therefore
incorrect)

On Tue, Dec 1, 2020 at 10:24 AM Gavin King <notifications@github.com> wrote:

[2020-12-01 10:23] vietj commented on #823
it seems that you are using a worker verticle ?

[2020-12-01 10:26] gavinking commented on #821
Well, I'm not sure. All I know is that I would never say "array of string" in speech and I would certainly never write it.

I would say "string array" or "array of strings".

[2020-12-01 10:27] vietj opened #825 "SQL client should use event-loop context"
Currently it can be passed a worker context and we should check that either it is an event loop context or we need to create an event-loop context from the passed worker context.

[2020-12-01 10:27] vietj commented on #823
I opened this issue https://github.com/eclipse-vertx/vertx-sql-client/issues/825

[2020-12-01 10:28] vietj commented on #821
we'll correct to use plurals soon then, thanks for reporting this

On Tue, Dec 1, 2020 at 11:26 AM Gavin King <notifications@github.com> wrote:

[2020-12-01 10:36] adamdickmeiss commented on #823
I don't think we are.. One verticle is created for the test.. I don't see any extra.. no executeBlocking  .. But a lot of runOnContext here and there.

[2020-12-01 11:54] vietj commented on #823
can you check ? I can see in the stack trace:

[code]

[2020-12-01 13:14] vietj commented on #821
https://github.com/eclipse-vertx/vertx-sql-client/commit/07ef44d1d2a31ce53299ea47b3758dc2e9640571

[2020-12-01 13:16] adamdickmeiss commented on #823
Found it.

https://github.com/folio-org/mod-inventory-storage/blob/a259fa99d89dddd9c509d319754e20e9e4457b24/src/test/java/org/folio/rest/api/StorageTestSuite.java#L139

I'll see if removing that makes it single-threaded again.

[2020-12-01 13:40] adamdickmeiss commented on #823
I'm happy to close this. Using a worker Verticle would be fine if that was isolated.. But I can see accesses to the Connection Pool from other places than within this Verticle.. That's of course a very bad idea.

[2020-12-01 15:33] vietj commented on #823
SQL client pool should support usage from worker vertices, so I'll add
tests for this and make sure it works correctly too.

On Tue, Dec 1, 2020 at 2:41 PM Adam Dickmeiss <notifications@github.com>
wrote:

[2020-12-01 15:35] BillyYccc commented on #788
We will add `getJson` accessor method for `Row` and `Tuple` so you can simply use `String.valueOf(tuple.getJson(x))` in later versions to get a stringified JSON element.

[2020-12-01 15:35] #788 closed

[2020-12-01 18:52] chris-brace commented on #796
I'm not using micronaut and this is happening to me in a production environment. When enough transactions are rolled back, the pool just starts checking out new connections until the DB is maxed out.

[2020-12-01 19:08] vietj commented on #796
thanks we will investigate, does the code above reproduces consistently ?

[2020-12-02 01:05] #815 closed

[2020-12-02 08:47] #822 closed

[2020-12-02 08:47] vietj commented on #822
thanks @BillyYccc

[2020-12-02 08:47] #798 closed

[2020-12-02 11:04] longdt opened #827 "MySQL load empty data infile cause the session being in an illegal state"
### Questions

Load empty data infile cause can't create Transaction correctly. new TransactionImpl schedule command "BEGIN" but result in fail with exception.

### Version

3.9.4

### Do you have a reproducer?

https://github.com/longdt/vertx-mysql-txn-bug
Please checkout this repo then run TransactionTest

### Steps to reproduce

1. use pool.query("LOAD DATA LOCAL INFILE ")  with empty file
2. o

[2020-12-02 15:24] bweinand commented on #808
Checked with latest snapshot and Locale.GERMAN ;-) Thanks!

[2020-12-02 15:53] BillyYccc opened #828 "Add support for specifying default authentication plugin"

[2020-12-02 18:14] BillyYccc commented on #827
Thanks for reporting and the reproducer, I found it's not related to transactions but the loading empty file will cause the session being in an illegal state.

[2020-12-02 19:52] chris-brace commented on #796
I did a several thousand line refactor of how we were using the pg driver to get 3.9.4 and pushed it to a customer UAT environment. the same behavior persists (many more connections being checked out than the max pool size should allow) after many transaction rollbacks.

[2020-12-02 21:02] vietj commented on #796
I will have a look soon @chris-brace

[2020-12-02 21:09] chris-brace commented on #796
@vietj i really appreciate it. i just spent a few hours building a simulator that creates / commits / and rolls back transactions at a rate and in a pattern similar to how our real ETL system works but i could not get it to create more connections than the max count given to the pool. I *can* reproduce this behavior locally on my machine on command but I am at a loss for how exactly to show this t

[2020-12-02 22:08] vietj commented on #796
@chris-brace by stack trace do you mean the first one mentioned in this issue or the second one ?

[2020-12-02 22:14] vietj commented on #796
@meredrica can you elaborate how the first stack trace you mention appears, is it because of the code you pasted or because of `select usename, count(*) from pg_stat_activity;`. It is not clear how things are related and complicated for me to put up something that would reproduce it.

[2020-12-02 22:16] vietj commented on #796
@meredrica if something wrong happens in the HTTP layer, the stream subscription should be cancelled, does it happen in practice ?

[2020-12-02 22:29] vietj commented on #796
@chris-brace a reproducer would definitely help here

[2020-12-03 05:08] chris-brace commented on #796
I did it! I have a repro! https://github.com/chris-brace/transaction-repro

change these lines https://github.com/chris-brace/transaction-repro/blob/main/src/main/java/ai/brace/transaction_test/MainVerticle.java#L34-L37 and run main.

you'll see that it opens 80 connections (at least on my machine) nearly immediately and throws an illegalstateexception in PooledConnection.close, too.

if you switc

[2020-12-03 06:17] mocukie commented on #801
Same question here.

A reproducer:
[code]
The exeception was occurred in `PgParamDesc#prepare`, `values.setValue(i, val)` ,  but`CommandWaiter` in `Poolbase#schedule` is not override method handleException.
If change `Future.succeededFuture(pgPool)` to `pgPool.getConnection()`, will print the UnsupportedOperationException.

**Version**
4.0.0.CR2
java 11

[2020-12-03 06:21] chris-brace commented on #796
If you change the `tx()` function in my code to
[code]

the problem entirely goes away. its really unclear when / how you're supposed to call rollback(), frankly. And i wonder if the fact that i was apparently misusing it means that @meredrica is triggering code thats also misusing it or close()

[2020-12-03 08:23] vietj commented on #796
@chris-brace that is possible.

I'll look at your reproducer and see if there is an actual bug (I think there might be).

I think that we should provide a method returning a stream that would automatically manage the transaction for you.

[2020-12-03 10:29] vietj commented on #796
it also disappear when `blowUp` is called once instead of two

[2020-12-03 10:47] vietj commented on #796
I created this test in Sql client test suite that reproduces it

[code]

indeed, there should be a check based on state that a connection is not closed twice on a rollback.

In Vert.x 4 there is a new construct `withTransaction` to simplify this and let the user not care of the actual transaction boundaries. That would not work with streams though, however we could have something similar as I expl

[2020-12-03 10:48] vietj commented on #796
that being said, this faulty behavior seems different than the one reported in this issue with the cursor.

[2020-12-03 12:46] vietj commented on #796
here is a simpler reproducer:

[code]

This test adds 2 queries to the same transaction and add the second before the result of the first query (thing that is not possible with synchronous API, unless 2 threads are used).

When the first query is executed, the transaction is rolled backed and with the current implementation it will fail all the pending queries (See `TransactionImpl#wrap` method) *

[2020-12-03 14:58] chris-brace commented on #796
Yes please let me know if i should open a separate bug. The reason I ended up here was because it was the only bug i could find by googling that had anything to do with more connections being left open than the max pool size allowed. Given the usage of micronaut and flowable code its highly likely that there are two different issues at play here.

So, the punchline here is that for the past year I

[2020-12-03 15:49] meredrica commented on #796
@vietj
First of all, thanks for looking into this. 2nd: we had to switch to JDBC because this problem was endangering several huge rollouts :/. I'll answer all the questions you posted out of memory:
About the query:
It's a query that fetches large amounts of data from the DB, several thousand lines and streams it to the HTTP layer. Those queries can run for minutes if need be, so we need to detec

[2020-12-03 16:01] vietj commented on #796
@chris-brace I'll open another issue that precisely reflect this, I'll provide a PR soon for 3.9 that you can look at.

I'll try to look into this case after.

[2020-12-03 16:13] BillyYccc commented on #801
A simple reproducer would be
[code]

I think it's because the `Tuple#wrap` has two overload methods `Tuple#wrap(List<Object> list)` and `Tuple#wrap(Object... array)` while the former one accepts a generic List<Object> and the actual parameter in use might be `List<Integer>`, `List<Long>` or whatever else, and Java generics are invariant so it will construct an incorrect Tuple of list of list using

[2020-12-03 16:15] BillyYccc commented on #805
Anyone already working on this?

[2020-12-03 16:27] vietj opened #833 "Improve transaction rollback of an already completed transaction"
The implementation of the `Transaction` does not handle correctly reentrant termination of the transaction, i.e calling `rollback` or `commit` while the transaction state becomes completed. This can lead to releasing twice the connection to the connection pool preventing the state of the application to progress.

Here is a reproducer:

[code]

This test adds 2 queries to the same transaction and a

[2020-12-03 16:34] vietj commented on #796
@chris-brace here is a PR for 3.9 https://github.com/eclipse-vertx/vertx-sql-client/pull/835 can you have a look ?

[2020-12-03 18:37] #833 closed

[2020-12-03 23:33] vietj commented on #801
thanks @BillyYccc

[2020-12-03 23:33] vietj commented on #805
I don't think so

[2020-12-04 03:21] mocukie commented on #801
Thanks, but java type inference seems to choose `Tuple#wrap(List<Object> list)`, because I did not to use a type witness on `Collectors.toUnmodifiableList()`.
If change `Collectors.toUnmodifiableList()` to `Collectors.toList()` that would work.

[2020-12-04 14:38] #695 closed

[2020-12-04 14:38] #828 closed

[2020-12-04 14:38] #827 closed

[2020-12-04 16:41] vietj commented on #801
java s*cks big times

[2020-12-04 16:41] vietj commented on #801
we should likely rename these wrapList / wrapArray and remove wrap . and deprecate this in 3.9

[2020-12-04 16:46] vietj commented on #801
the workaround is in user code you need to write `Tuple.wrap((List)list)` to force using the correct version. We could work around by check whether it's an array of 1 element and the first element is a List but well it's convoluted

[2020-12-04 16:52] vietj commented on #801
I believe the obvious change is to use instead:

[code]

[2020-12-04 16:57] #801 closed

[2020-12-04 18:44] BillyYccc commented on #801
Another concern is that you should avoid wrapping immutable list as `Tuple` params because the parameters might get mutated at runtime.

[2020-12-04 20:45] vietj commented on #801
the tuple by vertx are indeed modified, perhaps we should internally detect when it's a foreign tuple and copy the underlying list on a write

[2020-12-05 05:06] BillyYccc opened #837 "Client should report failure to the inflight commands when connection get closed by server"
Currently when the client schedules a command and waits for the server reponse, if the underlying connection gets closed the session will only report failures to the pending commands but the inflight requests get stuck and receive no response, we should report the connection closing event and fail the command instead.

[2020-12-05 08:28] Bleoo commented on #801
It has changed the original way of use, so how to solve this problem in the end?

[2020-12-05 09:12] BillyYccc commented on #837
This issues is blocking testing against https://github.com/eclipse-vertx/vertx-sql-client/issues/805 as well.

[2020-12-05 09:35] BillyYccc commented on #552
see https://github.com/eclipse-vertx/vertx-sql-client/issues/837.

[2020-12-05 22:12] vietj commented on #801
it's not clear what you are meaning for @Bleoo, the methods got the signature changed so that calling Tuple.wrap(list) will call Tuple.wrap(List) and not Tuple.wrap(Object[])

[2020-12-05 22:14] vietj commented on #801
can you provide a reproducer for your case @Bleoo, others provided a reproducer using Tuple.wrap but I can see your code does not use it, however you never provided a clear reproducer for your case

[2020-12-06 00:17] BillyYccc commented on #837
@aguibert can you help taking care of the DB2 part for this issue? I tried to write a test using `dbms_lock.sleep` and `FORCE APPLICATION` but failed.

[2020-12-06 00:31] BillyYccc commented on #797
what do we do with the prefix designator `jdbc:` since it's a JDBC specfic, should we just provide a parser for `sqlserver://[serverName[\instanceName][:portNumber]][;property=value[;property=value]]`?

[2020-12-06 00:33] BillyYccc commented on #769
have you tried SQL Client Templates? https://vertx-web-site.github.io/docs/vertx-sql-client-templates/java/

[2020-12-06 00:56] Bleoo commented on #801
Thank you for your reply.
I'm sorry to be busy these days, so I didn't have time to reply.
It is my reproducer (kotlin) :
[code]
My case is an unmodifiable list, which is generated by JOOQ through SQL. So, I don't want to change this usage after vertx upgrading.

[2020-12-06 08:40] #769 closed

[2020-12-06 08:41] vietj commented on #801
in this case you should not call wrap, wrap will just wrap the list, I think instead we can add a Tuple.tuple(List) to accomodate this case.

[2020-12-06 09:31] vietj opened #845 "Create Tuple a tuple from a list/array that is copied"
Currently we do provide `Tuple.wrap(List)` that merely wraps a list and will not work with unmodifiable lists.

We should provide  `Tuple.from(List)` that will copy the list.

[2020-12-06 09:32] vietj commented on #801
@Bleoo see https://github.com/eclipse-vertx/vertx-sql-client/issues/845

[2020-12-06 10:09] #805 closed

[2020-12-06 10:10] vietj commented on #825
moved to 4.0.1

[2020-12-06 10:37] #845 closed

[2020-12-07 02:51] Bleoo commented on #801
but in version 3.8 I can use it like this, Tuple.wrap(unmodifiable lists) .
I'm confused. Isn't the version down compatible? @vietj

[2020-12-07 06:10] Sakura-Sv opened #846 "[PostgreSQL] Connection not open CLOSED"
### Questions

I try to use the postgresql client to insert some data to my db, but something unexcepted occured.
This is the code where I have the problem:
[code]
But when my program reached this position, the following error occurred:
[code]

How I get my connection pool:
[code]

I tried to restart my postgresql service, but it did not help to improve the problem.

### Version

+ vertx-pg-client

[2020-12-07 14:37] vietj commented on #801
this will be backported to 3.9.5 release

for now this will be available in 4.0.0

On Mon, Dec 7, 2020 at 3:52 AM Yang Liu <notifications@github.com> wrote:

[2020-12-09 06:41] ylemoigne opened #847 "[vertx 4.0.0] Connection.close callback may not be called"
### Version

Vertx 4.0.0

### Context

Some code working in vertx 3.9.x begin to hang.
After investigation it was comming from `connection.close().await()` (using kotlin-coroutine)
Replacing the kotlin extension `await()` by `onSuccess { ... }.onFailure{ ... }.onComplete{ ... }` showed that none is called.

### Do you have a reproducer?

No, but I think I have an explaination.

The method `close()

[2020-12-09 08:50] vietj commented on #847
can you provide a reproducer ?

[2020-12-09 09:01] ylemoigne commented on #847
No reproducer as I said in initial post.

As a workaround, I have copied the class `io.vertx.sqlclient.impl.SqlConnectionImpl` in my sourceSet, and in `private void close(Promise<Void> promise)` method I changed :

[code]

to

[code]

No issue found so far from this patch.

[2020-12-10 07:58] #847 closed

[2020-12-10 08:01] ylemoigne commented on #847
Thanks. (And congratz for the Vertx 4 release. The migration was a breeze and I love the new website. 🥇 )

[2020-12-10 10:00] vietj commented on #837
@aguibert ping

[2020-12-11 14:02] snazy opened #849 "sqlclient ConnectionPool looks like it's not thread-safe"
It seems that the class `io.vertx.sqlclient.impl.ConnectionPool` (resp `io.vertx.sqlclient.impl.pool.ConnectionPool`) is used in a multi-threaded way but the implementation uses collection-classes like `j.u.HashSet` and `j.u.ArrayDeque` and non-thread-safe modifications to its internal fields like `size`/`checkInProgress`/`closed`.

I was looking into how Quarkus w/ hibernate-reactive is using the

[2020-12-11 17:39] vietj commented on #849
@snazy the current pool is single threaded and should always access the internal pool state with the same thread.

In Vert.x 4, we have

[code]

in practice context is not null and the context emit operation will ensure that the doAcquire method is called on this thread.

in vertx 3 it should be similar otherwise it is a bug.

[2020-12-11 17:39] vietj commented on #849
can you provide a reproducer project for this ?

[2020-12-11 17:51] snazy commented on #849
Hm. No reproducer there though.

Just wondering whether the expectation that the pool's always accessed from the same thread is what users of the pool can actually guarantee - like hibernate-reactive in Quarkus - where users have no control on which thread their code's running.

[2020-12-11 21:00] vietj commented on #849
any call to the pool should detect whether it's on the right thread and if
it's not schedule a task on this to access it.

perhaps this is not what happens in quarkus and in this case this is a bug
in vertx sql client pool

which is why I'm asking a reproducer.

On Fri, Dec 11, 2020 at 6:52 PM Robert Stupp <notifications@github.com>
wrote:

[2020-12-12 01:02] BillyYccc commented on #724
I tried again to use the above snippet but still didn't get the result, can you upload a small full reproducer project and give the steps to reproduce?

[2020-12-12 21:26] snazy commented on #849
Ah, yea - thanks for the heads-up. I've completely missed the code that does the rescheduling.
Sorry for the noise!

[2020-12-12 21:26] #849 closed

[2020-12-14 08:14] #825 closed

[2020-12-14 11:43] Sanne commented on #849
I just spoke to @vietj about this, and I understand now that the initialization of the pool I implemented for Quarkus is wrong.

Followed up:
 - https://github.com/quarkusio/quarkus/issues/13868

[2020-12-14 14:53] aguibert commented on #837
hi @BillyYccc and @vietj, I can have a look at this over the next few weeks. I'll use the linked PRs as examples of how this should behave

[2020-12-14 18:02] tsegismont opened #851 "PreparedQuery does not take parameter types into account"
This bug reports follows-up on https://github.com/quarkusio/quarkus/issues/11501

The user initially reported they were not able to insert into jsonb column with Pg Client whereas the same query with Postgres JDBC works.

I proposed a better query to the user that works with both Postgres JDBC and the Pg Client as a workaround.

As for the issue, I did a little research and it seems the Pg client

[2020-12-14 22:11] vietj commented on #851
We do not provide the parameters because some queries might use a different parameter that would result in a cast exception in PG (e.g using a function that take any parameter as input, if you bind it with integer, then it will fail for a string).

Normally the client will detect that situation and try a rebind with the parameters when it happens and there is a check for this in `PgSocketConnectio

[2020-12-14 22:13] vietj commented on #851
Here is the original fix https://github.com/eclipse-vertx/vertx-sql-client/issues/700

[2020-12-14 22:16] vietj commented on #851
Here is the issue that happens if you bind parameters https://github.com/eclipse-vertx/vertx-sql-client/issues/700 such queries should not be cached however we cannot detect it.

Hence we have a strategy to first prepare without parameters and when it fails we rebind with parameters.

[2020-12-15 10:01] tsegismont commented on #851
pgjdbc stores the parameters used when preparing an re-prepares if the cached query is used with a different type:

https://github.com/pgjdbc/pgjdbc/blob/529e5dc3a8f071ad4946daf3bde1422c21a99524/pgjdbc/src/main/java/org/postgresql/core/v3/SimpleQuery.java#L181-L195

This is not great performance-wise, but that's a choice we could make.

I don't mean we should make it though. Perhaps we could docum

[2020-12-15 11:37] julianladisch opened #854 "Connection refused in PgConnectionAutoRetryTest"
### Version

Which version(s) did you encounter this bug? 4.0.0, 4.0.1-SNAPSHOT cc3b6c99c7110ad98fd350c3d7f51b997c907305

### Context

Trying to build vertx-pg-client fails in these tests:
PgConnectionAutoRetryTest.testConnRetrySuccess
PgConnectionAutoRetryTest.testConnSuccessWithoutRetry
PgConnectionAutoRetryTest.testPoolRetrySuccess
PgConnectionAutoRetryTest.testPoolSuccessWithoutRetry

[code]

[2020-12-15 12:54] vietj commented on #851
I think we can first support the other code reported by PG and in the
future do what you are suggesting if that remains a blocker issue.

On Tue, Dec 15, 2020 at 11:01 AM Thomas Segismont <notifications@github.com>
wrote:

[2020-12-15 13:02] tsegismont commented on #851
Not sure what you mean

[2020-12-15 14:37] vietj commented on #851
I mean that the fix we did works when PG reports the error with the code _42P18_ and the error you reported from Quarkus uses the code _42804_. So we should handle and test with error code _42804_.

[2020-12-15 14:38] vietj commented on #851
i.e when we get a _42804_ we should prepare the statement with types.

[2020-12-15 14:52] tsegismont commented on #851
Yes, thanks for claryfing.

[2020-12-15 15:32] BillyYccc commented on #854
hi I think this is not a bug as the proxy used in the test might fail to listen to the random port in your CI machine, so the client failed to make a connection to it as the stacktrace shows.

[2020-12-15 15:35] BillyYccc commented on #854
can you also remove the maintainers of this project from the maillist of your fork repository CI pipeline? :-)

[2020-12-15 16:47] tsegismont commented on #851
@vietj added this to 3.9.6 milestone

[2020-12-15 16:59] BillyYccc opened #856 "SQL Server stored procedures support"
add support for multi statements executions in `SQL_BATCH` and `RPC` requests.

[2020-12-15 17:01] BillyYccc commented on #856
currently the CI might fail due to `EXEC sp_who;` in the failing test is regarded as a stored procudure execution and we can't handle the reponse properly.

[2020-12-15 17:54] julianladisch commented on #854
Sorry for any disruption on your mailinglist, I've removed the upstream files: https://github.com/folio-org/vertx-sql-client/commit/e39b343d584c0a0a7af8aeeff48904423efdd3cd https://github.com/folio-org/vertx-sql-client/commit/721c8060fa33f85ba8d2b743a5654fc3bd185a3e
Please holler if this is not sufficient.

[2020-12-16 09:53] #851 closed

[2020-12-17 16:07] #854 closed

[2020-12-19 15:38] BillyYccc commented on #797
I would like to introduce a new connection format in a more idiomatic way like what `MySQL` and `Postgres` does, the format is like `sqlserver://[user[:[password]]@]host[:port][/schema][?attribute1=value1&attribute2=value2...`

[2020-12-20 15:37] BillyYccc opened #861 "MySQL command pipelining feature support"
#### Describe the feature

Even though there is no relative official documentation stating that MySQL supports command pipelining mode which means the client sends multiple requests sequencely without waiting for the repsonse, it seems that it's possible for a client to achieve this.

We need to investigate how the pipelining works in different scenes:
* simple queries
* prepared queries(cache and

[2020-12-21 03:07] longdt opened #862 "Allow set/get json column as Buffer (utf-8 encoded string)"
Sometime I want to map Json column <-> POJO object. So it's great if I can set json column as Buffer (utf-8 string bytes), and get json column as Buffer when retrieve. This allow me use dsl-json (https://github.com/ngs-doo/dsl-json A high performance json mapping) to convert Pojo object <-> json bytes.
I know we can use JsonObject.map() but it's slow due jackson is pretty slow and we need created

[2020-12-21 03:22] shilei9213 opened #863 "Connection not open CLOSED when connect to mysql for more than 8 hours without operation"
### Questions

Hi, I got message 'Connection not open CLOSED ', when i use quarkus reactive mysql client  to connect with mysql for more than 8 hours without operation。

I don't know how to solve this problem?

Our mysql  variable 'wait_timeout' is 28800。

Our quarkus config is like this:

[code]

[code]

`2020-12-03 14:36:46,280 ERROR [org.hib.rea.errors] (vert.x-eventloop-thread-22) failed to ex

[2020-12-21 18:11] DaveO-Home opened #864 "NullPointerException- JDBC-Client when using preparedQuery with Cubrid DB"
### Version

both 4.0.0 and 4.0.1-SNAPSHOT

### Context

Fails with both non and transaction prepared quires, works with queries without parametes
### Do you have a reproducer?
No

### Error
[code]

### Extra

* Fedora33 - JVM 1.8 and Java11
* Query -
[code]

[2020-12-22 01:12] BillyYccc commented on #863
hi, it seems that you're using Hibernate reactive, are you opening a session(i.e. using Pool#getConnection) and hold it for a long time but do not close it(return the connection back to the pool)?

[2020-12-22 02:09] shilei9213 commented on #863
Thanks for your reply.

I use quarkus framework and it help me to manage hibernate session and mysql connection .  what do i need to do next to resolve the problem.

My code is like this:
[code]

[2020-12-22 08:58] shilei9213 commented on #863
https://www.databasesandlife.com/automatic-reconnect-from-hibernate-to-mysql/

I have known the reason.

Mysql will close the connection when it has been idle over 8 hours.

Our application will close the connection when socket close.

And out application will get VertxException 'Connection not open CLOSED ' when use this connection to query after that.

I'd like to ask about how to remove connect

[2020-12-22 09:57] gavinking commented on #863
Hi, I just read the blog post you linked to, and what this person is doing is just a plain misuse of Hibernate (and JDBC) and it's clear the person who wrote it just doesn't have much knowledge of data access in Java.

You're simply not supposed to _ever_ hold a single Hibernate session or JDBC connection open for such a long time. Ordinarily, these objects are supposed to be opened at the beginni

[2020-12-22 10:16] gavinking commented on #863
Excuse me, I think I misinterpreted the blog post. My bad, but it's because he didn't actually properly explain what he was doing, and because he goes off on a silly discussion about reconnecting. And so the blog was open to misinterpretation.

If so, what I wrote isn't quite correct. Sure, it's OK to have a connection open *in the pool* for a long time, in which case it's the job of the pool to m

[2020-12-22 10:21] gavinking commented on #863
So for Hibernate Reactive, and the Vert.x SQL client, you should set `hibernate.vertx.pool.idle_timeout`.

In time, we'll probably want to add additional flexibility here. But if the issue is that idle connections are timing out _while in the pool_ then that should fix it.

[2020-12-22 10:23] gavinking commented on #863
@shilei9213 can you please confirm that this is what you are experiencing: that idle *pooled* connections are timing out, and it's not that you have opened a session and left it open for a long time.

[2020-12-22 10:42] gavinking commented on #863
Oh, right, actually you can set this using `hibernate.c3p0. maxConnectionAge`, it appears. Unknown properties with the prefix `hibernate.c3p0` just get passed through to c3p0.

[2020-12-22 10:49] gavinking commented on #863
Gawd, that wrong blog post is the first thing that pops up on a Google search for "reconnection Hibernate MySQL". 😭😤

[2020-12-22 11:00] gavinking commented on #863
To be clear, his complaint that Hibernate can't "reconnect" is meaningless. There's no difference at all between "reconnect an expired connection" and "obtain a new connection". They're the same exact thing.

[2020-12-22 11:12] shilei9213 commented on #863
😄

Thank you.

I think it's good for a connection to be closed if it is idle for a long time.

But our major problem is  the closed connection is always got when we execute sql after that.

I guess vert.x framework could drop this connection and return a new valid connection when we need.

(MySQLPoolImpl)

But i don't known how to do that.

[2020-12-22 11:16] gavinking commented on #863
Well I still don't understand what you're saying here. See there's two reasons you might experience this error:

1. You're holding a single Hibernate session open for a long time: this is Bad and you shouldn't do it.
2. You didn't set `hibernate.vertx.pool.idle_timeout` to be less than MySQL's connection timeout: this is easy to fix, just set it.

But I can't tell which of those cases you're descr

[2020-12-22 16:56] BillyYccc commented on #863
The MySQL server will directly close the underlying TCP connection if there is no activity in the connection after `wait_timeout`.

There might be two possibilities for the MySQL pool:
1. the idled connection is in the pool and closed by the server, in this case the pool will automatically evict the closed connection and recreate a new connection later on need.(this should be supported now, if not

[2020-12-23 09:49] shilei9213 commented on #863
Thank you for your help!

It should be about the use of vert.x by quarkus. I'll consult the support staff of quarkus.

[2020-12-23 09:49] #863 closed

[2020-12-24 09:45] nikodemusP opened #866 "Procedure Call"
Since the Jdbc Client should be replaced with the Sql Client, there should an equivalent for SQLconnection.callWithParams for In and Out Parameters.

[2020-12-24 19:48] radai-rosenblatt opened #867 "definer user for view missing shows up as access denied exception"
### Version

3.9.2

### Context
i have a Table (lets call it T) and a view V defined on it.
the view V was created by user U, that was at the time running from IP1. mysql defaults for views are "SQL SECURITY DEFINER" and "DEFINER = CURR_USER", which means definer=U@IP1 was "captured".
later on U@IP1 was removed from allowed access, and vertx was run from IP2 (using U@IP2).
when issuing a select st

[2021-01-04 08:47] vietj commented on #797
I agree with you that it should be discussed @BillyYccc , perhaps we should have an RFC wiki page with SQL client URLs formats that gather them all to have an higher level view of all of this

[2021-01-04 08:54] vietj commented on #862
I'm not sure this is possible but we will see what we can do

[2021-01-04 08:55] vietj commented on #864
can you reopen this issue here https://github.com/vert-x3/vertx-jdbc-client ?

[2021-01-04 08:55] #864 closed

[2021-01-04 09:05] vietj commented on #866
@nikodemusP what database are you using ?

[2021-01-04 09:06] vietj commented on #867
@BillyYccc any idea ?

[2021-01-05 00:39] BillyYccc commented on #797
I have create a RFC wiki page in https://github.com/vert-x3/wiki/wiki/RFC:-SQL-Client-Connecion-URL-format

[2021-01-05 00:59] BillyYccc commented on #862
It would be good if we make the data type codec registrable so that we can not only provide APIs for custom codecs but also make it possible to dynamically plug in a codec for Postgres custom data type(see https://github.com/eclipse-vertx/vertx-sql-client/issues/343).

[2021-01-05 01:01] BillyYccc commented on #862
There is also a similar request in https://github.com/eclipse-vertx/vertx-sql-client/issues/476.

[2021-01-05 11:29] yuce opened #869 "[vertx-pg-client] Cannot pass string values to prepared queries timestamps using ::timestamptz on the server side"
### Version

vertx-pg-client 4.0.0.
Postgres 12

### Context

I'm trying to pass string values for a timestamp column and do the conversion on the Postgres side using `::timestampz` cast.

I've explained the problem at Google groups: https://groups.google.com/u/1/g/vertx/c/vO2Y8DznNEA but copying the relative conversation here just in case.

The Postgres table looks like this:

[code]

(The exampl

[2021-01-05 12:16] vietj commented on #869
this cast expects the date to be provided as an `OffsetDateTime` and not a `String`

I think either you should convert the string to date when creating the tuple or change the query to perform the conversion, something like : `INSERT INTO table1 (created_at) VALUES (TO_TIMESTAMP($1, 'YYYY-MM-DD HH:MI:SS'))`

[2021-01-05 12:55] vietj commented on #869
The JDBC driver likely performs the cast for you when using setObject.

The vertx-jdbc-client is a wrapper of the JDBC client, so I'm assuming it
works for the same reason.

On Tue, Jan 5, 2021 at 1:32 PM Yüce Tekol <notifications@github.com> wrote:

[2021-01-05 13:13] EmadAlblueshi commented on #797
I think we should consider providing multiple hosts in the connection string for cluster database servers such as postgres-xc cluster

[2021-01-05 13:31] yuce commented on #869
I've just checked the Postgres driver's `setObject` and it seems to send the string verbatim.

The following is valid Postgres SQL:
[code]
Postgres seems to be happy receiving a string, so I think the string should not be converted to OffsetDateTime (for the query above).

`cast($1 AS timestamptz)` also doesn't work (not sure why `TO_DATE` works) so I think vertx-pg-client's behaviour is incorrect

[2021-01-06 09:02] yuce commented on #869
I've experimented with this a bit more and here's what I found.

The following works with Postgres:

[code]

So, Postgres automatically converts it to `TIMESTAMPTZ`. But it doesn't work by default with JDBC (using official Postgres driver) with `stmt.setObject("2021-01-04T12:55:23Z")`:
[code]

The exception is:
[code]

So, Postgres driver checks just the type of the object passed to `setObject` (w

[2021-01-06 12:11] vietj commented on #869
The thing is that such conversion opens the door for all kind of possible (magic) conversions and that is something I would rather like to avoid for various reasons.

In 4.0 we tried to avoid such thing unless it happens for the same type (i.e converting a number format to another format).

[2021-01-06 13:19] yuce commented on #869
Thanks to you and all the contributors. Vert.x became my favorite toolkit (if not the favorite tech) in 2020. It has just the right amount of magic so I can get things done in 98% of the cases (the exception is the issue in this ticket and vertx-mqtt auto-sends acknowlegement messages). So, I hope I don't sound too argumentative, it's not my intention.

IMHO JDBC does the less-magic thing here, wh

[2021-01-06 15:24] yuce commented on #869
Adding `Future<PreparedStatement> prepare(String sql, List<Class<?>> parameterTypes)` to `SqlConnection` interface fails with `error: Could not generate model for parameterTypes: Illegal type ? of kind WILDCARD`. Maybe that's why that method is not already in the interface...

[2021-01-06 15:41] vietj commented on #869
@yuce that would be something we could add indeed. The limitation you have is due to the code generator  for now you should use Class instead.

[2021-01-06 15:55] yuce commented on #869
Like `public Future<PreparedStatement> prepareX(String sql, List<Class> parameterTypes)` ? That also fails similarly:
[code]

[2021-01-06 16:41] vietj commented on #869
ok, as you can otherwise annotated the method with `@GenIgnore` and use wildcards I think

[2021-01-07 03:25] YuyuZha0 opened #870 "[vertx-mysql-client] MySQL throws exception when run prepared query immediately after creating pool"
[code]

**The exception is reproducable, my client version is 4.0.0**

[code]

[code]

[2021-01-07 10:36] yuce commented on #869
Thanks, that works! I've created a preview PR at https://github.com/scaleplandev/vertx-sql-client/pull/1/files . Probably `preparedQuery(String sql, List<Class<?>>)` method should already be added to `SqlClient` but that seem to require deeper changes.

The changes are trivial but I can create a PR if this is this something that can make its way into the official repo,

[2021-01-07 10:46] vietj commented on #869
thanks for the PR. I think we will first try to get wildcard working in the generator before merging and reviewing.

[2021-01-07 10:47] vietj commented on #869
Also I think there might be some concerns with prepared statement caching, so this is is something we should think of too. Because the same query could be execute with different classes or not class (as it is the default). So it needs to be carefully thought out.

[2021-01-07 10:57] yuce commented on #869
I see. That makes sense.

[2021-01-09 09:12] BillyYccc commented on #870
Hi, there is a same case reported some time ago and it has been fixed. we have a testcase in https://github.com/eclipse-vertx/vertx-sql-client/blob/60fdcd786fbbd7565d5c4e93a9bf905f07b8045f/vertx-mysql-client/src/test/java/io/vertx/mysqlclient/MySQLPoolTest.java#L74-L94

I tried to enable the cache and it also passes, as I don't see any difference with your reproducer can you try to make some chang

[2021-01-11 07:33] vietj commented on #870
is it fixed in master branch for 4.0.1 @BillyYccc ?

[2021-01-11 10:23] BillyYccc commented on #870
I think it was fixed in https://github.com/eclipse-vertx/vertx-sql-client/issues/590 and we had a test, I'm not sure if we got a new bug here.

[2021-01-11 10:54] vietj commented on #870
can you double check with the reproducer ?

[2021-01-12 09:50] Globegitter commented on #233
@vietj Now that 4.0 is out is there any plan for integrated easy pojo support? That is that main reason why we internally still decide to go with other libraries over this one (even though I personally would prefer vertx-sql)

[2021-01-12 09:55] vietj commented on #233
@Globegitter have you look at the Vert.x SQL templates ? it provides POJO support.

https://vertx.io/docs/vertx-sql-client-templates/java/#_mapping_with_jackson_databind
https://vertx.io/docs/vertx-sql-client-templates/java/#_mapping_with_vert_x_data_objects

This issue should be closed now

[2021-01-12 09:55] #233 closed

[2021-01-12 09:56] vietj commented on #233
You can also now call `toJson()` on a `Row` and from there map the `JsonObject` to a POJO with Jackson.

[2021-01-13 14:33] ashertarno commented on #823
hi guys, it seems we started to run into the same problem. it's hard to me to create a stand alone reproducer, but while running on a huge system with a number of connection pools we started to see the errors below. the pool seems to be totally stuck once this occurs, so it's a total show stopper. we are running on 3.9.4, no workers involved

`[io.vertx.core.impl.ContextImpl|vert.x-eventloop-threa

[2021-01-14 01:34] BillyYccc commented on #870
@YuyuZha0 I wonder what the database server and version are you using?

[2021-01-14 01:38] BillyYccc commented on #870
Note some MySQL proxies or servers might not support prepared statement.

[2021-01-15 05:26] YuyuZha0 commented on #870
My mysql version is 5.7, I test it with jdbc and it works fine;, finaly I have to change back to jdbc as a work around.

[2021-01-15 05:38] YuyuZha0 commented on #870
The exception is reproducable but not all the time, It depends during the starting up process, once enable cache preparedStatements, if exeption occur first time, then the following query will always fail. I wonder if there is a bug
during the preparedStatement construction.

[2021-01-15 12:14] BillyYccc commented on #870
Thanks for the info! I will have another check in the cache implementation.

[2021-01-15 12:25] BillyYccc opened #873 "MySQL managed one-shot prepared queries statement auto closing command should be sent before any pending commands in the queue"
Motivation:
Currently MySQL auto closing command is fired after the execution is completed, this works fine because in MySQL Client the pipeling limit is only 1 and it will be sent before other pending commands, however it might cause unexpected order issues in pipeling mode which we will support later.

[2021-01-15 12:43] BillyYccc commented on #861
I have completed first round of checks for the implementation currently.

So far the simple queries and transactions behave normally as Postgres client does.
Here are some issues I found during my experiments:
1. see https://github.com/eclipse-vertx/vertx-sql-client/issues/873
2. the command response is handled by the trigger of the `completionHandler` in codecs, it will break the command handling

[2021-01-17 12:22] BillyYccc commented on #870
@YuyuZha0 could you set `mySQLConnectOptions#setLogActivity(true)` and show me your logs of network packets if you don't mind? you can mail me if you don't want it public.

[2021-01-18 11:03] ashertarno commented on #823
i found a place that actually calls the dbpool from a worker thread. the npe is getting thrown when the next call (on the event-loop) after the one made from the worker thread is accessing the db connection pool. looks like this is indeed the issue described here.

[2021-01-18 17:11] BillyYccc commented on #861
I have refactored the MySQL client to fix the first two issues in the comment above which is currently progressed in https://github.com/BillyYccc/vertx-sql-client/tree/mysql-pipeline-support.

Next I'm going to fix how the MySQL batching works in pipelining mode.
As we know we have to emulate batching by executing multiple `COM_STMT_EXECUTE` commands, the basic idea is as:
1. no matter what the co

[2021-01-20 09:02] vietj commented on #870
@YuyuZha0 ping

[2021-01-20 16:16] YuyuZha0 commented on #870
OK I'll try it later

[2021-01-21 09:22] YuyuZha0 commented on #870
[code]

[2021-01-21 10:06] BillyYccc commented on #870
please show me the network packet flow instead of the stacktrace, that would help us finding out what happened on the wire, you might use https://vertx.io/docs/vertx-core/java/#logging_network_activity or tools like tcpdump or wireshark.

[2021-01-21 10:15] BillyYccc commented on #870
it would also be good to compare with using MySQL jdbc connector with property `useServerPrepStmts=true`.

[2021-01-21 10:16] Globegitter commented on #233
@vietj I have not seen that, thanks for the links.

[2021-01-21 11:40] YuyuZha0 commented on #870
I've append the detail info in the email

[2021-01-23 01:04] melaraj2 opened #877 "PostgreSQL 12 and 13 support"
Any plans on supporting PostgreSQL 12 and 13?

[2021-01-26 07:06] ashertarno commented on #374
@tsegismont will this change allow sharing of a db pool between verticles of different types (running on different event loops) or only between the instances of the same verticle?

[2021-01-26 07:09] vietj commented on #374
@ashertarno in vertx 4 you can already share a pool among several verticles

[2021-02-01 18:30] underkin commented on #823
Hi guys,

I'm also being affected by this one. We are using worker vertices and as @vietj  mention, it is intended that we can use from a worker verticle.
Is there any workaround we can use until this get fixed? (other that not using worker verticle), or any idea when a fix for this will  get released?

Kind regards

[2021-02-01 22:54] vietj commented on #823
it should work from worker thread in 4.0.1 release that will be done soon.

can you try with 4.0.1 SNAPSHOTS ?

[2021-02-02 01:19] BillyYccc opened #882 "Support for custom SQL Type Codec"
#### Describe the feature

Currently the SQL types-Java Object mappings are defined in the client and the row value buffer is decoded as fixed types does not provide an entry point for customizing the mapping.

* Postgres: https://github.com/eclipse-vertx/vertx-sql-client/blob/master/vertx-pg-client/src/main/java/io/vertx/pgclient/impl/codec/DataType.java
* MySQL: https://github.com/eclipse-vertx/

[2021-02-02 11:33] underkin commented on #823
I used the 4.0.1 SNAPSHOT, but I'm still getting the same stacktrace when running from a worked verticle:

[code]

Should this be fixed in 4.0.1 SNAPSHOT?
I'm just using the 4.0.1 snapshot for io.vertx:vertx-mysql-client.   Should I use for any other library?

Kind regards

[2021-02-02 13:29] vietj commented on #823
we are investigating.

On Tue, Feb 2, 2021 at 12:33 PM Juan Garcia <notifications@github.com>
wrote:

[2021-02-02 13:36] underkin commented on #823
Forget what I said for now. I need to repeat my test to make sure it actually fails.

[2021-02-02 14:00] underkin commented on #823
I verified now. And still getting the error when running from a worker thread.

`2021-02-02 13:53:29,193 [vert.x-worker-thread-15] ERROR io.vertx.core.impl.ContextImpl - Unhandled exception
java.lang.NullPointerException: null
	at io.vertx.sqlclient.impl.pool.ConnectionPool.check(ConnectionPool.java:260)
	at io.vertx.sqlclient.impl.pool.ConnectionPool.doAcquire(ConnectionPool.java:103)
	at io.vert

[2021-02-02 15:54] vietj commented on #823
can you show the full stack trace ?

[2021-02-02 16:46] underkin commented on #823
sure.

This is the full stack:

[code]

Note the code is in groovy so, you'll see some groove related calls in the stack.

[2021-02-02 22:14] vietj commented on #823
@underkin which vertx version ?

[2021-02-02 22:23] vietj commented on #823
@underkin if you are using vertx master, do you mind checking after this commit https://github.com/eclipse-vertx/vertx-sql-client/commit/2ef215879a8d139ff30b0dd82d6c43326f6b1e96 ?

[2021-02-02 22:24] #823 closed

[2021-02-03 09:11] underkin commented on #823
@vietj, Does master get published to sonatype?

[2021-02-03 09:25] vietj commented on #823
it should

On Wed, Feb 3, 2021 at 10:11 AM Juan Garcia <notifications@github.com>
wrote:

[2021-02-03 17:47] underkin commented on #823
Thanks @vietj . Works fine

[2021-02-08 08:35] estet90 opened #885 "Adding "native returning" for PostgreSQL"
Are you planning to add "native returning" for PostgreSQL?

[2021-02-08 09:16] vietj commented on #885
can you clarify @estet90 ?

[2021-02-08 09:38] fedinskiy opened #886 "Prepared statements with positional arguments(`$1`, `$2 ` etc) do not work for db2"
### Version

3.9.5

### Context

I encountered an exception which looks suspicious while trying to reproduce examples from db2 client documentation(https://vertx.io/docs/3.9.5/vertx-db2-client/java/#_prepared_queries).

### Do you have a reproducer?

* https://github.com/fedinskiy/reproducer/tree/c8ae9bcca60a01b78025b5602fbc59c0085b2f82

To reproduce: run `mvn clean test`.
* Test preparedQueryJDBC

[2021-02-08 09:43] vietj commented on #886
for DB2 you need to use DB2 syntax which is ?

this is expected and not a bug.

[2021-02-08 09:55] fedinskiy commented on #886
@vietj in that case, documentation should be fixed, since code examles(https://vertx.io/docs/3.9.5/vertx-db2-client/java/#_prepared_queries) currently use both syntaxes.

[2021-02-08 11:29] estet90 commented on #885
If I use Jooq, I can make request like
[code]
and get generated `id`.
If I use VertX, I have to write
[code]

[2021-02-10 14:51] DavideD opened #887 "[vertx-db2-client] SQL with 'fetch first 1 rows only' causes 'Found unknown codepoint: 0x215f / 8543'"
Queries using `fetch first 1 rows only` doesn't seem to work.
Query example:
[code]

### Version

`vertx-db2-client` versions  `3.9.5` and  `4.0.2`.

### Context

Exception:
[code]

### Do you have a reproducer?

https://github.com/DavideD/vertx-sql-client/commit/e1d5ceb26780eb22d52f5f60db43c8ae19895013
Or, add this test to `QueryVariationsTest`:
[code]

[2021-02-10 16:04] vietj commented on #887
could you port this reproduder in the DB2 client in the test suite to help @DavideD ?

[2021-02-11 09:14] DavideD commented on #887
I wanted to, but the project requires Docker and on Fedora I cannot run the tests (I still haven't figure out how to configure Docker on Fedora).

Anyway, it should be pretty straightforward.
This query should throw the exception with the table you are using in the tests:
[code]

[2021-02-11 14:54] DavideD commented on #887
I think I can run docker now, I will provide a test soon

[2021-02-11 22:28] vietj commented on #887
thank you

On Thu, Feb 11, 2021 at 3:54 PM DavideD <notifications@github.com> wrote:

[2021-02-12 15:29] DavideD commented on #887
Here's a testcase, I've added it to `DB2SimpleQueryTest`:
[code]

Commit: ff506f0899aa374be689244953370e0d8ae5f7d1

[2021-02-12 15:33] DavideD commented on #887
Actually...I'm not sure if this test is correct... I'm having a lot of troubles importing the project in IDEA and running the build.
I'm sure you can update the test easily and let me know if you see the issue.

[2021-02-13 09:39] DavideD commented on #887
I finally have the correct test case for this and update the issue accordingly.

It's on my branch (for 3.9): https://github.com/DavideD/vertx-sql-client/tree/887-db2-issue-first-rows
Commit: https://github.com/DavideD/vertx-sql-client/commit/e1d5ceb26780eb22d52f5f60db43c8ae19895013

I've tested the query using the DB2 client and it returns the expected result.

The branch contains also a couple o

[2021-02-15 13:06] tsegismont opened #892 "Pg Client test failures"
Permanent failures after https://github.com/eclipse-vertx/vertx-sql-client/pull/860 has been merged.

cc @BillyYccc

[2021-02-15 23:36] vietj commented on #892
it seems it was related to Netty leak detector being enabled which slows down a lot the CI and make test fails. For now I disabled the leak detector.

[2021-02-15 23:36] #892 closed

[2021-02-16 08:58] vietj opened #893 "PostgreSQL codec can fail to release buffers"
The PostgreSQL codec uses a read and write buffers that accumulate data to be sent. Sometimes the codec can be closed before the flush operation leading to un released buffers.

[2021-02-16 09:47] #893 closed

[2021-02-22 13:10] gavinking opened #899 ""Needed to have 6 in buffer but only had 0""
In the HR test suite I had to disable a test, as seen here:

https://github.com/hibernate/hibernate-reactive/blob/2ff95a963d18c863853f6258490d4ace341eb00c/hibernate-reactive-core/src/test/java/org/hibernate/reactive/OrderedEmbeddableCollectionTest.java#L32

because of an intermittent error that only occurred on DB2 when running the whole test suite (and not the single test).

From the error messag

[2021-02-22 13:46] vietj commented on #899
it's an issue I was not aware of and that is specific to DB2, I believe we need to engage with somebody familiar.

[2021-02-23 09:11] vietj commented on #724
This looks like a duplicate of https://github.com/eclipse-vertx/vertx-sql-client/pull/835/files that was fixed, I'll close this issue. Please reopen with a reproducer if it happens again.

[2021-02-23 09:11] #724 closed

[2021-02-23 09:12] #796 closed

[2021-02-23 09:18] vietj opened #900 "DB2 inflight commands should be reported failure when connection get closed"
See https://github.com/eclipse-vertx/vertx-sql-client/issues/837

[2021-02-23 09:21] vietj commented on #837
Closing this issue as the only remaining implementation with a bug is DB2 and there is a specific issue for this.

[2021-02-23 09:21] #837 closed

[2021-02-23 14:00] ukr15 opened #901 "Sql-Client does not work for prepared statements on oracle database"
### Questions

Do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.

### Version

4.0.2

### Context

We tried to migrate from JDBC-Client API to SqlClient API. The following reproducer works fine for Postgres but crashes when configured for usage with Oracle.

stream error java.sql.SQLExce

[2021-02-23 14:58] vietj commented on #901
can you move this issue here https://github.com/vert-x3/vertx-jdbc-client ? thanks

[2021-02-23 14:58] #901 closed

[2021-02-23 15:43] mswatosh commented on #899
I'll start taking a look at this.

[2021-02-23 18:01] vietj commented on #899
thank you Mark

On Tue, Feb 23, 2021 at 4:43 PM Mark Swatosh <notifications@github.com>
wrote:

[2021-02-23 18:39] ivadoncheva opened #902 "Vertx executeBatch not returning all rows"
### Questions

Hello, I want to use pg-client executeBatch() method however the result that I am getting is not what I expect. I see that in the database several rows have been inserted but the result RowSet<Row> contains only the first inserted row. Could you please elaborate on this?

### Version

version: pg-client: 3.9.5

### Do you have a reproducer?
`List<Tuple> batch = new ArrayList<>();
ba

[2021-02-23 20:34] vietj commented on #902
what the client provides shall really be what the database returns, did you check the smae with JDBC ?

[2021-02-23 20:48] vietj commented on #902
so here is what happens and it makes sense to me (and I will clarify it in the doc):

each insert will be a RowSet of its own, you can access the next row set using the`next()` method, e.g

[code]

[2021-02-23 20:56] vietj opened #903 "Document batch queries using a RETURNING clause on PostgreSQL"
The documentation explains clearly how to process the result of a query with a RETURNING clause on PostgreSQL but does not for batch queries which is a frequent use case for batch inserts with auto generated keys.

[2021-02-23 21:00] #903 closed

[2021-02-23 21:03] vietj commented on #902
https://github.com/eclipse-vertx/vertx-sql-client/issues/903

[2021-02-23 21:03] #902 closed

[2021-02-24 09:17] ivadoncheva commented on #902
Hi @vietj, thank you for your quick response. It would be really nice to document this as currently the documentation is rather confusing.

[code]

I tried the example that you have documented:
[code]

However, it seems that it doesn't get the least inserted element. Do you have any idea? I am still trying to understand why this happens.

[2021-02-25 04:19] doctorpangloss opened #905 "Passing your own promise to a PgPoolImpl's execute will throw exceptions on OpenTracerTracing's sendRequest"
### Version

4.0.2

### Context

From `vertx-jooq`:
[code]
Observe it constructs its own promise. Doesn't matter if it runs in a `context`. `rowPromise.context` will be `null`.

Is it typical to pass your own promise into `execute`? I think this is still a bug.

From `opentracing-tracer`:
[code]

`context` is null. So it will throw with `NullPointerException`. Why? `context` comes from `promise`,

[2021-02-25 08:48] vietj commented on #905
This is unusual to do that (but allowed).

The promise should be transformed into another promise using `context.promise(promise)` early.

[2021-02-28 10:42] larousso opened #907 "Transaction savepoint"
In postgreql (I don't know for others), we can use savepoint within a transaction.
It could be good to have this in the pg driver in addition to `commit` and `rollback` :

[code]

[2021-03-01 07:07] zero88 commented on #902
@ivadoncheva
Use this one
[code]

[2021-03-01 10:37] amb1ent opened #908 "postgresql support, sessions are not ended at connection close (pool in use here)"
### Version

Which version(s) did you encounter this bug ?

4.0.2

### Context

I am busy porting plenty of web-services from worker-pool postgresql jdbc client to this client.  I have finished my first one.

I use pg_advisory_lock as well as transactions, the locks were not freed at session end.

For the interim, I have added the following code my side to 'close' the connection (returning it to t

[2021-03-01 11:13] zero88 opened #909 "Batch Insert returning has weird behavior"
### Version

`io.vertx:vertx-pg-client:4.0.0`

### Context

When using `executeBatch` with returning `id` as `primary key`, `RowSet` produces very weird behavior, it seems stopping after first record then kill/forget this thread or something like that.

My function like that

[code]

[code]

But after I change to `executeBatch` with returning whole `entity`, it seems work fine

[code]

### Do you

[2021-03-01 11:49] zero88 opened #910 "Unable insert auto increment key"
### Version

`io.vertx:vertx-pg-client:4.0.0`

### Context

Unable insert auto increment key

[code]

[code]

### Do you have a reproducer?

* Link to github project/gist

### Extra

Fedora 32, openjdk 8

I think it seems blocker/major issue

[2021-03-01 12:06] vietj commented on #910
which versions does it precisely fails with ? this issue mentions 4.0.0, did you try 4.0.2 as well ?

[2021-03-01 12:14] zero88 commented on #910
Same error with `4.0.2`
Could you tell me how to enable debug log for `sql client`? I want to check/monitor the sql client progress if any issue

[2021-03-01 12:29] BillyYccc commented on #910
I wonder why you insert with specifying the `id` while it is a serial data type, have you checked there might be a row containing the conflict id?

[2021-03-01 12:38] zero88 commented on #910
No, I dont add any `id`
[code]

[2021-03-01 12:40] zero88 commented on #910
Even try, still no luck
[code]

[2021-03-01 15:23] ivadoncheva commented on #902
Thanks, @zero88. This works!

[2021-03-01 16:50] zero88 commented on #910
Ah, I knew a reason. When setup init data, I added manual id and `postgresql` is not able to cover as normal `sequence`.
`lastval()` still is 0 after initialized data.
then I need to correct sequence in init data step.

Closed it due to invalid.
Thanks for your support

[2021-03-01 17:02] BillyYccc commented on #908
The pool does not reset the state or execute any SQL for connections in the pool after executing, maybe we could provide an async hook for users to config at pool level like `Function<SqlConnection, Future<Void>>` to add.

[2021-03-01 17:18] robotmrv commented on #849
Hi @vietj

I have feeling that there is some misunderstanding regarding vertx Pool - quarkus integration usage with multiple threads.
So just want to check it from your side.

There is a strange (from my POV) solution in quarkus regarding `Pool` management. Using `ThreadLocal` to make invocation on `Pool` single threaded.
I was trying to find out why it was introduced but did not receive any detai

[2021-03-01 17:30] amb1ent commented on #908
Sounds like a flexible suggestion; I would like to know in the hook whether or not a transaction has started but not committed or been rolled back so I only issue rollback when needed.

[2021-03-02 07:25] vietj commented on #849
@Sanne I think it's better I clarify the behaviors in the various.

On top of my mind here are the expected behaviors:

- a pool is assigned an event-loop (in v3 and current v4), you can use this pool outside of its event-loop safely, if you do
  - in v3 the callback is on the pool event-loop
  - in current v4 the callback is on the correct event-loop (assuming it was done from an event-loop) and

[2021-03-02 15:10] zero88 commented on #909
Pretty sure thread leak in `io.vertx:vertx-pg-client:4.0.0` but after I updated to `v4.0.2`, it is already fixed
[Here](https://github.com/zero88/vertx-jooq-dsl) is repository then you can try it.

To reproduce, you can try downgrade vertx version to `4.0.0` in [here](https://github.com/zero88/vertx-jooq-dsl/blob/main/buildSrc/src/main/kotlin/Dependencies.kt#L54) then run test in [PgJooqTest](http

[2021-03-04 03:14] scientificCommunity opened #911 "Connection reset by peer"
### Questions

The above error occurs when I use these connections to access a database after they have been idle for a while

### Version

3.8.3

### Context

I found that when connections were disconnected due to idling, the application continued to pull connections from the pool to execute SQL(`Connection reset by peer` error occurred), and only re-established the connection to PG Server when n

[2021-03-04 07:42] #911 closed

[2021-03-10 14:46] #909 closed

[2021-03-11 22:28] vietj commented on #908
Can you use the transaction API ?

if you do then the connection could be aware of the transaction status and rollback the transaction before returning the connection to the pool.

[2021-03-11 22:34] vietj commented on #908
given that PostgreSQL notifies the transaction status, it might be possible to do that automatically

[2021-03-12 07:23] vietj opened #913 "withTransaction can avoid rolling back already rolled back transaction"
`Pool#withTransaction` rolls back a transaction when the future returned by the method fails. When the transaction rolls back, we should avoid trying to roll back this transaction for an obvious reason.

[2021-03-12 07:24] #913 closed

[2021-03-12 07:31] vietj commented on #908
if you are using the transaction api, the tx should be rollback when the connection is returned to the pool. I checked that.

we can make PG connection aware of this without a transaction using the transaction status but this requires more work and some internal refactoring, so that will not make it in 4.0.3.

[2021-03-12 07:53] amb1ent commented on #908
I'm using the tx api & explicitly committing and rolling back where i can; It's good to know that the transactions will be rolled back; this is more about exception handling.  I don't have the guarantees of ```try { ... con.commit(); } catch { ... con.rollback(); } finally { con.close(); }``` that I had with JDBC.

Are you able to add the hook somehow to the pool so that after the tx is rolled-bac

[2021-03-12 08:50] vietj commented on #908
the Transaction object has a `completion` future that is called when a transaction is commited or rolled back.

[2021-03-12 08:51] vietj commented on #908
we are currently working on the pool rewrite for 4.1 and we will take this in account as we also want to have pre function to be called when a connection is taken out of the pool

[2021-03-12 09:32] vietj commented on #905
I think that you should create your own promise correctly instead of using Promise.promise(), either using vertx.promise() or context.promise()

[2021-03-12 09:32] vietj commented on #905
otherwise we are going to add code to check a case that should not happen in practice

[2021-03-12 15:46] robotmrv commented on #787
are there any updates regarding this feature

[2021-03-12 16:04] BillyYccc commented on #907
Hi, you can already use the query interface executing the SQL `SAVEPOINT sv` and rollback, is there anything I miss here?

[2021-03-12 16:14] larousso commented on #907
Thanks I didn't thought I could do this like that !

[2021-03-14 08:26] ankan1811 opened #914 "uu"
### Questions

Do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.

### Version

Which version(s) did you encounter this bug ?

### Context

I encountered an exception which looks suspicious while ...

### Do you have a reproducer?

A reproducer is a simple project hosted on GitHub (or ano

[2021-03-14 08:26] #914 closed

[2021-03-14 15:37] dangfan opened #915 "ProxySQL drops connections"
### Version

Vert.x Sql Client 4.0.0 Beta1 & 4.0.2

### Context

I occasionally see exceptions saying that `io.vertx.core.VertxException: closed`. At the same time, I also see logs in ProxySQL as

[code]

### Do you have a reproducer?

I'm sorry that I cannot reproduce this issue, but I've made some research. Here are what I found:

1. When ProxySQL disconnects, it received two consecutive `Reques

[2021-03-15 00:57] BillyYccc commented on #915
it looks like a bug, do you access the `conn` object concurrently or from a different vertx context?

and do you execute queries concurrently like this in your code?
[code]

[2021-03-15 02:08] dangfan commented on #915
I reviewed the code. Most of them are written like this:

[code]

Other usages are like this:

[code]

When I tried to reproduce, I tested the following code:

[code]

and `test` is printed three times without any delay.

[2021-03-15 07:18] vietj commented on #787
we are working on a new pool and it will be part of it.

[2021-03-15 16:00] DavideD opened #916 "[Db2] Upgrade to Vert.x 4.0.3 causes test to fail in Hibernate Reactive with Db2"
### Version

Vert.x SQL Client 4.0.3

### Context

When I've upgraded the library, one of the test in Hibernate Reactive started to fail on Db2 with the following exception:
[code]

### Do you have a reproducer?

It seems to happen when we run the whole test suite and I haven't figure out how to reproduce it yet
It's possible to see the error running the whole test suite of Hibernate Reactive on t

[2021-03-15 16:05] DavideD commented on #916
I also suspect (but didn't verify) that the connection doesn't return when the error occurs and this might be what causes the TimeoutException

[2021-03-16 10:04] zero88 opened #917 "JDBCPool and PostgreSQL has inconsistency param type"
### Version

io.vertx:vertx-sql-client
io.vertx:vertx-pg-client

### Context

I encountered an exception which looks suspicious while use `SQL client` and `reactive PG client` both on `PostgreSQL`

`JDBCPool` use `INDEX` param `?`

[code]

`PgSQL client` use `NAMED` param `$`
[code]

Is it a bug or feature?

[2021-03-16 10:16] zero88 opened #918 "Wrong datetime data type when using JDBCPool"
### Version

io.vertx:vertx-sql-client

### Context

I encountered an exception which looks suspicious while using `JDBCPool` with temporal type in PostgreSQL, not tested with other but will have soon

[code]

`TimeTz` must be `OffsetTime`
`Timestamp` must be `java.time.OffsetDateTime`

### Do you have a reproducer?

https://github.com/zero88/jooqx/pull/34/commits/9d0ca85f3f5b476ae2e9d5ac13172d053

[2021-03-17 09:57] deedarb opened #919 "[vertx4] RowMapper generation fails with gradle"
vertx-sql-client example for RowMapper generation not working with gradle

gradle warns:

**warning: Unclosed files for the types 'PathForCodeGenProcessor'; these types will not undergo annotation processing**

reproducer: https://github.com/deedarb/vertx-sql-client-gradle

`./gradlew compileJava`

environment:
java 11 (adoptopenjdk)
gradle 6.8.3
vertx 4.0.3

[2021-03-17 09:58] vietj commented on #916
this happens only with DB2 ?

[2021-03-17 11:41] DavideD commented on #916
yes

[2021-03-17 14:01] vietj commented on #916
I'm having a look, the fix seems easy, but it makes sometimes the DB2 tests fails which I cannot explain

[2021-03-17 14:02] vietj commented on #916
I tested with your reproducer and it fixed the issue

[2021-03-17 14:03] vietj commented on #916
for the record the patch is:

[code]

to

[code]

[2021-03-17 14:25] vietj opened #920 "DB2 protocol decoder computeLength method does look up beyond the writer index"
The DB2 protocol decoder `computeLength` incorrectly check the max amount of bytes it can read and can perform a read beyond the writer index.

[2021-03-17 14:38] #916 closed

[2021-03-17 14:38] #920 closed

[2021-03-17 15:35] DavideD commented on #916
Awesome! Thanks a lot!

[2021-03-18 22:06] vietj commented on #98
we will provide a function to dynamically provide connect options with a supplier, this could be used to achieve this easily I htink

[2021-03-23 12:26] DavideD opened #922 "[MySQL] Parameters of type Binary must match the size of the type defined for the table"
It seems a bug because the same query works for all the other databases.
If the table defines a column of type `Binary(255)` but the query uses a `Binary(16)`, it won't find the row.

It happens in Vert.x 3.9.6 and 4.0.2

[code]

The commit with the change to add the test on the main branch is here: https://github.com/DavideD/vertx-sql-client/commit/1abdfe82af233327d03401418c9840791a57e3b1

[2021-03-23 20:54] smagellan opened #923 "ClickHouse DB support"
#### Read me

Read this first before creating an issue:

- do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.
- you shall create a feature request only when it is general purpose enough.
- make sure that the feature is not already

#### Describe the feature

ClickHouse native(binary) driv

[2021-03-24 06:42] BillyYccc commented on #922
The BINARY data type value stored in the MySQL database is right padded with zero bytes to the specific length, you will get the same result if you are using jdbc. So you have to pad the param array by yourself in the code to make it correct.

[2021-03-24 09:28] DavideD opened #924 "RunTestOnContextExtension for Junit 5"
It would be nice to have something similar to:
[code]
for JUnit 5.
Probably an extension.

[2021-03-24 09:28] DavideD commented on #924
Sorry, wrong project

[2021-03-24 09:28] #924 closed

[2021-03-24 09:49] DavideD commented on #922
This seemed to work when I tested it with JDBC. But I will double check.

[2021-03-24 10:16] DavideD commented on #922
I was wrong, it doesn't work with JDBC. Uff...ok, thanks

[2021-03-24 10:16] #922 closed

[2021-03-25 10:07] vietj commented on #923
@smagellan I'm curious to know how is click house implemented ?

[2021-03-25 10:15] vietj opened #926 "Check MSSQL decoder for leaks"
See https://github.com/eclipse-vertx/vertx-sql-client/commit/8e577af6238cb5538b9dea52164645106ccdb13a

[2021-03-25 10:46] smagellan commented on #923
I don't know about ClickHouse internals a lot. In general - it is columnar-oriented analytical db: https://github.com/ClickHouse/ClickHouse/. Most SELECT's are extremely fast.

P.S. driver dev branch is here: https://github.com/smagellan/vertx-sql-client/tree/feature/clickhouse-native-client

[2021-03-25 11:01] vietj commented on #923
it seems like a lot of work, can you point out the protocol documentation you used to implement this ?

[2021-03-25 11:14] smagellan commented on #923
Protocol is described  here: https://clickhouse.tech/docs/en/interfaces/tcp/. In short: I played with console client, wireshark, https://github.com/ClickHouse/ClickHouse/tree/master/src/Client and https://github.com/mymarilyn/clickhouse-driver

[2021-03-25 11:34] smagellan commented on #923
Hope I will create PR(into ClickHouse repo) with protocol documentation later

[2021-03-25 14:15] vietj commented on #923
ok, would you support this contribution then in the SQL client ?

[2021-03-25 16:22] jklingsporn commented on #249
jOOQ plans to support R2DBC within the next release and it would be nice to have a wrapper for vertx. @vietj have you any "official" plans/resources to implement R2DBC support/wrapper/client or do you consider this as a community project?
The biggest pain point I guess is the forced dependency to reactive streams in the API?

[2021-03-25 16:28] lukaseder commented on #249
For the record, here's the link to the jOOQ issue: https://github.com/jOOQ/jOOQ/issues/11700. It will ship with jOOQ 3.15 in Q2 2021. So far, no show stoppers have been found

[2021-03-25 16:57] vietj commented on #249
we are not actively forward looking to implement R2DBC, but I think that anyone can provide an adapter project for this.

[2021-03-25 19:08] smagellan commented on #923
Yes, I would

[2021-03-25 19:26] vietj commented on #923
can you ping me privately ?

[2021-03-25 21:55] smagellan commented on #923
Sure, sent you an e-mail

[2021-03-26 13:41] #797 closed

[2021-03-26 14:39] tsegismont commented on #608
@BillyYccc about _NUMERIC & DECIMAL (supported but do need some changes)_: which changes are needed? I couldn't find any comment or todos in the code

[2021-03-26 14:43] BillyYccc commented on #608
I remember the scales are not handled in a right way.

[2021-03-26 14:44] tsegismont commented on #608
@BillyYccc would you mind filing a separate issue for this please?

[2021-03-26 16:47] tsegismont commented on #608
OK I'll take care of this.

Le ven. 26 mars 2021 à 15:44, Billy Yuan ***@***.***> a
écrit :

[2021-03-27 10:03] #752 closed

[2021-03-30 15:53] #546 closed

[2021-04-02 13:44] jtama opened #929 "Using custom socketFactory"
# additional jdbc properties seems to be ignored.

Trying to specify additional jdbc properties in jdbc url connection string but they seemed to be ignore :

### Version

Using 3.9.5

### Context

When specifying the following connection string : `postgresql:///my-db?cloudSqlInstance=project:europe-west1:my-db&socketFactory=com.google.cloud.sql.postgres.SocketFactory`, I get the following error :

[2021-04-06 06:21] vietj commented on #929
that will not be possible because vertx is based on Netty. You can connect on google cloud using domain sockets however.

[2021-04-06 06:21] #929 closed

[2021-04-06 06:23] vietj commented on #929
here is an example with Vert.x : https://github.com/ludoch/samples/blob/master/java11/vertx-cloudsql-postgres/src/main/java/com/google/appengine/vertxcloudsqlpostgres/Application.java I think it could be adapted to work with Quarkus

[2021-04-06 07:17] jtama commented on #929
Ok thanks I will check if I can make it work. And come back to you.

[2021-04-09 12:11] jtama commented on #929
Ok I made it work thanks.

[2021-04-09 20:15] bhowell2 opened #930 "Undesirable transaction error response"
Hi All,

Have an issue with the error messages returned in a transaction. I've attached a reproducer.

When creating a transaction and running multiple commands simultaneously if an error occurs the error message will not be returned, but the error message "Transaction already completed." will be returned instead. This makes it difficult to trace the source of the issue.

Accidentally repeated mys

[2021-04-12 04:23] bachden commented on #98
is there any update (estimate/milestone...) for this?

[2021-04-12 06:20] froggengoing opened #932 "ConnectionPool.handleException(Throwable err) always not work"
### Questions
i want to query some data from db use MySQLPoolImpl,process the data and then return to browser use vertx-web

however when i handler the result from querystatemnt , it throw nullpointexception by accident, and i think i will rerouter to the exceptionhandler which i define in Router. but the truth is it do nothing,let the brower has no response

### Version

3.9.6

### my code :
[cod

[2021-04-12 11:44] vietj commented on #98
we could achieve 4.1 I think, we are currently finishing the implementation of the new pool, so that would be an extra feature on top of this.

[2021-04-12 11:56] vietj opened #933 "New connection pool"
A new implementation of the connection pool based on Vert.x Core reusable pool, this pool provides a more robust implementation and does not depend on a Vert.x context. The new pool adds connection timeout supports and idle connection timeout.

In addition a new pooled client is introduced for PostgreSQL and DB2 that allows to obtain a pooled client that perform client operations on the pool that

[2021-04-12 15:30] #933 closed

[2021-04-13 08:14] vietj commented on #930
thanks I'll have a look

[2021-04-15 09:46] vietj commented on #930
@bhowell2 what you posted does not seem like an issue because you are using a CompositeFuture and the original failure will also be reported on the CompositeFuture. The future 3 and 4 are failing because the transaction rolled back and not because of the query 2 since they are not related

[2021-04-15 11:52] vietj commented on #930
@bhowell2 can you provide a reproducer without `CompositeFuture` ?

[2021-04-16 10:24] marsbergen opened #934 "PrepareStatementCommandCodec should handle message ParameterStatus"
### Version

Which version(s) did you encounter this bug ?

Postgres on RDS v12.5
vertx-pg-client v3.9.2
jooq v3.13.1

### Context

We have Sentry reporting that `io.vertx.pgclient.impl.codec.PgCommandCodec` has thrown the following exception: `PrepareStatementCommandCodec should handle message ParameterStatus`

### Do you have a reproducer?

Not particularly, since Sentry gave no further context

[2021-04-16 16:32] tsegismont opened #935 "Connection leak when using idle-timeout on PoolOptions"
This applies to 3.9.6, 3.9.7 and 4.0.3. It does not apply to 4.1.0 (snapshot with new pool implementation).

When an idle-timeout is set on `PoolOptions`, the pooled connection is not closed properly.
It is removed from the list of available connections but stays open.

On PostgreSQL, this can be observed by inspecting `pg_stat_activity` and finding connections in `IDLE` state.

[2021-04-16 16:46] tsegismont commented on #935
cc @pjgg

[2021-04-16 17:24] vietj commented on #935
we should

- recommend not using this option in current releases (keeping in mind that in 3.x this code is *tech preview*)
- remove this option from 3.9 and file it as a breaking change
- check whether this issue happens with the new pool for 4.1

[2021-04-16 17:34] gsmet commented on #935
Isn't it the feature that was very recently introduced to fix an issue reported in Quarkus?

[2021-04-18 04:56] bhowell2 commented on #930
Hey Julien, sorry about this. That makes complete. It's not an issue then, but more ergonomic than anything. I encountered it when using the rxified API and it was from `Completable.merge(...)` or `Single.merge(...).lastOrError()` to obtain a completable or single from the transaction operations, but it was returning the last error rather than the first and I didn't notice.

[2021-04-18 04:56] #930 closed

[2021-04-19 06:46] vietj commented on #930
well I believe there are some with with `withTransaction` that can hide the original transaction, but in this case it seems to be like a race issue due to `CompositeFuture`

[2021-04-19 06:50] vietj commented on #934
it seems like you can ignore there messages, according to the PG frontend/backend protocol:

_This message informs the frontend about the current (initial) setting of backend parameters, such as client_encoding or DateStyle. The frontend can ignore this message, or record the settings for its future use; see Section 46.2.6 for more details. The frontend should not respond to this message, but shou

[2021-04-19 06:50] #934 closed

[2021-04-19 06:50] vietj commented on #934
I will simply remove the logging of this in the actual codebase.

[2021-04-19 07:00] vietj commented on #934
I changed logging to

[code]

so we know what has changed and we can determine whether this has an impact or not on the client.

[2021-04-19 07:05] vietj commented on #935
it was introduced to add a new feature that was asked by the user, we should have refrained ourselves and not implement it and instead wait this was implemented in Vert.x 4.1

[2021-04-19 07:17] marsbergen commented on #934
@vietj Ah that's great, thanks for the fast response!
I indeed didn't see any other failures, that was also why I was surprised to see this message being reported.

[2021-04-19 19:16] rgmz opened #938 "[vertx-pg-client] PreparedQuery hangs if UUID does not have dashes"
### Version

4.0.3

### Context

When using the PG client, passing a malformed UUID to a `preparedQuery` will cause the execution to hang indefinitely, _without_ throwing an exception.

This is unexpected because -- although UUIDs without dashes are technically invalid -- PostgreSQL accepts both  `971cff9c-f325-4e12-a9c5-6a7f27131d06` and `971cff9cf3254e12a9c56a7f27131d06`.

### Do you have a repr

[2021-04-21 13:57] vietj opened #939 "Transaction should not rollback automatically on failure"
The client transaction rolls back the transaction as soon as one of the queries executed in this transaction fails. This behavior was implemented because PostgreSQL fails the transaction as soon as one of the executed query fails. This does not take in account other databases for which a failed query does not influence the transaction outcome.

The transaction should not roll back the transaction

[2021-04-21 16:46] d892fc opened #941 "Is there a way to concat multiple RowSet into one?"
Is there a way to concat multiple RowSet into one?

[2021-04-21 16:48] #939 closed

[2021-04-22 07:56] vietj commented on #941
no, unless you make your own implementation.

[2021-04-22 07:57] #941 closed

[2021-04-23 04:52] jlnme commented on #153
Hello everyone, I would also love this feature to be included. Any chance we get this?

[2021-04-23 04:57] vietj commented on #153
I set help-wanted on this issue as we need a contributor to step up and implement it.

[2021-04-23 14:13] vietj opened #942 "PostgreSQL prepared query tuple preparation runtime exception"
Prepared query execution attempts to get the value it needs from the provided tuple according to the types expected by the prepared query. This step coerces the tuple element to the expected element prior encoding, this step can fail with an uncaught exception such as a class cast. The PostgreSQL implementation catches a class cast exception but it does not for uncaught exception, e.g providing an

[2021-04-23 14:16] vietj commented on #938
is a special case of https://github.com/eclipse-vertx/vertx-sql-client/issues/942

[2021-04-24 03:45] d892fc opened #944 "Should add SCRAM client to vertx-sql-client dependency list"
# pg_hba.conf

[code]

# Error Log

[code]

# Solution: pom.xml

[code]

[2021-04-24 03:48] d892fc commented on #944
# Sorry, It's my mistake.

https://github.com/eclipse-vertx/vertx-sql-client/blob/master/vertx-pg-client/pom.xml

[code]

[2021-04-24 03:49] #944 closed

[2021-04-26 07:05] #938 closed

[2021-04-26 07:05] #942 closed

[2021-04-26 12:20] vietj commented on #908
@amb1ent there have been some changes in master with the new pool, can you have a look again and provide an update ?

[2021-04-26 12:20] vietj commented on #908
with Postgres we can know the transaction status and rollback an on going unfinished transaction when it is put back in the pool I think

[2021-04-26 12:21] vietj commented on #907
I think we should think of the save point use cases and eventually provide an API for this.

[2021-04-26 12:21] vietj commented on #899
@mswatosh any progress on this ?

[2021-04-26 12:24] vietj commented on #870
what is the status on this @BillyYccc ?

[2021-04-26 12:26] #869 closed

[2021-04-26 12:52] amb1ent commented on #908
@vietj can you publish a 4.1.0-snapshot to a maven repository?  It's almost beyond me building the entire vertx system, I am rather rusty with the tools - I'd need pointers to do that, send by email if you still have my address?

[2021-04-26 13:36] vietj commented on #908
snapshots are published already at
https://s01.oss.sonatype.org/content/repositories/snapshots/io/vertx/

On Mon, Apr 26, 2021 at 2:52 PM amb1ent ***@***.***> wrote:

[2021-04-26 13:45] amb1ent commented on #908
I got a failure using this with unmodified code on my side and the 4.1.0-SNAPSHOT via s01 repo:

[code]

calling code looks like:

[code]

[code]

[2021-04-26 13:55] amb1ent commented on #908
If you implemented DISCARD ALL then I will need something different just pg_advisory_unlock_all() as I want to keep the cached prepared statements, for part of my s/w the SQL is quite long and a lot of work for the query planner.  Hopefully this is something the developer can choose at pool creation?

[2021-04-27 13:59] #569 closed

[2021-04-27 14:44] BillyYccc commented on #870
I have contacted with the author privately some time ago and I can not find any evidence it's a client bug according to the network packet analysis.

[2021-04-30 13:36] fverhoef75 opened #945 "After insert with transaction, this latest insert is not found in a subsequent query"
### Version
Vertx / vertx-pg-client / vertx-sql-client 3.9.5
Quarkus 1.12.2

### Context

I'm using a rest interface to create new versions of some Template.
An INSERT statement followed by a SELECT statement of this new Template  are executed within a transaction.
I wait for the result and return this new template object to the rest client.

This is all going well.

Now I'm trying to fetch throug

[2021-05-03 08:47] tsegismont opened #947 "MS SQL uri parser does not parse JDBC urls"
With the Postgres and MySQL clients, you can take a connection URI that works with JDBC drivers and parse with the Reactive client parser.

I haven't checked for DB2 but this does not work with `MSSQLConnectOptions.fromUri`.

See https://docs.microsoft.com/en-us/sql/connect/jdbc/building-the-connection-url

[2021-05-03 11:35] ngmip commented on #174
@hfgbarrigas did you try adding the QueueMetrics ?
I'd be interested in such metrics too but it does not seem that much "not complicated to implement" to me :-/

[2021-05-03 12:26] tsegismont opened #948 "MS SQL client fails to execute a query with ORDER BY clause"
Found when trying Hibernate Reactive suite:

[code]

[2021-05-03 12:30] tsegismont opened #949 "MS SQL client fails to decode datetime columns"
We support `datetime2` which is recommended by MSFT but a simple query like `select current_timestamp` returns `datetime` data.

[2021-05-03 14:00] vietj commented on #947
this is expected for the moment we don't parse JDBC urls

[2021-05-03 14:00] vietj commented on #947
if we were to do it, then we would do it globally

[2021-05-03 14:38] tsegismont commented on #947
@vietj indeed we don't commit to being able to parse any JDBC url.

But for Postgres and MySQL, most common urls are the same in JDBC and reactive clients.
For MS SQL, we took the same format as Postgres and MySQL, but Microsoft uses values separated by semi-colons.

[2021-05-04 08:31] #948 closed

[2021-05-04 10:24] vietj commented on #174
currently actually we do support pool metrics

[2021-05-04 10:24] vietj commented on #174
since 4.0

[2021-05-04 10:25] vietj commented on #174
so I think we can close this issue

[2021-05-04 10:25] #174 closed

[2021-05-04 14:34] #949 closed

[2021-05-05 11:14] hitesh-kansal opened #953 "Vertx MySQL 3.9.2 returning empty data intermittently"
We have been facing intermittent issue with Vertx MySQL 3.9.2 version where we are getting empty result set for a normal Select query using prepared statement. Issue is happening intermittently and hard to reproduce. Vertx version is 3.9.2.

MySql is running on Amazon Aurora.

[2021-05-05 13:16] amb1ent commented on #908
This exception has now been resolved with the current snapshot, which appears to work fine with unchanged code on my side now.

[2021-05-05 13:43] BillyYccc commented on #953
It's not clear what mysql client you're using because `io.vertx:vertx-mysql-client` is never released with a `3.5.0` version.

[2021-05-06 12:25] vietj commented on #349
update : the 4.1 pool will try to reuse the event loop from the incoming vertx thread, if that's a non vertx thread then it would be the current event loop associated with this thread (now there is a concept of sticky context).

[2021-05-06 12:26] vietj commented on #349
I think in standalone mode we could indeed do differently and use all event loops, this requires like an event loop selector I think or this kind of trick.

[2021-05-07 07:46] #41 closed

[2021-05-07 08:04] vietj commented on #908
I will resolve this issue then.

[2021-05-07 08:04] #908 closed

[2021-05-07 12:19] hitesh-kansal commented on #953
Below is code snippet from our pom.xml file:
`  <properties>
    <mysql.version>3.5.0</mysql.version>
  </properties>

  <dependencies>
    <dependency>
      <groupId>io.vertx</groupId>
      <artifactId>vertx-mysql-client</artifactId>
    </dependency>
  </dependencies>`

[2021-05-18 17:53] anandramadurg opened #957 "PGClient: backlash at the end of text in textArray causes DataTypeCodec to fail"
### Questions

PGClient while trying to fetch column value containing text array with backslashes at the end of text causes IndexOutOfBound exception

### Version

v4.00

### Context

Encountered when trying to do get of row from DB using PGClient

### Do you have a reproducer?
No

* Link to github project/gist

### Steps to reproduce

1. Create a column of type
 my_status              | text[]

[2021-05-18 17:54] anandramadurg commented on #957
Typo there...
progress_msg | {"text1","text2\"}
should be
my_status | {"text1","text2\"}

[2021-05-19 07:27] vietj commented on #957
I figured out, thanks

[2021-05-19 08:58] vietj opened #958 "Incorrect text array element end detection when the element has a trailing backslash char"
The text array element end detector fails to find the end the second element `{foo,bar\}`, the parsed string by the data type codec is `{foo,"bar\\"}`. When the current detector handles a backslash char, it does not check if it was already escaped and thus the escaped backslash does escapes the ending quotes.

[2021-05-19 09:00] #958 closed

[2021-05-19 09:00] #957 closed

[2021-05-20 07:54] moonaries90 commented on #249
https://github.com/moonaries90/mybatis-r2dbc-starter
I Just route about mybatis autoconfiguration. but i have no mysqlConnection to test, i used dev.miku packages. it is not very good

[2021-05-24 10:32] hitesh-kansal commented on #953
@BillyYccc sorry my bad.. we are using `3.9.2` version.

[2021-05-24 11:00] ashertarno opened #962 "Pg Client: ROLLBACK is not executed on transaction as expected"
### Version

Both 4.1.Beta1 and 4.1.CR1. The same worked fine with 3.9.5

### Context

I'm executing a multiple statements in a transaction on the same connection:

`BEGIN;
QUERY0;
QUERY1;
QUERY2;
COMMIT;`

Expectation: In case  one of the queries fails due to an error, any attempt to continue using the same connection will fail until
the transaction will be rolled back. After the rollback the con

[2021-05-25 06:52] ashertarno commented on #962
i am going to close this one: i made it work with v4 by manually retrieving a connection from the pool. i guess the pool in 3 managed the order of connections differently and that is why the same connection was picked for all queries, which is not a case for v4.

[2021-05-25 06:52] #962 closed

[2021-05-25 07:17] vietj commented on #953
do you have more details ? without them it is pretty hard for us to figure out

[2021-05-25 13:44] gavinking commented on #887
Hi, everyone, we're still being affected by this one, which seems quite serious to me.

[2021-05-25 20:36] vietj commented on #887
@mswatosh could you help us on this case ?

[2021-05-26 07:49] fverhoef75 commented on #945
It seems this issue has fixed itself. All environments where previously I did see this behavior are now working as expected.
Apparently some dependency did get fixed somehow.

As such this issue can be closed.

[2021-05-26 07:49] #945 closed

[2021-05-26 09:50] tsegismont opened #963 "Table created with non-nullable column even without `NOT NULL` in column definition"
When using the MS SQL Client for `CREATE TABLE` statements, the resulting columns are non-`nullable` even when `NOT NULL` is not specified on the column definition.

This does not happen when using the JDBC client on the same database.

[code]

The snippet above works fine but this one fails:

[code]

The error message is:

[code]

As a workaround, the column definition must explicitly allow `NULL

[2021-05-26 15:35] tsegismont opened #965 "Consider minimizing ByteBuf write operations"
we should consider minimizing ByteBuf write operations, each write has a cost with respect to bound checks and also often ByteBuf have nested buffers

_Originally posted by @vietj in https://github.com/eclipse-vertx/vertx-sql-client/pull/964#r639733371_

[2021-05-26 17:11] tsegismont commented on #759
Closing as duplicate of #926

[2021-05-26 17:11] #759 closed

[2021-05-27 07:05] #926 closed

[2021-05-27 12:14] vietj commented on #609
that would be awesome

[2021-05-27 20:44] mswatosh commented on #887
I've got the recreate running in my local environment (thanks for providing it!).

Looks like we're missing support for the Query Blocking Factor CodePoint (0x215F), I've got it added to the codepoints in CodePoint.java and I'm looking into how it will need to be handled in DRDAQueryResponse.

[2021-05-27 21:39] rasmusfaber opened #967 "Cursor cannot be used in a different context."
### Version

3.9.6, 3.9.8-SNAPSHOT ~~and master (and probably others)~~.

### Context

If you try using the RowStream created by PreparedStatement.createStream() in another context than the one it was created in, it fails when it reaches the end.

It was a bit difficult to reproduce it using only vertx, but the problem appears immediately when trying to return data using Reactive Resteasy with Mut

[2021-05-27 21:39] rasmusfaber commented on #967
(Pull-requests incoming)

[2021-05-31 06:54] vietj commented on #887
thanks @mswatosh I'm scheduling this for 4.1 although (released tomorrow) but it will likely be bumped to 4.1.1

[2021-05-31 09:20] vietj commented on #967
out of curiosity how does this happen with resteasy reactive ? is it because of mutiny ?

[2021-05-31 09:20] vietj commented on #967
as far as I can see, the cursor could be used from different HTTP requests that would not have the same context ?

[2021-05-31 09:49] rasmusfaber commented on #967
I believe what happens is this (there are many layers involved here, so it can be hard to track it all):

Mutiny allows you to convert a ReadStream<T> into a Multi<T>. When it does that, it pauses the stream and then calls fetch on it when a subscriber requests data.

RestEasy Reactive allows you to return a Multi<String> from your rest methods. It then has the http-handler subscribe to the output

[2021-05-31 11:51] vietj commented on #967
thanks for hte context, did you check whether it happens with master ?

On Mon, May 31, 2021 at 11:49 AM rasmusfaber ***@***.***>
wrote:

[2021-06-02 07:19] #935 closed

[2021-06-02 07:51] #967 closed

[2021-06-02 21:13] mswatosh commented on #887
I opened PR #971 with a fix.

@vietj Let me know if this is the right branch to merge into (and if this needs to be backported to 3.9 or not).

[2021-06-02 21:31] vietj commented on #887
thanks @mswatosh this is the correct branch to use, you can back-port to branch `3.9` and we will release it in 3.9.8 scheduled soon

[2021-06-03 09:03] vietj commented on #768
@tsegismont can you make sure this works for MSSQL ?
@mswatosh can you have a look at this issue for DB2 ?

[2021-06-03 09:22] vietj commented on #862
@longdt can you cast in the Postgres query the JSON to a String or Buffer and then get the encoded JSON from here ?

[2021-06-03 09:22] #867 closed

[2021-06-03 09:33] vietj commented on #870
closing this one for now as it is not proven it's a client bug.

[2021-06-03 09:33] #870 closed

[2021-06-03 09:40] vietj commented on #899
@mswatosh have you had the chance to investigate this one ?

[2021-06-03 09:41] #905 closed

[2021-06-03 09:41] #907 closed

[2021-06-03 09:46] vietj commented on #915
it is very hard for us consider this as a bug because the connection might be used incorrectly, please reopen when you a reproducer that exhibits a bug and then we can fix it

[2021-06-03 09:46] #915 closed

[2021-06-03 09:56] jponge commented on #919
The `implementation`  and `annotationProcessor` scopes are distinct, so you need to repeat the dependencies that you need for code generation in `annotationProcessor`.

See https://github.com/jponge/vertx-in-action/blob/master/chapter6/build.gradle.kts as an example.

[2021-06-03 09:56] #919 closed

[2021-06-04 11:32] gavinking opened #972 "columns with default values"
MySQL supports the `default` syntax to specify the default value of a column.

Currently, an `insert` into a table with a default column results in an error like:

[code]

I believe this is because the type of `MySQLClient.LAST_INSERTED_ID` is hardcoded to `Long`, and the column default value is interpreted as a generated id of type long.

[2021-06-04 11:34] gavinking commented on #972
Note: to reproduce this problem, all you need to do is `insert` into a table with a `default` column of type `varchar`.

[2021-06-07 16:27] ashertarno opened #974 "PG client: errors are not getting propagated in transactions"
### Version

4.1.0

### Context

A query running without transaction throws a foreign key constraint violation error. While running the same query in a transaction - nothing happens, transaction is successfully  committed.

### Do you have a reproducer?

https://gist.github.com/ashertarno/d4672df84676168b82d8fa2f4abb2c6b

### Steps to reproduce

1. Create a table to work with and fill in a single

[2021-06-08 13:46] vietj commented on #974
can you provide a reproducer with RX JAVA ?

[2021-06-08 13:53] ashertarno commented on #974
@vietj it is with rxjava

[2021-06-09 06:57] vietj commented on #974
I mean without Rx java

[2021-06-09 09:43] ashertarno commented on #974
@vietj gotcha :) i've added two non-rxfied methods to the same gist. please use them in the same manner. the result is the same, noTransactionNoRx() works as expected, withTransactionNoRx() again doesn't work with foreign key constraint violation and works with the duplicate key.
thanks for looking into this!

[2021-06-09 14:02] majsna commented on #264
@batbayar-su can you share what was wrong with your docker configuration? I'm having a similar issue.

[2021-06-09 14:33] #963 closed

[2021-06-09 16:33] DavideD opened #977 "[mssql] Incorrect encoding of datatime2 for LocalDateTime values to the ms"
With MS Sql Server.

Testcase to add to `MSSQLPreparedQueryNotNullableDataTypeTest`
[code]

Result:
[code]

[2021-06-10 01:31] bor-attila opened #978 "[MSSQL] Connection issues with Azure SQL database"
### Version

4.1.1-SNAPSHOT

### Steps to reproduce

1. I simply created a test maven project with start.vertx.io
2. Checked Reactive MSSQL client  as  dependency
3. Used the sample code from the [documentation](https://vertx.io/docs/vertx-mssql-client/java/#_getting_started)
4. Changed credentials (username/pass etc)

Instead of result I got an error message.

**Failure: Fail to read any response

[2021-06-10 07:26] tsegismont commented on #978
Thanks for reporting, we'll investigate asap

Le jeu. 10 juin 2021 à 03:31, Attila Bőr ***@***.***> a
écrit :

[2021-06-10 07:59] tsegismont commented on #977
@DavideD thanks for the report!

[2021-06-10 08:37] tsegismont commented on #978
@bor-attila I suspect this is due to #605

But I won't close as duplicate until we can make sure resolving #605 allows to connect to an Azure SQL db

[2021-06-10 09:42] bor-attila commented on #978
Yes, I think the problem is the TLS, but I have no "proof for that".

I tried to increate timeout settings, but no luck.

A jdbc string for azure sql server looks like this:

**jdbc:sqlserver://{host}:1433;database={database};user={user};password={your_password_here};encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;**

There are some encryption

[2021-06-10 16:57] DavideD opened #979 "[mssql] Issue with Temporary tables"
The creation of a temporary table doesn't throw any exception but when we try to do something else with the table we have the error `Invalid object name...`.

I've tried this testacase (for `MSSQLQueriesTest`):
[code]

Output:
[code]

[2021-06-11 06:13] zipakgow opened #981 "postgres pgpool holds on to the previously active primary server connection"
### Questions
we have F5 VIP  gtm_monitor set for our postgres db, which in realtime points to either the primary or secondary or DR server based on whichever is active.
using the PgPool seems to hold on to the connections to the previously active server and does not discard it.
postgres seems to be specifically returning an error code: 25006
exception message returned to app server (when connecti

[2021-06-11 07:06] vietj commented on #981
can you determine why Postgres returns 25006 ?

[2021-06-11 07:08] #887 closed

[2021-06-11 07:36] #977 closed

[2021-06-11 07:38] tsegismont opened #983 "DB2SecureTest failing consistently"
`DB2SecureTest` is failing consistently and prevents the CI to deploy snapshots for other modules.

Before its is fixed, it will be disabled.

[2021-06-11 08:54] tsegismont commented on #979
@DavideD actually this is not a bug. When you create the temporary table, you must use execute a query, not a prepared query:

[code]

Otherwise, the temporary table is dropped at the end of the prepared statement scope.
You will get similar behavior with JDBC if you create the temp table with a `PreparedStatement` instead of a simple `Statement`.

[2021-06-11 08:54] #979 closed

[2021-06-11 12:16] DavideD commented on #979
THanks! I will have another look

[2021-06-11 18:29] akleiman opened #984 "Idletimeout kills active statements and doesn't do cleanup, leading to leaks"
### Version

4.1.0 vertx-pg-client

### Context

When executing a long-running statement their connections will be evicted from the pool if their execution time exceeds the idletimeout set on the client. On top of that, when evicting a connection it doesn't seem like proper cleanup is being done, which leads to leaked connections. I observed this watching pg_stat_activity as my application was run

[2021-06-11 21:39] vietj commented on #981
I'm assuming that creating a new socket connection to the same socket address will resolve to the new server ?

[2021-06-11 22:01] zipakgow commented on #981
yep, thats right.

[2021-06-12 06:38] vietj commented on #981
do you know if there is way to reproduce it with test container ?

[2021-06-12 06:39] vietj commented on #981
do you also know if other traditional solutions (ie jdbc + pool) do something specific for this ?

[2021-06-12 06:40] vietj commented on #981
do you also know if in such case when a database become a primary then Postgres will emit a notification that could be used by the client to evict the connection from the pool before failing ?

[2021-06-14 14:06] #607 closed

[2021-06-15 16:35] zipakgow commented on #981
we can, but it would need a VIP (F5- it has option to monitor for active server) to be setup

we are very new to this setup, so i posted the question on postgres slack channel, with limited help.

per the EDM EFM switchover documentation, the primary server does restart during this switchover,. but no other notification is sent when it happens.

[2021-06-16 08:27] vietj commented on #981
do you know whether we could fake this somehow ? e.g pass the database in read only mode with a specific command, etc...

[2021-06-16 08:50] vietj commented on #981
it seems possible (https://dba.stackexchange.com/questions/271685/postgresql-9-3-set-database-or-all-to-read-only-mode), I'm thinking we could use this to check we get an error and then that the connection is removed from the pool.

[2021-06-16 17:24] zipakgow commented on #981
sure, as a workaround for now, we are trying to purge the pool and re-initialize it.

[2021-06-17 14:55] lordvlad commented on #257
is this still open? @nikarh have you found the time to fix it?

[2021-06-17 15:06] nikarh commented on #257
Unfortunately I have switched to a (synchronous) JDBC Postgres client.
Considering that Postgres itself uses a process per connection model, a number of connections you usually open to a single Postgres database is limited. In the projects with asynchronous models I simply create a threadpool with maximum size equal to maximum connection size dedicated to running database queries.
In my experience

[2021-06-17 15:38] vietj commented on #257
async postgres can do pipelining which provides a considerable performance
improvement under some conditions

On Thu, Jun 17, 2021 at 5:06 PM Nikolay Arhipov ***@***.***>
wrote:

[2021-06-17 15:43] ashertarno commented on #974
@vietj just checking if you could reproduce the issue using the gist.

[2021-06-17 15:57] lordvlad commented on #257
Is there any way I can monkey-patch this behaviour without much processions, we need it kinda urgently :/

[2021-06-17 22:27] vietj commented on #974
no time yet to look at it

[2021-06-21 12:20] vietj commented on #257
I'm having a quick look, what seems missing for now is the wire format of encoded INET values in PG

[2021-06-21 15:38] vietj opened #992 "Inet PostgreSQL data type support"

[2021-06-21 15:40] vietj commented on #257
@lordvlad have a look at https://github.com/eclipse-vertx/vertx-sql-client/pull/993

[2021-06-21 16:37] #992 closed

[2021-06-21 16:37] #257 closed

[2021-06-22 09:14] vietj commented on #787
The main issue is that having a `Supplier<SqlConnectOptions>` is that creating a connection might be expensive due to loading the certificate when SSL is enabled

[2021-06-22 09:58] vietj commented on #787
I think it remains reasonnable if we assume that only some options will change and we can use base same options for networking details, connection properties, etc... Only the server address, username, password and database would vary.

[2021-06-23 07:09] #877 closed

[2021-06-23 13:35] vietj commented on #974
I found the issue @ashertarno a fix will be done soon

[2021-06-23 13:50] ashertarno commented on #974
@vietj thanks, julien, as always - you rock.

[2021-06-23 14:00] vietj opened #996 "Transaction end failures are silently ignored"
The transaction end execution ignores failures, e.g a transaction commit might fail due to a lazy constraint check.

[2021-06-23 14:00] vietj commented on #974
see https://github.com/eclipse-vertx/vertx-sql-client/issues/996

[2021-06-23 14:17] #974 closed

[2021-06-23 14:17] #996 closed

[2021-06-23 14:20] vietj commented on #972
@BillyYccc does it ring a bell ?

[2021-06-25 16:07] DavideD opened #998 "[Db2] Queries with comments don't work in Db2"
I'm trying to run the following query with comments for Db2:
[code]
It causes the following exception:
[code]

It works fine without the comments.

Thanks

[2021-06-28 09:30] #787 closed

[2021-06-29 08:09] vietj commented on #998
@mswatosh can you have a look at this issue ?

[2021-06-29 10:06] robotmrv commented on #787
@vietj are there any plans on release date for this feature

[2021-06-29 14:35] vietj commented on #787
you can expect this in 4.1.1 by end of next week

On Tue, Jun 29, 2021 at 12:06 PM robotmrv ***@***.***> wrote:

[2021-06-29 22:07] mswatosh commented on #998
I was able to recreate this locally (though with different SQLCODE and SQLSTATE). I'll keep looking at it tomorrow.

[2021-06-30 07:59] vietj commented on #998
thanks a lot, it could be released in 4.1.1 maybe

On Wed, Jun 30, 2021 at 12:07 AM Mark Swatosh ***@***.***> wrote:

[2021-06-30 11:57] vietj commented on #972
@BillyYccc ping

[2021-06-30 15:50] #758 closed

[2021-07-01 07:02] #98 closed

[2021-07-01 11:18] #144 closed

[2021-07-01 16:16] mswatosh commented on #998
Ok, I think I've identified the issue. We're using `startsWith` to determine if this is a query (starts with SELECT, WITH, or VALUES). Since this starts with a comment, we don't notice that it's a query. So I'll need to modify `isQuery` to ignore a block comment at the beginning.

As a workaround, comments that aren't at the beginning still work. So a block comment or `--` comment after the initia

[2021-07-02 11:41] tsegismont opened #1000 "MSSQL failure when executing a prepared query that leads to an error"
This is a probably a regression introduced in https://github.com/eclipse-vertx/vertx-sql-client/pull/994/commits/14796611ddc07667c32fd377053be86b8fb2bcad

For example, if you execute the prepared query `delete from Basic` and the table does not exist, the client fails with:

[code]

[2021-07-02 22:07] robotmrv opened #1002 "Transaction that exceeds idle_in_transaction_session_timeout produces NullPointerException"
### Version
vertx-pg-client: 4.1.1, 3.9.6
### Context
Transaction that exceeds idle_in_transaction_session_timeout produces NullPointerException
[code]

### Do you have a reproducer?

[code]

### Steps to reproduce

1. call longTx()
2. check logs for NullPointerException

[2021-07-05 08:33] robotmrv commented on #664
faced similar problem while setting `idle_in_transaction_session_timeout` and `statement_timeout` by url parameters.
Looking at PG docs https://www.postgresql.org/docs/11/runtime-config-client.html  it seems there are a lot of useful parameters could be set using url, but not much are supported at the moment by `pg-client`.
as a work around I've set `idle_in_transaction_session_timeout` manually t

[2021-07-05 09:49] vietj commented on #998
thanks

On Thu, Jul 1, 2021 at 6:16 PM Mark Swatosh ***@***.***>
wrote:

[2021-07-05 10:01] vietj commented on #664
I think that most properties should be generically supported and not related to the TCP options at all.

currently the code do:

[code]

instead it should simply

[code]

and that's it

[2021-07-05 13:07] vietj commented on #1002
thanks for the reproducer

[2021-07-06 08:35] DavideD commented on #1000
Is there an estimate date for this? We basically cannot use the Hibernate Reactive with MSSQL because of this

[2021-07-06 08:56] vietj commented on #1000
have you tried the PR that Thomas provided to confirm it works ?

we can plan a 4.1.2 release with this fix back-ported

[2021-07-06 09:03] DavideD commented on #1000
I think @tsegismont tested it but I will double check

[2021-07-06 09:24] vietj commented on #1000
thanks @DavideD

[2021-07-07 07:31] DavideD commented on #1000
I can confirm that the PR works and fixes the issue with Hibernate Reactive

[2021-07-07 07:38] DavideD commented on #1000
By the way, if you release a snapshot (4.1.2-SNAPSHOT) with this patch our CI will confirm it as well

[2021-07-07 08:09] vietj commented on #1000
I will merge this asap and we will discuss a 4.1.2 release

[2021-07-07 08:10] #1000 closed

[2021-07-07 08:13] vietj commented on #1000
here is the backport to 4.1 branch https://github.com/eclipse-vertx/vertx-sql-client/pull/1003

[2021-07-07 14:27] DavideD commented on #1000
Awesome! Thanks a lot

[2021-07-12 05:18] re-thc commented on #799
Is there an example? It's not mentioned in the documentation? Thanks.

[2021-07-12 06:56] vietj commented on #799
in this case there should be:

[code]

[2021-07-13 09:51] vietj opened #1005 "Handle unsolicited 25P03 error from PostgreSQL"
When a transaction times out, PostgreSQL will send an unsolicited 25P03 error and then close the connection. The decoder should handle specifically this error not related to a command and handle it gracefully. This is much similar to https://github.com/eclipse-vertx/vertx-sql-client/issues/731

[2021-07-13 12:17] #1002 closed

[2021-07-13 12:17] #1005 closed

[2021-07-14 23:29] rac021 commented on #121
I have the same issue, . The while ( cursor.hasMore() ) loop runs once. I began a transaction before getting the cursor but this doesn't work ! Any idea ?

Thanks

[2021-07-15 06:50] vietj commented on #121
can you provide a reproducer @rac021 ?

[2021-07-15 15:14] rac021 commented on #121
@vietj , you can find my reproducer here : https://gist.github.com/rac021/3b0d3a54537bf5174ff7e8bdfd5ef1d6

You have just to set the **sqlQuery** and **PgConnectOptions** in the main

Thanks

[2021-07-15 19:47] vietj commented on #121
can you open a new issue for this pls with this reproducer ?

[2021-07-16 00:18] rac021 opened #1012 "Cursor Issue"
### Which version(s) did you encounter this bug ?

4.1.1

### Context

I encountered an exception which looks suspicious :

 With Corsor, the **while ( cursor.hasMore() )** loop runs once where it should run multiple times.

### Do you have a reproducer?

https://gist.github.com/rac021/3b0d3a54537bf5174ff7e8bdfd5ef1d6

### Steps to reproduce

1. Have just to set the **sqlQuery** and **PgConnectOpt

[2021-07-16 00:19] rac021 commented on #121
@vietj Done !

[2021-07-16 06:12] vietj commented on #121
thanks a lot

On Fri, Jul 16, 2021 at 2:19 AM Yahiaoui Rachid
***@***.***> wrote:

[2021-07-23 11:33] zero88 opened #1013 "Introduce SPI Row/Tuple converter"
#### Describe the feature

Add new convention method for `Row` to accept `converter`.
Introduce 2 converter interfaces, it should be 2-way converter: `JDBC`/`Reactive SQL` <=> User data type.
- `DataTypeConverter` for converting by data type
- `ColumnConverter` for converting by data type and column name

Something like that
[code]

Then extract every `get<Type>` to `Converter`, then add them to `

[2021-07-26 07:08] vietj commented on #1013
why does this need to be on the Row interface instead of being a static method in any codebase ?

[2021-07-26 08:10] zero88 commented on #1013
For auto mapping data type, might be conjunction with `sql-client-template` (not yet checked details).

Actually, this mapper could be in between `Database` and `Vertx` converter rather than in `Row` that is a storage between `Vertx` and `developer`.
in `Row`, you have: `<T> T get(Class<T> type, String column)`, it is explicit cast data type. Then I introduce a lenient way like convert this data t

[2021-07-26 11:15] vietj commented on #1013
can you show some practical use case with code so we understand better ?

On Mon, Jul 26, 2021 at 10:10 AM zero88 ***@***.***> wrote:

[2021-07-26 12:09] zero88 commented on #1013
sure, I will keep an update in this week.

[2021-07-28 16:46] tsegismont opened #1014 "MSSSQL testEncodeOffsetDateTime fails with JDK11"
Test failure report:

[code]

The same test never fails with JDK8

[2021-07-29 14:21] DavideD opened #1016 "[MySQL] Time type not stored correctly when using ProxySQL"
The original issue was open on Hibernate Reactive: https://github.com/hibernate/hibernate-reactive/issues/881

When using the Vert.x MySQL Client driver with ProxySQL, the time type is not stored correctly.

Here's the descritption of the issue:

we are going to insert time 00:00 to database, but sometimes the data is incorrect after inserted to database.

we have LocalTime in the entity
[code]

t

[2021-07-29 15:48] vietj commented on #1016
thanks we will investigate asap

[2021-08-02 04:51] dc-dream11 opened #1018 "Allow a way to set the transaction isolation level."
Right now I am achieving it by passing `sessionVariables=tx_isolation='READ-COMMITTED'` in connection string. It would be great if lib provides a way

[2021-08-02 07:51] vietj commented on #1018
@dc-dream11 which database are you talking about ?

[2021-08-02 08:10] #1014 closed

[2021-08-02 09:30] gavinking commented on #1018
Isn't this issue a dupe? I think we already have an issue requesting this feature (it's one we want too).

[2021-08-02 09:45] gavinking commented on #1018
It's #432 I guess.

[2021-08-02 10:29] dc-dream11 commented on #1018
Thanks for the quick reply, Is there a tentative date by which this feature will be released? Also, is there any way currently by which we can set the isolation level?

[2021-08-02 10:31] dc-dream11 commented on #1018
@vietj I am talking about MySQL database

[2021-08-02 13:42] vietj commented on #1018
is setting isolation level something that is specific to each database or is there a common way of changing it ?

[2021-08-02 13:56] dc-dream11 commented on #1018
I am not really sure about this.

[2021-08-02 14:03] gavinking commented on #1018
@vietj see https://github.com/eclipse-vertx/vertx-sql-client/issues/432#issuecomment-628667597

[2021-08-02 14:04] gavinking commented on #1018
For reference, this is the corresponding issue on HR: https://github.com/hibernate/hibernate-reactive/issues/875

[2021-08-04 04:17] zero88 commented on #1013
@vietj it is similar that I did in JDBC client.
https://github.com/vert-x3/vertx-jdbc-client/pull/235#issuecomment-886412088

I hope Vertx can provide SPI entrypoint then developer can provide a hook to **convert data directly from SQL** before it will be stored in `Row`, and in reverse direction also.
Some use cases (with PostgreSQL context):
- Database use `INTERVAL` data type, Vertx convert to

[2021-08-05 07:12] vietj commented on #1013
how about doing that directly on the Query with the map method ? you would provide a Function<Row, Row> that performs the desired mapping instead

[2021-08-05 07:13] vietj commented on #1013
as for `Interval` we should I think add a method to convert to `Duration`

[2021-08-05 08:54] zero88 commented on #1013
Ya, I think it can be good to add it as ad-hoc query. However, `Row` is "lenient immutable" that unable to `set value at index` in public API, and no public constructor (I think should not coz duplicate memory when copy).

`Interval` is one of example. I have more consider about `UDT`, something like I have `Address UDT` in database, then I want to map it as Pojo class directly to `Address.java`

[2021-08-05 10:02] gavinking opened #1020 "expose ColumnDescriptor.getTypeName()"
See discussion here: https://github.com/hibernate/hibernate-reactive/pull/903#discussion_r683126158

[2021-08-10 08:51] Hudiebbk opened #1021 "link sql server Query more than 20 data exceptions"
1. version 4.1.2
2.
![image](https://user-images.githubusercontent.com/30064286/128837517-21721fc1-0980-4cd4-9460-5ad097f6209d.png)

3. jvm 11
4.
![image](https://user-images.githubusercontent.com/30064286/128837591-326db08e-6da1-490b-a82b-16c43b649f40.png)
If there are more than 20 queries, there will be an error.

[2021-08-11 12:53] tsegismont commented on #978
@bor-attila with #1017 we will get encryption support for the MS SQL Client.

I did some testing with Azure SQL Server. The client is able to connect from the outside (proxy mode) but node from the inside (redirect mode). I did some debugging and I believe we need to support the TDS `ROUTING` token (which allows a server to redirect a client to another server).

See https://github.com/eclipse-vert

[2021-08-11 14:14] tsegismont commented on #1021
Thanks for reporting @Hudiebbk

Can you please paste in a comment:

- the `CREATE TABLE` command corresponding to `t_order`
- some sample data
- the query

This is to help reproducing. Thank you

[2021-08-14 20:17] kdubb commented on #343
@vietj https://github.com/impossibl/pgjdbc-ng is a JDBC 4.2 compliant driver built on an asynchronous Netty core; I am the author.

One of the central tenants of the driver is to use a pluggable codecs in the client that match the inverse of those in the server (see https://github.com/impossibl/pgjdbc-ng/tree/develop/driver/src/main/java/com/impossibl/postgres/system/procs). I'm wondering if/how w

[2021-08-14 20:18] kdubb commented on #343
FYI, the reason I bring this to your attention is that you specifically talked about mapping OIDs to codecs and that's what pgjbdc-ng does.

[2021-08-16 10:13] tsegismont commented on #1021
Actually, a complete reproducer (simple code and Maven POM or Gradle build file) would be better.

I read the exception more carefully and it seems the `TdsPacketDecoder` tries to get the content of a 4096 bytes-length packet (4088 + 8 bytes of headers), while available data is much less (895).
This shouldn't happen because the decoder extends Netty's `LengthFieldBasedFrameDecoder` which makes a [

[2021-08-17 14:46] tsegismont commented on #242
Closed in #986

[2021-08-17 14:46] #242 closed

[2021-08-17 16:56] tsegismont commented on #1020
@gavinking this would be fixed in Vert.x 4.2. If it's a blocker, we could consider backporting #1024 to the `4.1` branch.

[2021-08-17 16:58] tsegismont commented on #972
I'll look into it

[2021-08-17 16:59] tsegismont commented on #953
Closing as we need more info to look into this. Please reopen if you can provide some details.

[2021-08-17 16:59] #953 closed

[2021-08-17 20:17] gavinking commented on #1020
I don't believe it's a blocker, more like a convenience. Right, @gbadner

[2021-08-17 20:43] #1020 closed

[2021-08-17 22:24] vietj commented on #343
@kdubb that sound interesting, can you elaborate how the mapping works ?

[2021-08-18 10:01] tsegismont commented on #972
@gavinking I couldn't reproduce.

I created this table:

[code]

And wrote this test:

[code]

Output is:

[code]

[2021-08-18 23:13] gbadner commented on #1020
@gavinking, yes that is correct.

[2021-08-21 16:22] aleksandar78 commented on #374
Hi,

I know that for creation of PgPool vertx instance is required. This is the main problem with sharing.
If each verticle creates its own PgPool the problem with a number of connections comes into play.

From a connections control point of view, I think that the only way of dealing with the DB repository is to create a separate verticle, which is not always the prefered solution but it works.

@

[2021-08-21 16:33] ashertarno commented on #374
@aleksandar78 you can inject the same pgpool instance to the different verticles using dependency injection for example

[2021-08-21 16:52] aleksandar78 commented on #374
@ashertarno using DI or passing it by constructor manually (preferred in my case) is the same thing.

Time ago it was considered bad practice to pass instances into verticle that was initialized by other verticles.
Ex: main verticle pass vertx instance to the PgPool create a method that will be passed as constructor argument into some verticle before the last one is deployed.

When I did my first

[2021-08-22 04:44] willisjtc opened #1026 "Support Returning Row Data on Delete Query"
#### Describe the feature

Postgres supports returning row data that is deleted. The vertx postgres client currently does not support this capability of postgres, though, column names/descriptors are being returned.

#### Use cases

Any tables that are related but not enforced by a foreign key constraint can better be deleted by this feature. For example, if there are tables for a school, class, a

[2021-08-22 04:48] willisjtc commented on #1026
Looks like this issue also exists for Update queries, as well

[2021-08-23 08:48] vietj commented on #1026
does it require to use specific SQL ?

which issue are you referring to ?

[2021-08-23 11:45] #918 closed

[2021-08-24 14:46] tsegismont commented on #374
@aleksandar78 this is still a good general advice for Vert.x application deployment.

But in some cases it is possible to share objects.
There are a few questions to consider regarding a shared object:

- is it thread safe?
- does it have a blocking API?
- if the API has asynchronous methods, will the callbacks be invoked on the context of the verticle?

In Vert.x 3, PgPool was not thread safe. It

[2021-08-24 15:51] jkuhn1 opened #1028 "Enhance SQL Client SPI"
Enhance SQL Client Driver SPI

Hi,

I think the current way SQL Client Drivers are exposed through Service Provider Interfaces presents some problems and should be improved.

I see actually several issues with current Driver interface which prevents the SPI to fullfil its purpose:

1. There is no way to set product specific connection options since these must be set on a `SqlConnectOptions` implem

[2021-08-24 17:30] willisjtc commented on #1026
Here are some of the example queries:

[code]

[2021-08-24 18:27] rac021 commented on #1012
Hi,

@vietj , will this bug be fixed in the 4.2.0 release ?

Thanks

[2021-08-25 12:26] vietj commented on #1026
it is already supported, here is a test case I wrote:

[code]

[2021-08-25 12:27] #1026 closed

[2021-08-29 03:37] mswatosh commented on #899
It looks like the issue here is sometimes we haven't received the full response over the network, so this method (ensureALayerDataInBuffer) needs to be updated to 'wait' for enough of the response to continue, but without blocking the thread.

[2021-08-30 09:50] #998 closed

[2021-08-30 10:25] vietj commented on #998
thanks for the fix @mswatosh !

[2021-09-01 04:22] gbadner opened #1032 "MSSQL query throws io.netty.handler.codec.DecoderException caused by IndexOutOfBoundsException"
### Version

4.1.3

### Context

Using MSSQL, the following query:
[code]
 throws:
[code]

Full stacktrace is below.

The following query fails intermittently with the same exception:
[code]

The following query succeeds:
[code]

### Do you have a reproducer?

Yes, but it is fairly complicated involving Hibernate ORM and Reactive PRs:
ORM: https://github.com/hibernate/hibernate-orm/pull/4177
React

[2021-09-01 18:14] gbadner commented on #1032
There's a different stacktrace leading to `java.lang.IndexOutOfBoundsException` resulting from executing the following query on DB2:
[code]

[code]
@vietj, should I create a separate issue for DB2?

[2021-09-01 19:40] tsegismont commented on #1032
@gbadner thanks for creating a separate issue. I will look into the MS SQL one as soon as possible.

[2021-09-01 20:44] gbadner opened #1033 "DB2 query throws IndexOutOfBoundsException"
### Version

4.1.3

### Context

Using DB2, the following query:
[code]
throws:
[code]
See below for full stacktrace.

### Do you have a reproducer?

No, but it should be easy to reproduce by adding the query to an existing test, since it only relies on `sysibm.columns` (DB2's version of information_schema).

We can provide a reproducer using Hibernate ORM and Reactive PRs. Please let me know if y

[2021-09-01 20:47] gbadner commented on #1032
@tsegismont, thanks for looking!

I've created https://github.com/eclipse-vertx/vertx-sql-client/issues/1033 for DB2.

[2021-09-01 22:33] indiketa opened #1034 "JSONB Serialization"
Involves `vertx-pg-client` and `vertx-sql-client-templates`
Version 4.1.3

Consider having this table:
`create table test (a integer, b jsonb);`

And this pojo:
[code]

We are trying to use SQLTemplate to update a row:
[code]
Executes successfully but the field is stored as TEXT (not json, string is a valid json itself).

No way... we tried:
[code]
Same result, but executing with: `#{b_json}::text

[2021-09-01 22:41] indiketa commented on #1034
Tried with JsonObject produces another error:

[code]

`Parameter at position[0] with class = [java.util.LinkedHashMap] and value = [{f1=null f2=null}] can not be coerced to the expected class = [java.lang.Object] for encoding.`

[2021-09-02 11:39] indiketa opened #1035 "Make possible combine mapTo and collecting"
Executing a SqlTemplate only is possible to use `mapTo`  and `collecting` exclusively.
No way to obtain a `List<CustomObject>`directly.

[2021-09-02 12:49] markusdlugi commented on #423
This issue is rather old, I guess there aren't any plans on picking this up again, right? @vietj

Just wanted to point out that this is also very relevant for PostgreSQL where a similar property exists in the JDBC driver, see for example this guide: https://vladmihalcea.com/postgresql-multi-row-insert-rewritebatchedinserts-property/

And the performance of regular batching is not great in comparis

[2021-09-02 13:15] markusdlugi commented on #423
I think this is the relevant method doing the rewrite in the PostgreSQL JDBC Driver:

https://github.com/pgjdbc/pgjdbc/blob/f61fbfe7b72ccf2ca0ac2e2c366230fdb93260e5/pgjdbc/src/main/java/org/postgresql/core/v3/BatchedQuery.java#L89

Called by this method:

https://github.com/pgjdbc/pgjdbc/blob/f61fbfe7b72ccf2ca0ac2e2c366230fdb93260e5/pgjdbc/src/main/java/org/postgresql/core/v3/QueryExecutorImpl.jav

[2021-09-02 13:33] vietj commented on #423
sure it looks great, I'm wondering why batch inserts are not as efficient

[2021-09-02 13:38] vietj commented on #423
I will try to find a supportable solution to this

[2021-09-02 13:53] vietj commented on #423
I think we could provide something like:

[code]

that would be used this way

[code]

The first collector would assemble the query and the second collector would assemble the tuple.

[2021-09-02 22:31] vietj commented on #423
that would be a new API. Supporting something automatic is not something the project wants to do unless there is a reliable and supportable way to parse SQL.

Hibernate Reactive could be modified to use this API, i.e it would generate the collectors instead of generating the SQL. Note that hibernate reactive could also work currently with the existing API and generate the same SQL that you propose

[2021-09-02 22:32] vietj commented on #1035
can you show some example ?

[2021-09-03 04:47] markusdlugi commented on #423
Okay I see, thanks for your help @vietj

@Sanne @gavinking What do you guys think? Is this something Hibernate Reactive could support?

[2021-09-03 06:52] Sanne commented on #423
yes sure Hibernate could support this theoretically, but rather than aggregation of individually generated SQL statements I would prefer to generate the optimal SQL right away.

Which implies it would be best to wait for Hibernate 6, if that's possible?

[2021-09-03 07:59] tsegismont commented on #1032
@gbadner I was able to reproduce:

[code]

Thanks again for the report

[2021-09-03 10:05] vietj commented on #423
thanks @Sanne , my opinion is that a client should in practice remains
agnostic of SQL that is tied to the application

On Fri, Sep 3, 2021 at 8:52 AM Sanne Grinovero ***@***.***>
wrote:

[2021-09-03 10:09] vietj commented on #423
another way to do it, would be to have somebody write a wrapper of the Vert.x SQL Client API that would perform such query optimization

[2021-09-03 10:13] Sanne commented on #423
+1

The posgresql (JDBC) driver also does parse the SQL in some situations, and while it works fairly well it's sometimes problematic - especially if one aims at writing efficient and lean code.

[2021-09-03 10:19] markusdlugi commented on #423
I agree, it would be ideal if Hibernate generated the optimal SQL right away. I'm not familiar with your roadmap, when do you plan to release Hibernate 6 or rather switch to that in HR? If it's not too far out, we might also wait for that. Although I guess we would still have to change something in Hibernate to allow generation of multi-value inserts, or is that actually a feature of Hibernate 6?

[2021-09-03 11:19] Sanne commented on #423
Right.

However to be clear @markusdlugi : waiting for Hibernate Reactive to upgrade to Hibernate ORM core 6 and have this efficiencly implemented in 6 will take quite some more time - so if you have a real and urgent need for this, while I can't justify spending my own time on it I'd be totally fine to merge a band-aid solution protected by an experimental feature flag if you want to contribute t

[2021-09-03 12:28] vietj commented on #423
I think for instance a smart proxy like SqlProxy could do such thing.

On Fri, Sep 3, 2021 at 12:19 PM Markus Dlugi ***@***.***>
wrote:

[2021-09-03 13:17] tsegismont commented on #1021
Closed in e4a543e2

[2021-09-03 13:17] #1021 closed

[2021-09-03 13:17] tsegismont commented on #1032
Closed in e4a543e

[2021-09-03 13:17] #1032 closed

[2021-09-06 12:12] vietj commented on #1032
@gbadner yes you can open such issue for DB2, thanks

[2021-09-06 12:51] gavinking opened #1037 "format of error messages on Postgres"
The Postgres client produces error messages that look like

    io.vertx.pgclient.PgException: { "message": "syntax error at or near \"foo\"", "severity": "ERROR", "code": "42601", "position": "1", "file": "scan.l", "line": "1180", "routine": "scanner_yyerror" }

I doubt that anything other than the message is actually meaningful, so I think the other gunk should be cleaned out.

[2021-09-06 14:42] vietj commented on #1037
you mean that the `PgException` `getMessage()` impl should return the error message and not such detailed message

[2021-09-06 14:59] gavinking commented on #1037
I guess.

[2021-09-06 19:12] vietj commented on #1037
yes that a bit too verbose for nothing and decrease usability

[2021-09-07 07:39] DavideD commented on #1037
I guess the `code` could also be handy. It makes it easier to look for the issue

[2021-09-07 07:40] DavideD commented on #1037
If it's a code identifying the error (I don't know)

[2021-09-07 07:54] vietj commented on #1037
like `actual message + "(" + code + ")"` ?

[2021-09-07 08:17] gavinking commented on #1037
Ah yes, right, I missed that because of all the extra irrelevant stuff. Yeah, if that's a Postgres error code, it's nice to have it.

[2021-09-09 16:36] tsegismont commented on #972
@gavinking can you please confirm this is actually a bug?

[2021-09-09 16:40] gavinking commented on #972
Well, it's a bug in the design, yes. The type of `MySQLClient.LAST_INSERTED_ID` shouldn't be hardcoded to `Long`.

In your test you're using a separate `select` statement to retrieve the generated value, but that's less efficient than using `MySQLClient.LAST_INSERTED_ID` to get it.

[2021-09-09 16:55] gavinking commented on #972
Well, wait, perhaps I've misunderstood this.

[2021-09-09 17:04] gavinking commented on #972
OK, sorry my bad, I apologize.

The problem isn't with default columns and `LAST_INSERTED_ID`, it's with a column declared as:

    fullName varchar(600) GENERATED ALWAYS AS (firstname || ' ' || lastname) STORED

and a subsequent `select` query, like what you did above.

[2021-09-09 17:13] gavinking commented on #972
create table GeneratedRegularSingleTable (id bigint not null, firstname varchar(255), fullName varchar(600) GENERATED ALWAYS AS (firstname || ' ' || lastname) STORED, lastname varchar(255), primary key (id))
    insert into GeneratedRegularSingleTable (firstname, lastname, id) values (?, ?, ?)
    select generatedp0_.id as id1_0_, generatedp0_.firstname as firstnam2_0_, generatedp0_.fullName as fu

[2021-09-10 13:38] tsegismont commented on #972
@gavinking with this table:

[code]

This test passes in `master` branch:

[code]

[code]

I looked again at the error message and it indicates a `VARCHAR` value was used to compare with a `DOUBLE` value. Perhaps you can point me to reproducer because I'm not sure what else I can do.

[2021-09-10 14:11] gavinking commented on #972
You can run `GeneratedPropertyMySQLTest` on this branch: https://github.com/gavinking/hibernate-reactive/tree/generated-mysql

See commit https://github.com/gavinking/hibernate-reactive/commit/87981e36aa7dfbbcad9910161fd09b1c54cf7446

[2021-09-13 15:16] rasmushaglund opened #1040 "java.lang.UnsupportedOperationException: Unable to decode metadata for DATETIMN"
Hello, I'm trying out the MSSQL client but encountered an error while trying to decode a nullable datetime field for MSSQL 2017 CU21.

https://github.com/eclipse-vertx/vertx-sql-client/blob/560041bb849dd6f80de9e50dfef8704e6b20c87b/vertx-mssql-client/src/main/java/io/vertx/mssqlclient/impl/codec/DataType.java#L395

I debugged the code and saw that there's no metadata handler for the type. I don't f

[2021-09-13 20:27] vietj commented on #1040
@tsegismont

[2021-09-14 07:56] tsegismont commented on #1040
Hi @rasmushaglund , thanks for offering your help.

You can start by implementing the methods in the `DataType` class. Then you need to update the [data types test cases](https://github.com/eclipse-vertx/vertx-sql-client/tree/master/vertx-mssql-client/src/test/java/io/vertx/mssqlclient/data).

If you haven't contributed to Vert.x before, I recommend reading https://github.com/vert-x3/wiki/wiki/Dev

[2021-09-14 08:28] rasmushaglund commented on #1040
Thanks @tsegismont.

I assume this is the type documentation? https://docs.microsoft.com/en-us/sql/t-sql/data-types/datetime-transact-sql?view=sql-server-ver15

[2021-09-14 10:10] tsegismont commented on #1040
Looks like it

[2021-09-14 14:36] tsegismont commented on #972
@gavinking I was able to reproduce.

I did some research and it seems `||` operator is the [logical `OR`](https://dev.mysql.com/doc/refman/8.0/en/logical-operators.html#operator_or) on MySQL.

If you change:

[code]

to

[code]

Then the test passes.

If the MySQL user has enough privileges, you may change the SQL mode (`SET SESSION sql_mode = 'modes';`) to have `PIPES_AS_CONCAT`.

Closing as not

[2021-09-14 14:36] #972 closed

[2021-09-14 14:59] gavinking commented on #972
Hrm, OK, that did not occur to me.

But are you sure this isn't another case like one we had before where the SQL client is set up with strange default settings?

Because when I try from the command line SQL client, the `||` operator works without any special config (and it *is* the ANSI standard).

[2021-09-14 15:10] gavinking commented on #972
Oh wait, no, you're right. I see now.

So the thing is that without that explicit setting `'foo' || 'bar'` is still a perfectly good expression, but evaluates to the int `0`. (Because somehow strings get coerced to zeros or something. 🤐)

So the `create table` and `select` statements run without error, but then there's an error we try to interpret that value as long.

But then in that case the act

[2021-09-14 15:13] gavinking commented on #972
OK, looks like there's isn't, that's the error message from MySQL.

Fine, I feel pretty stupid now, sorry for bothering you with this.

[2021-09-14 15:22] gavinking commented on #972
Sheesh, y'know what's completely garbage about this:

    select firstname || ' ' || lastname from GeneratedRegularSingleTable;

evaluates without error and gives you a value (`0`) that can be easily coerced to `varchar`.

But when you use _the exact same expression_ in a `generated always` clause, you get that error because for some reason it can't cast `firstname` do `double` ... even though it

[2021-09-14 15:45] rasmushaglund commented on #1040
I think I've managed to implemented the type, but I don't know if and how to implement encodeParam. Is there any tests involving encodeParam which I can take a look at? Maybe just try to encode and decode back again and compare the results?

https://github.com/rasmushaglund/vertx-sql-client/commit/31278ffbf3fea1282eb9d2d77615ad0d0b7b2b9a

[2021-09-14 16:01] tsegismont commented on #972
Indeed...

And right, we can't do much about the message: when the statement is prepared MySQL replies without any error (it's valid SQL), but when it is executed, the expression can't be evaluated...

[2021-09-14 16:20] tsegismont commented on #1040
There's the encodeParam implementation for TIMEN that you can inspire from:
https://github.com/eclipse-vertx/vertx-sql-client/blob/5b6c4cd4d627b1fea28340c2aef0046786e53d9e/vertx-mssql-client/src/main/java/io/vertx/mssqlclient/impl/codec/DataType.java#L451-L457

In the test sources, you should update the classes of the
MSSQLNullableDataTypeTestBase and MSSQLNotNullableDataTypeTestBase
hierarchies,

[2021-09-15 10:32] rasmushaglund commented on #1040
I've updated the related tests now, though the problem I have is that the encodeParam function for the data type is not called because the preferred class for LocalDateTime is DATETIME2N:
https://github.com/eclipse-vertx/vertx-sql-client/blob/5b6c4cd4d627b1fea28340c2aef0046786e53d9e/vertx-mssql-client/src/main/java/io/vertx/mssqlclient/impl/codec/DataType.java#L798

Do we even need a encodeParam f

[2021-09-16 08:12] tsegismont commented on #1040
This is fine

[2021-09-16 11:45] vietj opened #1042 "Experimental query grouping client API"
The `SqlClient` query flushes after each query executed. When several queries are uncorrelated, the flush operation can be deferred by the client after the execution of the lates query. The new API will be for now internal and allow to define a scope for sending queries and defer the flush when the scope ends:

[code]

[2021-09-16 12:39] #1042 closed

[2021-09-16 13:18] vietj opened #1045 "PgException message formatting usability improvements"
As reported in #1037, the `PgException` detail message contains too much information formatted in JSON.

Instead we should only keep what is relevant with a human readable format, e.g I propose `"$SEVERITY: $ERROR_MESSAGE ($CODE)"`

[2021-09-16 13:20] #1045 closed

[2021-09-16 13:20] #1037 closed

[2021-09-16 14:53] tsegismont commented on #978
Fixed in #1039

[2021-09-16 14:53] #978 closed

[2021-09-17 12:55] #1040 closed

[2021-09-21 10:12] DavideD commented on #1033
I've created a test for this issue: https://github.com/DavideD/vertx-sql-client/commit/3ae49dfd8bfaacba158826007be63b26b50296b0

[2021-09-21 18:33] boulderwebdev opened #1050 "Support postgres connections with transactions initialized with PgPool.withTransaction"
#### Describe the feature

Currently, the [postgres pool](https://github.com/eclipse-vertx/vertx-sql-client/blob/54b20a176ffe4e6ef7462d4b3b02ee08c68bdb57/vertx-pg-client/src/main/java/io/vertx/pgclient/PgPool.java#L42) relies on the `withTransaction` [method](https://github.com/eclipse-vertx/vertx-sql-client/blob/54b20a176ffe4e6ef7462d4b3b02ee08c68bdb57/vertx-sql-client/src/main/java/io/vertx/sqlc

[2021-09-21 18:55] boulderwebdev commented on #1050
Nevermind, I should have used a preparedQuery...

[2021-09-21 18:55] #1050 closed

[2021-10-07 09:57] markusdlugi opened #1052 "SQL Client can't handle AWS RDS Multi-AZ failover"
### Version

4.1.3

### Context

We are using an AWS Relational Database Service (RDS) PostgreSQL database for our application. AWS has the feature of Multi-AZ deployments, where you have a primary database and a standby database in another availability zone. The standby instance will take over once the primary instance fails, e.g. due to the outage of an AZ. In that case, the DNS entry in the AWS

[2021-10-07 14:17] vietj commented on #1052
from what I can see, if your host is a name (not an IPV4 or IPV6 address), then the created SocketAddress will contain this value.

Resolution happens later by Netty's non blocking resolver when the class `ChannelProvider` connects using the bootstrap:

[code]

Have you tried configuring this resolver in the `AddressResolverOption` to set a small cache TTL ?

[2021-10-07 14:19] vietj commented on #1052
See https://vertx.io/docs/vertx-core/java/#_host_name_resolution

[2021-10-08 07:15] #1052 closed, assigned to nobody

[2021-10-08 23:27] vietj commented on #1052
can you debug this and print the value of the the connection factory server
address to see if it contains an IP address or a to be resolved DNS address
?

On Fri, Oct 8, 2021 at 10:23 AM Markus Dlugi ***@***.***>
wrote:

[2021-10-08 23:28] vietj commented on #1052
we don't run such tests that have a complicated setup

On Sat, Oct 9, 2021 at 1:26 AM Julien Viet ***@***.***> wrote:

[2021-10-09 10:34] spagop commented on #929
@jtama thanks for the prompt answer. to be sure, could you please confirm the guide you link work also with reactive sql clients (mysql)? because in one of your comment you mentioned that these configurations are needed:
%gcp.quarkus.datasource.reactive.url=postgresql://:5432/db-name?host=/cloudsql/project-id:zone:db-name
%gcp.quarkus.vertx.prefer-native-transport=true
and with some netty dependen

[2021-10-12 19:13] larousso opened #1053 "[Oracle] using cursor raise class cast exception"
### Version

Version 4.2.0.Beta1

### Context / Do you have a reproducer?

Just using cursor raise the exception :

[code]

The stacktrace is the following :

[code]

[2021-10-13 12:50] #1053 closed, assigned to vietj

[2021-10-20 07:10] vietj commented on #1012
I can't see a bug but instead a misuse of vertx sql client with blocking code

[2021-10-20 07:14] #1012 closed

[2021-10-20 15:53] tsegismont opened #1056 "`io.vertx.pgclient.PubSubTest` can block the CI build"
See https://github.com/eclipse-vertx/vertx-sql-client/runs/3947356558?check_suite_focus=true
And https://github.com/eclipse-vertx/vertx-sql-client/runs/3922465636?check_suite_focus=true

[2021-10-21 06:22] vietj commented on #1033
can you provide a reproducer for SQL client ?

[2021-10-21 06:23] vietj commented on #1056
can it block locally ?

[2021-10-21 07:26] DavideD commented on #1033
I did:
[code]

You chould be able to cherry-pick this commit: https://github.com/DavideD/vertx-sql-client/commit/d117691d3486f2ef2c4d7ec26670148a57b9c3a3

[2021-10-26 12:17] hantsy opened #1059 "java.lang.NoClassDefFoundError: com/ongres/scram/common/stringprep/StringPreparation"
In Github actions(Ubuntu VM), it throws an exception when running tests,  **but all tests are passed on my local machine(Windows 10)**.

It is a Hibernate Reactive(Reactive pg client+Postgres)/Spring project, https://github.com/hantsy/spring-puzzles/tree/master/hibernate-reactive

[code]

The complete log can be found here, https://github.com/hantsy/spring-puzzles/runs/4005195925?check_suite_focus

[2021-10-26 13:50] #1059 closed, assigned to nobody

[2021-10-30 06:31] hantsy commented on #1059
@vietj  But I have not used it in my sample codes at all. And this issues only occurred on CI environment(Ubuntu/Zulu Java 17), all tests are working well on my local system(Win 10/ Java 17).

[2021-10-30 06:33] hantsy commented on #1059
Updated to Vertx 4.2.0 for all of my vertx-sandbox, the same result.

[2021-11-02 07:17] vietj commented on #1059
ok do you have a reproducer ?

[2021-11-02 07:32] hantsy commented on #1059
There are some vertx sample here, https://github.com/hantsy/vertx-sandbox but I have added this dep into projects and fix the exceptions on Github actions.

This exception only occurred on my Github actions CI building(Ubuntu, Java 17), never happened on my local system(Windows 10, Java 17).

[2021-11-02 12:23] DavideD opened #1061 "Tuple#getBuffer doesn't work if value is a String"
I can send a fix.
Maybe this is not really a bug but a new feature

[2021-11-03 06:53] vietj commented on #1061
that's expected, the client is trying to avoid coercition (unless in some cases for dates), in this case the issue is that there is no specific encoding to use to convert the string to a buffer

[2021-11-03 11:15] DavideD commented on #1061
OK, never mind then.

[2021-11-03 11:15] #1061 closed

[2021-11-08 14:42] vietj commented on #818
@BillyYccc ping :-)

[2021-11-09 10:23] tsegismont opened #1065 "MSSQL doc: wrong name of prepared parameters"
The Reactive MSSQL Client doc indicates a wrong name for prepared parameters:

[code]

It should be:

[code]

[2021-11-09 14:17] tsegismont commented on #1065
Fixed in ad1c606

[2021-11-09 14:17] #1065 closed

[2021-11-12 09:37] tsegismont opened #1066 "Oracle Client: expand test coverage"
Some TCK tests are not yet implemented in the Oracle Client:

- [x] DataTypeTest
- [x] MetricsTestBase
- [x] NullValueEncodeTestBase
- [x] PreparedQueryTestBase
- [x] TracingTestBase
- [x] TransactionTestBase

[2021-11-12 09:38] tsegismont opened #1067 "Implement MetricsTest for MSSQL Client"
The TCK Metrics Test implementation is missing in MSSQL Client

[2021-11-12 11:19] DavideD opened #1068 "SqlResult#columnDescriptor is always empty for Oracle"
I've created a test case here: https://github.com/DavideD/vertx-sql-client/commit/d78484666ded187c7a6996840420127c7c97a357

[2021-11-15 13:52] #1068 closed

[2021-11-17 01:04] tobiasmuehl opened #1070 "Update docs for Postgres client support of INET type"
Since #992 was implemented, we have INET type support, but [readme](https://github.com/eclipse-vertx/vertx-sql-client/blob/master/vertx-pg-client/README.adoc) still needs to be updated.

Edit: Sorry for the label, this is **not a bug**

[2021-11-17 09:22] vietj commented on #1070
can you provide a small PR for this @tobiasmuehl ?

[2021-11-18 20:49] mswatosh commented on #1033
It looks like the issue here is that the response exceeds maximum length for a DSS response, so the driver needs to send a CNTQRY to get more data. Unfortunately, it looks like most of the path for that is not implemented, including having the cursor handle the partial row.

[2021-11-19 14:04] blafond commented on #1066
@tsegismont having an issue in Identity tests in Hibernate Reactive related to a prepared statement that returns the generated Identity value.

Executing the following:`insert into EntityWithIdentity (name, position) values (:2 , :3 ) RETURNING id INTO :1`

but I get `Missing IN or OUT parameter at index:: 3`

I get the same error with `insert into EntityWithIdentity (id, name, position) values (:

[2021-11-19 14:41] blafond opened #1071 "Missing method OracleConnectOptions.fromURI()"
All other `*ConnectionOptions` have this method.

see: [#797](https://github.com/eclipse-vertx/vertx-sql-client/issues/797)
and [PG version]: (https://github.com/eclipse-vertx/vertx-sql-client/blob/master/vertx-pg-client/src/main/java/io/vertx/pgclient/PgConnectOptions.java#L53)

Would it make sense to add a couple methods like this one to an interface?

[2021-11-20 19:41] haakonn commented on #1059
I just encountered this as well, on Ubuntu 20.04 with Java 17 and Vert.x 4.2.1. Interestingly it works when I connect to Postgres 13, but not 14. I'm using TestContainers with the `postgres` image.

The problem is indeed addressed by adding the SCRAM client dependency, but this feels arbitrary and I would prefer to not need to.

[2021-11-21 03:05] hantsy commented on #1059
@haakonn  Thanks for mentioning the versions, maybe it is same here, I always started PostgreSQL server in a docker for months, it is not updated to the newest PostgreSQL.

[2021-11-22 09:07] #1070 closed

[2021-11-22 09:10] tsegismont commented on #1071
Thanks for reporting @blafond

[2021-11-22 09:23] tsegismont commented on #1066
@blafond I believe Oracle doesn't support `RETURNING` a result set. Instead, you should use the `GENERATED_KEYS` property.

There is an example of similar code in the MySQL client code: https://vertx.io/docs/vertx-mysql-client/java/#_mysql_last_insert_id

Can you file an issue so that we update the Reactive Oracle Client doc? Thank you

[2021-11-22 10:11] DavideD opened #1073 "[Oracle] Reduce amount of logs when dropping a table that doesn't exist"
This is an example of the generated log when trying to drop a table that doesn't exist:
[code]

But only this part is useful:
[code]

This would also be consistent with the other clients.

[2021-11-22 11:22] DavideD opened #1074 "[Oracle] Return a generated identity after an insert"
In Oracle, when a column is defined as:
[code]

It's possible to get the value after an insert as:
[code]

I don't think that client support this syntax at the moment.

[2021-11-22 11:23] DavideD commented on #1066
@blafond, @tsegismont: https://github.com/eclipse-vertx/vertx-sql-client/issues/1074

[2021-11-22 12:21] gavinking commented on #1074
I believe that the issue is support for out parameters.

[2021-11-22 12:22] gavinking commented on #1074
(Though, in principle, the client could support it with something special-purpose like what happens with `LAST_INSERT_ID` on MySQL.)

[2021-11-22 14:26] tsegismont commented on #1074
@gavinking right, see https://github.com/eclipse-vertx/vertx-sql-client/issues/1066#issuecomment-975319592

[2021-11-22 15:10] vietj commented on #1033
is that something you can contribute @mswatosh ?

[2021-11-24 16:41] tsegismont opened #1076 "Avoid recompiling pattern in Connection URI parsers"
Applies to DB2, MySQL, PostgreSQL and MSSQL.

The cost of compiling regular expression (in particular complex ones) can be avoided.

[2021-11-24 16:41] tsegismont commented on #1076
Fixed in f614899a

[2021-11-24 16:41] #1076 closed

[2021-11-24 17:23] DavideD commented on #1066
@tsegismont Do you know if it's possible to query column sof type `raw`?

We have this table:
[code]

An insert seems to work fine but when we try to select the value with:
[code]
we get the following error:
[code]

[2021-11-25 04:28] jonicreide opened #1077 "Postgres monetary type unhandled"
### Questions

Hi everyone,

I was trying to parse content when fetching a row that contains a monetary type to represent a price content in my table.  But, every time that I tried to parse it with Float or even Double I get a `NullPointerException`.

So, I don't know if it is handled by the library but I think that's a problem.

### Version

[code]

### Context

This code represents a simple repo

[2021-11-25 08:49] tsegismont commented on #1066
@DavideD the `Tuple` was created with 2 Vert.x `Buffer` instances, correct?

I believe in this case it is translated to `prepStmt.setBlob`. As a workaround, perhaps you could convert the value to blob?

[code]

[2021-11-25 14:53] #1077 closed

[2021-11-26 10:23] julianladisch opened #1080 "Pool.connectHandler and Pool.query"
### Version

4.2.1 and master (f6623d6)

### Context

A temporary table created in the connectHandler is not available for Pool.query and Pool.preparedQuery.

### Do you have a reproducer?

https://github.com/julianladisch/vertx-sql-client/pull/2/files
https://github.com/julianladisch/vertx-sql-client/actions/runs/1506794560

doesn't work: Pool.connectHandler and Pool.query
doesn't work: Pool.conn

[2021-11-29 07:45] junwen12221 opened #1082 "[MySQL]Cursor reading Int type exception"
### Questions

java.lang.IndexOutOfBoundsException: readerIndex(2) + length(8) exceeds writerIndex(6): UnpooledSlicedByteBuf(ridx: 2, widx: 6, cap: 6/6, unwrapped: PooledUnsafeDirectByteBuf(ridx: 10, widx: 21, cap: 512))

### Version

io.vertx.mysqlclient
4.2.1

### Context
[code]

### Do you have a reproducer?

[code]

[2021-11-30 18:22] #1071 closed

[2021-11-30 18:23] #1073 closed

[2021-11-30 20:13] amitsinha0 opened #1084 "[ORACLE] Support for RETURNING BULK COLLECT INTO clause"
#### Issue

I dont think vertx sql client supports RETURNING BULK COLLECT INTO  clause or RETURNING  INTO clause.

#### Describe the feature

Some time we require to know what data we have alterd. RETURNING clause helps to get this data.

#### Use cases

In all DML query it can be used.

[2021-12-01 12:32] DavideD commented on #1066
@tsegismont I've created a test case here: https://github.com/DavideD/vertx-sql-client/commit/b72733af9507a5f197cd1bfed6b11e95afd6310e

I've tried to use the `TO_BLOB` but I couldn't make it work.
Should I create a separate issue?

[2021-12-01 16:57] tsegismont commented on #1084
Please provide an example query and how you'd like to execute it

[2021-12-01 18:04] amitsinha0 commented on #1084
Sample Query

`DECLARE
    TYPE updatedId IS TABLE OF Table1.col2%TYPE;
    XupdatedId updatedId;
BEGIN
    UPDATE TABLE1
         SET col1 = 'OK' WHERE col2 IN ('abc','def')
   RETURNING col2
        BULK COLLECT INTO XupdatedId;
   FOR i IN 1..XupdatedId.LAST
   LOOP
        IF i > 1 THEN
            dbms_output.put_line (XupdatedId(i));
        END IF;
   END LOOP;
END;`

Here we will receive a

[2021-12-02 10:18] DavideD opened #1085 "Filtering on column of type raw throws an exception in Oracle"
This is the exception:
[code]
It happens with the following query (for example) passing a parameter of type `Buffer`:
[code]
where the table `UUIDEntity` is created with:
[code]

Note that the error happens even if the field is not a key of the table. Everything works fine if it's an insert query.

I've created a testcase here:  https://github.com/DavideD/vertx-sql-client/commit/b72733af9507a5f197

[2021-12-02 10:18] DavideD commented on #1066
Issue about Blob error: https://github.com/eclipse-vertx/vertx-sql-client/issues/1085

[2021-12-02 14:17] tsegismont commented on #1084
Do you have a working example with JDBC?

[2021-12-02 14:20] #1074 closed

[2021-12-02 16:21] tsegismont opened #1086 "DateTimeException in MSSQLPreparedQueryNotNullableDataTypeTest#testEncodeSmallDateTime"
This test can fail with `DateTimeException` if rounding up leads to the 60th minute (`withMinutes` expects values ranging from 0 to 59).

[2021-12-02 16:22] #1086 closed

[2021-12-02 16:32] #1067 closed

[2021-12-02 17:30] DavideD commented on #1066
@tsegismont I'm trying to write a similar test for dates but I can't make it work: https://github.com/DavideD/vertx-sql-client/commit/e528d6182bb9f01fc382d663b945a463261b804a

Am I doing something wrong or is this another issue?

[2021-12-02 17:35] tsegismont commented on #1066
@DavideD commented in the commit

[2021-12-02 17:36] DavideD commented on #1066
Thanks!

[2021-12-03 09:06] tsegismont opened #1087 "Rework Oracle Client command scheduling"
Currently, the Reactive Oracle Client executes commands directly on the connection. For this reason, a couple of tests in the TCK have to be ignored (see https://github.com/eclipse-vertx/vertx-sql-client/commit/ae2d36f25b659831910f07b9e172eb2ffc5b30e3).

Command scheduling should be rework using the same model as of the Vert.x JDBC Client (task queue).

[2021-12-03 10:51] vishnubaghel91 opened #1088 "I need to get the underlying java.sql.Connection from Vert.x's io.vertx.sqlclient.SqlConnection (new vertx jdbc api)"
**Description**

currently it is not possible to get underlying java.sql.Connection from Vert.x's io.vertx.sqlclient.SqlConnection (new vertx jdbc api)

Here is the solution for vertx legacy jdbc api solved by @tsegismont
https://stackoverflow.com/questions/49650083/i-need-to-get-the-underlying-java-sql-connection-from-vert-xs-sqlconnection/49666826#49666826

Please fix this issue in new api as we

[2021-12-03 10:53] vishnubaghel91 commented on #1088
@tsegismont Could you please confirm i can make change and create PR for this issue.

[2021-12-03 14:14] tsegismont commented on #1088
Please go ahead and send a PR

[2021-12-03 16:17] ukr15 opened #1089 "Reactive PG-Client: Exception if fetch size in createStream is smaller than fetched result set"
### Questions

Reactive PostGres Client throws exception if fetch size in createStream is smaller than fetched result set

### Version

4.2.1

### Context

I encountered an exception which looks suspicious while ...
trying to access a postgres database using the stream interface

### Do you have a reproducer?

There is a reproducer

### Steps to reproduce

1. sh boot.sh #start postgres database wi

[2021-12-03 18:06] DavideD opened #1090 "[Oracle] LocalTime returned with the wrong timezone"
If I insert a LocalTime, when I select it back is in the wrong timezone.

This is the test I've created: https://github.com/DavideD/vertx-sql-client/commit/dfbff6093df3057d5988289d0a6aff9336cb29ba

I'm not sure if it requires extra configuration, but it doesn't seem the case for the other databases.

Something similar happens with Offsettime

[2021-12-06 13:28] vietj commented on #1033
is there anything you can do about it @mswatosh ?

[2021-12-07 16:57] mswatosh commented on #1033
@vietj I've made some progress in my local environment, but I haven't had a lot of time and it's slow going since I have to learn how the code works as I go.

[2021-12-07 18:06] blafond opened #1092 "[ORACLE] Instant return a String value of oracle.sql.TIMESTAMPTZ@2e760c64"
### Version

 - 4.2.2-SNAPSHOT

### Context

Entity with a column of type Instant returns a result set row value of String when expecting TIMESTAMPZ

Details.. TBD ( @DavideD )

[2021-12-08 03:43] Dustone-JavaWeb opened #1093 "JSON Field type mapping error in MariaDB 10.3"
### Questions

When execute query.execute(.....).onSuccess(rows->rows.toJson())

On Mysql 5.7 or higher versions it work well, but on MariaDB 10.3 it map json field into String by accident

### Version

MariaDB 10.3. Mysql 5.7+. Vert.x Mysql Client 4.2.1.   JDK 11

[2021-12-08 05:21] Dustone-JavaWeb commented on #1093
The MariaDB support error

[2021-12-08 05:21] #1093 closed

[2021-12-08 11:04] vietj opened #1094 "Reference counted pool"
Pool can already be shared, we add a mechanism for reference counting them like we do in other projects.

[2021-12-08 11:06] vietj opened #1095 "Pool event-loop configuration"
A pool currently reuses event-loop of connection borrowers. In some situation where a pool is shared between several verticles, it can be useful to have the pool use instead its own event-loop.

[2021-12-08 11:30] DavideD commented on #1092
To clarify, this error happens when selecting the `current_timestamp`:
[code]

[2021-12-08 13:55] #1094 closed

[2021-12-08 13:55] #1095 closed

[2021-12-08 14:12] vietj commented on #374
see https://github.com/eclipse-vertx/vertx-sql-client/issues/1094

[2021-12-08 14:12] vietj commented on #349
see https://github.com/eclipse-vertx/vertx-sql-client/issues/1095

[2021-12-08 14:13] #349 closed

[2021-12-08 14:23] DavideD opened #1097 "Add a common way to get generated values for all databases"
Insert and select is a common scenario when the id is generated by the database.
Different databases have different way to implement this and, at the moment, there is not a common way to do it for all clients.

In MySQL, for example, this is how you would get the last generated id from an insert query:
[code]

while in Oracle, it would look something like:
[code]
In Hibernate Reactive this is a pr

[2021-12-08 15:32] tsegismont commented on #1097
@DavideD thanks for sharing this

[2021-12-09 08:01] #1082 closed

[2021-12-09 08:58] JonasTaulienSolutions commented on #608
Hello, just wanted to let you know, that we had to switch to the (legacy) jdbc-client because `varchar(max)` is currently not supported.

[2021-12-09 09:40] tsegismont commented on #608
@JonasTaulienSolutions was `varchar(max)` the only one missing for your project?

[2021-12-09 12:02] JonasTaulienSolutions commented on #608
Currently, its only `varchar(max)` that is missing for us.
But in the next months we will probably need support for some more. If this happens I will write another message here :)

[2021-12-09 12:10] vietj opened #1102 "Connect auto retry does actually retry one more time than expected"

[2021-12-09 12:20] #1102 closed

[2021-12-09 15:48] vietj commented on #1089
your code is actually incorrect, the test method should be instead:

[code]

The transaction will last for the duration of the future that is returned by the function, so when you return a prepared statement, the code will get the prepared statement but the transaction will be closed.

Instead a promise should be created with whatever result you need and the stream should be created within that bo

[2021-12-09 15:48] #1089 closed

[2021-12-09 16:26] rgmz opened #1103 "[PG] PreparedQuery results in `ambiguous_parameter` error (42P08)"
### Version

4.2.1

### Context

I encountered this error while refactoring a query to avoid unnecessary updates ([similar to this StackOverflow post](https://dba.stackexchange.com/a/282199)):
[code]

Running this query with `PgPool.preparedQuery(...).execute(Tuple.of(...))` results in the following error:
[code]

This is presumably because the client [creates a prepared statement without explicit

[2021-12-09 16:43] #1092 closed

[2021-12-09 22:21] tsegismont commented on #1090
@DavideD can you try again with latest snapshot now that #1104 has been merged?

[2021-12-10 03:27] TeslaCN opened #1105 "[PostgreSQL] The field `updated` in SqlResult was non-zero when executing select statement"
### Questions

### Version

[code]

### Context

Executing a simple select statement, the `updated` field in MySQL's `SqlResult` is zero, but the `updated` field in PostgreSQL's `SqlResult` is non-zero.

### Steps to reproduce

[code]

The output:
[code]

### Extra

OS: Ubuntu 20.04
JDK: 8 / 17

[2021-12-10 04:18] TeslaCN commented on #1105
I found this issue is because Vert.x ignored the tag in CommandCompletion message.

[2021-12-10 13:44] tsegismont commented on #1090
I merged the main branch into your test branch on my laptop, and the issue goes away (`testLocalTime` passes).

Closing as fixed in #1104

[2021-12-10 13:44] #1090 closed

[2021-12-10 16:24] DavideD commented on #1090
Thanks @tsegismont. I've tested it and dates seems to work as expected

[2021-12-11 08:36] #1028 closed

[2021-12-13 07:43] vietj commented on #1105
that's actually the expected behavior @TeslaCN per postgres, when you perform a select query you should not consider this value or consider what it actually returns. Having the client parse the query to set this value to zero is not very error prone because the client needs to be aware of the query content and that is somethign we want to avoid

[2021-12-13 07:43] #1105 closed

[2021-12-13 07:45] vietj commented on #1103
can you show your code ?

[2021-12-13 07:46] TeslaCN commented on #1105
@vietj Got it. Thanks for your answer.

[2021-12-13 07:46] vietj commented on #1103
if you are using `client.preparedQuery(the_query).execute(arg1, arg2, ...)` when this error is encountered then the client will use the types defined by arg1, ... and use them to re-prepare the query.

[2021-12-13 07:48] vietj commented on #1103
ah right I didn't see the remark about prepared codes that is necessary for what I said, so indeed I think that should be done

[2021-12-13 08:09] vietj commented on #1103
it seems also one solution is to force the type in the query, e.g

[code]

[2021-12-13 09:11] #1103 closed

[2021-12-13 09:11] vietj commented on #1103
@rgmz 4.2.2 will be released this week as soon as Netty 4.1.72.Final is released

[2021-12-13 12:21] Yaytay commented on #608
We have a lot of GUID columns in our data, would it take much to add support for them?
Thanks.

[2021-12-13 13:36] tsegismont commented on #608
@Yaytay it's not very complex to implement. You can take #1048 as an example.

[2021-12-13 16:48] DavideD opened #1108 "[ORACLE] Insert-select SQL query doesn't work"
Example:
[code]

Causes:
[code]

I've created a "test" here: https://github.com/DavideD/vertx-sql-client/commit/18dd7237a3cf2d9255d662dae9e47a5ea4c3a9a2

[2021-12-13 17:23] tsegismont commented on #767
@vietj hasn't this been solved by #1101 ?

[2021-12-13 21:39] vietj commented on #767
indeed good catch

[2021-12-13 21:39] #767 closed

[2021-12-18 23:00] Yaytay commented on #608
Hi,
Just submitted #1109 as support for GUID columns.

[2021-12-20 22:59] mauravan opened #1111 "Support XML Type on Postgres"
#### Describe the feature

Postgres supports the storage of valid xml documents with the XMLType. https://www.postgresql.org/docs/9.3/datatype-xml.html
I think it would make sense to Map it to a Java String

#### Use cases

From the link above:

#### Contribution

I would like to implement this but would probably need a few pointers.

I already looked at these classes (DataType.java, DataTypeCodec

[2021-12-21 09:32] vietj commented on #1111
please provide a PR, I think a wrapper will be necessary for XML

[2021-12-21 21:40] mauravan commented on #1111
Hi @vietj, thanks for your response. Here is the PR: https://github.com/eclipse-vertx/vertx-sql-client/pull/1112

[2021-12-24 14:33] ShreckYe opened #1113 "An unclear `IllegalArgumentException` is thrown during the first query if creating a `PgPool` with a `Vertx` without `preferNativeTransport` set to true"
#### Describe the feature

Code:
[code]

Output:
[code]

By running the Java code above I get a very unclear `IllegalArgumentException`, whose stack trace doesn't involve any of my own code and is very difficult to debug. In addition, the code works if I don't pass a `Vertx` instance to `PgPool.pool`, so it becomes more confusing. Actually, It took me a lot of time to realize that it's caused by n

[2022-01-03 08:40] vietj commented on #1113
thanks we will add a more meaningfull error message in the transport class.

[2022-01-03 08:40] #1113 closed

[2022-01-03 08:45] vietj commented on #1113
see https://github.com/eclipse-vertx/vert.x/commits/master

perhaps that we should also check that the passed vertx instance is capable of handling too.

[2022-01-03 08:57] vietj opened #1114 "Creating a client with a domain socket options should only work when the transport supports it"

[2022-01-03 08:57] #1114 closed

[2022-01-03 08:57] vietj commented on #1113
See https://github.com/eclipse-vertx/vertx-sql-client/issues/1114

[2022-01-03 08:58] vietj commented on #1113
Now the error will be caught earlier when creating the pool.

[2022-01-04 15:49] blafond opened #1115 "URI parsing adds additional properties to configuration rather than properties map."
I'm working in HR #1059 and trying to leverage the DB-specific SqlConnectOptions parsing of a URL string to allow additional properties on the URL but it looks like the parse logic isn't capturing these properties except for a few in the [PgConnectionUriParser](https://github.com/eclipse-vertx/vertx-sql-client/blob/352e8da205598ffd9730ef36891dbc28ff544e53/vertx-pg-client/src/main/java/io/vertx/pgc

[2022-01-05 07:21] vietj commented on #1115
I think equals/hashcode should not be implemented by this class.

[2022-01-05 07:22] vietj commented on #1115
so we should fix this bug and likely fix the existing equals/hashCode

[2022-01-05 07:24] vietj commented on #1115
the implementation of equals is actually wrong because it calls super.equals that is not implemented.

[2022-01-05 07:30] vietj commented on #1115
also the uri parser does a

        String key = parameterPair.substring(0, indexOfDelimiter).toLowerCase();

that I cannot explain

[2022-01-05 07:33] vietj commented on #1115
I think the idea is that some extra parameters of the connect options can be used from the JSON and apply to the vertx connect options, e.g specifying the idleTimeOut with an URI having a parameter like : `&idleTimeout=10` that would be like `options.setIdleTimeout(10)`

[2022-01-05 07:35] vietj commented on #1115
so we could have unrecognised options as properties ? e.g do something like

1. parse to JSON
2. create connect options from JSON
3. transform connect options to JSON
4. take the initial JSON and remove all keys in the connect options JSON
5. take the remaining key/value and store them as properties

[2022-01-05 07:40] vietj commented on #1115
e.g

[code]

that being said I'm not sure that settings those parameters as config for stuff like idleTimeout would work currently because it would only work for string parameters and currently the toLowerCase() conversion make it unusable.

[2022-01-06 09:33] vietj commented on #1115
what are the common connection properties that are not yet supported from URI parsing, e.g for PG.

[2022-01-06 16:07] blafond commented on #1115
From a hibernate-reactive standpoint, we're intending to allow a user to pass along any syntax/valid property on the URL. Problem  with properties across DB types is there are few "common" properties.

[2022-01-06 17:07] blafond commented on #1115
Looks like the `Driver` classes consume the `SqlConnectOptions` which are used to create the `PoolImpl`.

So `JsonObject` maintains a "configuration". Is that object sent outside the Vertx clients?  Just wondering if there's a reason why utilizing the properties map would be problematic.

[2022-01-07 09:57] vietj commented on #1115
I think we should change this behavior so that extra parameters are database options and not connect options. Connect options should be further customized when the `SqlConnectOptions` is available.

[2022-01-07 14:38] vietj commented on #1115
well actually it seems that there is a well defined list of parameters for PG :

https://www.postgresql.org/docs/9.6/libpq-connect.html

Some are transmitted directly to the database like _application_name_, some are interpreted by the client like _port_ or _host_ or _sslmode_, the one currently transmitted and supported by the client are:

- application_name
- fallback_application_name
- search_p

[2022-01-07 15:53] gavinking commented on #1115
@vietj well of course the list is finite, but it's *long*, and it's unclear to me why you (or we) would want to have to keep an up-to-date list of them all in our clients.

Just pass through whatever the user specifies, and let Postgres sort it out. I don't see why we need to protect Postgres from receiving parameters it doesn't understand.

But perhaps I'm misunderstanding something here.

[2022-01-09 15:28] vietj commented on #1115
@gavinking I don't disagree with you, I'm saying that some documented parameters are for the client and either the pg client supports them or it does not. So we need for the client side parameters to log at least that it will not work as expected.

[2022-01-09 16:28] gavinking commented on #1115
Ah, OK, fine, then I just misunderstood.

[2022-01-10 13:08] vietj commented on #1115
need to check also what happens with PG when it receives a parameter it does not support

[2022-01-10 14:29] #1088 closed

[2022-01-11 06:32] git4rputuval commented on #608
Any progress on the NVARCHAR (MAX), BIT & VARBINARY?
I am under pressure from my management team to evaluate an alternative platform instead of quarkus if this issue is not resolved. Can you guys give me a timeline?

[2022-01-11 10:08] tsegismont commented on #608
@git4rputuval `BIT` and `VARBINARY` are supported already.

`NVARCHAR(MAX)` may be supported in 4.2.4 otherwise it will be supported in 4.3.0.

[2022-01-11 17:30] DavideD commented on #1115
I don't think Hibernate Reactive needs any specific property supported at the moment.
But a user can add anything on the URL and we would like to be able to pass the additional query parameters to Vert.x without having to filter them first because it could generate an exception. A warning log would be nice though.

If the exception is the only way, we can always filter the properties before passin

[2022-01-11 18:17] blafond commented on #1115
Agreed.

The commits (above) to my fork capture the extra properties during parsing and adds them to the configuration properties map.

However, when applied via an Hibernate Reactive connection URL, they create a PgExceptions like: `unrecognized configuration parameter "defaultRowFetchSize"` during the connect process.

So as @DavideD mentioned, we could either filter the properties on our end or

[2022-01-11 19:17] blafond commented on #1115
@vietj I made some changes locally to just log a warning.  Here's an example of what a warning log entry might look like:
[code]

[2022-01-12 08:33] vietj commented on #1115
yes we can log them of course

[2022-01-12 08:34] vietj commented on #1115
I will try to support more of them like TCP time out, etc... some seem not hard to implement.

[2022-01-12 12:00] git4rputuval commented on #608
@tsegismont Thanks. Dates would have been helpful or at least a timeline like a month, or a quarter or a year.

[2022-01-12 13:29] tsegismont commented on #608
@git4rputuval 4.2.4 should be released before the end of next week.

If something is critical for your project, there's the option of helping the community by contributing the pieces you're missing.

[2022-01-13 20:10] blafond opened #1118 "DB2ConnectionUriParser doesn't support standard DB2 URL character separators"
While trying to leverage the **`SqlConnectOptions.fromUri( URI uri)`** parsing feature in the SQL I ran into a problem with our DB2 url.

In Hibernate Reactive we're testing against DB2 via standard DB2 URL like:
 * **`jdbc:db2://localhost:52353/hreact:user=hreact;password=hreact;`**

This url is defined based on the IBM spec/doc and which uses a **`:`** colon as the separator between Database and

[2022-01-13 22:28] git4rputuval commented on #608
@tsegismont Thanks.

4.2.4: The dates are acceptable.

Contributing the pieces: I believe, you meant, "digging through the code" to identify the issue & providing a solution or work around, right? If yes, will gladly support. If I have misunderstood, do correct me.

[2022-01-19 08:48] tsegismont commented on #608
@git4rputuval yes, in this case I meant essentially sharing a pull-request for the feature you're missing.

Anyway, the PR #1120  is ready and should be included in 4.2.4

[2022-01-21 15:08] mkouba opened #1121 "Introduce standardized exception for an integrity constraint"
#### Read me

Read this first before creating an issue:

- do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.
- you shall create a feature request only when it is general purpose enough.
- make sure that the feature is not already

#### Describe the feature

Give the simplest and best exp

[2022-01-21 15:15] DavideD commented on #1121
Hibernate Reactive for example

[2022-01-21 15:51] vietj commented on #1121
I believe that's not something the client can easily because it really depends on each database and implementation.

Looking at the code of JDBC client for PostgreSQL, it seems that `SQLIntegrityConstraintViolationException` is not supported.

@DavideD is `SQLIntegrityConstraintViolationException` used in practice in blocking Hibernate ? because if it does, it means it would not reliably work with

[2022-01-21 17:32] DavideD commented on #1121
No, it's not a blocking issue. It just sounds like a nice idea.

[2022-01-21 17:45] DavideD commented on #1121
I think Hibernate ORM tries different things to recongnized the exception. After a very quick look I can see it checks the error code from a `SQLException` or if the type of the exception is an `SQLIntegrityConstraintViolationException`. And it also uses dialect to have different approaches for different databases.

[2022-01-21 17:48] DavideD commented on #1121
Now that I'm having a better look at this, I'm noticing that PgException actually has several fields with info about the error. Maybe that's enough for us to figure out that's a constraint violation (or something else).

[2022-01-28 10:47] DavideD opened #1122 "[Postgres] Accept LocalDateTime (and similar types without a timezone) as parameter for a column of type timestamptz"
This is started as [an issue for Quarkus](https://github.com/quarkusio/quarkus/issues/10768).

The problem is that when passing a `LocalDateTime` (or some similar type without a timezone) as parameter of an insert query we get the following error:

[code]
`Timestamptz` doesn't really store the timezone and it's just state that everything is converted to UTC. So I'm not sure why it would be a probl

[2022-01-29 17:05] zhangtianxiao opened #1123 "Can SqlConnection provide transaction information?"
val transaction = sqlConnection().begin().await()
I hope 'SqlConnection' can make 'transaction()' and 'autoCommit()` public
Thank you

[2022-01-29 19:54] DavideD opened #1124 "[ORACLE] Wrong JDBC type returned for `current_timestamp`"
Reproducer for `OracleColumnDescriptorTest`:
[code]

Note that the `typeName()` is actually correct.

I've updated the existing testcase here: https://github.com/DavideD/vertx-sql-client/commit/8ddd42bb87c4befb3a9867de934f392259472df7

[2022-01-31 16:18] tsegismont opened #1125 "Unused pooled connection eviction check"
https://github.com/eclipse-vertx/vertx-sql-client/blob/27f8a745e8a487137356c512fff45997298cfe16/vertx-sql-client/src/main/java/io/vertx/sqlclient/impl/pool/SqlConnectionPool.java#L360-L368

The `io.vertx.sqlclient.impl.pool.SqlConnectionPool#check` method does not seem to be used

[2022-02-01 07:56] vietj commented on #1125
I can be safely removed.

[2022-02-01 13:23] #1125 closed

[2022-02-01 14:46] tsegismont opened #1127 "Connection pooling for Oracle client"
As of 4.2.4, the Reactive Oracle client API has an `OraclePool` but it is implemented by creating/closing a JDBC connection without caching them.

[2022-02-01 16:58] tsegismont opened #1129 "Oracle doc: features and supported data types are missing"

[2022-02-02 15:26] rdruss commented on #947
Looks like this may be related to #1118

[2022-02-04 10:59] tsegismont commented on #947
@rdruss yes, it's a similar issue

[2022-02-04 11:57] cescoffier opened #1131 "DB2 - sending back 500: java.lang.IllegalStateException: Found unknown codepoint: 0x1153 / 4435"
## Context

This is a copy of https://github.com/quarkusio/quarkus/issues/14268.

## Describe the bug

While I am trying to fetch a record from a DB2 Table using a reactive datasource, I am getting the following exception. The exception doesn't tell me much what is causing the issue. However a similar code on the same codebase when used to query on a PostgreSQL Table using a Postgres reactive data

[2022-02-04 12:56] pmlopes commented on #1131
@cescoffier is the data being fetched binary? If that is the case, probably the use of `String` which implies parsing the data as `UTF-8` is the cause? Or maybe the data is in a different character encoding?

[2022-02-04 12:58] cescoffier commented on #1131
@arunav-b can you reply to @pmlopes ? ^

[2022-02-04 15:17] mswatosh commented on #1131
That error path is particularly bad. Based on where we are in the code and the codepoint that's returned (0x1153, which is Server diagnostic info) there is likely something that needs to be fixed in the statement being executed. The DB2 driver should be returning a sqlstate of 58016, which is "Parameter Not Supported."  I believe the server diagnostic info may also be providing more information, w

[2022-02-04 17:48] DavideD opened #1132 "Unsupported operation exception when credentials are wrong with MySQL"
I wrote a test for Hibernate Reactive for testing what kind of exception get thrown when username and password are wrong.

It worked as expected for all the databases but when I've tried MySQL I had the following exception:
[code]

This is weird because everything works fine when I set the right username and password.

Everything worked as expected when I've added the following line to TestContain

[2022-02-04 17:56] DavideD commented on #1132
This is the whole stacktrace:
[code]

[2022-02-04 18:55] DavideD commented on #1132
I was wrong, this actually didn't fix the the issue

[2022-02-04 23:10] mswatosh commented on #1131
Actually it looks like I was wrong, this isn't an issue with the statement, but with authentication:
at io.vertx.db2client.impl.drda.DRDAConnectResponse.**parseSECCHKreply**(DRDAConnectResponse.java:1047)
at io.vertx.db2client.impl.drda.DRDAConnectResponse.**readSecurityCheck**(DRDAConnectResponse.java:50)

I'll do some poking around to see if I can recreate this, but it may not be easy to recreat

[2022-02-07 22:06] mswatosh commented on #1131
I tried some basic security failure scenarios but wasn't able to recreate the error. @arunav-b can you tell us what you're setting for DB2ConnectOptions? I'm wondering if this is an SSL or TLS failure path

[2022-02-09 08:20] vietj commented on #1132
I will have a quick look @DavideD

[2022-02-09 08:25] vietj commented on #1132
I just run the authentication test we do have with a wrong password and I get the following:

[code]

[2022-02-09 08:28] vietj commented on #1132
The exception you are seing is thrown by `InitialHandshakeCommandCodec`:

[code]

[2022-02-09 08:28] vietj commented on #1132
can you give me a reproducer or tell me how I can run the same test than yours ?

[2022-02-09 08:30] vietj commented on #1132
what is weird is that vertx declares this option available (`MySQLAuthenticationPlugin`) but we don't implement it.

[2022-02-09 08:33] vietj commented on #1132
the code I shown seems related to a user switch, can you check if `InitialHandshakeCommandCodec#handleAuthSwitchRequest` run into `handleAuthSwitchRequest` ?

[2022-02-09 09:07] onebite opened #1133 "ExtendedQueryCommandBaseCodec not close prepare statement while receive an error packet"
### Questions

while execute prepare sql  encounter an error, more info errorCode=1062  sqlState=23000， client will received an error packet. Then, we miss to close prepare statement, see the function handleErrorPacketPayload.

### Version

4.2.4

[2022-02-09 09:17] vietj commented on #1132
I'm trying to reproduce @DavideD but can't, can you tell me how I can reproduce it myself ?

[2022-02-09 09:40] tsegismont commented on #1133
@onebite thank you. Can you provide a reproducer?

[2022-02-09 14:24] vietj commented on #1132
ok thanks for reporting back

[2022-02-09 15:23] tsegismont opened #1134 "ConnectionHandler ignored when executing queries on the pool"
A `connectionHandler` is a hook that lets the user execute queries on a pooled connection when it is created. For example, it helps initialized the connection by setting some session variables.

It seems the `connectionHandler` is not invoked when the user executes queries directly on the pool (instead of calling `getConnection` and then executing queries on the connection).

[2022-02-09 15:52] DavideD commented on #1132
I'm starting to believe that it has to do with GItHub actions being slower than our local machines. I will let you know if I can figure out what's going on.

[2022-02-09 15:53] DavideD commented on #1132
Something similar is happening with Oracle too

Something similar is also happening with Oracle (in our testcases)

[2022-02-10 15:14] DavideD commented on #1132
What I don't understand is why do we see the error only when the credentials are wrong but it works for all the other tests?
You can see the error on our CI: https://github.com/hibernate/hibernate-reactive/runs/5142608212?check_suite_focus=true#step:5:2606

[2022-02-10 15:47] DavideD commented on #1132
I'm connecting using a different user (that doesn't exist), I don't know if this could be a problem

[2022-02-10 21:31] vietj commented on #1132
what does it mean ? why would you connect with a user that does not exist ?

[2022-02-11 04:01] cyhii opened #1136 "Connection Pool throws ArrayIndexOutOfBoundsException when try to create connection"
### Questions

My application started to serve requests for a while, everything works fine. In the next few hours no request comes in, after that, when a new request received, the application is broken. Here is the stack trace:

[code]

It seems that connections in the pool has been released, so the pool try to create new connection. May be the ContextProvider should use a more safe index to fetch

[2022-02-11 10:22] DavideD commented on #1132
I just wanted to see what error gets thrown and check that's meaningful.

All the other databases throw an exception saying that the credentials are wrong. MySQL is the only one throwing an UnsupportedOperationException.

[2022-02-11 10:23] DavideD commented on #1132
Only on CI, locally it works as expected.

[2022-02-11 10:26] adrien-aubert-drovio opened #1137 "PreparedStatement should be closed when using RowStream"
### Version

Vertx: 4.1.5
Postgresql: 9, 10 or 11
Java 11

### Context

When using the row stream according to the documentation (https://vertx.io/docs/vertx-pg-client/java/#_cursors_and_streaming), a memory leak appears.

After investigations, the PreparedStatement is never closed (By the way, the stream is manually closed in the end handler but it seems that is is automatically closed before cal

[2022-02-12 03:54] cyhii commented on #1136
Already changed to use `io.vertx:vertx-jdbc-client` to prevent this bug. Anyone who met this same issue can also have a try.

[2022-02-14 08:30] vietj commented on #1136
this is a terrible bug, it will be fixed in 4.2.5 released this week.

in the meantime you can disable the eventLoopSize setting on the client and it will work as usual

[2022-02-14 09:08] #1066 closed

[2022-02-14 09:08] #1127 closed

[2022-02-14 10:42] #1136 closed

[2022-02-14 20:37] DavideD commented on #761
I'm going to close this one because I don't think it's an issue with the client.

[2022-02-14 20:37] #761 closed

[2022-02-15 13:02] #1134 closed

[2022-02-16 14:15] jesperpedersen opened #1141 "[PostgreSQL] X message never sent during close (Protocol violation)"
When using

[code]

and looking at the protocol interaction - f.ex. with https://github.com/jesperpedersen/pgprtdbg/ - you will notice that the 'X' message is never sent during `c.close()` which is a protocol violation.

The message formats for protocol v3 are defined at https://www.postgresql.org/docs/devel/protocol-message-formats.html

[2022-02-16 14:48] peterl1084 commented on #1131
Having exactly the same issue. @mswatosh can I provide you with any details that'd help you. I'm seeing exactly the same parseSECCHKreply after which parseCommonError takes it to parseVALNSPRM. After first pass it fails during the second as peekCP is 4435. The first reply to parseSECCHKreply is 4690

[2022-02-16 16:37] pribault opened #1142 "PreparedQuery limited to 65535 elements"
### Version

Vertx: 4.2.4

### Context

When using prepared queries with a really high number of elements a **NoStackTraceThrowable** exception can be raised with the following message:
`The number of parameters to execute should be consistent with the expected number of parameters = [64464] but the actual number is [130000].`
In my case I tried to send 130000 parameters, but only 64464 were taken

[2022-02-16 19:58] vietj commented on #1142
a reproducer would be great :-)

[2022-02-16 21:24] mswatosh commented on #1131
@peterl1084 I just tried to recreate this (using Quarkus this time instead of directly in Vert.x) but even using the IP instead of the hostname I'm still getting a successful connection. Two things:
1. Which version of DB2 are you using? (e.g. 10.5 on Linux)
2. Are you able to successfully connect using the JDBC driver instead of the reactive driver? If not, it might at least provide a better erro

[2022-02-17 07:18] peterl1084 commented on #1131
@mswatosh according to the DBA the particular DB2 instance is V12 function level 500 running in z/OS. I'll try with regular JDBC.

[2022-02-17 11:05] pribault commented on #1142
I created one here: https://github.com/pribault/preparedQuery-reproducer
I'm running a PostgreSQL server v10, you'll have to update some variables in the MainVerticle like your PostgreSQL server url, username etc... And create the table as described in the readme

[2022-02-17 11:26] vietj commented on #1142
thank you

On Thu, Feb 17, 2022 at 12:05 PM pribault ***@***.***> wrote:

[2022-02-17 12:16] ebadta81 opened #1143 "On a live server, PgPool.getConnection.result() gives me null value, after a while."
### Version

4.2.3

### Context

On a live server, PgPool.getConnection.result() gives me null value, after a while.

### Do you have a reproducer?

This is, how I create the PgPool:

[code]

I call  getPgConnection with  connections = 4, and create multiple PgPool instances for different PG users.

This is my code, where the exception happens.

[code]

It is working for a while, and after that, I

[2022-02-17 13:45] vietj commented on #1143
it happens because there was a connection error.

you should test first with `con.succeeded()` then get the result otherwise get the error cause.

[2022-02-17 13:45] #1143 closed

[2022-02-17 21:13] mswatosh commented on #1131
I was worried it might be Db2 z/OS, which explains why I can't recreate it. That's the one Db2 platform I don't have access to right now, but I've reached out to see if I can get a Db2 z/OS instance to attempt to recreate this with.

[2022-02-18 09:24] peterl1084 commented on #1131
@mswatosh JDBC works.

According to the DBA the reactive driver version never reaches the DB, at least on the level that any query logging would get done, nothing appears in the trace logs for reactive connections.

[2022-02-21 09:25] doppelrittberger opened #1144 "Support for pgBouncer transaction pooling mode"
### Version

4.2.4

### Context

I use pgBouncer and postgres in my project and now I´m facing issues when using transaction pooling mode in pgBouncer (https://www.pgbouncer.org/features.html). It seems that PreparedQueries are not supported (as described at the pgBouncer documentation) but most JDBC libraries still support PreparedQueries using binary parameters mode (like JDBI, explanation is he