[2022-02-21 12:53] vietj commented on #1144
have you tried running this with disabling the prepared statement cache ? it will still use prepared statement but not cache them.

[2022-02-21 13:44] doppelrittberger commented on #1144
[vertx.log](https://github.com/eclipse-vertx/vertx-sql-client/files/8109602/vertx.log)
[jdbi.log](https://github.com/eclipse-vertx/vertx-sql-client/files/8109603/jdbi.log)

Hi vietj,
I attached 2 logs, one from vertx client and one from jdbi, both using TCPdump since I cannot install Wireshark in my env.
By default quarkus seems to disable client cache for prepared statements: https://quarkus.io/g

[2022-02-21 13:52] doppelrittberger commented on #1144
I don´t know the protocol in detail but it seems that JDBI wraps all calls in BEGIN ... COMMIT (transactions) which could explain why this works since every transaction is executed using the same connection in pgBouncer transaction pooling mode.

[2022-02-21 13:55] doppelrittberger commented on #1144
I just re-validated and if I wrap every prepared statement with a transaction the code works... So the question is: does JDBI really use transactions or does it use different commands?

[2022-02-21 14:20] vietj commented on #1144
what is JDBI ?

[2022-02-21 14:26] doppelrittberger commented on #1144
The library I use for comparison: https://jdbi.org/
Its a thin wrapper around JDBC that seems to support prepared statements in pgBouncer transaction mode. I used it since with this library I was able to select/insert using prepared statements without explicit transactions

[2022-02-22 13:43] vietj commented on #1144
I found out that prepared statements are actually simple queries that emulates prepared statement by interpolating queries (i.e select $1 with "a" is rewritten as select "a").

I'm not much comfortable with this solution as it potentially introduces security issues (SQL injection) in Vert.x client.

I will check the reproducer and see if anonymous prepared statements can solve this and if it does,

[2022-02-23 09:28] doppelrittberger commented on #1144
Ok, sounds good. If you need any help please let me know

[2022-02-23 13:49] vietj commented on #1144
I'm trying the reproducer and I get

[code]

[2022-02-23 14:18] doppelrittberger commented on #1144
Can you run the command without - d and post the output? Maybe the port is already blocked?

Viele Grüße
Markus Ritter
________________________________
From: Julien Viet ***@***.***>
Sent: Wednesday, February 23, 2022 2:49:24 PM
To: eclipse-vertx/vertx-sql-client ***@***.***>
Cc: Markus Ritter ***@***.***>; Author ***@***.***>
Subject: Re: [eclipse-vertx/vertx-sql-client] Support for pgBouncer tra

[2022-02-23 15:26] tsegismont opened #1147 "IllegalStateException when pooled Oracle connection used on other context"
When an Oracle pooled connection is created on a specific context, and then later another context uses it for query, an IllegalStateException is thrown:

[code]

Reproducer:

[code]

[2022-02-23 15:52] tsegismont opened #1148 "Always use a dedicated context for connections created in SqlConnectionPool"
When a connection is created by the pool, it uses the context of the user.

If this context is a deployment context and the pool is shared, the deployment info can be kept in memory even after the corresponding verticle has been undeployed.

[2022-02-23 16:48] tsegismont commented on #1147
Closed in 229b80d0

[2022-02-23 16:48] #1147 closed

[2022-02-23 16:50] tsegismont commented on #1148
Closed by #1149

[2022-02-23 16:50] #1148 closed

[2022-02-24 08:25] Yaytay commented on #509
In my case the SQL is written by humans.
Sometimes they won't know which database engine their query will run against and (more often) I don't want them to have to care.
I don't want to remove the ability to use the native parameter placeholder and I don't want to remove the ability to have provider-specific SQL, but I would like my users to have the option of translating a (standard ANSI) query f

[2022-02-24 10:31] doppelrittberger commented on #1144
Hi,
my friend fixed the docker-compose file. You may now try again...

[2022-02-27 18:54] #1141 closed

[2022-02-28 19:39] DavideD opened #1151 "Oracle uri parser requires a port in the Uri"
I don't know if this qualify as a bug.

The `OracleConnectionUriParser` is the only one that fails if the port is missing in the uri.
All the other parser set the default port.

You can see the difference  between the regex for  [OracleConnectionUriParser](https://github.com/eclipse-vertx/vertx-sql-client/blob/ae3708f2774e343a0a058f4ff42043090a32d07d/vertx-oracle-client/src/main/java/io/vertx/orac

[2022-03-01 09:03] tsegismont commented on #1151
The port should be optional, this will be addressed in a PR which I am preparing ATM.

The credentials format is consistent with JDBC url because unlike other reactive clients this one is based on the JDBC client. I will check if we can support both formats.

[2022-03-01 09:32] tsegismont opened #1152 "Support Oracle EZConnect url format"
The Oracle client only supports the format that defines a service id (SID).

https://docs.oracle.com/en/database/oracle/oracle-database/21/jajdb/index.html

[2022-03-01 10:35] #1124 closed

[2022-03-01 13:17] DavideD commented on #1151
Thanks a lot @tsegismont!

I don't think you should support both approaches but instead pick one.

All in all I think it would be nice if the connection url would look similar among all the databases but it's not that critical.
I was under the impression that the clients didn't want to reuse the  JDBC convention for the url connection with the Vert.x clients.

This woudl have the nice benefit of a

[2022-03-02 21:01] tsegismont commented on #1152
Closed in a7edd75d

[2022-03-02 21:01] #1152 closed

[2022-03-02 21:01] tsegismont commented on #1151
Closed in a7edd75d

[2022-03-02 21:01] #1151 closed

[2022-03-04 10:41] tsegismont opened #1155 "Fail properly when Oracle url format is not supported"
The client should fail with a meaningful error message when an unsupported connection format is used, that is:

- LDAP syntax
- Oracle Net connection descriptor

[2022-03-04 10:45] tsegismont opened #1156 "Support Oracle connection url format using TNSNames alias"
See https://docs.oracle.com/en/database/oracle/oracle-database/21/jajdb/index.html

[2022-03-04 15:12] #1155 closed

[2022-03-04 17:53] #1156 closed

[2022-03-04 22:43] Yaytay commented on #606
Is this on track for 4.3.0?
Can I help at all?

[2022-03-07 08:20] tsegismont commented on #606
This is still a priority for 4.3. You can definitely help by testing when
the PR is sent. Thank you

[2022-03-09 14:48] tsegismont commented on #1056
Outdated, this test is no longer failing

[2022-03-09 14:48] #1056 closed

[2022-03-10 02:33] #1123 closed

[2022-03-10 04:54] aomsweet opened #1159 "pgPool.withTransaction() throws java.lang.IllegalStateException"
### Version

vertx-pg-client 4.2.5

### Context

pgPool.withTransaction() throws java.lang.IllegalStateException

Simple code that reproduces the problem:
[code]

output:
[code]

### Do you have a reproducer?

A reproducer is a simple project hosted on GitHub (or another forge supporting git clone operation) that has a build file that can be executed to reproduce the issue.

Reproducers are very h

[2022-03-10 05:45] aomsweet commented on #1159
I changed the code to execute sequentially and also throws java.lang.IllegalStateException

[code]
The console only prints 8 instead of 10.

Console output:

[code]

[2022-03-10 13:41] vietj commented on #1159
I ran your code and I cannot reproducer it, can you provide a reproducer project ?

[2022-03-11 09:19] aomsweet commented on #1159
Hi, @vietj

Sorry for the wait.
https://github.com/aomsweet/vertx_issue1159

[2022-03-11 11:27] jsmrcka opened #1160 "Reactive Oracle client does not provide an Oracle-specific exception"
Unlike other reactive DB clients (`vertx-pg-client`, `vertx-mysql-client`, `vertx-mssql-client`, `vertx-db2-client`), Reactive Oracle client (`vertx-oracle-client`) does not provide an Oracle-specific exception, something like `OracleException`, which would be thrown in case of a failure.
[code]
Instead, it uses generic `io.vertx.core.VertxException`.

This makes it harder to e.g. handle DB-specif

[2022-03-11 11:28] jsmrcka commented on #1160
Copy of https://github.com/quarkusio/quarkus/issues/24264.

[2022-03-11 11:28] jsmrcka commented on #1160
@tsegismont

[2022-03-11 14:27] tsegismont commented on #1160
Thanks for reporting here

[2022-03-11 17:04] #1160 closed

[2022-03-14 03:20] aomsweet commented on #1159
Hi, @vietj

Did you reproduce this issue? The github project I provided reproduces this error. https://github.com/aomsweet/vertx_issue1159

[2022-03-14 08:29] aomsweet commented on #1159
@vietj As a comparison I added `JDBCPool` tests. It works just fine. The code is included in the replicator.

[code]

[2022-03-14 09:06] aomsweet opened #1162 "org.postgresql.util.PSQLException: The column index is out of range: 1, number of columns: 0."
### Version

vertx: 4.2.5
postgresql driver: 42.3.3

### Context

I use JdbcPool to execute a sql query with parameters and get this error `org.postgresql.util.PSQLException: The column index is out of range: 1, number of columns: 0.`.

[code]

console output:

[code]

### Do you have a reproducer?

A reproducer is a simple project hosted on GitHub (or another forge supporting git clone operation)

[2022-03-14 13:30] vietj commented on #1159
I'll run your reproducer code

[2022-03-14 15:23] vietj commented on #1159
this is a bug of your own, you are casting a PgClient as a PgPool

PgPool pool = (PgPool) PgPool.client(vertx, connectOptions, poolOptions);

instead you should use `PgPool.pool`

I'll add a safety net to avoid this issue (i.e a PgClient should not be able to have the `getConnection()` method to be called.

[2022-03-14 15:37] vietj commented on #1159
See https://github.com/eclipse-vertx/vertx-sql-client/pull/1163/files

[2022-03-15 02:00] aomsweet commented on #1159
@vietj Thank you very much☕, it was my own fault. But I don't understand the difference between Pool.client() and Pool.pool(), they all seem to be pools?

[2022-03-15 08:51] vietj commented on #1159
it's explained here
https://vertx.io/docs/vertx-pg-client/java/#_pool_versus_pooled_client

On Tue, Mar 15, 2022 at 3:00 AM aomsweet ***@***.***> wrote:

[2022-03-15 09:29] aomsweet commented on #1159
oh, I didn't see this explanation before. Thanks😄 @vietj

[2022-03-15 09:38] vietj commented on #1162
with JDBC you should use JDBC syntax that uses `?` instead of `$1`

[2022-03-15 09:38] #1162 closed

[2022-03-15 14:20] vietj commented on #1144
I'll have a look again soon

[2022-03-16 16:08] tsegismont commented on #1035
It is possible to combine both:

[code]

Feel free to reopen if you can provide more info and a reproducer.

[2022-03-16 16:08] #1035 closed

[2022-03-16 17:05] tsegismont commented on #1133
From the info provided in the description, it looks like this may happen while working with MySQL and getting a _Duplicate Entry_ primary key constraint violation.

[2022-03-17 15:37] tsegismont commented on #1133
I was able to reproduce with:

[code]

Which fails with

[code]

[2022-03-18 12:15] donders opened #1165 "PgClient Timestamps are encoded with microsecond resolution by truncation instead of by rounding"
I suspect this method handles all encoding for postgres timestamps for the vertx pg client:
https://github.com/eclipse-vertx/vertx-sql-client/blob/98c50d8cb463e352931688ff35948435c3abefef/vertx-pg-client/src/main/java/io/vertx/pgclient/impl/codec/DataTypeCodec.java#L1078-L1085

It uses [LocalDateTime.until()](https://docs.oracle.com/javase/8/docs/api/java/time/LocalDateTime.html#until-java.time.te

[2022-03-25 03:16] vicliu624 opened #1167 "Support for BLOB in vertx-sql-client-templates"
### Version

4.2.6

### Context

DDL
[code]

entity
[code]

I try to insert record used by SqlTemplate

[code]

mapFrom in io.vertx.sqlclient.templates.SqlTemplate have convert object to Map ,the method cause oracle.jdbc.OracleDatabaseException: ORA-01465,
because JSONObject convert byte[] to base64 String

I don't think this is the best way.
value's type has changed ,from JsonObject to Map<String

[2022-03-25 13:23] tsegismont commented on #1167
Possible duplicate of https://github.com/vert-x3/vertx-jdbc-client/issues/275

[2022-03-28 07:59] #965 closed

[2022-03-28 07:59] #1133 closed

[2022-03-29 05:15] doppelrittberger commented on #882
Hi there,
When will this be merged and available? We need this since the current way of handling json rows is insufficient for most use cases. In most cases the user wants to parse the Json into custom DTO or using own Json serializer/deserializer.
If there are any tasks need to be done please let me know. Maybe I can add/fix some of the code.
Thanks

[2022-03-30 15:25] tsegismont opened #1169 "Broken transaction demarcation with OraclePool"
When queries are executed between two transactions, the second transaction fail to start with:

[code]

Here is a reproducer:

[code]

The problem is that the client does not restore the auto-commit mode after a transaction is committed or rolled-back.
So when we think we're starting another transaction, in fact another one is already active and statements have been executed inside.

This problem

[2022-03-30 15:29] DavideD commented on #1169
Thanks for figuring it out.

[2022-03-31 13:02] tsegismont commented on #882
cc @BillyYccc

[2022-03-31 13:37] vietj commented on #882
@doppelrittberger can you elaborate why this feature would allow to implement the case you describe and currently that is not possible?

[2022-03-31 15:31] doppelrittberger commented on #882
Yes. Currently you have a fixed handling of data types in DataTypeCodec class (eg. line 588 a JSONB column is always calling [this](https://github.com/eclipse-vertx/vertx-sql-client/blob/5042cc5154700bae542927f1374f4a5f5ddfe32b/vertx-pg-client/src/main/java/io/vertx/pgclient/impl/codec/DataTypeCodec.java#:~:text=private%20static%20Object-,textDecodeJSONB,-(int%20index%2C%20int) and so wrapped in a

[2022-03-31 15:34] doppelrittberger commented on #1144
Did you succeed with the docker file?

[2022-03-31 18:52] Olamshin opened #1171 "Inconsistent Tracing Results with Different Vert.x Routing Approaches"
### Version

vert.x 4.2.5
vertx-opentelemetry 4.2.5

### Context

I am seeing an issue that is an amalgam of at least three libraries. I will start here.

When I wire routes in vert.x in two different ways, I get different numbers of spans(opentelemetry) exported.
The REST call to the reproducer should make two database calls to postgres, a COUNT and a SELECT ALL. Three spans should be generated b

[2022-04-01 08:11] vietj commented on #1171
thanks for your investigation

[2022-04-01 08:39] vietj commented on #1171
I tried the reproducer and I don't get the same output as yours

[code]

[code]

[2022-04-01 08:46] vietj commented on #1144
net yet the opportunity to look

[2022-04-01 08:49] vietj commented on #882
you can convert directly a Vert.x JsonObject to a POJO with Jackson using `JsonObject#mapTo`, this will not convert the `JsonObject` to a string and reuse the already parsed object.

likewise you can use the static `JsonObject#mapFrom(Object)` to map a jackson pojo to a Vert.x JsonObject without using an intermedary string.

can you check if that works for you and that is acceptable ?

[2022-04-01 12:05] okolawole-ebsco commented on #1171
I will take a look. To confirm, you did not get any output from the `LoggingSpanExporter` class?

[2022-04-01 13:18] Olamshin commented on #1171
My bad. I have corrected the reproducer, please pull the latest master and try again. I did not set the entrypoint to the Main method.

[2022-04-01 16:33] BillyYccc opened #1172 "Introduce object pool to improve object allocation"
#### Describe the feature

We can introduce object pool to improve object allocation, we might directly use Netty [Recycler](https://netty.io/4.1/api/io/netty/util/Recycler.html).

#### Use cases

In our SQL Client implementations, `CommandBase` and `CommandCodec` are allocated whenever there's a command being scheduled, the simple queries or preparedQueries API callings will allocate a lot of new

[2022-04-01 23:00] julianladisch commented on #1171
Calling the replyHandler _after_ the transaction has been closed fixes the issue for me.
[code]

[2022-04-04 09:04] doppelrittberger commented on #882
Hi
yeah I know about this possibilities but still this approach is too inflexible for our use case:
1. we use quarkus and configure Jackson -> we would need to duplicate this configuration to support it in JsonObject (io.vertx.core.spi.JsonFactory)
2. we have separate write/read logic from database IO code. So we write the DTO to byte[] in service or conversion facade and then pass this to databas

[2022-04-04 09:16] doppelrittberger commented on #882
I can create a merge request with a suggestion if you like. I would change the JsonObject to lazily parse the string/buffer and add methods to access/store the original JSON string/buffer untouched. Would this be interesting for you?

[2022-04-04 09:34] vietj commented on #882
I believe that such SPI should not be targeting specific application classes and I'm not keen on having such SPI.

The changes you describe does not seem to be more work than configuring a specific data converter for this project (that would be a static thing and thus apply to all SQL clients).

We can try finding another way to serialize / unserialize specific JSON types I think.

[2022-04-04 10:22] #1169 closed

[2022-04-04 11:04] doppelrittberger commented on #882
Ok, which way would you suggest? What about this MR? Any updates needed to be merged? I think implementing DataTypeCodec more flexible is a possible solution. Simple approach would be to have Map<DataType, Encoder> and Map<DataType, Decoder> in it and default implementations wrapped into them. Then any user can replace default Encoder/Decoder with custom one. I think the MR is about this. What pre

[2022-04-04 12:22] vietj commented on #882
can you describe your precise use case ?

[2022-04-04 19:04] doppelrittberger commented on #882
We have a system with events. These events are stored as JSONB in Postgres. We have a layer which creates these events and converts them into byte[] or String before sending them into database layer. On event fetch we would need to read JSONB as byte[] or String and return them to event conversion layer. Since we cannot change these layers we basically need to read/write JSONB using byte[] or Stri

[2022-04-04 21:29] vietj commented on #882
so you want to interact with the JSONB type using byte[] or strings instead of Vert.x JSON object ?

[2022-04-05 09:22] doppelrittberger commented on #882
Yes. The reason is the to get the best performance (no unnecessary parsing/converting). And I see that other libraries offer this customization as well.

[2022-04-05 12:31] Olamshin commented on #1171
@vietj can you confirm that the reproducer works for you now?

[2022-04-06 06:37] vietj commented on #1171
I haven't gotten back to this issue yet

[2022-04-06 06:38] vietj commented on #882
I will see if we can interact with JSON using a byte[] or string easily using the tuple API.

[2022-04-06 09:38] alexeysharandin opened #1173 "Oracle Pool - pool stores closed connections and try to use them"
Hi Thomas and all,
**short description about issue:**
if Oracle connection closed by some reason (connectivity/firewall/etc), pool continue to keep closed connections and try to use for queries when connectivity restored instead of connection re-new. It's critical for usage of OraclePool.
Issue related only to Oracle (not reproduced in PgPool).

**Configuration:**
**quarkus.version:** 2.7.3.Final

[2022-04-07 11:26] jianliu opened #1174 "Support lazy decoding query response rows or not decoding,users can get the netty ByteBuf of row list directly"
#### Describe the feature
I`m working on database L7 proxy which providee transparent database-sharding scenarios like Vitess\Apache shardingSphere,now we use jdbc in proxy which makes proxy decode all database`s query response rows and block query thread.

I noticed that vertx uses netty handle the query,but the decoder decodes all rows directly,is it possible to support new features like lazy de

[2022-04-07 13:25] vietj commented on #1174
it sounds like something not trivial to achieve, have you investigated whether it's actually possible with the client ?

[2022-04-08 15:52] tsegismont commented on #606
@Yaytay just pushed the #1175 to implement this.

If you still want to help you can give it a try and report any issue you may find. Thank you

[2022-04-11 06:51] jianliu commented on #1174
I saw the code of verx-sql-client and mysql implements,
The easiest way to support this is to add a `lazyDecodeRow` option,  and interface `Row` to add a getByteBuf entry , `RowResultDecoder` store ByteBuf reference in memory,and lazy decode or not decode

[2022-04-11 07:39] vietj commented on #1174
I can see an issue with lazy evaluation because Netty uses referenced counted memory and this would imply to retain the byte buf portion until the row value is accessed. If the code does not evalutate the lazy value then it would create a memory leak.

[2022-04-11 08:11] jianliu commented on #1174
This is a good question and I think there are a ways to avoid it.If the row is decoded,the reference counted will be decremented  directly,
If the row is not decoded,we can decrement the count after use the ByteBuf.Normal clients should not open the `lazyDecodeRow`,and if use `lazyDecodeRow`,users should pay attention to the release things

[2022-04-11 08:23] jianliu commented on #1174
Or give an entry to handle a row,and release it in framework,like this:

`accumulator.accept(container,row);`
`if (lazyDecodeRow) {`
`    ReferenceCountUtil.release(row);`
`}`

[2022-04-12 08:58] vietj commented on #1174
I think what we could tr is make the SPI for interacting with the database as commands "public" (currently it's in `io.vertx.sqlclient.impl.command` package), e.g you can send `SimpleQueryCommand` and set a handler that would handle the lazy row. The current API in front of the command will always decode the full row, but you would be given the control over the row decoding

[2022-04-12 11:13] jianliu commented on #1174
Sounds great, adding an SPI to Command is a way to support this without affecting the current API.

[2022-04-12 16:43] anish-panthi opened #1176 "Not able to perform query using vertx-db2-client with Spring Boot and getting error"
I'm trying to connect and query to DB2 using vertx-db2-client, but it is not working. I'm using Spring Boot 2.6.6 and vertx-db2-client library to perform query in reactive way. I've created a class which implements CommandLineRunner

Dependency in my `build.gradle`

[code]

Below is my `CommandLineRunner` class.

[code]
I'm not seeing any connection issues. The error that I see right after the dep

[2022-04-13 07:55] tsegismont commented on #1176
cc @mswatosh does that ring a bell?

[2022-04-13 09:35] swetapatra commented on #1131
Hi Team,is there an update on this issue?

[2022-04-13 13:47] #1173 closed

[2022-04-13 19:31] mswatosh commented on #1176
Unfortunately not something I've seen before...

@anish-panthi Can you test if this still occurs outside of Spring? I'm not particularly familiar with Spring, but this essentially looks like a Runnable, so don't think it would be interfering, but probably worth a quick test.

Also, can you let me know which OS and Version of Db2 you're running against? (Or if you're using the container)

I'll do s

[2022-04-13 19:44] mswatosh commented on #1131
I got a contact in Db2/z but didn't get a system yet since the team was swamped at the time. I just sent a follow up so hopefully I can investigate this soon.

[2022-04-14 17:29] anish-panthi commented on #1176
@mswatosh I got the same error using plain Gradle Project:

[code]
DB2 Version: 11 (Major)
OS: Linux

[2022-04-18 03:15] aomsweet opened #1180 "DDL statements support parameterization"
#### Describe the feature

I get an error when I execute the following statement. The error seems to be thrown by vertx instead of `PostgreSQL`. I can execute successfully with parameters in `dbForge Studio for PostgreSQL`

[code]

error log
[code]

#### Use cases

A list of use cases this feature will enable and the value it creates.

#### Contribution

Who should implement this feature ? are you

[2022-04-18 07:22] aomsweet commented on #1180
`dbForge Studio for PostgreSQL` is just parameter substitution.

[2022-04-18 07:22] #1180 closed

[2022-04-18 14:28] bkoripalli opened #1181 "javascript code of vertx-pg-client 3.9.13 throwing ParserException"
### Questions

### Version

Which version(s) did you encounter this bug ?
3.9.13

### Context
Below piece of code throwing error.
var PgPool = require("vertx-pg-client-js/pg_pool");
var  connectOptions = {
    "port" : "5432",
    "host" : "localhost",
    "database" : "test",
    "password" : "secret",
    "user" : "postgres",
}

var poolOptions = {
    "maxSize":10,
    "shared": true
}
var clie

[2022-04-19 12:24] #1181 closed

[2022-04-19 12:24] vietj commented on #1181
this seems related to ES4X ?

[2022-04-19 15:42] bkoripalli commented on #1181
@vietj I think it is not related es4x, I tried using one of javascript sample.

 this is my pom looks like

<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">

  <modelVersion>4.0.0</modelV

[2022-04-22 09:31] swetapatra commented on #1131
@mswatosh Thank you for the update.

[2022-04-24 11:25] rainmanhhh commented on #795
problem still 2022.04.24 with version 4.2.7

[2022-04-24 17:55] AlexandreGuidin commented on #1122
Any update with this issue ?

[2022-04-25 12:33] #606 closed

[2022-04-25 12:51] #900 closed

[2022-04-27 09:12] aomsweet opened #1182 "Event loop blocking warning from inside vertx-pg-client"
### Version

vertx-pg-client version: `4.2.7`

### Context

Hi, developers

  I have a data analysis system. It needs to read a lot of data in real time. I control the size of a single batch read to be 200,000, and then insert the results into the database in batches after the analysis is complete. The size of batch insertion is not fixed, it may be more than 100,000, but it will not exceed 200,00

[2022-04-27 14:54] tsegismont commented on #605
Closed in #1017

[2022-04-27 14:54] #605 closed

[2022-04-27 14:59] #608 closed

[2022-04-28 11:56] tsegismont opened #1183 "Missing fields when copying Oracle or MSSQL connect options"
There are two copy constructors in each of `OracleConnectOptions` and `MSSQLConnectOptions`:

- one which takes another instance of the corresponding type
- one which takes any instance of the parent type `SqlConnectOptions`

In the second constructor, we should check if the copied object is of the same type and, in this case, copy all the fields, not just the fields of the parent.

An example of

[2022-04-28 12:21] #1183 closed

[2022-04-28 15:29] tsegismont opened #1185 "Oracle Cursor / Streaming support"
Add support for using cursor/row streaming with Oracle client

[2022-04-29 10:09] jianliu commented on #1174
Could you give a timeline for the development of this feature

[2022-04-29 10:44] nnzbz opened #1186 "print SQL statement and result，or support P6SPY"
I'm wondering how to print out the final SQL statement and result in vertx? It would be great help to debug. or support p6spy? I tried for oracle but it doesn't work

[2022-05-02 06:12] vietj commented on #1174
after Vert.x 4.3 seems reasonnable, in the next couple of months. We are currently wrapping 4.3 release

[2022-05-02 06:13] vietj commented on #1174
I added it to 4.3.0 but it will likely be bumped to 4.3.x until it is fixed, but this way it is on our radar

[2022-05-03 09:52] nicolaifriis-nav commented on #1108
Any update on when/if this will be fixed or a way to workaround it? We have tried the new Oracle Client, but get the same problem there.

[2022-05-03 17:04] tsegismont commented on #1108
There will be a fix in either 4.3.0 or 4.3.1.

[2022-05-04 08:31] darkosika opened #1187 "So many Open Cursors because of "SET TRANSACTION ISOLATION LEVEL READ COMMITTED""
### Questions

Is there any bug related with Transaction management because whenever I start a transaction, I see increasing open cursor number in database.

### Version

vertx-oracle-client : 4.2.7
database : Oracle Database 19c Enterprise Edition Release 19.0.0.0.0 - Production
Version 19.3.0.0.0

### Context

I encountered an exception which looks suspicious while I am calling method which is t

[2022-05-04 19:25] vietj commented on #1187
assigned you @tsegismont

[2022-05-05 09:05] jianliu commented on #1174
nice, thank you very much.

[2022-05-06 07:39] tsegismont opened #1188 "Decoding Oracle ResultSet can block the event loop"
Reported on SO: https://stackoverflow.com/questions/72129909/why-vert-x-blocks-event-loop-thread-when-using-oracle-reactive-client

[code]

[code]

[2022-05-09 08:07] vietj commented on #1171
have you tried with an actual open telemetry server to see the final result ?

I believe that the current behaviour is not un-usual and open telemetry server are handling this case and merge result when they are provided out of order.

[2022-05-09 08:35] vietj commented on #1171
I think there might be a bug in otel actually

[2022-05-09 09:14] vietj commented on #1171
I did add my own logger and I can read:

[code]

and I think this is wrong, the `Query` should all refer to the `GET` as parent and instead one of the `Query` refers to the other `Query`.

I think it's a bug in vertx-otel, I'll try to provide a fix soon.

[2022-05-09 10:46] tsegismont commented on #1186
Supporting p6spy is not possible because we don't use JDBC drivers. Well, except the Oracle reactive client but we need the Oracle specific APIs so generic JDBC is not possible.

We'll think about it. Logging database interactions is useful for developers and we may be able to find a solution that works across all the reactive drivers we have.

[2022-05-09 13:47] #861 closed

[2022-05-09 13:47] #873 closed

[2022-05-10 05:02] vietj commented on #1186
I think the tracing SPI can achieve the same result

[2022-05-10 18:18] okolawole-ebsco commented on #1171
@vietj Thank you! Using the snapshot of vertx-otel fixed this issue and some other context propagation issues i couldn't define properly.

[2022-05-11 06:54] swetapatra commented on #1131
@mswatosh are there any updates on this?As this is a blocker for one of our customers.Kindly let us know

[2022-05-11 07:11] #239 closed

[2022-05-15 09:05] dodalovic opened #1189 "Failing to write postgres based app using vertx-pg-client:4.3.0"
[code]

[2022-05-16 08:53] vietj commented on #1189
you need to add a dependency on scram if you are using it : https://vertx.io/docs/vertx-pg-client/java/#_sasl_scram_sha_256_authentication_mechanism

[2022-05-16 08:53] #1189 closed

[2022-05-16 09:02] swetapatra commented on #1131
@All can anyone else please help me with an update,as this is a blocker for one of our customers.

[2022-05-16 09:23] vietj commented on #1131
@mswatosh ping

[2022-05-16 18:22] mswatosh commented on #1131
@swetapatra I still haven't gotten access to a Db2/z system to recreate this on. I'll push a little more on the Db2/z team to get me access to a system.

[2022-05-18 07:14] vietj commented on #1144
I'm trying the reproducer again and I'm getting

[code]

also could you provide a reproducer without quarkus ?

[2022-05-23 14:40] DavideD commented on #1108
I will test the workaround and let you know

[2022-05-24 05:35] vietj commented on #1186
I think also we could simply log report those in the logger like we do for TCP networking activity debugging

[2022-05-24 15:16] DavideD commented on #1108
With Hibernate, a user can write a HQL query that we will thne convert in a valid Oracle SQL query. Does it mean the we need to check every query a user wants to run and set the option accordingly before running it?

[2022-05-24 19:07] tsegismont commented on #1108
@DavideD I tried to create a reproducer with JDBC but I failed. That made me wonder what is it we do differently here (apart from using the async methods on prepared statement).

It turned out the issue is auto generated key retrieval is turned on by default (returns the `ROWID`). When this is switched off, the `INSERT ... SELECT` query runs without any issue (although of course it returns an empt

[2022-05-24 21:06] #1085 closed

[2022-05-30 08:28] vietj commented on #1174
so as I understand it , you do have a database proxy for PG, or other databases ?

[2022-06-01 12:08] vietj commented on #1182
it seems more related to GC and the fact that you put a lot of load on the GC as you are submitting very large batches.

can you try using smaller batches ?

[2022-06-02 06:07] debop opened #1196 "Jackson databind support Kotlin with jackson-module-kotlin"
#### Read me

Read this first before creating an issue:

- do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.
- you shall create a feature request only when it is general purpose enough.
- make sure that the feature is not already

#### Describe the feature

I want binding row with jackso

[2022-06-02 08:24] vietj opened #1197 "Support options parameter in PostgreSQL url format"
The pgjdbc defines a specific `options` parameter in the URL that is passed to the connection at connection initialisation.

We already support some of them like "search_path", we should support this one as well.

[2022-06-02 08:25] #1197 closed

[2022-06-02 09:22] aomsweet commented on #1182
hi, @vietj

Thank you for your reply. Can it be seen from the jvisualvm report that blocking is related to GC? The cpu usage is not high, and the jvm memory does not reach `Xmx4G`. From the log, we can see that there is the `io.vertx.pgclient.impl.codec.PgEncoder` class. Is it possible that the thread is blocked when encoding a large Tuple? Or is it waiting for Netty to allocate memory? Sorry, thi

[2022-06-03 07:25] vietj commented on #1182
I think the issue is that your case needs to allocate too much memory at the same time because it is a batch.

[2022-06-05 04:37] shivamsriva31093 commented on #1144
I have created a simple reproducer. Please let me know if it works for testing.

https://github.com/shivamsriva31093/pgbouncer-vertx-reproducer/tree/master

you can change database properties in application.properties (switch between ports 5432 (Postgres) and 6432 (pgbouncer)). Pgbouncer is started using docker container in transaction pooling mode. A Liquibase migration creates a table where prep

[2022-06-06 12:00] gavinking commented on #660
@vietj is this issue still relevant?

[2022-06-07 13:46] vietj commented on #660
I think it cannot be resolved so we can close it. Other ways to create options should be used.

[2022-06-07 13:46] #660 closed

[2022-06-07 14:03] vietj commented on #1144
@shivamsriva31093 I'll have a look, thanks

[2022-06-07 15:00] doppelrittberger commented on #1144
Sorry for the late reply. The project moved temporarily to Jdbi for now. Thanks to @shivamsriva31093 for the fixed reproducer

[2022-06-07 17:09] akleiman commented on #984
@vietj I haven't been able to reproduce this on 4.3.1, has there been a change to idleTimeout behavior? I could try and get an older version to try and reproduce but I don't know if there's any point to that.

[2022-06-08 02:18] jianliu commented on #1174
yes,MySQL\PG\CK,but MySQL is the most

[2022-06-08 07:36] vietj commented on #984
I can't remember anything precisely.

I don't think there is any point if that does not happen anymore, it means the bug was fixed.

[2022-06-08 08:05] #984 closed

[2022-06-08 08:08] vietj commented on #1144
I am trying the reproducer and I get this issue:

[code]

[2022-06-08 09:43] shivamsriva31093 commented on #1144
@vietj yes thats pgbouncer settings.Please run the pgbouncer instance with following command:

`docker run -p 6432:6432 -e"POSTGRESQL_HOST=$(ifconfig -u | grep 'inet ' | grep -v 127.0.0.1 | cut -d\  -f2 | head -1)" -e "POSTGRESQL_USERNAME=postgres" -e "POSTGRESQL_PASSWORD=test" -e "POSTGRESQL_DATABASE=postgres" -e "PGBOUNCER_POOL_MODE=transaction" -e "PGBOUNCER_PORT=6432" -e "PGBOUNCER_IGNORE_STAR

[2022-06-08 15:29] tsegismont commented on #1187
Thank you @darkosika and @d53dave ,  a fix is coming in the next release.

[2022-06-09 06:37] vietj commented on #1174
@jianliu I looked at the current code we have and it seems very hard to refactor code to allow using raw encoded `ByteBuf` data

[2022-06-09 06:50] jianliu commented on #1174
This is indeed the case. The encode module and front-end api in our code do not have such a design, so it is not easy to add this support.

[2022-06-09 09:43] s-seidel opened #1200 "@Lob doesn't work with MSSQL"
### Version

4.3.1

### Context

When I try to insert a `byte[]` of more than 8000 bytes, I get the following exception:
[code]
The entity definition is:
[code]
Everything works fine up to 8000 bytes, but not with more than 8000. I tried various solutions like `@Column(length=1024*1024)` and lots of other things, but I cannot make it work.
Using Quarkus with Panache Reactive.

[2022-06-09 16:47] DavideD commented on #1200
Could you tell us which version of Quarkus you are using and what's the column type on the database, please?

[2022-06-09 17:14] DavideD commented on #1200
Nevermind, I can recreate the error

[2022-06-10 07:04] s-seidel commented on #1200
Great, thanks! I found that when using `String` as field type, I can store arbitrarily long Strings just fine. I had found [this article](https://knowledgebase.progress.com/articles/Article/000042962) with the exact same error message, which lead me to believe it could be something about the SQL data type mapping that causes it.

[2022-06-10 09:05] DavideD commented on #1200
This adapated quickstart shows the error: https://github.com/DavideD/quarkus-mssql-lobs

[2022-06-10 16:38] ProgMaq opened #1201 "Different error behavior between MsSql and Postgres when using streaming"
### Questions

When I have forced an error, I get a different behavior between MsSql and Postgres when using streaming. Would it be interesting if the behavior were homogeneous?

### Version

4.3.1

### Context

If I use MsSQL I get an exception from the stream.exceptionHandler, the tx.exceptionHandler and finally the connection is closed. If I use postgres, it does not access any exceptionHandler

[2022-06-13 07:49] vietj commented on #1201
MsSql seems to be a bug, cc @tsegismont

[2022-06-13 13:47] DavideD commented on #1200
Ah, my bad... I should have tested with the latest released version of Hibernate Reactive.
I guess we can close this issue then. I will work in the next Quarkus release

[2022-06-13 15:05] #1200 closed

[2022-06-13 16:36] tsegismont commented on #1201
@ProgMaq there is fix coming for the NPE in #1202

With the proposed changes, you will get an `MSSQLException` with a proper message in the `exceptionHandler` of the stream.
However, you cannot get the same behavior as with Postgres, because with MSSQL we can only get feedback at a later stage (when executing `cursorprepexec`)

[2022-06-13 19:05] #1201 closed

[2022-06-13 19:11] ProgMaq commented on #1201
@[tsegismont](https://github.com/tsegismont) Thanks for the speed of the fix and for this good explanation:

[2022-06-14 07:41] vietj commented on #1201
thanks @tsegismont and @ProgMaq

[2022-06-17 06:55] git4rputuval opened #1203 "quarkus-reactive-mssql-client - Pagination throws Error"
### Version
Quarkus - 2.7.2

### Context
I am using pagination parameters, page Number and records per page to implement Pagination. For the same, below section of code is used.
`Integer pageNo = paginationDto.getPageNumber();
Integer recordsPerPage = paginationDto.getRecordsPerPage();
Page page = new Page(pageNo, recordsPerPage);
query = query.page(page);`

The query when executed, gives the erro

[2022-06-17 07:15] tsegismont commented on #1203
The error in the logs says that the MSSQL client could not prepare the query because of a syntax problem around `?`. The problem is that the question mark is a JDBC standard but this is not what MSSQL server expects.

@DavideD can you take a look please? Do you believe this comes from Hibernate Reactive? Or is that query provided by the user?

[2022-06-17 16:07] DavideD commented on #1203
It's probably our conversion to a compatible MSSQL query that doesn't work in this case. I will have a look

[2022-06-17 16:40] gavinking commented on #1203
@DavideD note that there are multiple impls of `LimitHandler` for SQL Server, depending on the version of the SQL Server.

[2022-06-17 17:47] DavideD commented on #1203
@git4rputuval Could yuo try the latest Quarkus: 2.9.2?

[2022-06-17 17:57] DavideD commented on #1203
OK, it took me a while but I can now see the exception. It happens with 2.9.2 as well

[2022-06-17 18:55] DavideD commented on #1203
Yes, it's a bug in Hibernate Reactive. I'm going to create an issue.
As a workaround, it will work if the query has an order by clause (or a filter):

@git4rputuval For your example, it will work if you change `BaseDataSvc#createCriteriaQuery` to:
[code]

[2022-06-17 19:01] DavideD commented on #1203
I've created the issue for Hibernate Reactive: https://github.com/hibernate/hibernate-reactive/issues/1342

[2022-06-19 08:36] lukaseder commented on #249
Another set of potential users of this integration (all via jOOQ):

- https://stackoverflow.com/q/72669626/521799
- https://github.com/quarkiverse/quarkus-jooq/issues/38
- https://github.com/jklingsporn/vertx-jooq/issues/205

While it seems that Red Hat isn't interested in moving forward with this (@vietj, why? Any background you can share on this decision? What would be needed to revert it?)

Is

[2022-06-20 09:25] git4rputuval commented on #1203
Hi,

Have tested this with the "Sort" option. It is working. So we are going ahead with this solution till you resolve the issue.

Regards,

[2022-06-22 03:47] mswatosh opened #1205 "Fix additional tests for Db2/z"
PR #1204 reintroduces support for Db2/z, however 3 of the tests are failing. The failing tests are:

testConnectInvalidDatabase
testConnectInvalidPassword
validateDatabaseMetaData

These don't impact Db2/z support, but should be address to ensure common error messages between platforms.

[2022-06-22 08:25] #1131 closed

[2022-06-23 09:59] azurvii opened #1206 "A wrong link in javadoc"
https://github.com/eclipse-vertx/vertx-sql-client/blob/17719e5db4d305ebeb5f0feac40b11277f0bcd90/vertx-sql-client/src/main/java/io/vertx/sqlclient/Pool.java#L186

Should be `withConnection`, not `withTransaction`.

[2022-06-23 12:07] vietj commented on #1206
can you provide a PR ?

On Thu, Jun 23, 2022 at 11:59 AM azurvii ***@***.***> wrote:

[2022-06-24 00:46] git4rputuval commented on #1203
I see the progress of 1342 as committed. Please advise how we should progress with this change in Quarkus. At the moment, we are using Quarkus 2.7.2, and we are in a stage of release, so cannot plan to upgrade to latest version of Quarkus. Please advise what needs to be done to get the latest version of hibernate fix in Quarkus 2.7.2. Thanks.

[2022-06-24 08:12] DavideD commented on #1203
When we release the next Hibernate Reactive, you can try replacing the dependency in Quarkus. It shouldn't contain any breaking change, **BUT** Quarkus integration with Hibernate Reactive and Hibernate ORM is pretty strong, so I'm not 100% sure it's going to work. Maybe @Sanne knows for sure?

[2022-06-24 09:33] DavideD commented on #1203
BTW, I've just realized that this is not an error of the Vert.x SQL client. I think we can close this issue.

[2022-06-24 13:13] himanshumps commented on #1176
We are using DB2 on mainframe and seeing this issue as well.

[2022-06-24 15:55] blafond opened #1208 "The recent PR #1204 produces error in Hibernate Reactive DB2 test"
### Version

4.3.2

### Context

Our nightly builds run against upcoming Vertx SQL client snapshots, in this case an error occurs in testing with **vertx-db2-client 4.3.2-SNAPSHOT**

### Do you have a reproducer?

See [build log](https://github.com/hibernate/hibernate-reactive/runs/7008005379?check_suite_focus=true#step:5:1725) for full stack trace
[code]

[2022-06-24 17:10] mswatosh commented on #1208
This looks like a duplicate of #899, which is already a known intermittent issue.

[2022-06-24 17:47] DavideD commented on #1208
Ah interesting.... but it's not intermittent for us. When we launch the build it happens every time

[2022-06-24 17:48] DavideD commented on #1208
It also reappeared after that specific commit, I don't know if it can helps. Anyway, I guess we can close this issue and we can comment on that one

[2022-06-24 17:58] DavideD commented on #899
FYI: This error reappeared after these changes: https://github.com/eclipse-vertx/vertx-sql-client/pull/1204

[2022-06-24 19:43] mswatosh commented on #899
I tried this test locally and I'm able to see the issue. It doesn't appear to be intermittent, it occurs consistently for me, even if I reduce the test case to:

[code]
What's interesting is from this point if I remove **either** of the .withTransaction statements the test passes.

I'm also seeing a couple of additional exceptions:
[code]
as well as
[code]
The strange thing about the last exceptio

[2022-06-25 10:46] DavideD commented on #899
Interesting indeed. The second transaction is actually optional but now I don't want to change it if it makes db2 fail :)

[2022-06-25 10:47] DavideD commented on #899
We can refactor the tests. Anyway, let us know if we can help on the Hibernate Reactive front

[2022-06-27 13:38] tsegismont commented on #1203
Thanks @DavideD

[2022-06-27 13:38] #1203 closed

[2022-06-27 13:39] tsegismont commented on #1203
Closed, see issue https://github.com/hibernate/hibernate-reactive/issues/1342

[2022-06-29 12:42] jsmrcka opened #1209 "Update documentation - connection URI for Oracle client"
Update the example URI in https://vertx.io/docs/vertx-oracle-client/java/#_connection_uri:
[code]
so that it corresponds with currently accepted syntax.

### Version

4.3.1

### Extra

Related to https://github.com/quarkusio/quarkus/issues/26426.

[2022-06-29 12:43] tsegismont commented on #1209
Thank you @jsmrcka

[2022-06-30 14:50] NekiyXX opened #1210 "Oracle client - SSL connection support"
Add support for SSL connection to Oracle DB with sslMode, certPaths and certValues options like it was done in PostgreSQL, MySQL and other clients.

[2022-07-01 15:16] DavideD commented on #1203
@git4rputuval It seems that Hibernate Reactive 1.1.7.Final (the one that contains the fix) will be backported to Quarkus 2.7. So, you might not have to upgrade up to Quarkus 2.10 to get it. See https://github.com/quarkusio/quarkus/pull/26482#issuecomment-1172374399

[2022-07-01 19:41] Sanne commented on #1203
you can also override the version of Hibernate Reactive on existing releases of Quarkus 2.7.x

[2022-07-02 14:12] git4rputuval commented on #1203
Thanks. We will wait. For now, we have added the Order By and progressing with the client side deployment. But I will update once I receive the version 1.1.17.

[2022-07-04 09:42] #1187 closed

[2022-07-04 20:15] tsegismont commented on #1210
@NekiyXX for the record, I was able to connect to Oracle Cloud using the "wallet" downloaded from their site https://gist.github.com/tsegismont/3f6f00ca3052ef11f941c93728a01f80

Can you provide more details about your environment? In particular, how would you connect to it using plain JDBC?

The usual encryption parameters from Vert.x Reactive Clients may not be useful here, given the Oracle clien

[2022-07-04 22:35] EmadAlblueshi commented on #1122
Hi 🙋🏻‍♂️ I'm one of the contributor for temporal type.

That's correct the time zone is in user space and in the server is saved as UTC that's how postgres works even if the host time zone is different.

I don't think it makes sense to allow local date and time.

In addition in the early development for the reactive client we decided to take the maximum advantage of new temporal api in jdk 1.8

I'

[2022-07-05 09:23] DavideD commented on #1122
Why not?

[2022-07-05 09:41] gavinking commented on #1122
I'm pretty sure I disagree with you on this, but since

Yah, good question. I'm not seeing that at all.

[2022-07-07 01:07] eashwaranp opened #1212 "vertx-sql-client version 4.2.7 Row.getOffsetDateTime() does not read timezone information from Postgres timestamptz column"
### Version

Which version(s) did you encounter this bug ? 4.2.7 and 4.3.1

### Context

The Row.getOffsetDateTime() call does not read timezone information from Postgres DB's timestamptz column.

### Do you have a reproducer?

A reproducer is a simple project hosted on GitHub (or another forge supporting git clone operation) that has a build file that can be executed to reproduce the issue.

Repr

[2022-07-07 09:48] tsegismont commented on #1210
The EZConnect format allows to set the protocol to `tcps`. You could this:

[code]

[2022-07-07 16:10] larousso opened #1213 "Oracle : java.sql.SQLFeatureNotSupportedException: Fonction non prise en charge: setCursorName"
### Version

4.3.2

### Context

Using cursor with oracle vertx client.

I have the following dependencies :

[code]

The code that use is :

[code]

This exception is thrown :

[code]

[2022-07-07 21:14] tsegismont commented on #1210
We have this https://vertx.io/docs/vertx-oracle-client/java/#_connection_uri

What's your suggestion for improvement?

[2022-07-08 07:03] NekiyXX commented on #1210
In our application we can configure three databases MySQL, PostgreSQL and Oracle
So for MySQL client there is section: https://vertx.io/docs/vertx-mysql-client/java/#_using_ssltls
for PostgreSQL section: https://vertx.io/docs/vertx-pg-client/java/#_using_ssltls

After implementing these two I start to search how it should be in Oracle client.
Since the method of working with SSL in Oracle is diffe

[2022-07-08 13:15] tsegismont commented on #1213
Hi @larousso , thanks for reporting this. This should be resolved in the next release https://github.com/eclipse-vertx/vertx-sql-client/issues/1185

[2022-07-08 13:18] tsegismont commented on #1210
Makes sense @NekiyXX , I will take care of it

[2022-07-13 15:28] eashwaranp commented on #1212
I was wondering if we need to follow additional procedures to request assignment.  Please advise.

[2022-07-14 07:38] technical-debt-collector opened #1214 "Propagate transactions in context"
#### Read me

Read this first before creating an issue:

- do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.
- you shall create a feature request only when it is general purpose enough.
- make sure that the feature is not already

#### Describe the feature

While the simplified transacti

[2022-07-15 09:12] vietj commented on #1214
can you describe more precisely what you would expect ? i.e give a code example of how you think it would / should work. It would help a lot.

[2022-07-15 19:08] technical-debt-collector commented on #1214
I am currently using Mutiny and not Vert.x directly so I might be a little out of touch here. But could something like the following work?

1. Create a new method on interface Pool that:
- Looks for an active connection via the local context and returns it if found
- Otherwise create another, place that in the local context and return it

2. Add the transaction accessor to Connection as requested

[2022-07-17 09:48] gesker commented on #1122
LocalDate, LocalDateTime, OffsetDate, OffsetDateTime, ZonedDate, ZonedDateTime are important classes in the java.time package. PostgreSql's timestampz (timestamp with timezone) handles OffsetDateTime and ZonedDateTime very well.

I was surprised recently when trying to port a project from quarkus-hibernate-orm to quarkus-hibernate-reactive to learn that the vertex didn't support persisting these c

[2022-07-21 02:20] gavinking commented on #1214
@vietj you could look at how HR does it for inspiration: essentially, we store the connection in the vert.x local context from the outermost call to `withTransaction()`, and pull it from there in nested calls.

[2022-07-21 06:32] vietj commented on #1214
@technical-debt-collector so something like `getOrCreateContext()` but with a connection

[2022-07-21 09:11] technical-debt-collector commented on #1214
@vietj Yes, essentially.

[2022-07-21 10:51] gavinking commented on #1214
But I would make it accept a function reference.

[2022-07-21 12:36] technical-debt-collector commented on #1214
@gavinking, do you mean like with Pool.withTransaction() where the transaction is committed/rolled back and the connection is released after the function execution?
I think I'd personally prefer having a variant without a function reference as well, where I can manage this myself.

[2022-07-21 14:39] amkartashov opened #1215 "RDS IAM auth fails with Vertx mysql driver"
### Version

io.vertx:vertx-mysql-client:4.3.2

### Context

I can't connect to RDS using [IAM auth](https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/UsingWithRDS.IAMDBAuth.html).

### Do you have a reproducer?

https://github.com/amkartashov/vertx-mysql-iam-auth-bug

This is a test app just to check IAM auth. It uses both MySQL Java Connector 8.0 and VertX MySQL Client. There are no such is

[2022-07-21 15:02] gavinking commented on #1214
Right. This was we can guarantee that things really do get cleaned up and rolled back.

If you really want to write custom code and manage things yourself, then that's already possible. I see this more as a feature for people who *don't* want to think about exception handling, etc.

[2022-07-21 18:06] technical-debt-collector commented on #1214
I think either way (functional reference or manual management) is already possible. What I'd expect to get out from this would be a way to handle both connections and transactions without having to pass them around and incorporate them across various layers of code just to achieve the necessary transaction management, ideally without having to touch the Vert.x context which isn't really convenient

[2022-07-21 18:17] amkartashov commented on #1215
Actually, I think I found the problem - password sent in clear text is not null terminated.

My check app starts to work if I recompile vertx-mysql client with [this part](https://github.com/eclipse-vertx/vertx-sql-client/blob/4.3.2/vertx-mysql-client/src/main/java/io/vertx/mysqlclient/impl/codec/InitialHandshakeCommandCodec.java#L260-L263) changed:

from

[code]

to

[code]

**to work around this

[2022-07-21 19:03] amk-papaya commented on #1215
in mysql connector, they write zero byte after the password: https://github.com/mysql/mysql-connector-j/blob/release/8.0/src/main/protocol-impl/java/com/mysql/cj/protocol/a/authentication/MysqlClearPasswordPlugin.java#L92

see also [protocol docs](https://dev.mysql.com/doc/internals/en/clear-text-authentication.html) : client-side sends password as [string.NUL](https://dev.mysql.com/doc/internals/

[2022-07-21 19:23] newzubakhin commented on #1186
Is there any updates on the issue? I'd like to be able to debug SQL queries.

[2022-07-22 12:08] vietj commented on #1186
can you try using the tracing SPI @newzubakhin to achieve this ?

[2022-07-22 15:46] BillyYccc commented on #1215
Thanks for the investigation! I have submitted a PR in https://github.com/eclipse-vertx/vertx-sql-client/pull/1216, can you have a try with the branch?

[2022-07-22 17:36] pmlopes commented on #1215
Just a note: perhaps it could be interesting to have a feature where authentication can be plugged, and for AWS a plugin could use the following to automate the login process:

https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/UsingWithRDS.IAMDBAuth.Connecting.Java.html

[2022-07-23 04:42] amkartashov commented on #1215
This is exactly the thing I was working on when discovered this issue. In our project we use hibernate reactive and vertx driver. I extend class `io.vertx.mysqlclient.MySQLConnectOptions` to override `getPassword()` method.

[2022-07-23 04:43] amkartashov commented on #1215
Will be able to do this next week.

[2022-07-24 11:59] zhangtianxiao opened #1217 "Is `PreparedQuery` thread safe?"
`kotlin
val pst = conn.preparedQuery(sql)`
can I use pst in multiple verticle?
Thanks!

[2022-07-26 04:41] gavinking commented on #1214
I mean, that works, but I sorta hate Boolean parameters. In this case my preference would be to have a new method.

[2022-07-26 07:00] vietj commented on #1214
well that could be a TransactionOptions object too

[2022-07-26 13:34] amb1ent opened #1218 "con.preparedQuery(sql).execute(tuple).onComplete - onComplete never gets called"
### Version

Which version(s) did you encounter this bug ?

4.3.2, 4.3.1

### Context

For one query, with ~7k rows, onComplete is never being called.  For the same query, with different keys, returning 500 rows, onComplete is being called.  Testing the query manually shows it takes < 2 seconds to complete in my database browser.  Is there some buffer size limit or row size limit?  Shouldn't, if a

[2022-07-26 13:35] amb1ent commented on #1218
Note, for the failing query, if I just add a "LIMIT 100" to the end of the query, it completes.

[2022-07-26 13:36] amb1ent commented on #1218
Note 2, this is postgresql version 14 server.

[2022-07-26 18:57] technical-debt-collector commented on #1214
Not sure if I understood the solution described above.

In any case I experimented with the earlier solutions we discussed but it doesn't look like vertx-codegen will accept any other functional interface type than Function as a parameter to such a method.
Using Void e.g. pool.withTransaction((Function<Void, Future<@Nullable T>> function) would work though.

[2022-07-27 06:42] vietj commented on #1214
I think that the case description is not precise enough @technical-debt-collector

[2022-07-27 07:11] vietj commented on #1218
that sound weird, can you make an artificial reproducer ? i.e with some useless data

[2022-07-27 07:40] amb1ent commented on #1218
hum, it could be as simple as running out of memory - the join was joining each row with a column which has a 250kb jsonb since I don't need this column in the results i replaced it with an empty jsonb object and the query just ran OK.  For 7000 rows that gives me a huge memory footprint.

[2022-07-27 08:20] vietj commented on #1218
OOM will not prevent the client from ending the stream I think, it affects the entire JVM

[2022-07-27 08:21] vietj commented on #1218
if you have lot of data, you should consider paginating rows or handling rows on the fly and not keep data in heap

[2022-07-27 08:40] amb1ent commented on #1218
Thanks, I had that as a work-around until I looked again and saw the huge blob that was causing the problem.

[2022-07-27 09:05] vietj commented on #1218
please reopen if you have a reproducer that demonstrates an actual case in the client

[2022-07-27 09:45] technical-debt-collector commented on #1214
Today, users who wish to do operations transactionally can choose between:
1. pool.withTransaction() which provides a Connection object from which statements can be executed within a transaction. And at the end, that transaction automatically commits/rolls back along with the connection being closed
3. pool.getConnection which gets the connection, and via that, start a transaction. In this case us

[2022-07-28 07:05] vietj commented on #1214
I see now, I think it requires specific code to duplicate a context for the duration of the transaction because the current context might not be a duplicate context and this it would not work as expected.

And perhaps that there could also be concurrent transaction within the same HTTP request and the duplicate context would not be able to store two transactions.

[2022-07-28 07:14] vietj commented on #1214
I think an interface like:

[code]

would work, since you can create a static `TransactionLocal` object that is shared, and that does not prevent one to have multiple instances if that's a requirement.

[2022-07-28 09:55] technical-debt-collector commented on #1214
Sounds pretty solid! Want me to give this PR an attempt?

[2022-07-29 07:38] vietj commented on #1214
Sure thing, contributions are welcome.

On Thu, Jul 28, 2022 at 11:55 AM Ola Sæter Heitmann <
***@***.***> wrote:

[2022-07-29 08:48] gavinking commented on #1214
The API described above is not really what I was thinking of, and it doesn't seem to me to be as easy to use as what we have in Hibernate Reactive. In HR, propagation of the connection and transaction happens *completely transparently* between nested calls to `withTransaction()`.

[2022-07-29 08:54] gavinking commented on #1214
So instead of calling `getCurrentConnection()` you just call `withTransaction()` again, and get passed everything you need (here it would be the connection and transaction objects created by the surrounding call to `withTransaction()`).

[2022-07-29 08:59] gavinking commented on #1214
To be clear, I think this is where our ideas diverge. You're saying fail; I'm saying just return it.

[2022-07-29 09:20] technical-debt-collector commented on #1214
Having to wrap every request in its own withTransaction wherever it's impractical to just include it in another seems kind of annoying, though. Wouldn't it be better having to only deal with it once if possible?

[2022-07-29 09:37] gavinking commented on #1214
Well on the contrary I see this as much simpler.

[2022-07-29 09:38] vietj commented on #1214
can you provide pseudo code examples to illustrate ?

[2022-07-29 12:54] NekiyXX opened #1219 "vertx-mysql-client with SslMode.PREFERRED does not work as expected"
Version 4.3.2
It seems where is issue with ssl connection in PREFERRED mode.

As described in javadoc for PREFERRED mode:
"establish an encrypted connection if the server supports encrypted connections, falling back to an unencrypted connection if an encrypted connection cannot be established"

**The client must try to connect via SSL, and if it cannot, then the Non SSL connection should be used**

[2022-08-01 07:07] vietj commented on #1219
I think you misunderstood the javadoc : preferred means it will use SSL if the server supports SSL otherwise it will send clear text protocol.

[2022-08-01 07:50] NekiyXX commented on #1219
Hi @vietj,  but in postgreSQL vertx client PREFER sslMode worked as I expect - if server support ssl and non-ssl in this case client tried to connect wiht ssl and If it cannot(by eny reason) it connected via non-ssl without exception. So now it is different for mysql vertx client and postgressl client.
Also I use liquibase to connect to mysql with PREFERRED mode wwith mysql jdbc driver and it also

[2022-08-01 07:54] vietj commented on #1219
I do agree, but that's not the same way to support this. Perhaps we can have a `PREFER` implementation for MySQL as well cc @BillyYccc

[2022-08-01 10:04] tsegismont opened #1220 "MSSQLCommandCodec Unsupported Token 0x2c when streaming"
Reported on the user group

[2022-08-01 10:06] tsegismont commented on #1220
More info

[2022-08-01 13:18] tsegismont commented on #1217
It is bound to a connection object so I would not use it in different verticles.

I don't know which client you use but it might support prepared statement caching which is what you may be looking for.

[2022-08-01 13:18] #1217 closed

[2022-08-04 11:39] gavinking commented on #1214
Well, I mean, the previous example would look something approximately like:

[code]

Note that I didn't have to write the `insertSomething()` method to be aware of the fact that it was being called from within the scope of an existing transaction. The outer transaction just automatically propagated.

[2022-08-05 06:12] sekharpn commented on #1176
any update on this? Need help

 ERROR [vert.x-eventloop-thread-2] ?: FATAL: Error parsing buffer at index 828 / 0x33c

java.lang.IllegalStateException: SQLState.NET_VCM_VCS_LENGTHS_INVALID: VCM and VCS lengths are mutually exclusive but both were set: vcsLen=16735  vcmLen=548
	at io.vertx.db2client.impl.drda.DRDAResponse.parseFastVCMorVCS(DRDAResponse.java:755)
	at io.vertx.db2client.impl.drda.DRD

[2022-08-05 17:02] tsegismont opened #1223 "Log MSSQL INFO token content or let users handle it"
When executing commands, the server response may contain an INFO token which holds message/severity data.

Instead of simply ignoring it, we should log the data or let users decide how to handle it.

[2022-08-08 06:33] vietj commented on #1223
it seems similar to https://vertx.io/docs/vertx-pg-client/java/#_notice_messages

[2022-08-08 06:37] vietj commented on #1214
@gavinking it reminds me EJB required transaction, is that right ?

[2022-08-08 06:41] gavinking commented on #1214
Yes, precisely.

[2022-08-08 07:56] tsegismont commented on #1223
@vietj right

[2022-08-08 09:19] #1220 closed

[2022-08-08 17:03] #856 closed

[2022-08-09 04:18] vietj commented on #1214
ok, then it's not the same thing I was thinking of initially

[2022-08-09 05:35] #1223 closed

[2022-08-09 14:14] galderz opened #1225 "MySQL `ColumnDefinition` might pile up in young generation due to GC nepotism"
When running with GC configurations that result in early promotion, some of the vert.x sqlclient and/or mysqlclient request specific classes might not be freed up during young generation garbage collection even though they're not in use.

To replicate, run the Baeldung article code with Quarkus Native, or Quarkus JVM mode configured with Parallel GC. Under these circumstances, objects keep buildin

[2022-08-10 09:47] jstuyts opened #1226 "PostgreSQL: rollback hangs after server closes connection on which query was waiting for response"
### Version

4.3.3

### Context

I use [Materialize](https://materialize.com/) and use the PostgreSQL client to connect to it. When the server (or Docker running the server in a container) closes the connection while a query is executing that is waiting for a response from the server, the rollback of the transaction in the teardown hangs.

By setting an idle timeout in the connect options, the rol

[2022-08-10 14:43] tsegismont commented on #1225
Thank you @galderz , I'll look into it asap

[2022-08-11 09:50] vietj commented on #1214
It might make sense that withTransaction works with this way as nested transaction don't exist. Perhaps we should make this  configurable to have nesting reuse the current transaction or fail (it might be an error if that's used unwillingly).

[2022-08-11 10:51] gavinking commented on #1214
I mean you could even have an EJB-style "transaction attribute" to specify the desired behavior.

But on the hand we don't want to make this too verbose either.

[2022-08-11 16:56] tqvarnst commented on #1225
Just to be clear the sawtooth-shaped graphs are very common for most well-behaved java applications, but the more we can avoid full GC the better. Just for anyone else seeing this having a shape like this is not necessarily a bad thing and to understand if it's a problem it's much more important to check the GC logs. Ultimately if near real-time behavior is what you want and want to avoid full GCs

[2022-08-12 06:21] vietj commented on #1214
we can avoid this by default and add something later if that's needed.

On Thu, Aug 11, 2022 at 12:51 PM Gavin King ***@***.***> wrote:

[2022-08-12 06:25] vietj commented on #1225
we understand that @tqvarnst , @tsegismont will investigate to best solve this issue

[2022-08-12 08:21] gavinking commented on #1214
Agreed.

[2022-08-13 20:28] franz1981 commented on #1225
@tqvarnst

This exact shape means 2 things:
- promotion rate is high enough that young gen isn't big enough
- GC nepotism

Both cases are not ideal, and the latter can be seen as a perf bug that requires to be fixed; due to how GCs tracks inter-generational refs it can cause OOM in some cases too, due to underutilized heap capacity.
The first case, instead is still sign of a under-sized  applicati

[2022-08-16 08:58] galderz commented on #1225
[Slides 21 and 22 in this copying garbage collection presentation](http://lampwww.epfl.ch/resources/lamp/teaching/advancedCompiler/2006/slides/act-2006-memory-management-2_6.pdf) explain GC nepotism in very clear terms.

[2022-08-16 16:37] #1206 closed

[2022-08-17 12:35] tsegismont commented on #1225
@galderz @franz1981 I failed to replicate the used heap shape you observed.

I have changed the startup script (added ` -XX:+UseParallelGC` and tried different max heap sizes).
I have tried with OpenJDK 17 and 11.

Have you added any other parameter to tune GC?

[2022-08-19 16:09] BillyYccc commented on #1219
I think we should support this and I filed a PR for this in https://github.com/eclipse-vertx/vertx-sql-client/pull/1229

[2022-08-20 03:07] colinchilds commented on #1144
Any update on this? I'm trying to use pgbouncer and am blocked by this issue.

[2022-08-21 12:14] amkartashov commented on #1215
Hey @BillyYccc sorry for the delay. I've tested your PR and it works fine.

[2022-08-24 06:07] amkartashov opened #1230 "Design flow in Pool.connectionProvider(): no way to share Pool.closeFuture with the caller so new ConnectionFactory instance is added to it."
### Questions

I'm trying to implement RDS IAM Auth with hibernate-reactive which [uses vertx-sql-client pool](https://github.com/hibernate/hibernate-reactive/blob/5540b3cc0be768ed57141071b1c079117b67a5d1/hibernate-reactive-core/src/main/java/org/hibernate/reactive/pool/impl/DefaultSqlClientPool.java#L180). Basically, the single thing I need is to update password in connection options on new conne

[2022-08-30 15:27] #1219 closed

[2022-08-30 20:31] technical-debt-collector commented on #1214
[code]

Vert.x codegen doesn't support BiFunctions. Why not just expose the Transaction object through the Connection object instead of passing it along as in the example above?
Also, I suppose it'd have to work something like the following?
1. Call method, look for an ongoing connection and transaction

- If nonexistent, acquire connection and start transaction, as is done in the existing withTra

[2022-09-06 12:39] TeslaCN commented on #664
I want to create a Pool by URI to decouple database type from code. But I found the following URI cannot set the fields in `SqlConnectOptions` because `cachePreparedStatements` was converted to lower case in `PgConnectionUriParser`.

[code]

[2022-09-11 16:03] ashertarno opened #1232 "PgPool queries seems to disregard setConnectionTimeout setting"
### Version
4.3.1

### Context
While submitting queries using connections manually retrieved from a pool, PoolOptions'a setConnectionTimeout() seems to take an effect as expected. For example, using a pool with 1 connection a flow that does
`pool.getConnection()` -> doesn't close it and attempts to do another `pool.getConnection()` will end up with a timeout exception.

This doesn't seem to be the

[2022-09-16 18:01] tsegismont opened #1234 "MySQL Client sends close statement commend before all rows are decoded"
This was introduced in the PR for [pipelining](https://github.com/eclipse-vertx/vertx-sql-client/pull/1168) in order to avoid [unexpected order issues](https://github.com/eclipse-vertx/vertx-sql-client/issues/873).

However, it [breaks compatibility with ProxySQL](https://github.com/quarkusio/quarkus/issues/27386).

[2022-09-16 18:06] tsegismont opened #1235 "MySQLConnectOptions copy constructors ignore pipeliningLimit"
The copy constructors ignore `pipeliningLimit`. In practice, this prevents pooled connection to support pipelining.

[2022-09-20 17:18] #1234 closed

[2022-09-20 17:18] #1235 closed

[2022-09-26 18:43] kdubb commented on #1122
As an implementor of a fully compliant JDBC driver for PostgreSQL (http://github.com/impossibl/pgjdbc-ng)... please let me suggest allowing local times here is the wrong path.

JDBC did this in its first couple versions; assuming a lot with about timezones and how the driver should be expected to convert them. It's impossible to get correct. One person's "common sense" doesn't work for everybody.

[2022-09-27 08:26] DavideD commented on #1122
I still don't get what the problem is, though.
As far as I understand it, there is no convertion to do and the type is always UTC.

Hibernate doesn't know the type of the column on the database, so we don't know when to add the timezone.

If I understand correctly, what you are asking is to add a timezone to a value so that the driver can ignore it because ... *checking notes* ... the timezone is

[2022-09-27 14:17] DavideD opened #1239 "MySQL client should provide columnDescriptors with LONGVARCHAR JDBCType for TEXT types"
[See this issue in Quarkus](https://github.com/quarkusio/quarkus/issues/22254#issuecomment-1259563555).

Is there any particular reason for this or it's a bug?

@fedinskiy:
[code]

[2022-09-28 10:10] vietj commented on #1239
this requires investigations @DavideD , @BillyYccc any idea ?

[2022-09-29 07:06] #1225 closed

[2022-09-29 08:37] #1230 closed

[2022-09-29 08:43] vietj commented on #1230
The blog actually mentions it.

[2022-09-29 10:12] amkartashov commented on #1230
New factory is not attached to the pool in any way. So if pool closes, factory is not closed and so are connections. In current implementation there is no way to get CloseFuture from the pool and attach it to the factory.

[2022-09-29 10:19] amkartashov commented on #1230
Ideal solution for me would be that `ConnectionFactory` does call `ConnectionOptions.getPassword()` every time it creates new connection. This approach from the blog is cumbersome and way too complex.

[2022-09-29 12:11] vietj commented on #1230
options are supposed to be immutable, one option could be to have a `Supplier<ConnectOptions>` instead I think that is called every time a connection is created

[2022-09-29 12:17] vietj opened #1241 "Allow to use a to create pool options with a supplier of connect options"
This might be a bit tricky with respect to releasing connection factory resources though.

[2022-09-29 12:17] vietj commented on #1230
https://github.com/eclipse-vertx/vertx-sql-client/issues/1241

[2022-10-04 09:32] #1210 closed

[2022-10-07 16:28] gavinking commented on #1239
But surely that's simply *wrong*! TEXT is is MySQL's CLOB type, it's not a BLOB.

[2022-10-12 04:04] AbuzarHussain opened #1243 "Oracle: io.vertx.core.VertxException: URLs with multiple hosts are not supported"
### Version

vertx-oracle-client 4.3.2

### Context

I'm unable to connect to the oracle instance with failover/clustering configuration. The connectionURI is constructed in EZConnect format and passed to fromUri() method, below is the example snippet,

[code]

An exception is thrown :
` java.lang.IllegalArgumentException: Cannot parse invalid connection URI: oracle:thin:@host1,host2,host3,host4:p

[2022-10-13 18:49] ianprime0509 commented on #981
I checked what HikariCP (another popular connection pool implementation) is doing, and it seems they have a few strategies for evicting connections from the pool:

1. When acquiring a connection from the pool, if a connection is found which hasn't been used in a while, it runs a connection test (either `conn.isValid()` with JDBC 4 or a connection test query), and if it fails, it will close the con

[2022-10-13 21:10] deusaquilus commented on #249
I'm curious about this too. Thinking about whether to implement a reactive driver for https://getquill.io/ but I can't support both R2DBC and VertX simultaneously. It's hard to move forward on this when there is no standard.

[2022-10-15 08:29] jaydev-ziroh opened #1245 "Postgresql client : Connection reset by peer"
### Version

4.3.3
vertx-pg-client

### Context

I am facing this exception when the pool is idle for some time (2 - 3 hours). This exception occours only on the initial connection. any further queries executed will not cause this issue.

`java.io.IOException: Connection reset by peer
        at java.base/sun.nio.ch.FileDispatcherImpl.read0(Native Method)
        at java.base/sun.nio.ch.SocketDisp

[2022-10-17 07:02] vietj commented on #1245
can you provide a reproducer project @jaydev-ziroh ?

[2022-10-18 03:43] AbuzarHussain commented on #1243
Hi team, We're currently holding our next release because of this issue. As the milestone is set to vertx 4.3.5, can you please let me know when the vertx 4.3.5 would be released along with this fix? so that we can plan accordingly.

[2022-10-18 09:47] tsegismont commented on #1243
It's not planned yet, we've just released 4.3.4.

In the meantime, you can put your connection settings in a `tnsnames` file and use a `tns alias` in connection URI (see https://vertx.io/docs/vertx-oracle-client/java/#_connection_uri)

[2022-10-20 11:50] jstuyts commented on #1226
Some analysis: not setting an idle timeout prevents an `IdleStateHandler` from being added to the channel pipeline in `NetClientImpl.initChannel(...)`.

But an `IdleStateHandler` with a zero idle timeout (and the other 2 idle timeouts also being zero) is allowed. I will have to build vertx-core to check if adding the `IdleStateHandler` with zero timeouts behaves as desired.

[2022-10-20 12:24] jstuyts commented on #1226
Simply copying the code of `NetClientImpl` to this project allowed me to test if adding the `IdleStateHandler` with zero timeouts would solve the issue. Unfortunately, it does not.

Analysis of the `IdleStateHandler` resulted in finding (what I suspect) is the cause of the issue. In `IdleStateHandler.write(...)` the promise passed to `ChannelOutboundInvoker.write(...)` is not unvoided if no write

[2022-10-20 12:24] #1226 closed

[2022-10-21 07:15] tsegismont opened #1246 "Support invoking Oracle stored procedure"
Including using `OUT` parameters

For Oracle and such.

See https://stackoverflow.com/questions/74145676/how-to-set-out-parameter-in-java-quarkus-reactive-client

[2022-10-21 11:12] SirSkizo commented on #187
If you need more than 6 object inside the tuple, use Tuple.tuple(List<Object>):
[code]

I am using `import io.vertx.mutiny.sqlclient.Tuple;` and `io.vertx.mutiny.mysqlclient.MySQLPool`

[2022-10-24 07:41] vietj commented on #187
yes that is the right solution

[2022-10-28 05:33] zero88 opened #1247 "Tuple is not working if access primitive array"
### Version

4.x.x

### Context

With this check, the result will be `false` if an object is a primitive array, then the accessor will throw ClassCastException
[code]

Affect to all `getArrayOfXXX` where XXX is type can be primitive type (Boolean/boolean, Integer/int...)

E.g:
https://github.com/eclipse-vertx/vertx-sql-client/blob/75ee2e4ad73d0fcf736efd80f5ea4569b72f898a/vertx-sql-client/src/main/

[2022-10-31 09:34] DavideD commented on #1122
I was checking [the PostgreSQL documentation about timezones](https://www.postgresql.org/docs/current/datatype-datetime.html) and  I've learned that passing a timestamp without a time zone is valid use case:

So, it's still not clear to me why we cannot accept a LocalDateTime as parameter.
Note that we could throw an exception for other databases if this is not allowed.

[2022-10-31 17:50] jpnovais opened #1249 "vertx-pg-client not compatible with PostgreSQL 14+"
### Version

Which version(s) did you encounter this bug ?
- `io.vertx:vertx-stack:4.3.4`
- `io.vertx:vertx-pg-client:4.3.4`

### Context
vertx-pg-client not compatible with PostgreSQL 14 and 15;

Stack trace error
[code]

### Do you have a reproducer

* [reproducer porject](https://github.com/jpnovais/vertx-pg-sql-client-pg15-bug-reproducer)

### Steps to reproduce

1. Start container with Postgr

[2022-10-31 20:53] vietj commented on #1249
you need to add

[code]

to your dependencies

[2022-10-31 20:53] #1249 closed

[2022-11-05 13:10] jaydev-ziroh commented on #1245
We have done some changes to our current structure and it seems to have resolved the issue we were facing. It was probably our lack of understanding how vertx works completly.
So we have several rest api's and each api runs in it own verticle. What we were doing is creating a single object of pool or pg client and sharing this same object throughout all the verticles. we switched to shared pool an

[2022-11-05 13:10] #1245 closed

[2022-11-07 09:19] mcanzerini opened #1250 "PgClient: support multi hosts connection"
#### Describe the feature

[here](https://github.com/eclipse-vertx/vertx-sql-client/blob/master/vertx-pg-client/src/main/java/io/vertx/pgclient/impl/PgConnectionUriParser.java#L42) I saw that we cannot connect to a multi hosts instance of postgres which is mandatory for us.

Can you plan supporting multi hosts connection ?

#### Use cases

Use case: Support high availbility postgresql instances

A

[2022-11-07 10:56] Sanne opened #1251 "Type pollution agent report"
### Version

Using version `4.3.4`.

### Context

I've been running the Techempower benchmark with Quarkus + Hibernate Reactive + Vert.x `vertx-pg-client` and attaching the [agent to detect the type pollution cases](https://github.com/RedHatPerf/type-pollution-agent).

This agent is able to report cases of [JDK-8180450](https://bugs.openjdk.org/browse/JDK-8180450) in our libraries, which are very

[2022-11-07 11:01] Sanne commented on #1251
I've sent a proposal that I'm confident should fix the problem:
 - https://github.com/eclipse-vertx/vertx-sql-client/pull/1252

However I've not cross checked it for effectiveness. I can do that if it looks agreable?

[2022-11-08 10:45] Sanne opened #1253 "Type cache pollution: type io.vertx.pgclient.impl.codec.PgCodec"
In the same scenarios tested as for #1251 , we have this other entry in the type pollution report:

[code]

I've heard @vietj and @franz1981 have been looking at a similar one in other vert.x projects, so I'll defer this one to someone more knowledgeable.

[2022-11-08 10:52] franz1981 commented on #1253
This is solved by upgrading to Netty 4.1.84.Final thanks to https://github.com/netty/netty/pull/12806

[2022-11-08 10:54] Sanne commented on #1253
great thanks :) I'll close this?

[2022-11-08 11:05] franz1981 commented on #1253
Yep, we are aware of that, they should happen on bootstrap and cached forever, hence they will always have that magnitude

[2022-11-08 11:06] franz1981 commented on #1253
I would open something for SslHandler that it's not fixed yet on Netty (and probably won't be) meaning that real users will get very bad performance out of it, scalability wise :( we should probably advertise for that

[2022-11-09 17:00] tsegismont opened #1254 "MySQL batch executes in pipelining mode even when pipelining is disabled"
In #861 , MySQL batch execution implementation has been modified to use pipelining in all circumstances.

We should be able to execute queries one after the other when pipelining is disabled.

[2022-11-10 18:53] singla-d11 opened #1255 "Vert.x MySQL client prepared statement cache issue"
### Version

vertx-mysql-client: `3.9.2`

### Context

While migrating from MySQL Server v5.7 to v8.023 intermittent query failures were observed with error `io.vertx.mysqlclient.MySQLException: Incorrect arguments to mysqld_stmt_execute`

Upon debugging, a bug is identified with `io.vertx.mysqlclient.impl.codec.MySQLPreparedStatement` object of `io.vertx.sqlclient.impl.command.ExtendedQueryComman

[2022-11-14 08:52] vietj commented on #1247
I think instead we should not use primitive arrays

[2022-11-14 08:52] vietj commented on #1247
where does that happen ?

[2022-11-14 08:54] #1247 closed

[2022-11-14 10:27] tsegismont commented on #1253
A few weeks ago, I ran @franz1981 's tool on our projects and found that `TupleInternal` was the only improvement we could make (`PgCodec` is a `CombinedChannelDuplexHandler` so, as he said and you found, the situation will be improved by the Netty upgrade).

[2022-11-14 10:27] #1253 closed

[2022-11-14 10:27] tsegismont commented on #1253
Thank you @Sanne for these reports btw

[2022-11-14 13:09] #1251 closed

[2022-11-14 14:36] tsegismont commented on #1250
I think you can already do this using a list of [`PgConnectOptions`](https://vertx.io/docs/apidocs/io/vertx/pgclient/PgPool.html#pool-java.util.List-io.vertx.sqlclient.PoolOptions-)

Vert.x will pick a different database for each new connection in a round-robin fashion.

[2022-11-15 15:19] tsegismont opened #1258 "Documentation: cursors/streaming cannot be used with ProxySQL"
ProxySQL does not support the `fetch` command so the cursor/streaming API cannot be used if ProxySQL is in front of MySQL / MariaDB.

This limitation should be documented.

[2022-11-15 20:40] #1258 closed

[2022-11-22 10:09] mkouba commented on #1121
Yes, there seems to be a [bunch of error codes for constraint violations](https://www.postgresql.org/docs/current/errcodes-appendix.html) for PostgreSQL; and the `PgException.getCode()` could be used to access the code.

I'm going to close this issue.

[2022-11-29 15:29] tsegismont commented on #1255
This looks like a duplicate of #579

It's been fixed in Vert.x 4

[2022-11-29 15:31] #1255 closed